Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

fix(elasticsearch): updating elasticsearch setup script
  .docker/aws-resources/user-list-search.sh
Due: none

fix(ci): ensuring ci boots elasticsearch
  .circleci/common.yml
  lambdas/user-list-search-events/package.json
  packages/eslint-config-custom/package.json
  pnpm-lock.yaml
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(build): making user-list-search build
  .circleci/common.yml
  .circleci/user-list-search.yml
  .docker/aws-resources/elasticsearch/esindex.json
  .docker/aws-resources/elasticsearch/slow-query-log-thresholds.json
  .docker/aws-resources/user-list-search.sh
  docker-compose.yml
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-events/tsconfig.json
  pnpm-lock.yaml
  servers/shareable-lists-api/prisma/schema.prisma
  servers/user-list-search/.eslintrc.js
  servers/user-list-search/package.json
  servers/user-list-search/src/bin/apiServer.ts
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/mysql.ts
  servers/user-list-search/src/server/logger.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(tests): updating some tests and removing xray
  .docker/mysql-8-resources/schema/11b-text-db-users-seed-user-list-search.sql
  .docker/mysql-8-resources/schema/7f-mono-db-users-seed-user-list-search.sql
  Dockerfile
  infrastructure/parser-graphql-wrapper/src/main.ts
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/bin/apiServer.ts
  servers/user-list-search/src/bin/loadPremiumUsersForBackfill.ts
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/mysql.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/sqs.ts
  servers/user-list-search/src/tasks/queueAllPremiumUsers.integration.ts
  servers/user-list-search/src/test/_support/setup.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(tests): moving some tests to integration tests
  servers/user-list-search/jest.config.js
  servers/user-list-search/src/datasource/MysqlDataSource.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.integration.ts
  servers/user-list-search/src/resolvers.spec.ts
  servers/user-list-search/src/tasks/queueAllPremiumUsers.integration.ts
  servers/user-list-search/src/tasks/userItemsDelete.integration.ts
  servers/user-list-search/src/tasks/userItemsUpdate.integration.ts
  servers/user-list-search/src/tasks/userListImport.integration.ts
  servers/user-list-search/src/test/_support/jest.setup.js
  servers/user-list-search/src/test/_support/jest.teardown.js
Due: none

fix(tests): test integrations running!
  .docker/aws-resources/user-list-search.sh
  .docker/mysql-8-resources/schema/11b-text-db-users-seed-user-list-search.sql
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/locals.tf
  pnpm-lock.yaml
  servers/user-list-search/jest.config.js
  servers/user-list-search/jest.setup.js
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/services/kinesis/handler.spec.ts
  servers/user-list-search/src/services/kinesis/handler.ts
  servers/user-list-search/src/services/kinesis/index.ts
  servers/user-list-search/src/sqs.ts
  servers/user-list-search/src/sqs/writeable.ts
  servers/user-list-search/src/tasks/queueAllPremiumUsers.integration.ts
  servers/user-list-search/src/tasks/queueAllPremiumUsers.ts
  servers/user-list-search/src/test/_support/mysql.ts
  servers/user-list-search/src/test/_support/seeder.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(config): adding user list search to config
  .circleci/config.yml
Due: none

fix(tests): updating test to always return same users
  servers/user-list-search/src/test/_support/seeder.ts
Due: none

fix(aws): updating mismatches
  lambdas/fxa-webook-proxy-sqs/package.json
  pnpm-lock.yaml
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(force): removing force exit on test step
  servers/user-list-search/package.json
  turbo.json
Due: none

fix(lint): fixing user list lint
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/DataSourceInterface.ts
  servers/user-list-search/src/datasource/MysqlDataSource.ts
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/Paginator.ts
  servers/user-list-search/src/datasource/elasticsearch/advancedSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/datasource/elasticsearch/index.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.spec.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.ts
  servers/user-list-search/src/elasticsearch.ts
  servers/user-list-search/src/mysql.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/sentry.ts
  servers/user-list-search/src/server/buildSchema.ts
  servers/user-list-search/src/server/context.ts
  servers/user-list-search/src/server/routes/batchDelete.ts
  servers/user-list-search/src/services/itemDelete/handler.ts
  servers/user-list-search/src/services/itemUpdate/handler.ts
  servers/user-list-search/src/services/kinesis/index.ts
  servers/user-list-search/src/services/userListImport/handler.ts
  servers/user-list-search/src/shared/itemIdUtil.ts
  servers/user-list-search/src/shared/util.ts
  servers/user-list-search/src/sqs.ts
  servers/user-list-search/src/tasks/userItemsDelete.integration.ts
  servers/user-list-search/src/tasks/userItemsDelete.ts
  servers/user-list-search/src/tasks/userItemsUpdate.ts
  servers/user-list-search/src/tasks/userListImport.ts
  servers/user-list-search/src/test/_support/mysql.ts
  servers/user-list-search/src/test/_support/seeder.ts
Due: none

fix(tests): adding in test helpers
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.integration.ts
  servers/user-list-search/src/test/_support/seeder.ts
Due: none

fix(tests): updating all tests to be more resilient and removing chai & sinon
  .circleci/repo-jobs.yml
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/datasource/MysqlDataSource.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/advancedSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.spec.ts
  servers/user-list-search/src/elasticsearch.integration.ts
  servers/user-list-search/src/elasticsearch.spec.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/resolvers.spec.ts
  servers/user-list-search/src/searchIntegrationTestHelpers.ts
  servers/user-list-search/src/server/routes/batchDelete.spec.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/services/kinesis/handler.spec.ts
  servers/user-list-search/src/shared/itemIdUtil.spec.ts
  servers/user-list-search/src/shared/util.spec.ts
  servers/user-list-search/src/tasks/queueAllPremiumUsers.integration.ts
  servers/user-list-search/src/tasks/userItemsDelete.integration.ts
  servers/user-list-search/src/tasks/userItemsUpdate.integration.ts
  servers/user-list-search/src/tasks/userListImport.integration.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(terraform): updating terrraform to current versions
  infrastructure/user-list-search/providers.tf
  infrastructure/user-list-search/rds.tf
Due: none

fix(appspec): generating app spec for our deploy patterns
  .circleci/user-list-search.yml
  infrastructure/user-list-search/apollo_ecs.tf
Due: none

fix(docker): adding in docker image building
  .circleci/user-list-search.yml
  infrastructure/user-list-search/queue_users_ecs.tf
Due: none

chore(ci): adding in raw hcl ability
  .circleci/common.yml
  .circleci/user-list-search.yml
  infrastructure/user-list-search/.gitignore
  infrastructure/user-list-search/.terraform-version
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/emergency-response/.terraform.lock.hcl
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/pagerduty.tf
  infrastructure/user-list-search/queue_users_ecs.tf
  infrastructure/user-list-search/terraform.tf
Due: none

fix(node): upgrading lambda node version
  infrastructure/user-list-search/event_handler_consumer.tf
Due: none

fix(provider): updating terraform file provider
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/providers.tf
Due: none

fix(lambda): deploy the lambdas
  .circleci/common.yml
  .circleci/user-list-search.yml
Due: none

fix(node): fixing to node20
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/event_handler_consumer.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/item_update_consumer.tf
  infrastructure/user-list-search/kinesis_consumer.tf
  infrastructure/user-list-search/user_list_import_consumer.tf
Due: none

fix(tests): skipping a flakey test
  servers/user-list-search/src/datasource/MysqlDataSource.integration.ts
Due: none

fix(user-list-search): removing start/success notifications
  infrastructure/user-list-search/apollo_codedeploy.tf
Due: none

fix(user-list-search): removing start/success notifications (#147)
  infrastructure/user-list-search/apollo_codedeploy.tf
Due: none

feat(feature-flags-client): add unleash client package
  packages/feature-flags-client/.eslintrc.js
  packages/feature-flags-client/.npmignore
  packages/feature-flags-client/README.md
  packages/feature-flags-client/jest.config.js
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.spec.ts
  packages/feature-flags-client/src/index.ts
  packages/feature-flags-client/src/mockClient.ts
  packages/feature-flags-client/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(feature-flags-client): add unleash client package (#146)
  packages/feature-flags-client/.eslintrc.js
  packages/feature-flags-client/.npmignore
  packages/feature-flags-client/README.md
  packages/feature-flags-client/jest.config.js
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.spec.ts
  packages/feature-flags-client/src/index.ts
  packages/feature-flags-client/src/mockClient.ts
  packages/feature-flags-client/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(user-list-search): moving user list search to s3 state
  .circleci/common.yml
  .circleci/user-list-search.yml
  infrastructure/user-list-search/dev_backend.tfvars
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/prod_backend.tfvars
  infrastructure/user-list-search/terraform.tf
Due: none

fix(user-list-search): move userlistsearch to monorepo
  infrastructure/user-list-search/dev_backend.tfvars
  infrastructure/user-list-search/locals.tf
Due: none

fix(user-list-search): moving user list search to s3 state (#148)
  .circleci/common.yml
  .circleci/user-list-search.yml
  infrastructure/user-list-search/dev_backend.tfvars
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/prod_backend.tfvars
  infrastructure/user-list-search/terraform.tf
Due: none

feat(braze): initial import of Braze from f00327d4d94b4568a34f705f2655f62eb5c74312
  infrastructure/braze/.eslintrc.js
  infrastructure/braze/README.md
  infrastructure/braze/cdktf.json
  infrastructure/braze/package.json
  infrastructure/braze/src/clickTrackingDomain.ts
  infrastructure/braze/src/config/index.ts
  infrastructure/braze/src/dataExport.ts
  infrastructure/braze/src/emailSendDomain.ts
  infrastructure/braze/src/main.ts
  infrastructure/braze/tsconfig.json
  packages/terraform-modules/src/index.ts
  pnpm-lock.yaml
  servers/user-list-search/src/test/_support/seeder.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(braze): adding the braze ci
  .circleci/braze.yml
  .circleci/common.yml
  .circleci/config.yml
  infrastructure/braze/.terraform-version
Due: none

fix(s3): moving state to s3
  infrastructure/braze/src/main.ts
Due: none

feat(collection): moving collections to snowtype
  pnpm-lock.yaml
  servers/shared-snowplow-consumer/.eslintrc.js
  servers/shared-snowplow-consumer/README.md
  servers/shared-snowplow-consumer/package.json
  servers/shared-snowplow-consumer/snowtype.config.json
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/types.ts
  servers/shared-snowplow-consumer/src/snowtype/.snowtype-lock.json
  servers/shared-snowplow-consumer/src/snowtype/snowplow.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(prospect-api): moving propsect api to snowtype
  servers/shared-snowplow-consumer/snowtype.config.json
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/prospectEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/prospectEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/types.ts
  servers/shared-snowplow-consumer/src/snowtype/snowplow.ts
Due: shared_snowplow_consumer

feat(shareablelists): switching shareablelists to snowtype
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/prospectEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/types.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/types.ts
Due: shared_snowplow_consumer

feat(shareablelistitem): moving shareable list item to snowtype
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/types.ts
Due: shared_snowplow_consumer

fix(cleanup): reducing code
  servers/shared-snowplow-consumer/src/eventConsumer/collectionEvents/collectionEventConsumer.spec.ts
  servers/shared-snowplow-consumer/src/eventConsumer/collectionEvents/collectionEventConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/collectionEvents/types.ts
  servers/shared-snowplow-consumer/src/eventConsumer/prospectEvents/prospectEventConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/prospectEvents/types.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListEvents/shareableListEventConsumer.spec.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListEvents/shareableListEventConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListEvents/types.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListItemEvents/shareableListItemEventConsumer.spec.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListItemEvents/shareableListItemEventConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListItemEvents/types.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/prospectEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/prospectEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/types.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/types.ts
Due: shared_snowplow_consumer

fix(snowtype): cleaning up snowplow consumer
  servers/shared-snowplow-consumer/src/config/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/prospectEvents/prospectEventConsumer.spec.ts
  servers/shared-snowplow-consumer/src/eventConsumer/prospectEvents/prospectEventConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/userEvents/types.ts
  servers/shared-snowplow-consumer/src/eventConsumer/userEvents/userEventConsumer.spec.ts
  servers/shared-snowplow-consumer/src/eventConsumer/userEvents/userEventConsumer.ts
  servers/shared-snowplow-consumer/src/snowplow/EventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/prospectEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/user/types.ts
  servers/shared-snowplow-consumer/src/snowplow/user/userEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/user/userEventHandler.ts
  servers/shared-snowplow-consumer/src/snowtype/snowplow.ts
Due: shared_snowplow_consumer

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  pocket_router: any of: ((servers|infrastructure)/pocket-router/.*)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
