Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(turbo): make turbo repo performant based on inputs and outputs (#340)
  .circleci/common.yml
  .circleci/repo-jobs.yml
  README.md
  infrastructure/account-data-deleter/package.json
  infrastructure/account-delete-monitor/package.json
  infrastructure/annotations-api/package.json
  infrastructure/braze/package.json
  infrastructure/client-api/package.json
  infrastructure/feature-flags/package.json
  infrastructure/fxa-webhook-proxy/package.json
  infrastructure/image-api/package.json
  infrastructure/list-api/package.json
  infrastructure/parser-graphql-wrapper/package.json
  infrastructure/pocket-event-bridge/package.json
  infrastructure/push-server/package.json
  infrastructure/sendgrid-data/package.json
  infrastructure/shareable-lists-api/package.json
  infrastructure/shared-snowplow-consumer/package.json
  infrastructure/transactional-emails/package.json
  infrastructure/user-api/package.json
  infrastructure/v3-proxy-api/package.json
  servers/push-server/package.json
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(list:sync): add optional timestamps to many SavedItem mutations (#344)
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/test/graphql/mutations/pocketSave/save-archive.integration.ts
  servers/list-api/src/test/graphql/mutations/pocketSave/save-favorite.integration.ts
  servers/list-api/src/test/graphql/mutations/pocketSave/save-unarchive.integration.ts
  servers/list-api/src/test/graphql/mutations/pocketSave/save-unfavorite.integration.ts
  servers/list-api/src/test/graphql/mutations/pocketSave/saveBatchUpdateTags.integration.ts
  servers/list-api/src/test/graphql/mutations/save-favorite.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-updates.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemArchive.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemDelete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemFavorite.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemTag.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemUnArchive.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemUnDelete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemUnFavorite.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemUpdateTitle.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-replaceSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-update.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-updateSavedItemTags.integration.ts
Due: list_api

Notes added by 'git notes add'
  3dd9b31f5805b7d34fa7cef7cff4f71741222db3
Due: none

Notes added by 'git notes add'
  89eeb579431ef7b7bf2bb3af6663edb22081ca41
Due: none

Notes added by 'git notes add'
  f660ef29e0b8352308bb6a8f82366d59a5fae369
Due: none

fix(tfenv): make tfenv cache with a changing cache key
  .circleci/common.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(docker): bump ci docker base
  .circleci/header.yml
Due: none

fix(tfenv): make tfenv cache with a changing cache key (#346)
  .circleci/common.yml
  .circleci/header.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(terraform): update to 1.7.5
  infrastructure/account-data-deleter/.terraform-version
  infrastructure/account-delete-monitor/.terraform-version
  infrastructure/annotations-api/.terraform-version
  infrastructure/braze/.terraform-version
  infrastructure/client-api/.terraform-version
  infrastructure/feature-flags/.terraform-version
  infrastructure/fxa-webhook-proxy/.terraform-version
  infrastructure/image-api/.terraform-version
  infrastructure/list-api/.terraform-version
  infrastructure/parser-graphql-wrapper/.terraform-version
  infrastructure/pocket-event-bridge/.terraform-version
  infrastructure/push-server/.terraform-version
  infrastructure/sendgrid-data/.terraform-version
  infrastructure/shareable-lists-api/.terraform-version
  infrastructure/shared-snowplow-consumer/.terraform-version
  infrastructure/transactional-emails/.terraform-version
  infrastructure/user-api/.terraform-version
  infrastructure/user-list-search/.terraform-version
  infrastructure/user-list-search/emergency-response/versions.tf
  infrastructure/user-list-search/terraform.tf
  infrastructure/v3-proxy-api/.terraform-version
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  16b9ecd01e74b7299a91cdf41d8b7fe7505ebd46
Due: none

fix(terraform): update to 1.7.5 (#351)
  infrastructure/account-data-deleter/.terraform-version
  infrastructure/account-delete-monitor/.terraform-version
  infrastructure/annotations-api/.terraform-version
  infrastructure/braze/.terraform-version
  infrastructure/client-api/.terraform-version
  infrastructure/feature-flags/.terraform-version
  infrastructure/fxa-webhook-proxy/.terraform-version
  infrastructure/image-api/.terraform-version
  infrastructure/list-api/.terraform-version
  infrastructure/parser-graphql-wrapper/.terraform-version
  infrastructure/pocket-event-bridge/.terraform-version
  infrastructure/push-server/.terraform-version
  infrastructure/sendgrid-data/.terraform-version
  infrastructure/shareable-lists-api/.terraform-version
  infrastructure/shared-snowplow-consumer/.terraform-version
  infrastructure/transactional-emails/.terraform-version
  infrastructure/user-api/.terraform-version
  infrastructure/user-list-search/.terraform-version
  infrastructure/user-list-search/emergency-response/versions.tf
  infrastructure/user-list-search/terraform.tf
  infrastructure/v3-proxy-api/.terraform-version
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  867ba34738d3a4ab0e4463f1b70da50c93d8ea25
Due: none

chore(cleanup): removing deploy params
  .circleci/account-data-deleter.yml
  .circleci/account-delete-monitor.yml
  .circleci/annotations-api.yml
  .circleci/common.yml
  .circleci/feature-flags.yml
  .circleci/fxa-webhook-proxy.yml
  .circleci/image-api.yml
  .circleci/list-api.yml
  .circleci/parser-graphql-wrapper.yml
  .circleci/push-server.yml
  .circleci/sendgrid-data.yml
  .circleci/shareable-lists-api.yml
  .circleci/shared-snowplow-consumer.yml
  .circleci/transactional-emails.yml
  .circleci/user-api.yml
  .circleci/user-list-search.yml
  .circleci/v3-proxy-api.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(apns2): upgrading to APNS2
  package.json
  pnpm-lock.yaml
  servers/push-server/package.json
  servers/push-server/src/apns.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(aws): ensure that aws-sdk packages always have the same version
  .syncpackrc
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(types): ensure types are never in devDependencies
  .syncpackrc
Due: none

chore(node): ensure node engine is always the same
  .syncpackrc
Due: none

fix(aws): ensure that aws-sdk packages always have the same version (#357)
  .syncpackrc
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

update schema
  servers/list-api/schema.graphql
Due: list_api

temp
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/resolvers/utils.ts
  servers/list-api/src/test/graphql/mutations/clearTags.integration.ts
  servers/list-api/src/test/graphql/mutations/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/replaceTags.integration.ts
  servers/list-api/src/test/graphql/mutations/save-archive.integration.ts
  servers/list-api/src/test/graphql/mutations/save-favorite.integration.ts
  servers/list-api/src/test/graphql/mutations/save-unarchive.integration.ts
  servers/list-api/src/test/graphql/mutations/save-unfavorite.integration.ts
  servers/list-api/src/test/graphql/mutations/saveBatchUpdateTags.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-updates.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-upsert.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-replaceSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-update.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-updateSavedItemTags.integration.ts
Due: list_api

temp - safety
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/resolvers/utils.ts
  servers/list-api/src/types/index.ts
Due: list_api

feat(list): add mutations to support v3/send proxy
  servers/list-api/schema.graphql
Due: list_api

chore(upgrade): upgrading feature flag database
  infrastructure/feature-flags/src/main.ts
Due: feature_flags

fix(db): adding postgres update script
  scripts/convert-auroraV1-to-V2-postgres.sh
Due: none

fix(apns2): upgrading to APNS2 (#356)
  package.json
  pnpm-lock.yaml
  servers/push-server/package.json
  servers/push-server/src/apns.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(cleanup): removing deploy params (#355)
  .circleci/account-data-deleter.yml
  .circleci/account-delete-monitor.yml
  .circleci/annotations-api.yml
  .circleci/common.yml
  .circleci/feature-flags.yml
  .circleci/fxa-webhook-proxy.yml
  .circleci/image-api.yml
  .circleci/list-api.yml
  .circleci/parser-graphql-wrapper.yml
  .circleci/push-server.yml
  .circleci/sendgrid-data.yml
  .circleci/shareable-lists-api.yml
  .circleci/shared-snowplow-consumer.yml
  .circleci/transactional-emails.yml
  .circleci/user-api.yml
  .circleci/user-list-search.yml
  .circleci/v3-proxy-api.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(notifcation): updating to use options
  servers/push-server/src/apns.ts
Due: push_server

fix(notifcation): updating to use options (#360)
  servers/push-server/src/apns.ts
Due: push_server

feat(list:tags): add tag mutations accessed by name
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/resolvers/utils.spec.ts
  servers/list-api/src/resolvers/utils.ts
  servers/list-api/src/test/graphql/mutations/clearTags.integration.ts
  servers/list-api/src/test/graphql/mutations/replaceTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/deleteTagByName.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/removeTagsByName.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/renameTagByName.integration.ts
  servers/list-api/src/types/index.ts
Due: list_api

lint
  servers/list-api/src/test/graphql/mutations/tagsByName/deleteTagByName.integration.ts
Due: list_api

swap filenames
  servers/list-api/src/test/graphql/mutations/tagsByName/deleteTagByName.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/renameTagByName.integration.ts
Due: list_api

clean up comments
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/tagDataService.ts
Due: list_api

feat(list): add tag mutations accessed by name (#361)
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/resolvers/utils.spec.ts
  servers/list-api/src/resolvers/utils.ts
  servers/list-api/src/test/graphql/mutations/clearTags.integration.ts
  servers/list-api/src/test/graphql/mutations/replaceTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/deleteTagByName.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/removeTagsByName.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/renameTagByName.integration.ts
  servers/list-api/src/types/index.ts
Due: list_api

fix(script): updating script
  scripts/convert-auroraV1-to-V2-postgres.sh
Due: none

Notes added by 'git notes add'
  521d7ef26b04b89a5ccd2d20962a6e2caabe3c34
Due: none

chore(node): adding in missing node places
  .circleci/header.yml
  package.json
  packages/tsconfig/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(typos): fixing typos
  scripts/convert-auroraV1-to-V2-postgres.sh
Due: none

feat(v3proxy:addTags): add tags_add action to v3/send
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
Due: v3_proxy_api

feat(v3proxy:tags_remove): add tags_remove action to v3/send
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/mutations/removeTags.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
