Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

Revert "Revert "fix(metadata): moving item summary to pocket metadata (#516)"…"
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/databases/itemSummaryStore.ts
  servers/parser-graphql-wrapper/src/models/ItemSummaryModel.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
Due: parser_graphql_wrapper

Revert "Revert "fix(metadata): moving item summary to pocket metadata (#516)"…" (#521)
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/databases/itemSummaryStore.ts
  servers/parser-graphql-wrapper/src/models/ItemSummaryModel.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
Due: parser_graphql_wrapper

feat(v3proxy): conditionally set sort defaults depending on search
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

feat(v3proxy): conditionally set sort defaults depending on search (#519)
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

feat(shares): edit share context after creation
  infrastructure/shares-api/src/main.ts
  pnpm-lock.yaml
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/datasources/shares.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/models/ShareNotFoundModel.ts
  servers/shares-api/src/models/UserContext.ts
  servers/shares-api/src/test/Max300CharString.integration.ts
  servers/shares-api/src/test/addShareContext.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
  servers/shares-api/src/test/operations.ts
  servers/shares-api/src/test/shareSlug.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

run linter
  servers/shares-api/src/datasources/shares.ts
  servers/shares-api/src/test/addShareContext.integration.ts
Due: none

feat(shares): edit share context after creation (#522)
  infrastructure/shares-api/src/main.ts
  pnpm-lock.yaml
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/datasources/shares.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/models/ShareNotFoundModel.ts
  servers/shares-api/src/models/UserContext.ts
  servers/shares-api/src/test/Max300CharString.integration.ts
  servers/shares-api/src/test/addShareContext.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
  servers/shares-api/src/test/operations.ts
  servers/shares-api/src/test/shareSlug.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(v3proxy:errors): skip Forbidden errors orginating from recentSearch
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Due: v3_proxy_api

fix a docstring
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Due: v3_proxy_api

feat(v3proxy:errors): skip Forbidden errors orginating from recentSearch (#523)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Due: v3_proxy_api

Notes added by 'git notes add'
  737bbdd71458fdebc428f8d554964526afbc28a2
Due: none

fix(tests): updating parser tests
  servers/parser-graphql-wrapper/src/models/ItemSummaryModel.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
Due: parser_graphql_wrapper

Notes added by 'git notes add'
  735fb750cc924b74f192d2f55e0dea8ddb383156
Due: none

feat(oembed): add interfaces
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/models/summaryModels/oEmbedModel.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(metadata): renaming all functions to pocket metadata
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/databases/pocketMetadataStore.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OpenGraphModel.ts
  servers/parser-graphql-wrapper/src/models/summaryModels/oEmbedModel.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/test/queries/opengraph.integration.ts
  servers/shares-api/src/__generated__/types.ts
Due: parser_graphql_wrapper

fix(refresh): ensure we support refresh for PocketMetadata
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
Due: parser_graphql_wrapper

feat(oembed): adding in basic oembed data
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(lint): updating import
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
  servers/parser-graphql-wrapper/src/test/queries/opengraph.integration.ts
Due: parser_graphql_wrapper

fix(type): adding in oembed type
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
Due: parser_graphql_wrapper

fix(tests): adding in ombed data
  servers/parser-graphql-wrapper/src/databases/pocketMetadataStore.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
  servers/parser-graphql-wrapper/src/test/queries/oembed.integration.ts
Due: parser_graphql_wrapper

feat(search): recent search mutation
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/datasource/MysqlDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/operations.ts
  servers/user-list-search/src/recentSearches.integration.ts
  servers/user-list-search/src/resolvers.ts
Due: user_list_search

run lint
  pnpm-lock.yaml
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  757696333fd50d2d0881c20a36c7ed17252cd901
Due: none

feat(search): recent search mutation (#524)
  pnpm-lock.yaml
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/datasource/MysqlDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/operations.ts
  servers/user-list-search/src/recentSearches.integration.ts
  servers/user-list-search/src/resolvers.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(annotations): convert null patch to empty string
  servers/annotations-api/src/dataservices/highlights.ts
  servers/annotations-api/src/test/query/highlights-fixtures.ts
  servers/annotations-api/src/test/query/highlights.integration.ts
Due: annotations_api

fix(dynamodb): improving the dynamodb logic and clarity
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/databases/pocketMetadataStore.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OpenGraphModel.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/test/queries/oembed.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/opengraph.integration.ts
Due: parser_graphql_wrapper

feat(v3proxy:recentSearch): save recent searches in v3/send
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/mutations/saveSearch.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

fix(annotations): convert null patch to empty string (#527)
  servers/annotations-api/src/dataservices/highlights.ts
  servers/annotations-api/src/test/query/highlights-fixtures.ts
  servers/annotations-api/src/test/query/highlights.integration.ts
Due: annotations_api

feat(v3proxy:recentSearch): save recent searches in v3/send (#528)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/mutations/saveSearch.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

add util for checking resolver chain
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/apollo/utils.spec.ts
  servers/parser-graphql-wrapper/src/apollo/utils.ts
  servers/parser-graphql-wrapper/src/databases/pocketMetadataStore.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
Due: parser_graphql_wrapper

feat(oembed): support oembed style parsing (#513)
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/apollo/utils.spec.ts
  servers/parser-graphql-wrapper/src/apollo/utils.ts
  servers/parser-graphql-wrapper/src/databases/itemSummaryStore.ts
  servers/parser-graphql-wrapper/src/databases/pocketMetadataStore.ts
  servers/parser-graphql-wrapper/src/models/ItemSummaryModel.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OpenGraphModel.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/test/queries/oembed.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/opengraph.integration.ts
  servers/shares-api/src/__generated__/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(oembed): expire oembed data after 2 days
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
Due: parser_graphql_wrapper

fix(packages): move packages to esm
  packages/apollo-utils/package.json
  packages/apollo-utils/src/cache/DataloaderKeyValueCache.ts
  packages/apollo-utils/src/dataloader.spec.ts
  packages/apollo-utils/src/dataloader.ts
  packages/apollo-utils/src/errorHandler/errorHandler.spec.ts
  packages/apollo-utils/src/pagination/index.ts
  packages/apollo-utils/src/pagination/validatePagination.ts
  packages/apollo-utils/src/plugins/defaultPlugin.ts
  packages/apollo-utils/src/scalars/index.ts
  packages/apollo-utils/src/scalars/isoStringScalar.integration.spec.ts
  packages/apollo-utils/src/scalars/isoStringScalar.spec.ts
  packages/apollo-utils/src/scalars/isoStringScalar.ts
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.spec.ts
  packages/feature-flags-client/src/index.ts
  packages/feature-flags-client/src/mockClient.ts
  packages/int-mask/package.json
  packages/int-mask/src/index.ts
  packages/int-mask/src/intMask.spec.ts
  packages/int-mask/src/intMask.ts
  packages/lambda-secrets/package.json
  packages/lambda-secrets/src/index.ts
  packages/lambda-secrets/src/secret.spec.ts
  packages/sentry/package.json
  packages/sentry/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/package.json
  packages/tracing/src/index.ts
  packages/tracing/src/tracing.ts
  packages/ts-logger/package.json
  packages/ts-logger/src/index.ts
  packages/ts-logger/src/logger.spec.ts
  packages/ts-logger/src/morgan.ts
  packages/tsconfig/library.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(user-api): converted user-api
  servers/user-api/package.json
  servers/user-api/src/apollo.ts
  servers/user-api/src/context.spec.ts
  servers/user-api/src/context.ts
  servers/user-api/src/dataService/userDataService.integration.ts
  servers/user-api/src/dataService/userDataService.ts
  servers/user-api/src/database/client.ts
  servers/user-api/src/events/eventBus/config.ts
  servers/user-api/src/events/eventBus/eventBusHandler.spec.ts
  servers/user-api/src/events/eventBus/eventBusHandler.ts
  servers/user-api/src/events/init.ts
  servers/user-api/src/events/userEventEmitter.spec.ts
  servers/user-api/src/events/userEventEmitter.ts
  servers/user-api/src/main.ts
  servers/user-api/src/mock.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/resolvers/index.spec.ts
  servers/user-api/src/resolvers/index.ts
  servers/user-api/src/resolvers/mutations.spec.ts
  servers/user-api/src/resolvers/mutations.ts
  servers/user-api/src/server.ts
  servers/user-api/src/test/functional/context.integration.ts
  servers/user-api/src/test/functional/mutations-appleMigration.integration.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
  servers/user-api/src/test/functional/mutations-expireUserWebSessionTokens.integration.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
  servers/user-api/src/test/functional/seeds.ts
  servers/user-api/src/test/functional/setup.ts
  servers/user-api/src/test/functional/user.integration.ts
  servers/user-api/src/types/index.ts
  servers/user-api/src/utils/email.spec.ts
  servers/user-api/src/utils/email.ts
Due: user_api

fix(es6): converted shares-api
  servers/shares-api/codegen.ts
  servers/shares-api/package.json
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/buildSchema.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/apollo/index.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/apollo/schema.ts
  servers/shares-api/src/apollo/server.ts
  servers/shares-api/src/apollo/typeDefs.ts
  servers/shares-api/src/datasources/dynamoClient.ts
  servers/shares-api/src/datasources/shares.ts
  servers/shares-api/src/main.ts
  servers/shares-api/src/models/Max300CharString.spec.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/models/ShareNotFoundModel.ts
  servers/shares-api/src/models/index.ts
  servers/shares-api/src/test/Max300CharString.integration.ts
  servers/shares-api/src/test/addShareContext.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
  servers/shares-api/src/test/shareSlug.integration.ts
Due: none

fix(es6): converted shared snowplow consumer
  servers/shared-snowplow-consumer/package.json
  servers/shared-snowplow-consumer/src/SqsConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/collectionEvents/collectionEventConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/prospectEvents/prospectEventConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListEvents/shareableListEventConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/shareableListItemEvents/shareableListItemEventConsumer.ts
  servers/shared-snowplow-consumer/src/eventConsumer/userEvents/userEventConsumer.ts
  servers/shared-snowplow-consumer/src/main.ts
  servers/shared-snowplow-consumer/src/server.ts
  servers/shared-snowplow-consumer/src/snowplow/EventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/prospectEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/prospectEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/testData.ts
  servers/shared-snowplow-consumer/src/snowplow/testUtils.ts
  servers/shared-snowplow-consumer/src/snowplow/tracker.ts
  servers/shared-snowplow-consumer/src/snowplow/user/userEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/user/userEventHandler.ts
  servers/shared-snowplow-consumer/src/sqsConsumer.spec.ts
Due: shared_snowplow_consumer

fix(es6): converted push server but left it at old resolution]
  package.json
  pnpm-lock.yaml
  servers/push-server/package.json
  servers/push-server/src/apns.ts
  servers/push-server/src/e2e.integration.ts
  servers/push-server/src/index.ts
  servers/push-server/src/sentry.ts
  servers/push-server/src/worker.ts
  servers/push-server/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server
