Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

# our defined job, and its steps
jobs:
  setup:
    executor: path-filtering/default
    steps:
      - checkout # checkout code
      - run:
          name: Generate List of Configs to Merge
          command: |
            # Generate a list of all the circleci configs we want to run
            file_list=(".circleci/common.yml" ".circleci/repo-jobs.yml" ".circleci/image-api.yml" ".circleci/annotations-api.yml" ".circleci/shared-snowplow-consumer.yml" ".circleci/parser-graphql-wrapper.yml" ".circleci/transactional-emails.yml" ".circleci/fxa-webhook-proxy.yml" ".circleci/user-api.yml" ".circleci/pocket-router.yml" ".circleci/list-api.yml")       
            touch /tmp/configs.txt

            # Add file header to each file and dump it to the config list
            for file in "${file_list[@]}"; do
              echo "$file" >> /tmp/configs.txt
              awk -v new_content="$(cat .circleci/header.yml)" 'BEGIN {print new_content} {print}' "$file" > temp_file && mv temp_file "$file"
            done
      - path-filtering/generate-config:
          config-list-path: /tmp/configs.txt
          generated-config-path: /tmp/generated-config.yml
      - run:
          name: Reset Git
          command: |
            git reset --hard
      # Set up path mapping, in the future we should generate this as a conf file, and pass it to the option.
      # We will need to set this to true when ever the packages folder changes as well.
      # Right now though, we will only deploy if the actual servers/infra change,
      # as its likely any change in the packages will change the underlying code.
      # Worst case, bump the version in package.json to triger a deploy
      #
      # The router is just rhai scripts and yaml files without dependencies on node or any other
      # packages, so we don't trigger it unless a change occurs specifically in the subfolder
      #
      # NOTE: we use _ for the parameters to the pipeline because
      # circleci uses it as an ENV down the pipe and ENV vars can't be used with a -
      - path-filtering/set-parameters:
          config-path: /tmp/generated-config.yml
          output-path: /tmp/pipeline-parameters.json
          mapping: |
            ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) image_api true
            ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) annotations_api true
            ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) shared_snowplow_consumer true
            ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) parser_graphql_wrapper true
            ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml) transactional_emails true
            ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml) fxa_webhook_proxy true
            ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) user_api true
            ((servers|infrastructure)/pocket-router/.*) pocket_router true
            ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) list_api true
      - continuation/continue:
          configuration_path: /tmp/generated-config.yml
          parameters: /tmp/pipeline-parameters.json

# our single workflow, that triggers the setup job defined above
workflows:
  setup:
    jobs:
      - setup

fix dep mismatches
  lambdas/shareable-lists-api-events/package.json
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix mismatches
  lambdas/shareable-lists-api-events/package.json
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

set up prisma variables
  servers/shareable-lists-api/package.json
Due: none

move pre-packaged aws lambda deps to dev dependencies
  lambdas/shareable-lists-api-events/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix format
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  servers/annotations-api/src/dataservices/highlights.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/query/highlights-fixtures.ts
  servers/shareable-lists-api/src/public/server.ts
Due: annotations_api

fix dependencies and build/test steps
  lambdas/shareable-lists-api-events/package.json
  pnpm-lock.yaml
  servers/shareable-lists-api/.env.ci
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/tsconfig.json
  tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

change lambda runtime to node18
  infrastructure/shareable-lists-api/src/SQSLambda.ts
Due: none

lockfile update
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

i don't know, just more deps
  lambdas/shareable-lists-api-events/package.json
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(nodemon): making a shared nodemon command
  nodemon.json
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api

chore(aws): adding in forgotten aws sqs queues
  .docker/aws-resources/annotations-api.sh
  .docker/aws-resources/shared-snowplow-consumer.sh
Due: none

docs(readme): updating readme with some more info
  README.md
  package.json
Due: none

chore(logger): adding logger to apollo utils tracing
  packages/apollo-utils/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(logger): simplifiing logger creation by isolating to package
  packages/ts-logger/src/index.ts
  servers/parser-graphql-wrapper/src/cache/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/fetch/FetchHandler.spec.ts
  servers/parser-graphql-wrapper/src/fetch/FetchHandler.ts
  servers/parser-graphql-wrapper/src/logger.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(patterns): switching shared snowplow consumer to the latest startup patterns
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  pnpm-lock.yaml
  servers/shared-snowplow-consumer/package.json
  servers/shared-snowplow-consumer/src/SqsConsumer.ts
  servers/shared-snowplow-consumer/src/config/index.ts
  servers/shared-snowplow-consumer/src/main.ts
  servers/shared-snowplow-consumer/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(local): cleaning up variables for local use
  servers/annotations-api/src/config/index.ts
  servers/list-api/src/config/index.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
Due: annotations_api, user_api, list_api

chore(user-api): putting user-api on the latest standards
  infrastructure/user-api/src/main.ts
  servers/parser-graphql-wrapper/src/logger.ts
  servers/shared-snowplow-consumer/src/logger.ts
  servers/user-api/src/apollo.ts
  servers/user-api/src/context.ts
  servers/user-api/src/dataService/userDataService.ts
  servers/user-api/src/main.ts
  servers/user-api/src/resolvers/mutations.ts
Due: shared_snowplow_consumer, user_api

fix(test): removing empty test command
  packages/tracing/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

docs(readme): making sure new tracing readme is accurate
  README.md
  packages/tracing/README.md
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Update servers/shareable-lists-api/.env.example
  servers/shareable-lists-api/.env.example
Due: none

remove unnecessary files
  servers/shareable-lists-api/.prettierrc.json
  servers/shareable-lists-api/Dockerfile
  servers/shareable-lists-api/LICENSE
Due: none

fix port
  .circleci/shareable-lists-api.yml
Due: none

fix(shareable-lists): add prebuild and pretest steps
  infrastructure/account-data-deleter/package.json
  infrastructure/account-delete-monitor/package.json
  infrastructure/annotations-api/package.json
  infrastructure/client-api/package.json
  infrastructure/feature-flags/package.json
  infrastructure/fxa-webhook-proxy/package.json
  infrastructure/image-api/package.json
  infrastructure/list-api/package.json
  infrastructure/parser-graphql-wrapper/package.json
  infrastructure/sendgrid-data/package.json
  infrastructure/shareable-lists-api/package.json
  infrastructure/shared-snowplow-consumer/package.json
  infrastructure/transactional-emails/package.json
  infrastructure/user-api/package.json
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  package.json
  packages/apollo-utils/package.json
  packages/backend-benchmarking/package.json
  packages/terraform-modules/package.json
  packages/ts-logger/package.json
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(shareable-lists): change prisma import location
  packages/apollo-utils/jest.config.js
  packages/apollo-utils/jest.setup.js
  servers/shareable-lists-api/jest.setup.js
  servers/shareable-lists-api/prisma/schema.prisma
  servers/shareable-lists-api/prisma/seed.ts
  servers/shareable-lists-api/src/admin/context.ts
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.auth.integration.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.integration.ts
  servers/shareable-lists-api/src/database/client.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/database/queries/PilotUser.ts
  servers/shareable-lists-api/src/database/queries/ShareableList.ts
  servers/shareable-lists-api/src/database/types.ts
  servers/shareable-lists-api/src/public/context.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/PilotUser.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/utils.ts
  servers/shareable-lists-api/src/public/routes/deleteUserData.integration.ts
  servers/shareable-lists-api/src/public/routes/helpers.ts
  servers/shareable-lists-api/src/snowplow/events.spec.ts
  servers/shareable-lists-api/src/snowplow/types.ts
  servers/shareable-lists-api/src/test/helpers/cleardb.ts
  servers/shareable-lists-api/src/test/helpers/createPilotUserHelper.ts
  servers/shareable-lists-api/src/test/helpers/createShareableListHelper.ts
  servers/shareable-lists-api/src/test/helpers/createShareableListItemHelper.ts
  servers/shareable-lists-api/src/test/helpers/updateShareableListHelper.ts
  servers/shareable-lists-api/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix turbo syntax
  turbo.json
Due: none

remove empty prebuild/pretest steps
  infrastructure/account-data-deleter/package.json
  infrastructure/account-delete-monitor/package.json
  infrastructure/annotations-api/package.json
  infrastructure/client-api/package.json
  infrastructure/feature-flags/package.json
  infrastructure/fxa-webhook-proxy/package.json
  infrastructure/image-api/package.json
  infrastructure/list-api/package.json
  infrastructure/parser-graphql-wrapper/package.json
  infrastructure/sendgrid-data/package.json
  infrastructure/shareable-lists-api/package.json
  infrastructure/shared-snowplow-consumer/package.json
  infrastructure/transactional-emails/package.json
  infrastructure/user-api/package.json
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  packages/apollo-utils/package.json
  packages/backend-benchmarking/package.json
  packages/terraform-modules/package.json
  packages/ts-logger/package.json
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/prisma/schema.prisma
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

update Dockerfile for prisma build
  Dockerfile
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api

swap the command/filter flag arg order
  .circleci/annotations-api.yml
  .circleci/common.yml
  .circleci/list-api.yml
  .circleci/shareable-lists-api.yml
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/prisma/schema.prisma
  turbo.json
Due: none

pretest is only required for integrations, not spec
  turbo.json
Due: none

run linter
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/shareable-lists-api/prisma/schema.prisma
Due: none

fix file regex
  .circleci/config.yml
Due: none

fix Dockerfile commands
  Dockerfile
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api

fix(prisma): add cp to after prunning
  Dockerfile
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api

fix(keyv): adding in keyv
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(deleter): turn off the background deleter
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/account-data-deleter/src/server.ts
Due: none

fix(deleter): turn off the background deleter (#90)
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/account-data-deleter/src/server.ts
Due: none

fix(prisma): add cp to after prunning (#89)
  Dockerfile
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api
