Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

fix(ci): adding in push paths (#689)
  .github/workflows/account-data-deleter.yml
  .github/workflows/account-delete-monitor.yml
  .github/workflows/annotations-api.yml
  .github/workflows/braze.yml
  .github/workflows/client-api.yml
  .github/workflows/feature-flags.yml
  .github/workflows/fxa-webhook-proxy.yml
  .github/workflows/image-api.yml
  .github/workflows/instant-sync-events.yml
  .github/workflows/list-api.yml
  .github/workflows/parser-graphql-wrapper.yml
  .github/workflows/pocket-event-bridge.yml
  .github/workflows/push-server.yml
  .github/workflows/sendgrid-data.yml
  .github/workflows/shareable-lists-api.yml
  .github/workflows/shared-snowplow-consumer.yml
  .github/workflows/shares-api.yml
  .github/workflows/transactional-emails.yml
  .github/workflows/user-api.yml
  .github/workflows/user-list-search.yml
  .github/workflows/v3-proxy-api.yml
Due: none

Notes added by 'git notes add'
  2ab3fa2fcd6232124f9c877a0f820db62a3dafb2
Due: none

fix(appends): ensure we relace files
  .github/actions/ecs-codedeploy/action.yml
Due: none

fix(appends): ensure we relace files (#691)
  .github/actions/ecs-codedeploy/action.yml
Due: none

fix(pnpm): updating after pnpm update
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(turbo): updating turbo with pnpm
  package.json
  pnpm-lock.yaml
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(prisma): updating more packages for prisma
  Dockerfile
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(pre): removing the pre steps from turbo repo since they are ran on their own
  package.json
  servers/shareable-lists-api/package.json
  turbo.json
Due: shareable_lists_api

fix(release): updating token for release
  .github/workflows/publish.yml
Due: none

fix(release): updating token for release (#692)
  .github/workflows/publish.yml
Due: none

fix(token): updating token
  .github/workflows/publish.yml
Due: none

fix(gha): remove pin digest
  .github/workflows/publish.yml
  renovate.json
Due: none

fix(token): adding in more env for GHA (#693)
  .github/workflows/publish.yml
  renovate.json
Due: none

fix(token): add tokens to env
  turbo.json
Due: none

fix(token): add tokens to env (#694)
  turbo.json
Due: none

chore(import): initial import of braze-content-proxy from dfa8c6af2b1cbf455e7d39e38ff8f39ec1ecae12
  infrastructure/braze-content-proxy/.terraform-version
  infrastructure/braze-content-proxy/cdktf.json
  infrastructure/braze-content-proxy/package.json
  infrastructure/braze-content-proxy/src/config/index.ts
  infrastructure/braze-content-proxy/src/main.ts
  infrastructure/braze-content-proxy/tsconfig.json
  package.json
  pnpm-lock.yaml
  servers/braze-content-proxy/README.md
  servers/braze-content-proxy/eslint.config.mjs
  servers/braze-content-proxy/jest.config.js
  servers/braze-content-proxy/package.json
  servers/braze-content-proxy/src/config/index.ts
  servers/braze-content-proxy/src/graphql/client-api-proxy.ts
  servers/braze-content-proxy/src/graphql/types.ts
  servers/braze-content-proxy/src/main.integration.ts
  servers/braze-content-proxy/src/main.ts
  servers/braze-content-proxy/src/routes/collection.integration.ts
  servers/braze-content-proxy/src/routes/collection.ts
  servers/braze-content-proxy/src/routes/fixture.ts
  servers/braze-content-proxy/src/routes/scheduledItems.integration.ts
  servers/braze-content-proxy/src/routes/scheduledItems.ts
  servers/braze-content-proxy/src/routes/types.ts
  servers/braze-content-proxy/src/utils.spec.ts
  servers/braze-content-proxy/src/utils.ts
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(cleanup): conforming braze content proxy to the patterns
  .github/workflows/braze-content-proxy.yml
  infrastructure/braze-content-proxy/eslint.config.mjs
  infrastructure/braze-content-proxy/package.json
  infrastructure/braze-content-proxy/src/config/index.ts
  infrastructure/braze-content-proxy/src/main.ts
  pnpm-lock.yaml
  servers/braze-content-proxy/package.json
  servers/braze-content-proxy/src/main.integration.ts
  servers/braze-content-proxy/src/main.ts
  servers/braze-content-proxy/src/routes/collection.integration.ts
  servers/braze-content-proxy/src/routes/scheduledItems.integration.ts
  servers/braze-content-proxy/src/server.ts
  servers/braze-content-proxy/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tags): updating braze content proxy tags
  infrastructure/braze-content-proxy/src/config/index.ts
  infrastructure/braze-content-proxy/src/main.ts
Due: none

feat(setup): setting up ability to run whole graph locally;
  servers/client-api/.env.example
  servers/client-api/README.md
  servers/client-api/config/router.yaml
  servers/client-api/config/supergraph.yaml
  turbo.json
Due: client_api

feat(display): setting up the deriver logic for syndication
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: parser_graphql_wrapper, v3_proxy_api

feat(setup): setting up ability to run whole graph locally
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
Due: parser_graphql_wrapper

fix(session): not erroring on session id missing
  servers/feature-flags/src/unleashClient/strategy/accountAge.ts
  servers/feature-flags/src/unleashClient/strategy/accountAgeAtStart.ts
  servers/feature-flags/src/unleashClient/strategy/hasUserModel.ts
  servers/feature-flags/src/unleashClient/strategy/newUser.ts
  servers/feature-flags/src/unleashClient/strategy/newUserInLocale.ts
  servers/feature-flags/src/unleashClient/strategy/userInLocale.ts
  servers/feature-flags/src/utils/customErrors.ts
  servers/shareable-lists-api/package.json
Due: feature_flags, shareable_lists_api

fix(session): not erroring on session id missing (#698)
  servers/feature-flags/src/unleashClient/strategy/accountAge.ts
  servers/feature-flags/src/unleashClient/strategy/accountAgeAtStart.ts
  servers/feature-flags/src/unleashClient/strategy/hasUserModel.ts
  servers/feature-flags/src/unleashClient/strategy/newUser.ts
  servers/feature-flags/src/unleashClient/strategy/newUserInLocale.ts
  servers/feature-flags/src/unleashClient/strategy/userInLocale.ts
  servers/feature-flags/src/utils/customErrors.ts
  servers/shareable-lists-api/package.json
Due: feature_flags, shareable_lists_api

fix(image): removing alarm for image api
  infrastructure/image-api/src/main.ts
Due: image_api

fix(image): removing alarm for image api (#699)
  infrastructure/image-api/src/main.ts
Due: image_api

fix(parser): adding in collection data
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
  turbo.json
Due: parser_graphql_wrapper

fix(image): ensuring the preview de-wraps image urls
  package.json
  packages/image-utils/.npmignore
  packages/image-utils/README.md
  packages/image-utils/eslint.config.mjs
  packages/image-utils/jest.config.js
  packages/image-utils/package.json
  packages/image-utils/src/index.ts
  packages/image-utils/src/utils.spec.ts
  packages/image-utils/src/utils.ts
  packages/image-utils/tsconfig.json
  pnpm-lock.yaml
  servers/image-api/package.json
  servers/image-api/src/resolvers/index.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(import): migrating braze-content-proxy into the monorepo (#696)
  .github/workflows/braze-content-proxy.yml
  infrastructure/braze-content-proxy/.terraform-version
  infrastructure/braze-content-proxy/cdktf.json
  infrastructure/braze-content-proxy/eslint.config.mjs
  infrastructure/braze-content-proxy/package.json
  infrastructure/braze-content-proxy/src/config/index.ts
  infrastructure/braze-content-proxy/src/main.ts
  infrastructure/braze-content-proxy/tsconfig.json
  package.json
  pnpm-lock.yaml
  servers/braze-content-proxy/README.md
  servers/braze-content-proxy/eslint.config.mjs
  servers/braze-content-proxy/jest.config.js
  servers/braze-content-proxy/package.json
  servers/braze-content-proxy/src/config/index.ts
  servers/braze-content-proxy/src/graphql/client-api-proxy.ts
  servers/braze-content-proxy/src/graphql/types.ts
  servers/braze-content-proxy/src/main.integration.ts
  servers/braze-content-proxy/src/main.ts
  servers/braze-content-proxy/src/routes/collection.integration.ts
  servers/braze-content-proxy/src/routes/collection.ts
  servers/braze-content-proxy/src/routes/fixture.ts
  servers/braze-content-proxy/src/routes/scheduledItems.integration.ts
  servers/braze-content-proxy/src/routes/scheduledItems.ts
  servers/braze-content-proxy/src/routes/types.ts
  servers/braze-content-proxy/src/server.ts
  servers/braze-content-proxy/src/utils.spec.ts
  servers/braze-content-proxy/src/utils.ts
  servers/braze-content-proxy/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(preview): adding in preview metadata
  servers/image-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
Due: image_api, parser_graphql_wrapper

fix(admin): making admin use an older schema
  .github/workflows/parser-graphql-wrapper.yml
  servers/parser-graphql-wrapper/schema-admin.graphql
Due: parser_graphql_wrapper

feat(display): adding in test structure to sync with kat
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
Due: parser_graphql_wrapper

fix(preview): adding in markdown txt
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts.bak
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(types): adding in client types for braze content proxy
  pnpm-lock.yaml
  servers/braze-content-proxy/codegen.ts
  servers/braze-content-proxy/package.json
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/braze-content-proxy/src/graphql/client-api-proxy.ts
  servers/braze-content-proxy/src/graphql/queries/collections.graphql
  servers/braze-content-proxy/src/graphql/queries/scheduledSurface.graphql
  servers/braze-content-proxy/src/graphql/types.ts
  servers/braze-content-proxy/src/routes/collection.ts
  servers/braze-content-proxy/src/routes/scheduledItems.ts
  servers/braze-content-proxy/src/routes/types.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(build): making semantic release on build its own package
  packages/apollo-utils/package.json
  packages/lambda-secrets/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  servers/braze-content-proxy/src/routes/scheduledItems.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(pager): removing pagerduty terraform state
  infrastructure/braze-content-proxy/src/main.ts
Due: none

fix(xray): removing aws xray
  infrastructure/braze-content-proxy/src/main.ts
Due: none

feat(waf): adding a waf to Braze for security
  infrastructure/braze-content-proxy/src/main.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(types): adding in client types for braze content proxy (#701)
  infrastructure/braze-content-proxy/src/main.ts
  packages/apollo-utils/package.json
  packages/lambda-secrets/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
  servers/braze-content-proxy/codegen.ts
  servers/braze-content-proxy/package.json
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/braze-content-proxy/src/graphql/client-api-proxy.ts
  servers/braze-content-proxy/src/graphql/queries/collections.graphql
  servers/braze-content-proxy/src/graphql/queries/scheduledSurface.graphql
  servers/braze-content-proxy/src/graphql/types.ts
  servers/braze-content-proxy/src/routes/collection.ts
  servers/braze-content-proxy/src/routes/scheduledItems.ts
  servers/braze-content-proxy/src/routes/types.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(waf): adding in waf config if theres a cdn
  packages/terraform-modules/src/base/ApplicationLoadBalancer.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.spec.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(waf): updating cdn waf
  infrastructure/braze-content-proxy/src/main.ts
  infrastructure/client-api/src/main.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server
