Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(highlights): ensuring highlights exist
  servers/shares-api/src/models/PocketShare.ts
Due: none

chore(deps): setup infrastructure to build
  infrastructure/account-data-deleter/package.json
  infrastructure/account-delete-monitor/package.json
  infrastructure/annotations-api/package.json
  infrastructure/braze/package.json
  infrastructure/client-api/package.json
  infrastructure/feature-flags/package.json
  infrastructure/fxa-webhook-proxy/package.json
  infrastructure/image-api/package.json
  infrastructure/instant-sync-events/package.json
  infrastructure/list-api/package.json
  infrastructure/parser-graphql-wrapper/package.json
  infrastructure/pocket-event-bridge/package.json
  infrastructure/push-server/package.json
  infrastructure/sendgrid-data/package.json
  infrastructure/shareable-lists-api/package.json
  infrastructure/shared-snowplow-consumer/package.json
  infrastructure/shares-api/package.json
  infrastructure/transactional-emails/package.json
  infrastructure/user-api/package.json
  infrastructure/v3-proxy-api/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(highlights): ensuring highlights exist (#547)
  servers/shares-api/src/models/PocketShare.ts
Due: none

chore(hoist): removing final hoisted packages
  lambdas/transactional-emails/src/braze.ts
  packages/eslint-config/base.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(eslint): removing some old rules
  packages/eslint-config/base.js
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Event consumption logic
  servers/shared-snowplow-consumer/snowtype.config.json
  servers/shared-snowplow-consumer/src/config/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/sharesEvents/sharesEventConsumer.ts
  servers/shared-snowplow-consumer/src/snowplow/shares/shareHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shares/shareHandler.ts
  servers/shared-snowplow-consumer/src/snowtype/snowplow.ts
Due: shared_snowplow_consumer

Notes added by 'git notes add'
  6ef81928536248658674c499017121df9124f6bd
Due: none

fix(packages): ensuring we include missing packages
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/list-api/package.json
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(packages): ensuring we include missing packages (#549)
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/list-api/package.json
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

finalize integration tests
  servers/shared-snowplow-consumer/src/snowplow/EventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/shares/shareHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shares/shareHandler.ts
Due: shared_snowplow_consumer

remove schema versions from test assertion strings
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/prospectEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shares/shareHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shares/shareHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/user/userEventHandler.integration.ts
Due: shared_snowplow_consumer

fix(tslib): ensuring tslib is always in prod deps
  .syncpackrc
  packages/apollo-utils/package.json
  packages/backend-benchmarking/package.json
  packages/feature-flags-client/package.json
  packages/int-mask/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
  servers/list-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tslib): ensuring tslib is always in prod deps (#551)
  .syncpackrc
  packages/apollo-utils/package.json
  packages/backend-benchmarking/package.json
  packages/feature-flags-client/package.json
  packages/int-mask/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
  servers/list-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  c716b1cbfafd79c60dd66598221d639d6f54ed25
Due: none

chore(scripts): making a script for each service to start their services
  .circleci/common.yml
  .circleci/scripts/setup.sh
  .circleci/scripts/setup_aws.sh
  .docker/aws-resources/account-data-deleter-batch-delete.sh
  .docker/aws-resources/account-data-deleter.sh
  .docker/aws-resources/account-delete-monitor.sh
  .docker/aws-resources/annotations-api.sh
  .docker/aws-resources/instant-sync-events.sh
  .docker/aws-resources/list-api.sh
  .docker/aws-resources/parser-graphql-wrapper.sh
  .docker/aws-resources/shareable-lists-api.sh
  .docker/aws-resources/shared-snowplow-consumer.sh
  .docker/aws-resources/shares-api.sh
  .docker/aws-resources/user-api.sh
  README.md
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(scripts): making a script for each service to start their services (#552)
  .circleci/common.yml
  .circleci/scripts/setup.sh
  .circleci/scripts/setup_aws.sh
  .docker/aws-resources/account-data-deleter-batch-delete.sh
  .docker/aws-resources/account-data-deleter.sh
  .docker/aws-resources/account-delete-monitor.sh
  .docker/aws-resources/annotations-api.sh
  .docker/aws-resources/instant-sync-events.sh
  .docker/aws-resources/list-api.sh
  .docker/aws-resources/parser-graphql-wrapper.sh
  .docker/aws-resources/shareable-lists-api.sh
  .docker/aws-resources/shared-snowplow-consumer.sh
  .docker/aws-resources/shares-api.sh
  .docker/aws-resources/user-api.sh
  README.md
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  46a820d084fa52f977bdab936d75ea9e0e69675d
Due: none

feat(shares:events) emit events when share links are created/updated (#544)
  infrastructure/pocket-event-bridge/src/event-rules/shares-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/shares-api-events/pocketShareEventRules.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/shares-api/src/config/index.ts
  infrastructure/shares-api/src/main.ts
  pnpm-lock.yaml
  servers/shared-snowplow-consumer/snowtype.config.json
  servers/shared-snowplow-consumer/src/config/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/sharesEvents/sharesEventConsumer.ts
  servers/shared-snowplow-consumer/src/snowplow/EventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/collection/collectionEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/prospect/prospectEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shares/shareHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/shares/shareHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/user/userEventHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowtype/snowplow.ts
  servers/shares-api/package.json
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/events/EventBus.ts
  servers/shares-api/src/events/client.ts
  servers/shares-api/src/events/index.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/test/addShareContext.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(install): making install only install whats needed for infra
  .circleci/common.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(install): ensuring we only install packages we need for the task at hand
  .circleci/annotations-api.yml
  .circleci/common.yml
  .circleci/feature-flags.yml
  .circleci/image-api.yml
  .circleci/list-api.yml
  .circleci/parser-graphql-wrapper.yml
  .circleci/shareable-lists-api.yml
  .circleci/shares-api.yml
  .circleci/user-api.yml
  .circleci/user-list-search.yml
  packages/apollo-utils/package.json
  packages/backend-benchmarking/package.json
  packages/feature-flags-client/package.json
  packages/int-mask/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/jest.config.js
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
  servers/list-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(terraform): upgrading to terraform 1.8.0 (#469)
  infrastructure/account-data-deleter/.terraform-version
  infrastructure/account-delete-monitor/.terraform-version
  infrastructure/annotations-api/.terraform-version
  infrastructure/braze/.terraform-version
  infrastructure/client-api/.terraform-version
  infrastructure/feature-flags/.terraform-version
  infrastructure/fxa-webhook-proxy/.terraform-version
  infrastructure/image-api/.terraform-version
  infrastructure/instant-sync-events/.terraform-version
  infrastructure/list-api/.terraform-version
  infrastructure/parser-graphql-wrapper/.terraform-version
  infrastructure/pocket-event-bridge/.terraform-version
  infrastructure/push-server/.terraform-version
  infrastructure/sendgrid-data/.terraform-version
  infrastructure/shareable-lists-api/.terraform-version
  infrastructure/shared-snowplow-consumer/.terraform-version
  infrastructure/shares-api/.terraform-version
  infrastructure/transactional-emails/.terraform-version
  infrastructure/user-api/.terraform-version
  infrastructure/user-list-search/.terraform-version
  infrastructure/user-list-search/emergency-response/versions.tf
  infrastructure/user-list-search/terraform.tf
  infrastructure/v3-proxy-api/.terraform-version
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(install): only install packages that are needed in CI for a given task (#554)
  .circleci/annotations-api.yml
  .circleci/common.yml
  .circleci/feature-flags.yml
  .circleci/image-api.yml
  .circleci/list-api.yml
  .circleci/parser-graphql-wrapper.yml
  .circleci/shareable-lists-api.yml
  .circleci/shares-api.yml
  .circleci/user-api.yml
  .circleci/user-list-search.yml
  packages/apollo-utils/package.json
  packages/backend-benchmarking/package.json
  packages/feature-flags-client/package.json
  packages/int-mask/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/jest.config.js
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
  servers/list-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(search): add and use auto-generated types
  pnpm-lock.yaml
  servers/user-list-search/codegen.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/__generated__/types.ts
  servers/user-list-search/src/datasource/MysqlDataSource.ts
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/Paginator.ts
  servers/user-list-search/src/datasource/elasticsearch/advancedSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.spec.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.spec.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.ts
  servers/user-list-search/src/resolvers.spec.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(deps): add back removed ts packages
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(docker): speed up docker pnpm i
  Dockerfile
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api, feature_flags, shareable_lists_api, user_list_search, push_server

chore(terraform): upgrading to terraform 1.8.3
  infrastructure/account-data-deleter/.terraform-version
  infrastructure/account-delete-monitor/.terraform-version
  infrastructure/annotations-api/.terraform-version
  infrastructure/braze/.terraform-version
  infrastructure/client-api/.terraform-version
  infrastructure/feature-flags/.terraform-version
  infrastructure/fxa-webhook-proxy/.terraform-version
  infrastructure/image-api/.terraform-version
  infrastructure/instant-sync-events/.terraform-version
  infrastructure/list-api/.terraform-version
  infrastructure/parser-graphql-wrapper/.terraform-version
  infrastructure/pocket-event-bridge/.terraform-version
  infrastructure/push-server/.terraform-version
  infrastructure/sendgrid-data/.terraform-version
  infrastructure/shareable-lists-api/.terraform-version
  infrastructure/shared-snowplow-consumer/.terraform-version
  infrastructure/shares-api/.terraform-version
  infrastructure/transactional-emails/.terraform-version
  infrastructure/user-api/.terraform-version
  infrastructure/user-list-search/.terraform-version
  infrastructure/user-list-search/emergency-response/versions.tf
  infrastructure/user-list-search/terraform.tf
  infrastructure/v3-proxy-api/.terraform-version
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(v3proxy:tags): clear tags if replacement is empty
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
Due: v3_proxy_api

feat(v3proxy:tags): clear tags if replacement is empty (#556)
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
Due: v3_proxy_api

Notes added by 'git notes add'
  791e9e58605e8921f7b63de3441d3d1d7ca11b75
Due: none

chore(search): add and use auto-generated types (#553)
  pnpm-lock.yaml
  servers/user-list-search/codegen.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/__generated__/types.ts
  servers/user-list-search/src/datasource/MysqlDataSource.ts
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/Paginator.ts
  servers/user-list-search/src/datasource/elasticsearch/advancedSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.spec.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.spec.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.ts
  servers/user-list-search/src/resolvers.spec.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
