Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

feat(list): enable users to update title of a save
  servers/list-api/schema.graphql
  servers/list-api/src/businessEvents/types.ts
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemUpdateTitle.integration.ts
Due: list_api

update constraints and add client guidance for title string
  servers/list-api/schema.graphql
Due: list_api

feat(list): enable users to update title of a save (#113)
  servers/list-api/schema.graphql
  servers/list-api/src/businessEvents/types.ts
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemUpdateTitle.integration.ts
Due: list_api

fix(list): resolve title on pagination query
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/test/graphql/queries/savedItems.integration.ts
Due: list_api

fix(list): resolve title on pagination query (#114)
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/test/graphql/queries/savedItems.integration.ts
Due: list_api

fix(plugins): make all services use the same apollo plugins
  .vscode/settings.json
  packages/apollo-utils/src/errorHandler/errorHandler.spec.ts
  packages/apollo-utils/src/index.ts
  packages/apollo-utils/src/plugins/defaultPlugin.ts
  packages/apollo-utils/src/sentry/apolloSentryPlugin.ts
  servers/annotations-api/src/server/index.ts
  servers/feature-flags/src/graphql/index.ts
  servers/image-api/src/server/apollo.ts
  servers/list-api/src/server/apollo.ts
  servers/parser-graphql-wrapper/src/server.ts
  servers/shareable-lists-api/src/admin/server.ts
  servers/shareable-lists-api/src/public/server.ts
  servers/user-api/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(sentry): standardizing sentry usage
  packages/apollo-utils/package.json
  packages/apollo-utils/src/index.ts
  packages/apollo-utils/src/sentry/apolloSentryPlugin.ts
  packages/apollo-utils/src/sentry/expressSentryMiddleware.ts
  packages/apollo-utils/src/sentry/initSentry.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/server.ts
  servers/annotations-api/src/server/index.ts
  servers/feature-flags/src/index.ts
  servers/image-api/src/server/apollo.ts
  servers/list-api/src/server/apollo.ts
  servers/parser-graphql-wrapper/src/server.ts
  servers/shareable-lists-api/src/express.ts
  servers/shared-snowplow-consumer/src/server.ts
  servers/user-api/src/apollo.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(types): updating express types
  servers/image-api/src/resolvers/query.integration.ts
  servers/list-api/src/test/graphql/mutations/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/save-archive.integration.ts
  servers/list-api/src/test/graphql/mutations/save-favorite.integration.ts
  servers/list-api/src/test/graphql/mutations/save-unarchive.integration.ts
  servers/list-api/src/test/graphql/mutations/save-unfavorite.integration.ts
  servers/list-api/src/test/graphql/mutations/saveBatchUpdateTags.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemArchive.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemDelete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemFavorite.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemTag.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemUnArchive.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemUnDelete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemUnFavorite.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItem/savedItemUpdateTitle.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-updates.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-upsert.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-replaceSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-update.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-updateSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/queries/curatedItem.integration.ts
  servers/list-api/src/test/graphql/queries/item.integration.ts
  servers/list-api/src/test/graphql/queries/pagination-benchmarking.integration.ts
  servers/list-api/src/test/graphql/queries/pocketSave-item.integration.ts
  servers/list-api/src/test/graphql/queries/pocketSave-tags.integration.ts
  servers/list-api/src/test/graphql/queries/pocketSave.integration.ts
  servers/list-api/src/test/graphql/queries/savedItem.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems-archive-pagination.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems.integration.ts
  servers/list-api/src/test/graphql/queries/saveditem-tags.integration.ts
  servers/list-api/src/test/graphql/queries/suggested-tags.integration.ts
  servers/list-api/src/test/graphql/queries/tags.integration.ts
Due: image_api, parser_graphql_wrapper, list_api

fix(redis): make parser graphql wrapper not prone to redis issues
  packages/apollo-utils/src/cache/DataloaderKeyValueCache.ts
  packages/apollo-utils/src/cache/ElasticacheRedis.spec.ts
  packages/apollo-utils/src/cache/ElasticacheRedis.ts
  packages/apollo-utils/src/cache/interface.ts
  packages/apollo-utils/src/dataloader.spec.ts
  packages/apollo-utils/src/dataloader.ts
  packages/apollo-utils/src/index.ts
  pnpm-lock.yaml
  servers/image-api/src/cache/index.ts
  servers/image-api/src/dataLoaders/imageLoader.ts
  servers/image-api/src/resolvers/query.integration.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/cache/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.spec.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix: swallow CorpusItem.timeToRead resolver errors
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: none

fix: swallow CorpusItem.timeToRead resolver errors (#116)
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: none

fix(clientIp): adding in 1 more client ip
  packages/apollo-utils/src/sentry/apolloSentryPlugin.ts
  packages/apollo-utils/src/sentry/expressSentryMiddleware.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(redis): make parser graphql wrapper not prone to redis issues (#117)
  packages/apollo-utils/src/cache/DataloaderKeyValueCache.ts
  packages/apollo-utils/src/cache/ElasticacheRedis.spec.ts
  packages/apollo-utils/src/cache/ElasticacheRedis.ts
  packages/apollo-utils/src/cache/interface.ts
  packages/apollo-utils/src/dataloader.spec.ts
  packages/apollo-utils/src/dataloader.ts
  packages/apollo-utils/src/index.ts
  packages/apollo-utils/src/sentry/apolloSentryPlugin.ts
  pnpm-lock.yaml
  servers/image-api/src/cache/index.ts
  servers/image-api/src/dataLoaders/imageLoader.ts
  servers/image-api/src/resolvers/query.integration.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/cache/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.spec.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(state): moving state generation and use to s3
  .circleci/account-data-deleter.yml
  .circleci/account-delete-monitor.yml
  .circleci/annotations-api.yml
  .circleci/client-api.yml
  .circleci/common.yml
  .circleci/feature-flags.yml
  .circleci/fxa-webhook-proxy.yml
  .circleci/image-api.yml
  .circleci/list-api.yml
  .circleci/parser-graphql-wrapper.yml
  .circleci/pocket-event-bridge.yml
  .circleci/sendgrid-data.yml
  .circleci/shareable-lists-api.yml
  .circleci/shared-snowplow-consumer.yml
  .circleci/transactional-emails.yml
  .circleci/user-api.yml
  .gitignore
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/user-api/src/main.ts
  scripts/sync-tfstate-to-s3.sh
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api

chore(state): moving state generation and use to s3 (#123)
  .circleci/account-data-deleter.yml
  .circleci/account-delete-monitor.yml
  .circleci/annotations-api.yml
  .circleci/client-api.yml
  .circleci/common.yml
  .circleci/feature-flags.yml
  .circleci/fxa-webhook-proxy.yml
  .circleci/image-api.yml
  .circleci/list-api.yml
  .circleci/parser-graphql-wrapper.yml
  .circleci/pocket-event-bridge.yml
  .circleci/sendgrid-data.yml
  .circleci/shareable-lists-api.yml
  .circleci/shared-snowplow-consumer.yml
  .circleci/transactional-emails.yml
  .circleci/user-api.yml
  .gitignore
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/user-api/src/main.ts
  scripts/sync-tfstate-to-s3.sh
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api

fix(max): adding in max capacity
  infrastructure/shareable-lists-api/src/config/index.ts
Due: none

chore(cleanup): removing migrateIds code no longer needed
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/user-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api

first cut
  packages/apollo-utils/jest.setup.ts
  servers/shareable-lists-api/schema-public.graphql
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.ts
  servers/shareable-lists-api/src/database/index.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/database/queries.ts
  servers/shareable-lists-api/src/database/types.ts
  servers/shareable-lists-api/src/public/resolvers/index.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/sample-mutations.gql.ts
  servers/shareable-lists-api/src/public/resolvers/queries/PilotUser.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableList.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

updates from self-review
  servers/shareable-lists-api/schema-public.graphql
  servers/shareable-lists-api/src/admin/context.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/database/queries/ShareableListItems.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.ts
Due: none

update lockfile
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

bulk add query -- throws heap error
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/prisma/schema.prisma
  servers/shareable-lists-api/src/admin/context.ts
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/database/queries/ShareableListItems.ts
  servers/shareable-lists-api/src/database/types.ts
  servers/shareable-lists-api/src/public/context.ts
  servers/shareable-lists-api/src/public/resolvers/index.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/public/resolvers/utils.ts
  servers/shareable-lists-api/src/shared/resolvers/fields/ShareableList.ts
  servers/shareable-lists-api/src/shared/types.ts
Due: none

set updatedAt to fix test order flakiness
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableList.integration.ts
  servers/shareable-lists-api/src/test/helpers/createShareableListHelper.ts
Due: none

updates from self-review
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/eventConfig.ts
  packages/apollo-utils/jest.setup.js
  servers/shareable-lists-api/.env.ci
  servers/shareable-lists-api/.env.example
  servers/shareable-lists-api/prisma/seed.ts
  servers/shareable-lists-api/src/admin/context.ts
  servers/shareable-lists-api/src/database/client.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/public/context.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

bulk add - bypass prisma
  infrastructure/pocket-event-bridge/src/README.md
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/eventConfig.ts
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/prisma/seed.ts
  servers/shareable-lists-api/src/admin/resolvers/index.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/public/resolvers/index.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/shared/resolvers/fields/ShareableList.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix mutation args
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/sample-mutations.gql.ts
Due: none

deps: add kysely and configure start
  infrastructure/shareable-lists-api/src/main.ts
  pnpm-lock.yaml
  servers/shareable-lists-api/.env.ci
  servers/shareable-lists-api/.env.example
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/prisma/schema.prisma
  servers/shareable-lists-api/src/admin/context.ts
  servers/shareable-lists-api/src/config/index.ts
  servers/shareable-lists-api/src/database/client.ts
  servers/shareable-lists-api/src/database/index.ts
  servers/shareable-lists-api/src/public/context.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

working tests now
  servers/shareable-lists-api/jest.config.js
  servers/shareable-lists-api/src/database/client.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/tsconfig.json
Due: none

fix mismatches
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

do not overwrite extant urls in a batch
  servers/shareable-lists-api/schema-public.graphql
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/database/types.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/test/helpers/createShareableListItemHelper.ts
Due: none

fix an outdated comment
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
Due: none

fix(kysely): ensuring kysely saves itself
  servers/shareable-lists-api/src/database/client.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
Due: none

feat(shareable-lists): bulk add items (#108)
  infrastructure/pocket-event-bridge/src/README.md
  infrastructure/shareable-lists-api/src/main.ts
  pnpm-lock.yaml
  servers/shareable-lists-api/.env.ci
  servers/shareable-lists-api/.env.example
  servers/shareable-lists-api/jest.config.js
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/prisma/schema.prisma
  servers/shareable-lists-api/prisma/seed.ts
  servers/shareable-lists-api/schema-public.graphql
  servers/shareable-lists-api/src/admin/context.ts
  servers/shareable-lists-api/src/admin/resolvers/index.ts
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.ts
  servers/shareable-lists-api/src/config/index.ts
  servers/shareable-lists-api/src/database/client.ts
  servers/shareable-lists-api/src/database/index.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/database/queries.ts
  servers/shareable-lists-api/src/database/queries/ShareableListItems.ts
  servers/shareable-lists-api/src/database/types.ts
  servers/shareable-lists-api/src/public/context.ts
  servers/shareable-lists-api/src/public/resolvers/index.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/sample-mutations.gql.ts
  servers/shareable-lists-api/src/public/resolvers/queries/PilotUser.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableList.ts
  servers/shareable-lists-api/src/public/resolvers/utils.ts
  servers/shareable-lists-api/src/shared/resolvers/fields/ShareableList.ts
  servers/shareable-lists-api/src/shared/types.ts
  servers/shareable-lists-api/src/test/helpers/createShareableListHelper.ts
  servers/shareable-lists-api/src/test/helpers/createShareableListItemHelper.ts
  servers/shareable-lists-api/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(shareable-lists): create and bulk add to shareable list
  servers/shareable-lists-api/schema-public.graphql
  servers/shareable-lists-api/src/database/index.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/database/types.ts
  servers/shareable-lists-api/src/public/resolvers/index.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/sample-mutations.gql.ts
Due: none

fix(script): updating script length
  scripts/convert-auroraV1-to-V2.sh
Due: none

feat(auroav2): converting to aurora v2 (#109)
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
  scripts/convert-auroraV1-to-V2.sh
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(shareable-lists): create and bulk add to shareable list (#126)
  servers/shareable-lists-api/schema-public.graphql
  servers/shareable-lists-api/src/database/index.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/database/types.ts
  servers/shareable-lists-api/src/public/resolvers/index.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/sample-mutations.gql.ts
Due: none

chore(release): release terraform modules from this repo
  .github/workflows/publish.yml
  package.json
  packages/terraform-modules/package.json
  pnpm-lock.yaml
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(update): pulling in upstream tf modules changes
  packages/terraform-modules/CHANGELOG.md
  packages/terraform-modules/src/base/ApplicationECSContainerDefinition.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(lock): updating lockfdile
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  pocket_router: any of: ((servers|infrastructure)/pocket-router/.*)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
