Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(router): removing router otel
  servers/client-api/config/router.yaml
Due: client_api

fix(import): ensuring imports happen first
  servers/list-api/src/server/main.ts
Due: list_api

fix(otel): removing otel (#675)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/push-server/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/shares-api/src/main.ts
  infrastructure/user-api/src/main.ts
  servers/annotations-api/src/main.ts
  servers/client-api/config/router.yaml
  servers/image-api/src/server/main.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/shared-snowplow-consumer/src/main.ts
  servers/shares-api/src/main.ts
  servers/user-api/src/main.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api, client_api, feature_flags, account_data_deleter, user_list_search, v3_proxy_api, push_server

fix(v3proxy): redact deleted item information (#672)
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/shared/transforms.ts
  servers/v3-proxy-api/src/graph/types.ts
Due: v3_proxy_api

fix(tracing): cleaning up tracing packages
  .syncpackrc
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/instant-sync-events/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  package.json
  packages/apollo-utils/package.json
  packages/sentry/package.json
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/push-server/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  fbe853f8d9e2be7314e0dce88f7b216a5de83170
Due: none

chore(ci): adding in repo based ci
  .circleci/config.yml
  .circleci/repo-jobs.yml
  .github/workflows/pr.yml
Due: none

chore(ci): moving to a composite action
  .github/actions/install-pnpm-and-node/action.yml
  .github/workflows/pr.yml
Due: none

chore(ci): moving to a composite action
  .github/workflows/pr.yml
  .github/workflows/publish.yml
Due: none

chore(ci): moving to a composite action
  .github/actions/install-pnpm-and-node/action.yml
Due: none

chore(ci): removing circleci
  .circleci/account-data-deleter.yml
  .circleci/account-delete-monitor.yml
  .circleci/annotations-api.yml
  .circleci/braze.yml
  .circleci/client-api.yml
  .circleci/common.yml
  .circleci/config.yml
  .circleci/feature-flags.yml
  .circleci/fxa-webhook-proxy.yml
  .circleci/header.yml
  .circleci/image-api.yml
  .circleci/instant-sync-events.yml
  .circleci/list-api.yml
  .circleci/parser-graphql-wrapper.yml
  .circleci/pocket-event-bridge.yml
  .circleci/push-server.yml
  .circleci/scripts/setup.sh
  .circleci/scripts/setup_aws.sh
  .circleci/scripts/setup_db.sh
  .circleci/scripts/update_bluegreen_service_via_task_def.sh
  .circleci/sendgrid-data.yml
  .circleci/shareable-lists-api.yml
  .circleci/shared-snowplow-consumer.yml
  .circleci/shares-api.yml
  .circleci/transactional-emails.yml
  .circleci/user-api.yml
  .circleci/user-list-search.yml
  .circleci/v3-proxy-api.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(ci): adding in skeleton of user_api
  .github/actions/install-pnpm-and-node/action.yml
  .github/workflows/pull_request.yml
  .github/workflows/user_api.yml
Due: none

chore(ci): adding in skeleton of user_api
  .github/workflows/user_api.yml
Due: none

chore(ci): adding in docker compose test integrations
  .github/workflows/user_api.yml
Due: none

chore(ci): adding in dockerhub login
  .github/workflows/user_api.yml
  docker-compose.yml
Due: none

chore(list): adding in list api
  .github/workflows/list_api.yml
  .github/workflows/test_integrations.yml
Due: none

Notes added by 'git notes add'
  eb8f15bc734f446b6c117388fb056e144c4655e1
Due: none

chore(ci): localstack ready
  .github/workflows/test_integrations.yml
  docker-compose.yml
Due: none

fix(localstack): allowing it to wait longer
  .github/workflows/test_integrations.yml
  docker-compose.yml
Due: none

fix(naming): adjusting naming of actions
  .github/workflows/list-api.yml
  .github/workflows/list_api.yml
  .github/workflows/pull-request.yml
  .github/workflows/test-integrations.yml
  .github/workflows/test_integrations.yml
  .github/workflows/user-api.yml
Due: none

Notes added by 'git notes add'
  dff62091a4a72ce85e395422780ad84b22ceb9a7
Due: none

chore(ci): adding in docker image building
  .github/workflows/containerize.yml
  .github/workflows/list-api.yml
  .github/workflows/pull-request.yml
  .github/workflows/user-api.yml
Due: none

fix(docker): adding in docker building
  .github/actions/containerize/action.yml
  .github/workflows/build-and-push-image.yml
  .github/workflows/containerize.yml
  .github/workflows/list-api.yml
  .github/workflows/user-api.yml
Due: none

fix(ci): status checks
  .github/workflows/pull-request.yml
  .github/workflows/status-checks.yml
Due: none

fix(infra): adding in infrastruicture and docs
  .github/actions/cdktf/action.yml
  .github/actions/install-pnpm-and-node/action.yml
  .github/workflows/README.md
  .github/workflows/build-and-push-image.yml
  .github/workflows/infrastructure.yml
  .github/workflows/list-api.yml
  .github/workflows/pull-request.yml
  .github/workflows/status-checks.yml
  .github/workflows/user-api.yml
  docker-compose.yml
Due: none

chore(ci): adding in raw terraform commands
  .github/actions/raw-terraform/action.yml
  .github/workflows/infrastructure.yml
  .github/workflows/user-api.yml
Due: none

chore(ci): testing aws
  .github/actions/cdktf/action.yml
  .github/actions/raw-terraform/action.yml
  .github/workflows/infrastructure.yml
  .github/workflows/list-api.yml
Due: none

fix(lambda): adding in lambda building
  .github/actions/build-lambda/action.yml
  .github/workflows/account-data-deleter.yml
  .github/workflows/list-api.yml
  .github/workflows/reuse-build-and-push-image.yml
  .github/workflows/reuse-build-and-push-lambda.yml
  .github/workflows/reuse-infrastructure.yml
  .github/workflows/reuse-test-integrations.yml
Due: none

chore(ci): test pushing to s3
  .github/actions/build-lambda/action.yml
  .github/workflows/account-data-deleter.yml
  .github/workflows/list-api.yml
  .github/workflows/reuse-build-and-push-lambda.yml
  .github/workflows/user-api.yml
Due: none

chore(ci): test pushing docker image
  .github/actions/containerize/action.yml
  .github/workflows/account-data-deleter.yml
  .github/workflows/list-api.yml
  .github/workflows/reuse-build-and-push-image.yml
  .github/workflows/user-api.yml
Due: none

fix(ci): removing tempoary uploading on pull request
  .github/workflows/reuse-build-and-push-image.yml
  .github/workflows/reuse-build-and-push-lambda.yml
Due: none

chore(ci): add in codedeploy for ecs
  .github/actions/cdktf/action.yml
  .github/actions/containerize/action.yml
  .github/actions/ecs-codedeploy/action.yml
  .github/actions/ecs-codedeploy/test
  .github/actions/raw-terraform/action.yml
  .github/workflows/account-data-deleter.yml
  .github/workflows/reuse-build-and-push-image.yml
Due: none

fix(ci): updating ci names
  .github/actions/cdktf/action.yml
  .github/actions/containerize/action.yml
  .github/actions/ecs-codedeploy/action.yml
  .github/actions/raw-terraform/action.yml
  .github/workflows/account-data-deleter.yml
  .github/workflows/list-api.yml
  .github/workflows/reuse-infrastructure.yml
  .github/workflows/user-api.yml
  infrastructure/user-list-search/apollo_ecs.tf
  packages/terraform-modules/src/base/ApplicationECSService.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(snapshots): updating terrraform snapshots
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(lambda): adding in lambda deployments
  .github/actions/ecs-codedeploy/test
  .github/actions/lambda-codedeploy/action.yml
  .github/workflows/account-data-deleter.yml
  .github/workflows/reuse-build-and-push-lambda.yml
Due: none

fix(sentry/apollo): adding in sentry and apollo checks
  .github/workflows/account-data-deleter.yml
  .github/workflows/list-api.yml
  .github/workflows/reuse-apollo-federation.yml
  .github/workflows/reuse-sentry-release.yml
  .github/workflows/user-api.yml
Due: none

fix(apollo): removing extra github actions
  .github/workflows/account-data-deleter.yml
  .github/workflows/list-api.yml
  .github/workflows/reuse-apollo-federation.yml
  .github/workflows/user-api.yml
Due: none

fix(github): adding github status checks
  .github/actions/ecs-codedeploy/action.yml
  .github/workflows/list-api.yml
  .github/workflows/reuse-build-and-push-image.yml
  infrastructure/user-list-search/apollo_ecs.tf
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(ci): adding in account delete monitor
  .github/workflows/account-delete-monitor.yml
Due: none

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
