Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

fix(strictNull): adding strict null for account data deleter (#757)
  servers/account-data-deleter/src/batchDeleteHandler.ts
  servers/account-data-deleter/src/config/tables.ts
  servers/account-data-deleter/src/dataService/stripeDataDeleter.ts
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/tsconfig.json
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: account_data_deleter, v3_proxy_api

Notes added by 'git notes add'
  87274724d4c0e08fcdfa03a5b45a7c1f77da45bf
Due: none

fix(strictNull): adding strict null to annoations api
  servers/annotations-api/src/dataservices/dataloaders.ts
  servers/annotations-api/src/dataservices/notes.ts
  servers/annotations-api/src/server/apollo/context.ts
  servers/annotations-api/src/server/apollo/resolvers.ts
  servers/annotations-api/src/server/aws/batchDeleteHandler.ts
  servers/annotations-api/src/server/routes/queueDelete.integration.ts
  servers/annotations-api/src/server/routes/queueDelete.ts
  servers/annotations-api/src/test/clearUserData/notes.integration.ts
  servers/annotations-api/src/test/utils.ts
  servers/annotations-api/tsconfig.json
Due: annotations_api

fix(onConflict): switching to upsert
  servers/list-api/src/dataService/usersMetaService.ts
Due: list_api

fix(onConflict): switching to upsert (#760)
  servers/list-api/src/dataService/usersMetaService.ts
Due: list_api

fix(strictNull): adding strictNull to feature flags
  servers/feature-flags/src/admin/jwtAuthHook.ts
  servers/feature-flags/src/unleashClient/strategy/accountAge.ts
  servers/feature-flags/src/unleashClient/strategy/accountAgeAtStart.ts
  servers/feature-flags/src/unleashClient/strategy/hasUserModel.spec.ts
  servers/feature-flags/src/unleashClient/strategy/newUser.ts
  servers/feature-flags/src/unleashClient/strategy/newUserInLocale.ts
  servers/feature-flags/tsconfig.json
Due: feature_flags

fix(list-api): seperate out read and write
  packages/apollo-utils/package.json
  packages/image-utils/package.json
  packages/lambda-secrets/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  servers/braze-content-proxy/src/routes/collection.ts
  servers/list-api/src/dataLoader/savedItemsDataLoader.spec.ts
  servers/list-api/src/dataLoader/tagsDataLoader.spec.ts
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/dataService/pocketSavesService.ts
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/dataService/usersMetaService.ts
  servers/list-api/src/models/tag.spec.ts
  servers/list-api/src/server/apollo.spec.ts
  servers/list-api/src/server/apollo.ts
  servers/list-api/src/server/context.spec.ts
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
  servers/list-api/src/test/integrations/savedItemsService.integration.ts
  servers/list-api/src/test/integrations/usersMetaService.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(list-api): seperate out read and write (#762)
  packages/apollo-utils/package.json
  packages/image-utils/package.json
  packages/lambda-secrets/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  servers/braze-content-proxy/src/routes/collection.ts
  servers/list-api/src/dataLoader/savedItemsDataLoader.spec.ts
  servers/list-api/src/dataLoader/tagsDataLoader.spec.ts
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/dataService/pocketSavesService.ts
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/dataService/usersMetaService.ts
  servers/list-api/src/models/tag.spec.ts
  servers/list-api/src/server/apollo.spec.ts
  servers/list-api/src/server/apollo.ts
  servers/list-api/src/server/context.spec.ts
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
  servers/list-api/src/test/integrations/savedItemsService.integration.ts
  servers/list-api/src/test/integrations/usersMetaService.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  b88c6c052e2d3575b950ca5d66b6256a1992f8d1
Due: none

fix(list-api): ensuring that we use the write client after a write
  servers/list-api/src/dataService/savedItemsService.ts
Due: list_api

Revert "fix(list-api): seperate out read and write (#762)"
  packages/apollo-utils/package.json
  packages/image-utils/package.json
  packages/lambda-secrets/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  servers/braze-content-proxy/src/routes/collection.ts
  servers/list-api/src/dataLoader/savedItemsDataLoader.spec.ts
  servers/list-api/src/dataLoader/tagsDataLoader.spec.ts
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/dataService/pocketSavesService.ts
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/dataService/usersMetaService.ts
  servers/list-api/src/models/tag.spec.ts
  servers/list-api/src/server/apollo.spec.ts
  servers/list-api/src/server/apollo.ts
  servers/list-api/src/server/context.spec.ts
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
  servers/list-api/src/test/integrations/savedItemsService.integration.ts
  servers/list-api/src/test/integrations/usersMetaService.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(user-meta): making user meta always use write client
  servers/list-api/src/dataLoader/tagsDataLoader.spec.ts
  servers/list-api/src/dataService/usersMetaService.ts
  servers/list-api/src/models/tag.spec.ts
  servers/list-api/src/server/apollo.ts
  servers/list-api/src/server/context.spec.ts
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/integrations/savedItemsService.integration.ts
  servers/list-api/src/test/integrations/usersMetaService.integration.ts
Due: list_api

Revert "fix(list-api): seperate out read and write" (#764)
  packages/apollo-utils/package.json
  packages/image-utils/package.json
  packages/lambda-secrets/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  servers/braze-content-proxy/src/routes/collection.ts
  servers/list-api/src/dataLoader/savedItemsDataLoader.spec.ts
  servers/list-api/src/dataLoader/tagsDataLoader.spec.ts
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/dataService/pocketSavesService.ts
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/dataService/usersMetaService.ts
  servers/list-api/src/models/tag.spec.ts
  servers/list-api/src/server/apollo.spec.ts
  servers/list-api/src/server/apollo.ts
  servers/list-api/src/server/context.spec.ts
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
  servers/list-api/src/test/integrations/savedItemsService.integration.ts
  servers/list-api/src/test/integrations/usersMetaService.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  32027fd4ff97e6bc68943ee097961a1a0635cdf0
Due: none

fix(strictNull): enabling strict null for image api
  servers/image-api/src/cache/index.ts
  servers/image-api/src/server/apollo.ts
  servers/image-api/tsconfig.json
Due: image_api

feat(corpus): merge duplicate collection records
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-indexing/src/commands/ApprovedItem.ts
  lambdas/user-list-search-corpus-indexing/src/commands/ApprovedItemCollection.ts
  lambdas/user-list-search-corpus-indexing/src/commands/Collection.ts
  lambdas/user-list-search-corpus-indexing/src/commands/Syndicated.ts
  lambdas/user-list-search-corpus-indexing/src/docCommands.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-indexing/src/queries/collectionId.ts
  lambdas/user-list-search-corpus-indexing/src/queries/index.ts
  lambdas/user-list-search-corpus-indexing/src/queries/originalCorpusId.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/index.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/syndication.spec.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/syndicationDupes.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: move slug extraction for unit testing
  lambdas/user-list-search-corpus-indexing/src/queries/collectionId.ts
  lambdas/user-list-search-corpus-indexing/src/utils.spec.ts
  lambdas/user-list-search-corpus-indexing/src/utils.ts
Due: user_list_search

chore: update docstrings
  lambdas/user-list-search-corpus-indexing/src/commands/ApprovedItem.ts
  lambdas/user-list-search-corpus-indexing/src/commands/ApprovedItemCollection.ts
  lambdas/user-list-search-corpus-indexing/src/commands/Collection.ts
  lambdas/user-list-search-corpus-indexing/src/commands/Syndicated.ts
Due: user_list_search

feat(corpus): merge duplicate collection records (#767)
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-indexing/src/commands/ApprovedItem.ts
  lambdas/user-list-search-corpus-indexing/src/commands/ApprovedItemCollection.ts
  lambdas/user-list-search-corpus-indexing/src/commands/Collection.ts
  lambdas/user-list-search-corpus-indexing/src/commands/Syndicated.ts
  lambdas/user-list-search-corpus-indexing/src/docCommands.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-indexing/src/queries/collectionId.ts
  lambdas/user-list-search-corpus-indexing/src/queries/index.ts
  lambdas/user-list-search-corpus-indexing/src/queries/originalCorpusId.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/index.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/syndication.spec.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/syndicationDupes.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
  lambdas/user-list-search-corpus-indexing/src/utils.spec.ts
  lambdas/user-list-search-corpus-indexing/src/utils.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  31d6397428bf9f5a6a4faea0629df736e3ba1d9a
Due: none

feat(search): infra to ingest removed corpus events
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/eventConfig.ts
  infrastructure/user-list-search/sqs_sns_topic_subscription.tf
Due: pocket_event_bridge, user_list_search

feat(search:corpus): ingest remove approved item event
  lambdas/user-list-search-corpus-indexing/src/commands/RemoveItem.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
Due: user_list_search

feat(search:corpus): ingest removed corpus events (#768)
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/eventConfig.ts
  infrastructure/user-list-search/sqs_sns_topic_subscription.tf
  lambdas/user-list-search-corpus-indexing/src/commands/RemoveItem.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
Due: pocket_event_bridge, user_list_search

fix(rdsReader): adding in a rds reader endpoint
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationRDSCluster.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(rdsReader): adding in a rds reader endpoint (#769)
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationRDSCluster.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  319b73b9355a53ab081501973dff5fff728645dd
Due: none

feat(search): ingest isTimeSensitive field
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en_luc.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  lambdas/user-list-search-corpus-indexing/src/commands/ApprovedItem.ts
  lambdas/user-list-search-corpus-indexing/src/commands/ApprovedItemCollection.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
Due: user_list_search

feat(search): ingest isTimeSensitive field (#770)
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en_luc.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  lambdas/user-list-search-corpus-indexing/src/commands/ApprovedItem.ts
  lambdas/user-list-search-corpus-indexing/src/commands/ApprovedItemCollection.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
Due: user_list_search
