Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

Notes added by 'git notes add'
  791e9e58605e8921f7b63de3441d3d1d7ca11b75
Due: none

fix(scope): fixing a scope bug
  .circleci/common.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(docker): speed up docker pnpm i (#555)
  .circleci/common.yml
  Dockerfile
  infrastructure/account-data-deleter/.terraform-version
  infrastructure/account-delete-monitor/.terraform-version
  infrastructure/annotations-api/.terraform-version
  infrastructure/braze/.terraform-version
  infrastructure/client-api/.terraform-version
  infrastructure/feature-flags/.terraform-version
  infrastructure/fxa-webhook-proxy/.terraform-version
  infrastructure/image-api/.terraform-version
  infrastructure/instant-sync-events/.terraform-version
  infrastructure/list-api/.terraform-version
  infrastructure/parser-graphql-wrapper/.terraform-version
  infrastructure/pocket-event-bridge/.terraform-version
  infrastructure/push-server/.terraform-version
  infrastructure/sendgrid-data/.terraform-version
  infrastructure/shareable-lists-api/.terraform-version
  infrastructure/shared-snowplow-consumer/.terraform-version
  infrastructure/shares-api/.terraform-version
  infrastructure/transactional-emails/.terraform-version
  infrastructure/user-api/.terraform-version
  infrastructure/user-list-search/.terraform-version
  infrastructure/user-list-search/emergency-response/versions.tf
  infrastructure/user-list-search/terraform.tf
  infrastructure/v3-proxy-api/.terraform-version
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(shares:events): fix share event detail schema
  servers/shares-api/src/events/EventBus.ts
Due: none

fix(shares:events): fix share event detail schema (#557)
  servers/shares-api/src/events/EventBus.ts
Due: none

chore(branch): updating branch name
  .husky/pre-commit
  .syncpackrc
Due: none

feat(v3proxy:annotations): add and delete annotations
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/mutations/addAnnotation.graphql
  servers/v3-proxy-api/src/graphql/mutations/deleteAnnotation.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

feat(v3proxy:annotations): add and delete annotations (#561)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/mutations/addAnnotation.graphql
  servers/v3-proxy-api/src/graphql/mutations/deleteAnnotation.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

feat(fetch): make native node fetch happen
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-batch-delete/src/externalCaller/deleteMutation.ts
  lambdas/account-data-deleter-events/package.json
  lambdas/account-data-deleter-events/src/handlers/accountDelete/postRequest.ts
  lambdas/account-delete-monitor/package.json
  lambdas/account-delete-monitor/src/externalCaller/deleteMutation.ts
  lambdas/annotations-api-events/package.json
  lambdas/annotations-api-events/src/handlers/accountDelete.ts
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-gateway/src/jwt.ts
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/fxa-webook-proxy-sqs/src/mutations.ts
  lambdas/shareable-lists-api-events/package.json
  lambdas/shareable-lists-api-events/src/handlers/accountDelete.ts
  lambdas/transactional-emails/package.json
  lambdas/transactional-emails/src/braze.ts
  lambdas/user-list-search-events/handlerFns.ts
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-indexing/src/helper.ts
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/annotations-api/src/dataservices/parserApi.ts
  servers/list-api/package.json
  servers/list-api/src/externalCaller/parserCaller.ts
  servers/list-api/src/test/integrations/snowplowHandler.integration.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/shared-snowplow-consumer/package.json
  servers/shared-snowplow-consumer/src/snowplow/testUtils.ts
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(nock): updating nock to beta for native fetch
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  packages/tsconfig/cdktf.json
  packages/tsconfig/graphql.json
  packages/tsconfig/library-esm.json
  packages/tsconfig/library.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/annotations-api/src/dataservices/parserApi.ts
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
  servers/parser-graphql-wrapper/src/marticle/turndown.ts
  servers/parser-graphql-wrapper/src/marticle/utils.ts
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(lint): formatting code
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  packages/lambda-secrets/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/annotations-api/src/dataservices/parserApi.ts
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  1e3b4d090e6ff744b09119ef4306f432d9cdfdbd
Due: none

chore(pnpm9): updating to pnpm 9
  .circleci/common.yml
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(scope): updating safe scope
  .circleci/common.yml
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(build): updating build system for pnpm9
  .circleci/common.yml
  .circleci/repo-jobs.yml
  Dockerfile
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(pnpm): updating so that pnpm test doesnt run pretest which is for test integrations
  servers/shareable-lists-api/package.json
  turbo.json
Due: shareable_lists_api

fix(lambda): updating pnpm deploy
  .circleci/common.yml
  package.json
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(pnpm9): updating to pnpm 9 (#560)
  .circleci/common.yml
  .circleci/repo-jobs.yml
  Dockerfile
  package.json
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(node): upgrading to node 20.13
  .circleci/header.yml
  .github/workflows/publish.yml
  .husky/pre-commit
  package.json
  packages/tsconfig/package.json
  servers/shareable-lists-api/.nvmrc
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(search): add unleash client
  infrastructure/user-list-search/README.md
  infrastructure/user-list-search/apollo_codedeploy.tf
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/dev_backend.tfvars
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/ecs_iam.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/main.tf
  infrastructure/user-list-search/prod_backend.tfvars
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/clients/unleash.ts
  servers/user-list-search/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(build): adding corepack for the build command
  .circleci/common.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(search): add unleash client (#564)
  infrastructure/user-list-search/README.md
  infrastructure/user-list-search/apollo_codedeploy.tf
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/dev_backend.tfvars
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/ecs_iam.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/main.tf
  infrastructure/user-list-search/prod_backend.tfvars
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/clients/unleash.ts
  servers/user-list-search/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(search): fix reference to shared secret
  .husky/pre-commit
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
Due: user_list_search

fix(search): fix reference to shared secret (#565)
  .husky/pre-commit
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
Due: user_list_search

feat(search:corpus): add indices for language-specific corpora
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  .docker/aws-resources/elasticsearch/esindex_list.json
  .docker/aws-resources/user-list-search.sh
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/locals.tf
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/elasticsearch/advancedSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/elasticsearch.integration.ts
  servers/user-list-search/src/elasticsearch.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/server/routes/itemDelete.integration.ts
  servers/user-list-search/src/server/routes/itemUpdate.integration.ts
Due: user_list_search

feat(search:corpus): add indices for language-specific corpora (#567)
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  .docker/aws-resources/elasticsearch/esindex_list.json
  .docker/aws-resources/user-list-search.sh
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/locals.tf
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/elasticsearch/advancedSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/elasticsearch.integration.ts
  servers/user-list-search/src/elasticsearch.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/server/routes/itemDelete.integration.ts
  servers/user-list-search/src/server/routes/itemUpdate.integration.ts
Due: user_list_search

Notes added by 'git notes add'
  26c6893f928e0b19ac3e8099bc68c319380b68ec
Due: none

fix(annotations): catching errors on highlight notes
  servers/annotations-api/src/models/HighlightsModel.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
Due: annotations_api, v3_proxy_api

fix(annotations): catching errors on highlight notes (#568)
  servers/annotations-api/src/models/HighlightsModel.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
Due: annotations_api, v3_proxy_api

Notes added by 'git notes add'
  2f48e46a5ef1c35bc94948c0439485bab14bc7a8
Due: none

chore(costs): adding in cost center tags
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-delete-monitor/src/config/index.ts
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/braze/src/config/index.ts
  infrastructure/client-api/src/config/index.ts
  infrastructure/feature-flags/src/config/index.ts
  infrastructure/fxa-webhook-proxy/src/config/index.ts
  infrastructure/image-api/src/config/index.ts
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/pocket-event-bridge/src/config/index.ts
  infrastructure/push-server/src/config/index.ts
  infrastructure/sendgrid-data/src/config/index.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shares-api/src/config/index.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/config/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(costs): adding in cost center tags (#572)
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-delete-monitor/src/config/index.ts
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/braze/src/config/index.ts
  infrastructure/client-api/src/config/index.ts
  infrastructure/feature-flags/src/config/index.ts
  infrastructure/fxa-webhook-proxy/src/config/index.ts
  infrastructure/image-api/src/config/index.ts
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/pocket-event-bridge/src/config/index.ts
  infrastructure/push-server/src/config/index.ts
  infrastructure/sendgrid-data/src/config/index.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shares-api/src/config/index.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/config/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(pnpm): updating pnpm to use package scope
  .circleci/common.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(pnpm): updating pnpm to use package scope (#573)
  .circleci/common.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(exploreCorpus): process collection and corpus events
  .circleci/user-list-search.yml
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/corpusEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/corpus_events_consumer_codedeploy.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/sqs.tf
  infrastructure/user-list-search/sqs_sns_topic_subscription.tf
  lambdas/user-list-search-corpus-indexing/eslint.config.mjs
  lambdas/user-list-search-corpus-indexing/jest.config.js
  lambdas/user-list-search-corpus-indexing/jest.setup.js
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-indexing/src/config.ts
  lambdas/user-list-search-corpus-indexing/src/createDoc.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.spec.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
  lambdas/user-list-search-corpus-indexing/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: terraform format and fix
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/sqs_sns_topic_subscription.tf
Due: user_list_search

fix: align index field names in elasticsearch with type
  lambdas/user-list-search-corpus-indexing/src/createDoc.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
Due: user_list_search

chore: fix terraform again
  infrastructure/user-list-search/backend.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
Due: user_list_search

chore: lint
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/corpusEventRules.ts
  infrastructure/pocket-event-bridge/src/main.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
Due: parser_graphql_wrapper, shareable_lists_api, pocket_event_bridge, user_list_search
