Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(v3proxy:clearTags): adds tags_clear action to v3/send
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/mutations/clearTags.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

feat(v3proxy:replaceTags): add tags_replace action to v3/send
  servers/v3-proxy-api/src/graphql/mutations/replaceTags.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

populate timestamp with default if not provided
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

feat(v3proxy:timestamp): ensure timestamp is passed to all v3/send mutation
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/mutations/addTags.graphql
  servers/v3-proxy-api/src/graphql/mutations/archiveSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/deleteSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/favoriteSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/unfavoriteSavedItem.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
Due: v3_proxy_api

chore(upgrade): upgrading feature flag database (#358)
  infrastructure/feature-flags/src/main.ts
  scripts/convert-auroraV1-to-V2-postgres.sh
Due: feature_flags

feat(v3proxy:tagging): implement single-item tag actions (#369)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/mutations/addTags.graphql
  servers/v3-proxy-api/src/graphql/mutations/archiveSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/clearTags.graphql
  servers/v3-proxy-api/src/graphql/mutations/deleteSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/favoriteSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/removeTags.graphql
  servers/v3-proxy-api/src/graphql/mutations/replaceTags.graphql
  servers/v3-proxy-api/src/graphql/mutations/unfavoriteSavedItem.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

feat(v3proxy:renameTag): add tag_rename action to v3/send
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/mutations/renameTag.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

feat(v3proxy:deleteTag): add tag_delete action to v3/send
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/mutations/deleteTag.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

fix(types): adding in new types
  packages/apollo-utils/src/missing_apollo_types.d.ts
  packages/apollo-utils/tsconfig.json
  pnpm-lock.yaml
  servers/annotations-api/src/server/index.ts
  servers/list-api/src/server/apollo.ts
  servers/shareable-lists-api/src/admin/server.ts
  servers/shareable-lists-api/src/public/server.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(v3proxy:tag): add multi-item tag actions to v3/send (#372)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/mutations/deleteTag.graphql
  servers/v3-proxy-api/src/graphql/mutations/renameTag.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

feat(instant-sync): adding in all the necessary instant sync scaffolding
  .circleci/common.yml
  .circleci/config.yml
  .circleci/instant-sync-events.yml
  infrastructure/instant-sync-events/.eslintrc.js
  infrastructure/instant-sync-events/.terraform-version
  infrastructure/instant-sync-events/cdktf.json
  infrastructure/instant-sync-events/package.json
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  infrastructure/instant-sync-events/tsconfig.json
  lambdas/instant-sync-events/.eslintrc.js
  lambdas/instant-sync-events/jest.config.js
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/config.ts
  lambdas/instant-sync-events/src/handlerFns.ts
  lambdas/instant-sync-events/src/handlerMap.ts
  lambdas/instant-sync-events/src/index.ts
  lambdas/instant-sync-events/tsconfig.json
  pnpm-lock.yaml
  servers/account-data-deleter/src/dataService/accountDeleteDataService.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(list:reAdd): implement reAdd mutation by ID for v3 proxy
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/reAdd.integration.ts
Due: list_api

feat(instant-sync): adding in all the necessary instant sync scaffolding (#374)
  .circleci/common.yml
  .circleci/config.yml
  .circleci/instant-sync-events.yml
  infrastructure/instant-sync-events/.eslintrc.js
  infrastructure/instant-sync-events/.terraform-version
  infrastructure/instant-sync-events/cdktf.json
  infrastructure/instant-sync-events/package.json
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  infrastructure/instant-sync-events/tsconfig.json
  lambdas/instant-sync-events/.eslintrc.js
  lambdas/instant-sync-events/jest.config.js
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/config.ts
  lambdas/instant-sync-events/src/handlerFns.ts
  lambdas/instant-sync-events/src/handlerMap.ts
  lambdas/instant-sync-events/src/index.ts
  lambdas/instant-sync-events/tsconfig.json
  pnpm-lock.yaml
  servers/account-data-deleter/src/dataService/accountDeleteDataService.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(list:reAdd): implement reAdd mutation by ID for v3 proxy (#375)
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/reAdd.integration.ts
Due: list_api

feat(lambda): adding in the ability to add the lambda secret layer
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  packages/terraform-modules/src/base/ApplicationVersionedLambda.spec.ts
  packages/terraform-modules/src/base/ApplicationVersionedLambda.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationVersionedLambda.spec.ts.snap
  packages/terraform-modules/src/pocket/PocketVersionedLambda.spec.ts
  packages/terraform-modules/src/pocket/PocketVersionedLambda.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketVersionedLambda.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(instant-sync): enabling secret layer for instant sync
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: v3_proxy_api

feat(lambda): adding in a lambda secret package
  packages/lambda-secrets/.eslintrc.js
  packages/lambda-secrets/.npmignore
  packages/lambda-secrets/README.md
  packages/lambda-secrets/jest.config.js
  packages/lambda-secrets/package.json
  packages/lambda-secrets/src/index.ts
  packages/lambda-secrets/src/secrets.ts
  packages/lambda-secrets/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(cache): removing the in memory cache because lambda caches
  packages/lambda-secrets/src/secrets.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(lambda-secrets): buttoning up lambda secrets
  packages/lambda-secrets/README.md
  packages/lambda-secrets/package.json
  packages/lambda-secrets/src/secret.spec.ts
  packages/lambda-secrets/src/secrets.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(instant-sync): including lambda secrets in instant sync
  lambdas/instant-sync-events/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(secrets): adding in parameter store support
  packages/lambda-secrets/README.md
  packages/lambda-secrets/src/secret.spec.ts
  packages/lambda-secrets/src/secrets.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(lambda): giving instant sync lambda secrets access
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
Due: none

feat(v3proxy:readd): implement readd by id
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/mutations/reAdd.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
Due: v3_proxy_api

feat(v3proxy:readd): implement readd by id (#378)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/mutations/reAdd.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
Due: v3_proxy_api

feat(parser:performance): batch short url resolver to improve performance
  servers/parser-graphql-wrapper/src/context.ts
  servers/parser-graphql-wrapper/src/dataLoaders/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/shortUrlLoader.spec.ts
  servers/parser-graphql-wrapper/src/dataLoaders/shortUrlLoader.ts
  servers/parser-graphql-wrapper/src/database/mysql.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.ts
Due: parser_graphql_wrapper

small cleanup
  servers/parser-graphql-wrapper/src/dataLoaders/shortUrlLoader.spec.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.ts
Due: parser_graphql_wrapper

fix(db): upgrade shareablelists db
  infrastructure/shareable-lists-api/src/main.ts
Due: shareable_lists_api

build context per-request
  servers/parser-graphql-wrapper/src/context.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/shortUrlLoader.ts
  servers/parser-graphql-wrapper/src/entities/shareUrls.integration.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/server.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.ts
Due: parser_graphql_wrapper

fix typing
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
Due: parser_graphql_wrapper

feat(parser:performance): batch short url resolver to improve performance (#379)
  servers/parser-graphql-wrapper/src/context.ts
  servers/parser-graphql-wrapper/src/dataLoaders/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/shortUrlLoader.ts
  servers/parser-graphql-wrapper/src/database/mysql.ts
  servers/parser-graphql-wrapper/src/entities/shareUrls.integration.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/server.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.ts
Due: parser_graphql_wrapper

feat(lambda): adding in the ability to add the lambda secret layer (#376)
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  lambdas/instant-sync-events/package.json
  packages/lambda-secrets/.eslintrc.js
  packages/lambda-secrets/.npmignore
  packages/lambda-secrets/README.md
  packages/lambda-secrets/jest.config.js
  packages/lambda-secrets/package.json
  packages/lambda-secrets/src/index.ts
  packages/lambda-secrets/src/secret.spec.ts
  packages/lambda-secrets/src/secrets.ts
  packages/lambda-secrets/tsconfig.json
  packages/terraform-modules/src/base/ApplicationVersionedLambda.spec.ts
  packages/terraform-modules/src/base/ApplicationVersionedLambda.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationVersionedLambda.spec.ts.snap
  packages/terraform-modules/src/pocket/PocketVersionedLambda.spec.ts
  packages/terraform-modules/src/pocket/PocketVersionedLambda.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketVersionedLambda.spec.ts.snap
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  6791016a7511b7f8ea55eada2b12fe8d248076f6
Due: none

fix(version): adding in an ignore version to rds
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(rdsversion): updating rds version tests
  packages/terraform-modules/src/base/__snapshots__/ApplicationRDSCluster.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(v3proxy:id): media response for /get and /fetch uses resolvedId
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/test/fixtures/add.ts
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: v3_proxy_api

fix(v3proxy:id): media response for /get and /fetch uses resolvedId (#381)
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/test/fixtures/add.ts
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: v3_proxy_api

feat(v3proxy:annotations): add annotations fragment
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graphql/fragments/HighlightFields.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: v3_proxy_api

fix(db): upgrade shareablelists db (#380)
  infrastructure/shareable-lists-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationRDSCluster.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  772f51d3add35a35f9d1e8e7898cb95b2f4e9e92
Due: none

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
