Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(events): making event infra easy to configure
  infrastructure/pocket-event-bridge/package.json
  infrastructure/pocket-event-bridge/src/eventBridge.ts
  infrastructure/pocket-event-bridge/src/events-schema/ForgotPasswordRequestEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/premiumPurchaseEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/queueCheckDelete.ts
  infrastructure/pocket-event-bridge/src/events-schema/types.ts
  infrastructure/pocket-event-bridge/src/events-schema/userEvents.ts
  infrastructure/pocket-event-bridge/src/events-schema/userMergeEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/userRegistrationEventSchema.ts
  infrastructure/pocket-event-bridge/src/main.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(events): catch any json parsing error
  packages/event-bridge/src/utils.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  59ca8152e7a5be71e3ab47cd6f84530aa21a0289
Due: none

feat(eventBridge): simplifying event bridge infra
  infrastructure/pocket-event-bridge/src/eventBridge.ts
  infrastructure/pocket-event-bridge/src/main.ts
Due: pocket_event_bridge

fix(sharedSnowplow): updating max recieve count
  infrastructure/shared-snowplow-consumer/src/main.ts
Due: shared_snowplow_consumer

fix(sharedSnowplow): updating max recieve count (#947)
  infrastructure/shared-snowplow-consumer/src/main.ts
Due: shared_snowplow_consumer

fix(sharedSnowplow): fixing dlq max receive count
  infrastructure/shared-snowplow-consumer/src/main.ts
Due: shared_snowplow_consumer

fix(sharedSnowplow): fixing dlq max receive count (#948)
  infrastructure/shared-snowplow-consumer/src/main.ts
Due: shared_snowplow_consumer

fix(eventBridge): updating infra to make 2 topics
  infrastructure/pocket-event-bridge/src/main.ts
Due: pocket_event_bridge

fix(eventBridge): add premium purchase
  infrastructure/pocket-event-bridge/src/eventBridge.ts
  infrastructure/pocket-event-bridge/src/main.ts
Due: pocket_event_bridge

fix(snowplow): move snowplow init
  servers/shared-snowplow-consumer/src/main.ts
Due: shared_snowplow_consumer

fix(snowplow): move snowplow init (#949)
  servers/shared-snowplow-consumer/src/main.ts
Due: shared_snowplow_consumer

feat(eventbridge): adding in all new event topics
  infrastructure/pocket-event-bridge/src/main.ts
  pnpm-lock.yaml
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(infra): getting pocket-event-bridge to build with the package
  infrastructure/account-data-deleter/package.json
  infrastructure/account-delete-monitor/package.json
  infrastructure/annotations-api/package.json
  infrastructure/braze-content-proxy/package.json
  infrastructure/braze/package.json
  infrastructure/client-api/package.json
  infrastructure/feature-flags/package.json
  infrastructure/fxa-webhook-proxy/package.json
  infrastructure/image-api/package.json
  infrastructure/instant-sync-events/package.json
  infrastructure/list-api/package.json
  infrastructure/otel-collector/package.json
  infrastructure/parser-graphql-wrapper/package.json
  infrastructure/pocket-event-bridge/package.json
  infrastructure/pocket-event-bridge/src/eventBridge.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/push-server/package.json
  infrastructure/sendgrid-data/package.json
  infrastructure/shareable-lists-api/package.json
  infrastructure/shared-snowplow-consumer/package.json
  infrastructure/shares-api/package.json
  infrastructure/transactional-emails/package.json
  infrastructure/user-api/package.json
  infrastructure/v3-proxy-api/package.json
  packages/terraform-modules/package.json
  pnpm-lock.yaml
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(topics): adjusting all event topics
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-delete-monitor/src/config/index.ts
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/user-list-search/locals.tf
Due: annotations_api, shared_snowplow_consumer, transactional_emails, account_data_deleter, account_delete_monitor, shareable_lists_api, user_list_search

fix(events): updating event lambdas to parse events once
  lambdas/transactional-emails/src/handlers/accountDelete.spec.ts
  lambdas/transactional-emails/src/handlers/accountDelete.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/listExportReady.spec.ts
  lambdas/transactional-emails/src/handlers/listExportReady.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  lambdas/transactional-emails/src/index.spec.ts
  lambdas/transactional-emails/src/index.ts
Due: transactional_emails

feat(eventBridge): ensuring events use event bridge types
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/user-list-search-events/handlerFns.spec.ts
  lambdas/user-list-search-events/handlerFns.ts
  lambdas/user-list-search-events/handlerMap.ts
  lambdas/user-list-search-events/index.ts
  lambdas/user-list-search-events/package.json
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/types/account.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(packages): updating package build bug
  packages/apollo-utils/.npmignore
  packages/backend-benchmarking/.npmignore
  packages/event-bridge/.npmignore
  packages/event-bridge/package.json
  packages/feature-flags-client/.npmignore
  packages/image-utils/.npmignore
  packages/int-mask/.npmignore
  packages/jwt-utils/.npmignore
  packages/lambda-secrets/.npmignore
  packages/sentry/.npmignore
  packages/terraform-modules/.npmignore
  packages/tracing/.npmignore
  packages/ts-logger/.npmignore
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(packages): updating package build bug (#952)
  packages/apollo-utils/.npmignore
  packages/backend-benchmarking/.npmignore
  packages/event-bridge/.npmignore
  packages/event-bridge/package.json
  packages/feature-flags-client/.npmignore
  packages/image-utils/.npmignore
  packages/int-mask/.npmignore
  packages/jwt-utils/.npmignore
  packages/lambda-secrets/.npmignore
  packages/sentry/.npmignore
  packages/terraform-modules/.npmignore
  packages/tracing/.npmignore
  packages/ts-logger/.npmignore
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  63c7a3be427a584006fec904e48008e9a0c552ff
Due: none

fix(packages): package deployment concurrency to 1
  package.json
Due: none

fix(packages): package deployment concurrency to 1 (#953)
  package.json
Due: none

Notes added by 'git notes add'
  609afe40a157549275f52c510dcac780c776777f
Due: none

feat(eventBridge): create commonly named event bridge topics (#946)
  infrastructure/account-data-deleter/package.json
  infrastructure/account-delete-monitor/package.json
  infrastructure/annotations-api/package.json
  infrastructure/braze-content-proxy/package.json
  infrastructure/braze/package.json
  infrastructure/client-api/package.json
  infrastructure/feature-flags/package.json
  infrastructure/fxa-webhook-proxy/package.json
  infrastructure/image-api/package.json
  infrastructure/instant-sync-events/package.json
  infrastructure/list-api/package.json
  infrastructure/otel-collector/package.json
  infrastructure/parser-graphql-wrapper/package.json
  infrastructure/pocket-event-bridge/package.json
  infrastructure/pocket-event-bridge/src/eventBridge.ts
  infrastructure/pocket-event-bridge/src/events-schema/ForgotPasswordRequestEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/premiumPurchaseEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/queueCheckDelete.ts
  infrastructure/pocket-event-bridge/src/events-schema/types.ts
  infrastructure/pocket-event-bridge/src/events-schema/userEvents.ts
  infrastructure/pocket-event-bridge/src/events-schema/userMergeEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/userRegistrationEventSchema.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/push-server/package.json
  infrastructure/sendgrid-data/package.json
  infrastructure/shareable-lists-api/package.json
  infrastructure/shared-snowplow-consumer/package.json
  infrastructure/shares-api/package.json
  infrastructure/transactional-emails/package.json
  infrastructure/user-api/package.json
  infrastructure/v3-proxy-api/package.json
  packages/terraform-modules/package.json
  pnpm-lock.yaml
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  5e71a370ed4776975cad87c1e0fa20c74eb8c416
Due: none

fix(tests): adding a few more test cases
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
Due: parser_graphql_wrapper

feat(topics): adjusting all event topics (#950)
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-delete-monitor/src/config/index.ts
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/user-list-search/locals.tf
Due: annotations_api, shared_snowplow_consumer, transactional_emails, account_data_deleter, account_delete_monitor, shareable_lists_api, user_list_search

fix(eventBridge): remove all event bridge topics
  infrastructure/pocket-event-bridge/src/event-rules/collection-events/collectionApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/collection-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/corpusEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password-request/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password-request/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/listApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/premium-purchase/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/premium-purchase/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/search-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/search-api-events/pocketSearchEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListItemEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shares-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/shares-api-events/pocketShareEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-api-events/userApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-registration/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-registration/userRegistrationEventRule.ts
  infrastructure/pocket-event-bridge/src/main.ts
Due: pocket_event_bridge

fix(events): adding in event error logging (#919)
  packages/event-bridge/src/client.ts
  packages/event-bridge/src/errors.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
