Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

feat(HNT-1344): remove corpus embeddings module
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/corpus-embeddings/.gitignore
  infrastructure/user-list-search/corpus-embeddings/.terraform-version
  infrastructure/user-list-search/corpus-embeddings/README.md
  infrastructure/user-list-search/corpus-embeddings/locals.tf
  infrastructure/user-list-search/corpus-embeddings/main.tf
  infrastructure/user-list-search/corpus-embeddings/opensearch.tf
  infrastructure/user-list-search/corpus-embeddings/outputs.tf
  infrastructure/user-list-search/corpus-embeddings/sagemaker.tf
  infrastructure/user-list-search/corpus-embeddings/variables.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/corpus_events_hydration_consumer.tf
  infrastructure/user-list-search/ecs_iam.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/main.tf
Due: user_list_search

feat(HNT-1344): tear down user list search opensearch cluster (#1063)
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/corpus-embeddings/.gitignore
  infrastructure/user-list-search/corpus-embeddings/.terraform-version
  infrastructure/user-list-search/corpus-embeddings/README.md
  infrastructure/user-list-search/corpus-embeddings/locals.tf
  infrastructure/user-list-search/corpus-embeddings/main.tf
  infrastructure/user-list-search/corpus-embeddings/opensearch.tf
  infrastructure/user-list-search/corpus-embeddings/outputs.tf
  infrastructure/user-list-search/corpus-embeddings/sagemaker.tf
  infrastructure/user-list-search/corpus-embeddings/variables.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/corpus_events_hydration_consumer.tf
  infrastructure/user-list-search/ecs_iam.tf
  infrastructure/user-list-search/elasticsearch.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/main.tf
  infrastructure/user-list-search/metrics.tf
  infrastructure/user-list-search/metrics_alarm_definitions.tf
  infrastructure/user-list-search/metrics_metric_definitions.tf
  infrastructure/user-list-search/queue_users_ecs.tf
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: user_list_search, v3_proxy_api

fix(otel-collector): replace googlecloud metrics exporter (#1062)
  servers/otel-collector/otel-collector-config.yaml
Due: none

fix(braze-content-proxy): replace shortUrl with regular URL
  servers/braze-content-proxy/src/graphql/queries/scheduledSurface.graphql
  servers/braze-content-proxy/src/routes/scheduledItems.integration.ts
  servers/braze-content-proxy/src/routes/scheduledItems.ts
Due: none

fix(braze-content-proxy): generate generated/graphql/types.ts
  servers/braze-content-proxy/src/generated/graphql/types.ts
Due: none

fix(HNT-1381): remove shortUrl from braze content proxy scheduledItems query
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/braze-content-proxy/src/graphql/queries/collections.graphql
  servers/braze-content-proxy/src/graphql/queries/scheduledSurface.graphql
  servers/braze-content-proxy/src/routes/collection.ts
  servers/braze-content-proxy/src/routes/fixture.ts
  servers/braze-content-proxy/src/routes/scheduledItems.integration.ts
  servers/braze-content-proxy/src/routes/scheduledItems.ts
Due: none

fix(HNT-1381): remove shortUrl from braze content proxy scheduledItems query (#1065)
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/braze-content-proxy/src/graphql/queries/collections.graphql
  servers/braze-content-proxy/src/graphql/queries/scheduledSurface.graphql
  servers/braze-content-proxy/src/routes/collection.ts
  servers/braze-content-proxy/src/routes/fixture.ts
  servers/braze-content-proxy/src/routes/scheduledItems.integration.ts
  servers/braze-content-proxy/src/routes/scheduledItems.ts
Due: none

chore(HNT-1388): tear down shareable lists API db - step 1
  infrastructure/shareable-lists-api/src/main.ts
Due: shareable_lists_api

chore(HNT-1388): tear down shareable lists API db - step 1 (#1066)
  infrastructure/shareable-lists-api/src/main.ts
Due: shareable_lists_api

chore(HNT-1389): tear down shareable lists api db
  infrastructure/notes-api/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
Due: shareable_lists_api

chore(HNT-1389): tear down shareable lists api db (#1067)
  infrastructure/notes-api/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
Due: shareable_lists_api

chore(HNT-1391): tear down notes api db
  infrastructure/notes-api/src/main.ts
Due: none

chore(HNT-1391): tear down notes api db (#1068)
  infrastructure/notes-api/src/main.ts
Due: none

fix(ci): Use read-only role for pull requests
  .github/workflows/reuse-infrastructure.yml
Due: none

chore: Scale aws_appautoscaling_target to 0 to match current state
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/braze-content-proxy/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/notes-api/src/main.ts
  infrastructure/otel-collector/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/push-server/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/shares-api/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api, client_api, feature_flags, account_data_deleter, shareable_lists_api, v3_proxy_api, push_server

chore: Scale aws_appautoscaling_target to 0 to match current state
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/push-server/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/shares-api/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/v3-proxy-api/src/main.ts
Due: annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api, account_data_deleter, shareable_lists_api, v3_proxy_api, push_server

chore(account-delete-monitor): Remove DynamoDB table from IaC
  infrastructure/account-delete-monitor/src/dynamodb.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
Due: account_delete_monitor

chore(shares-api): Remove DynamoDB table from IaC
  infrastructure/shares-api/src/dynamodb.ts
  infrastructure/shares-api/src/main.ts
Due: none

chore(annotations-api): Remove DynamoDB table from IaC
  infrastructure/annotations-api/src/dynamodb.ts
  infrastructure/annotations-api/src/main.ts
Due: annotations_api

chore(account-data-deleter): Remove DynamoDB table from IaC
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-data-deleter/src/main.ts
Due: account_data_deleter

fix(ci): Use read-only role for pull requests (#1071)
  .github/workflows/reuse-infrastructure.yml
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/dynamodb.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
  infrastructure/annotations-api/src/dynamodb.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/push-server/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/shares-api/src/dynamodb.ts
  infrastructure/shares-api/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/v3-proxy-api/src/main.ts
Due: annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api, account_data_deleter, account_delete_monitor, shareable_lists_api, v3_proxy_api, push_server

Dummy PR to check tests pass on main branch
  README.md
Due: none

chore(infra): tear down account data deleter
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-data-deleter/src/lambda/eventLambda.ts
  infrastructure/account-data-deleter/src/main.ts
Due: account_data_deleter

chore(infra): tear down annotations API
  infrastructure/annotations-api/src/main.ts
Due: annotations_api

chore(otlp): disable otlp from client-api/apollo router
  servers/client-api/config/router.yaml
Due: client_api

chore(otlp): disable otlp from client-api/apollo router (#1075)
  servers/client-api/config/router.yaml
Due: client_api

chore(infra): tear down account data deleter (#1073)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-data-deleter/src/lambda/eventLambda.ts
  infrastructure/account-data-deleter/src/main.ts
Due: account_data_deleter

chore(infra): tear down annotations API
  .github/workflows/account-data-deleter.yml.bak
  infrastructure/annotations-api/src/main.ts
Due: annotations_api

chore(infra): tear down annotations API (#1074)
  .github/workflows/account-data-deleter.yml.bak
  infrastructure/annotations-api/src/main.ts
Due: annotations_api

chore(infra): tear down list api
  .github/workflows/annotations-api.yml.bak
  infrastructure/list-api/src/main.ts
Due: list_api

chore(infra): tear down list api (#1076)
  .github/workflows/annotations-api.yml.bak
  infrastructure/list-api/src/main.ts
Due: list_api

chore(otlp): reduce client-api router instrumentation metrics
  servers/client-api/config/router.yaml
Due: client_api

chore(otlp): reduce client-api router instrumentation metrics (#1077)
  servers/client-api/config/router.yaml
Due: client_api

chore(infra): tear down notes API service
  .github/workflows/list-api.yml.bak
  infrastructure/notes-api/src/main.ts
Due: none

chore(infra): tear down notes API service (#1078)
  .github/workflows/list-api.yml.bak
  infrastructure/notes-api/src/main.ts
Due: none

chore(infra): tear down push server
  .github/workflows/notes-api.yml.bak
  infrastructure/push-server/src/main.ts
Due: push_server

chore(infra): tear down push server (#1079)
  .github/workflows/notes-api.yml.bak
  infrastructure/push-server/src/main.ts
Due: push_server

chore(infra): tear down shareable lists api
  .github/workflows/push-server.yml.bak
  infrastructure/shareable-lists-api/src/main.ts
Due: shareable_lists_api

chore(infra): tear down shareable lists api (#1082)
  .github/workflows/push-server.yml.bak
  infrastructure/shareable-lists-api/src/main.ts
Due: shareable_lists_api
