Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(search:events): fix detail-type in rule (#745)
  infrastructure/pocket-event-bridge/src/event-rules/search-api-events/eventConfig.ts
Due: pocket_event_bridge

feat(variants): support the new variants in unleash
  servers/feature-flags/src/graphql/resolvers.ts
Due: feature_flags

fix(snowplow): fix types for snowplow consumer
  servers/shared-snowplow-consumer/src/eventConsumer/searchEvents/searchEventconsumer.ts
  servers/shared-snowplow-consumer/src/snowplow/search/searchHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/search/searchHandler.ts
Due: shared_snowplow_consumer

fix(snowplow): search response rule detail type (#746)
  servers/shared-snowplow-consumer/src/eventConsumer/searchEvents/searchEventconsumer.ts
  servers/shared-snowplow-consumer/src/snowplow/search/searchHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/search/searchHandler.ts
Due: shared_snowplow_consumer

fix: remove preview from CorpusSearchNode (#742)
  servers/parser-graphql-wrapper/schema-admin.graphql
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

chore(docs): update docs with error callout for local client-api (#744)
  servers/client-api/README.md
Due: client_api

feat(variants): support the new variants in unleash (#743)
  servers/feature-flags/src/graphql/resolvers.ts
Due: feature_flags

Revert "feat(variants): support the new variants in unleash (#743)"
  servers/feature-flags/src/graphql/resolvers.ts
Due: feature_flags

Revert "feat(variants): support the new variants in unleash (#743)" (#747)
  servers/feature-flags/src/graphql/resolvers.ts
Due: feature_flags

Revert "Revert "feat(variants): support the new variants in unleash (#743)" (…"
  servers/feature-flags/src/graphql/resolvers.ts
Due: feature_flags

fix(feature-flags): ensure payload is optional
  servers/feature-flags/src/graphql/resolvers.ts
Due: feature_flags

fix(strictNull): adding strict null checks for packages
  packages/apollo-utils/src/dataloader.ts
  packages/apollo-utils/src/errorHandler/errorHandler.spec.ts
  packages/apollo-utils/src/pagination/validatePagination.ts
  packages/apollo-utils/src/scalars/ValidUrlScalar.ts
  packages/apollo-utils/src/sentry/apolloSentryPlugin.ts
  packages/backend-benchmarking/src/seeds/list.spec.ts
  packages/int-mask/src/intMask.ts
  packages/jwt-utils/src/jwt.ts
  packages/tracing/src/tracing.ts
  packages/ts-logger/src/morgan.ts
  packages/tsconfig/library.json
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Revert "Revert "feat(variants): support the new variants in unleash"" (#748)
  servers/feature-flags/src/graphql/resolvers.ts
Due: feature_flags

fix(null): updating remaining null equators
  packages/apollo-utils/src/scalars/ValidUrlScalar.ts
  packages/apollo-utils/src/sentry/apolloSentryPlugin.ts
  packages/ts-logger/src/morgan.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  866781b6ecd69be639f4349adf1d1696f3cf7721
Due: none

chore(strictNull): adding strict null check to all infra
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/braze-content-proxy/src/main.ts
  infrastructure/braze/src/emailSendDomain.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/push-server/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/shares-api/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/v3-proxy-api/src/main.ts
  packages/tsconfig/cdktf.json
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(packages): updating publish scope for npm
  packages/jwt-utils/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(packages): updating publish scope for npm
  packages/apollo-utils/package.json
  packages/image-utils/package.json
  packages/lambda-secrets/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(strictNull): adding strict null check to all infra (#750)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/braze-content-proxy/src/main.ts
  infrastructure/braze/src/emailSendDomain.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/push-server/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/shares-api/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/v3-proxy-api/src/main.ts
  packages/apollo-utils/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  packages/tsconfig/cdktf.json
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  40844d5fe08d789d0d06c0fa9e898d41407cb200
Due: none

feat(corpus search): deduplicate syndicated articles
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/main.tf
  lambdas/user-list-search-corpus-indexing/src/config.ts
  lambdas/user-list-search-corpus-indexing/src/docCommands.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-indexing/src/postRetry.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/index.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/originalCorpusId.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/syndication.spec.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/syndicationDupes.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
  lambdas/user-list-search-corpus-indexing/tsconfig.json
Due: user_list_search

fix: terraform value
  infrastructure/user-list-search/locals.tf
Due: user_list_search

fix(strictNull): adding strict null check to lambdas
  lambdas/account-data-deleter-batch-delete/src/config.ts
  lambdas/account-data-deleter-batch-delete/src/dynamoUtils.ts
  lambdas/account-data-deleter-batch-delete/src/test/utils.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  lambdas/account-delete-monitor/src/test/utils.ts
  lambdas/annotations-api-events/src/index.spec.ts
  lambdas/annotations-api-events/src/index.ts
  lambdas/instant-sync-events/src/config.ts
  lambdas/sendgrid-data/src/index.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.ts
  lambdas/sendgrid-data/src/sendgrid/util.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  lambdas/transactional-emails/src/schemas/premiumPurchaseSchema/premiumPurchaseEvent.ts
  lambdas/transactional-emails/src/schemas/premiumPurchaseSchema/purchase.ts
  lambdas/transactional-emails/src/schemas/premiumPurchaseSchema/user.ts
  lambdas/transactional-emails/src/schemas/userRegistrationEvent/index.ts
  lambdas/transactional-emails/src/ssm.ts
  lambdas/user-list-search-corpus-indexing/tsconfig.json
  lambdas/user-list-search-corpus-parser-hydration/src/embeddingsRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
  lambdas/user-list-search-kinesis-to-sqs/src/config/index.ts
  lambdas/user-list-search-kinesis-to-sqs/src/handler.spec.ts
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/writeable.ts
  packages/tsconfig/lambda.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: lint
  lambdas/user-list-search-corpus-indexing/src/postRetry.ts
Due: user_list_search

feat(corpus search): deduplicate syndicated articles (#751)
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/main.tf
  lambdas/user-list-search-corpus-indexing/src/config.ts
  lambdas/user-list-search-corpus-indexing/src/docCommands.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-indexing/src/postRetry.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/index.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/originalCorpusId.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/syndication.spec.ts
  lambdas/user-list-search-corpus-indexing/src/syndication/syndicationDupes.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
  lambdas/user-list-search-corpus-indexing/tsconfig.json
Due: user_list_search

fix(let): ensure we dont conditonal reassign
  lambdas/account-data-deleter-batch-delete/src/config.ts
  lambdas/instant-sync-events/src/config.ts
  lambdas/user-list-search-kinesis-to-sqs/src/config/index.ts
  servers/account-data-deleter/src/config/index.ts
  servers/annotations-api/src/config/index.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/push-server/src/sqs.ts
  servers/shared-snowplow-consumer/src/config/index.ts
  servers/shares-api/src/config/index.ts
  servers/user-api/src/config/index.ts
  servers/user-list-search/src/config/index.ts
Due: annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, account_data_deleter, user_list_search, push_server

fix(strictNull): adding strict null check to lambdas (#752)
  lambdas/account-data-deleter-batch-delete/src/config.ts
  lambdas/account-data-deleter-batch-delete/src/dynamoUtils.ts
  lambdas/account-data-deleter-batch-delete/src/test/utils.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  lambdas/account-delete-monitor/src/test/utils.ts
  lambdas/annotations-api-events/src/index.spec.ts
  lambdas/annotations-api-events/src/index.ts
  lambdas/instant-sync-events/src/config.ts
  lambdas/sendgrid-data/src/index.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.ts
  lambdas/sendgrid-data/src/sendgrid/util.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  lambdas/transactional-emails/src/schemas/premiumPurchaseSchema/premiumPurchaseEvent.ts
  lambdas/transactional-emails/src/schemas/premiumPurchaseSchema/purchase.ts
  lambdas/transactional-emails/src/schemas/premiumPurchaseSchema/user.ts
  lambdas/transactional-emails/src/schemas/userRegistrationEvent/index.ts
  lambdas/transactional-emails/src/ssm.ts
  lambdas/user-list-search-corpus-indexing/tsconfig.json
  lambdas/user-list-search-corpus-parser-hydration/src/embeddingsRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
  lambdas/user-list-search-kinesis-to-sqs/src/config/index.ts
  lambdas/user-list-search-kinesis-to-sqs/src/handler.spec.ts
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/writeable.ts
  packages/tsconfig/lambda.json
  servers/account-data-deleter/src/config/index.ts
  servers/annotations-api/src/config/index.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/push-server/src/sqs.ts
  servers/shared-snowplow-consumer/src/config/index.ts
  servers/shares-api/src/config/index.ts
  servers/user-api/src/config/index.ts
  servers/user-list-search/src/config/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(corpus search): do not index embeddings for articles without excerpts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
Due: user_list_search

fix(corpus search): do not index embeddings for articles without excerpts (#753)
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
Due: user_list_search

fix: boolean logic bugfix for embeddings logic
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/utils.spec.ts
  lambdas/user-list-search-corpus-parser-hydration/src/utils.ts
Due: user_list_search

fix: boolean logic bugfix for embeddings logic (#754)
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/utils.spec.ts
  lambdas/user-list-search-corpus-parser-hydration/src/utils.ts
Due: user_list_search

fix(strictNull): adding in strict null checks for Braze Content Proxy
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/braze-content-proxy/src/routes/collection.ts
  servers/braze-content-proxy/src/routes/digest.integration.ts
  servers/braze-content-proxy/src/routes/digest.ts
  servers/braze-content-proxy/src/routes/scheduledItems.ts
  servers/braze-content-proxy/src/routes/types.ts
  servers/braze-content-proxy/tsconfig.json
Due: none

fix(strictNull): adding in strict null checks for Braze Content Proxy (#755)
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/braze-content-proxy/src/routes/collection.ts
  servers/braze-content-proxy/src/routes/digest.integration.ts
  servers/braze-content-proxy/src/routes/digest.ts
  servers/braze-content-proxy/src/routes/scheduledItems.ts
  servers/braze-content-proxy/src/routes/types.ts
  servers/braze-content-proxy/tsconfig.json
Due: none

fix(strictNull): adding strict null for account data deleter
  servers/account-data-deleter/src/batchDeleteHandler.ts
  servers/account-data-deleter/src/config/tables.ts
  servers/account-data-deleter/src/dataService/stripeDataDeleter.ts
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/tsconfig.json
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: account_data_deleter, v3_proxy_api

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
