Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

fix(parser): bump request size limit
  servers/parser-graphql-wrapper/src/apollo/server.ts
  servers/parser-graphql-wrapper/src/config/index.ts
Due: parser_graphql_wrapper

fix(send): ensuring a send add resposne returns items not nested (#663)
  servers/v3-proxy-api/src/graph/add/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
  servers/v3-proxy-api/src/test/fixtures/add.ts
Due: v3_proxy_api

fix(parser): bump request size limit (#664)
  servers/parser-graphql-wrapper/src/apollo/server.ts
  servers/parser-graphql-wrapper/src/config/index.ts
Due: parser_graphql_wrapper

fix(v3proxy:error): updates to error handling
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/middleware/asyncHandler.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
Due: v3_proxy_api

fix(v3proxy:error): updates to error handling (#665)
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/middleware/asyncHandler.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
Due: v3_proxy_api

feat(search/snowplow): search event emitter and consumer
  pnpm-lock.yaml
  servers/shared-snowplow-consumer/README.md
  servers/shared-snowplow-consumer/snowtype.config.json
  servers/shared-snowplow-consumer/src/eventConsumer/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/searchEvents/searchEventconsumer.ts
  servers/shared-snowplow-consumer/src/snowplow/search/searchHandler.ts
  servers/shared-snowplow-consumer/src/snowtype/snowplow.ts
  servers/user-list-search/README.md
  servers/user-list-search/package.json
  servers/user-list-search/snowtype.config.json
  servers/user-list-search/src/corpus/CorpusSearchEvent.ts
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/events/EventBus.spec.ts
  servers/user-list-search/src/events/EventBus.ts
  servers/user-list-search/src/events/client.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/context.ts
  servers/user-list-search/src/snowtype/.snowtype-lock.json
  servers/user-list-search/src/snowtype/snowplow.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: fix snowplow tests and update snowtype
  servers/shared-snowplow-consumer/snowtype.config.json
  servers/shared-snowplow-consumer/src/eventConsumer/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/searchEvents/searchEventconsumer.ts
  servers/shared-snowplow-consumer/src/snowplow/search/searchHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowtype/.snowtype-lock.json
  servers/shared-snowplow-consumer/src/snowtype/snowplow.ts
  servers/user-list-search/snowtype.config.json
  servers/user-list-search/src/events/EventBus.spec.ts
  servers/user-list-search/src/events/EventBus.ts
  servers/user-list-search/src/snowtype/.snowtype-lock.json
  servers/user-list-search/src/snowtype/snowplow.ts
Due: shared_snowplow_consumer, user_list_search

chore: fixes for lint and typescript
  pnpm-lock.yaml
  servers/user-list-search/eslint.config.mjs
  servers/user-list-search/package.json
  servers/user-list-search/src/server/routes/batchDelete.ts
  servers/user-list-search/src/server/routes/itemDelete.ts
  servers/user-list-search/src/server/routes/itemUpdate.ts
  servers/user-list-search/src/server/routes/userListImport.ts
  servers/user-list-search/src/snowtype/snowplow.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(search events): implement search event emitter and consumer (#666)
  infrastructure/pocket-event-bridge/src/event-rules/search-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/search-api-events/pocketSearchEventRules.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/locals.tf
  pnpm-lock.yaml
  servers/shared-snowplow-consumer/README.md
  servers/shared-snowplow-consumer/snowtype.config.json
  servers/shared-snowplow-consumer/src/config/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/searchEvents/searchEventconsumer.ts
  servers/shared-snowplow-consumer/src/snowplow/search/searchHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/search/searchHandler.ts
  servers/shared-snowplow-consumer/src/snowtype/snowplow.ts
  servers/user-list-search/README.md
  servers/user-list-search/eslint.config.mjs
  servers/user-list-search/package.json
  servers/user-list-search/snowtype.config.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/corpus/CorpusSearchEvent.ts
  servers/user-list-search/src/corpus/CorpusSearchModel.ts
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/corpus/types.ts
  servers/user-list-search/src/events/EventBus.spec.ts
  servers/user-list-search/src/events/EventBus.ts
  servers/user-list-search/src/events/client.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/context.ts
  servers/user-list-search/src/server/routes/batchDelete.ts
  servers/user-list-search/src/server/routes/itemDelete.ts
  servers/user-list-search/src/server/routes/itemUpdate.ts
  servers/user-list-search/src/server/routes/userListImport.ts
  servers/user-list-search/src/snowtype/.snowtype-lock.json
  servers/user-list-search/src/snowtype/snowplow.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(otel): fix async resource attribute access issue
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(otel): fix async resource attribute access issue (#667)
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  820a2a9eeed2653d119ceb09647be433d0504036
Due: none

Revert "fix(send): ensuring a send add resposne returns items not nested (#663)"
  servers/v3-proxy-api/src/graph/add/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
  servers/v3-proxy-api/src/test/fixtures/add.ts
Due: v3_proxy_api

Revert "fix(send): ensuring a send add resposne returns items not nested (#663)" (#668)
  servers/v3-proxy-api/src/graph/add/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
  servers/v3-proxy-api/src/test/fixtures/add.ts
Due: v3_proxy_api

fix(shareable lists): [MC-1162] Fix Admin subgraph errors for shareable lists
  .circleci/shareable-lists-api.yml
Due: none

fix(shareable lists): [MC-1162] Fix Admin subgraph errors for shareable lists (#669)
  .circleci/shareable-lists-api.yml
Due: none

Update setup instructions
  README.md
Due: none

Add command to install dependencies
  README.md
Due: none

feat(corpus-search): sagemaker + os deployment infra
  .circleci/common.yml
  .circleci/config.yml
  .circleci/corpus-search.yml
  infrastructure/corpus-search/.gitignore
  infrastructure/corpus-search/.terraform-version
  infrastructure/corpus-search/README.md
  infrastructure/corpus-search/backend.tf
  infrastructure/corpus-search/dev_backend.tfvars
  infrastructure/corpus-search/index.js
  infrastructure/corpus-search/locals.tf
  infrastructure/corpus-search/main.tf
  infrastructure/corpus-search/modules/sagemaker/BUILD.md
  infrastructure/corpus-search/modules/sagemaker/LICENSE
  infrastructure/corpus-search/modules/sagemaker/README.md
  infrastructure/corpus-search/modules/sagemaker/examples/async_inference/README.md
  infrastructure/corpus-search/modules/sagemaker/examples/async_inference/main.tf
  infrastructure/corpus-search/modules/sagemaker/examples/autoscaling_example/README.md
  infrastructure/corpus-search/modules/sagemaker/examples/autoscaling_example/main.tf
  infrastructure/corpus-search/modules/sagemaker/examples/deploy_from_hub/README.md
  infrastructure/corpus-search/modules/sagemaker/examples/deploy_from_hub/main.tf
  infrastructure/corpus-search/modules/sagemaker/examples/deploy_from_s3/README.md
  infrastructure/corpus-search/modules/sagemaker/examples/deploy_from_s3/main.tf
  infrastructure/corpus-search/modules/sagemaker/examples/deploy_private_model/README.md
  infrastructure/corpus-search/modules/sagemaker/examples/deploy_private_model/main.tf
  infrastructure/corpus-search/modules/sagemaker/examples/serverless_inference/README.md
  infrastructure/corpus-search/modules/sagemaker/examples/serverless_inference/main.tf
  infrastructure/corpus-search/modules/sagemaker/examples/tensorflow_example/README.md
  infrastructure/corpus-search/modules/sagemaker/examples/tensorflow_example/main.tf
  infrastructure/corpus-search/modules/sagemaker/examples/use_existing_iam_role/README.md
  infrastructure/corpus-search/modules/sagemaker/examples/use_existing_iam_role/main.tf
  infrastructure/corpus-search/modules/sagemaker/main.tf
  infrastructure/corpus-search/modules/sagemaker/outputs.tf
  infrastructure/corpus-search/modules/sagemaker/variables.tf
  infrastructure/corpus-search/modules/sagemaker/versions.tf
  infrastructure/corpus-search/opensearch.tf
  infrastructure/corpus-search/providers.tf
  infrastructure/corpus-search/sagemaker.tf
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: temp
  infrastructure/corpus-search/connector_lambda.tf
  infrastructure/corpus-search/locals.tf
  infrastructure/corpus-search/opensearch.tf
  infrastructure/corpus-search/sagemaker.tf
  lambdas/corpus-search-connector-creator/eslint.config.mjs
  lambdas/corpus-search-connector-creator/jest.config.js
  lambdas/corpus-search-connector-creator/jest.setup.js
  lambdas/corpus-search-connector-creator/package.json
  lambdas/corpus-search-connector-creator/src/config.ts
  lambdas/corpus-search-connector-creator/src/index.spec.ts
  lambdas/corpus-search-connector-creator/src/index.ts
  lambdas/corpus-search-connector-creator/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: update lambda exec role and logging
  infrastructure/corpus-embeddings/connector_lambda.tf
  lambdas/corpus-embeddings-connector-creator/src/index.ts
Due: none

chore: add sentry release notification
  .circleci/corpus-embeddings.yml
  infrastructure/corpus-embeddings/connector_lambda.tf
Due: none

chore: logging for debug
  lambdas/corpus-embeddings-connector-creator/src/index.ts
Due: none

chore: trying node fetch
  lambdas/corpus-embeddings-connector-creator/package.json
  lambdas/corpus-embeddings-connector-creator/src/config.ts
  lambdas/corpus-embeddings-connector-creator/src/index.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: deploy to 3 subnets
  infrastructure/corpus-embeddings/opensearch.tf
Due: none

chore: attempt with copying the same sg config for ecs
  infrastructure/corpus-embeddings/connector_lambda.tf
  infrastructure/corpus-embeddings/locals.tf
Due: none

chore: sign requests with aws4
  lambdas/corpus-embeddings-connector-creator/package.json
  lambdas/corpus-embeddings-connector-creator/src/config.ts
  lambdas/corpus-embeddings-connector-creator/src/index.spec.ts
  lambdas/corpus-embeddings-connector-creator/src/index.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix: wrong .ok accessor
  lambdas/corpus-embeddings-connector-creator/src/index.ts
Due: none

fix: put don't post
  lambdas/corpus-embeddings-connector-creator/src/index.ts
Due: none

fix: opensearch service url
  infrastructure/corpus-embeddings/opensearch.tf
Due: none

fix(v3proxy:extensions): flatten /send response for "add"/"readd" actions
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
  servers/v3-proxy-api/src/utils.spec.ts
  servers/v3-proxy-api/src/utils.ts
Due: v3_proxy_api

fix(v3proxy): redact deleted item information
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/shared/transforms.ts
  servers/v3-proxy-api/src/graph/types.ts
Due: v3_proxy_api

Update setup instructions (#670)
  README.md
Due: none

feat(v3proxy): suppress list for extensions if taglist is true
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graphql/queries/savedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/tagsList.graphql
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: v3_proxy_api

fix(v3proxy:extensions): flatten /send response for "add"/"readd" actions (#671)
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
  servers/v3-proxy-api/src/utils.spec.ts
  servers/v3-proxy-api/src/utils.ts
Due: v3_proxy_api

feat(v3proxy): suppress list for extensions if taglist is true (#673)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graphql/queries/savedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/tagsList.graphql
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: v3_proxy_api

feat(search): move sagemaker embeddings to user list search
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/ecs_iam.tf
  infrastructure/user-list-search/main.tf
  infrastructure/user-list-search/modules/sagemaker/BUILD.md
  infrastructure/user-list-search/modules/sagemaker/LICENSE
  infrastructure/user-list-search/modules/sagemaker/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/async_inference/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/async_inference/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/autoscaling_example/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/autoscaling_example/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/deploy_from_hub/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/deploy_from_hub/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/deploy_from_s3/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/deploy_from_s3/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/deploy_private_model/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/deploy_private_model/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/serverless_inference/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/serverless_inference/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/tensorflow_example/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/tensorflow_example/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/use_existing_iam_role/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/use_existing_iam_role/main.tf
  infrastructure/user-list-search/modules/sagemaker/main.tf
  infrastructure/user-list-search/modules/sagemaker/outputs.tf
  infrastructure/user-list-search/modules/sagemaker/variables.tf
  infrastructure/user-list-search/modules/sagemaker/versions.tf
Due: user_list_search

fix(otel): removing otel
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/push-server/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/shares-api/src/main.ts
  infrastructure/user-api/src/main.ts
  servers/annotations-api/src/main.ts
  servers/image-api/src/server/main.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/shared-snowplow-consumer/src/main.ts
  servers/shares-api/src/main.ts
  servers/user-api/src/main.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api, client_api, feature_flags, account_data_deleter, user_list_search, v3_proxy_api, push_server
