Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(deletion): revoke fxa tokens when deleting accounts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  lambdas/account-data-deleter-events/src/config.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/postRequest.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/FxaRevoker.spec.ts
  servers/account-data-deleter/src/dataService/FxaRevoker.ts
  servers/account-data-deleter/src/routes/revokeFxa.ts
  servers/account-data-deleter/src/server.ts
  servers/user-api/src/config/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(test): add reference to user_firefox_account for test seeds
  servers/user-api/src/config/index.ts
  servers/user-api/src/test/functional/seeds.ts
Due: user_api

chore: fix a lost import and nock
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.spec.ts
  servers/account-data-deleter/src/routes/index.ts
  servers/account-data-deleter/src/server.ts
Due: account_data_deleter

feat(deletion): revoke fxa tokens when deleting accounts (#897)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  lambdas/account-data-deleter-events/src/config.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.spec.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/postRequest.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/FxaRevoker.spec.ts
  servers/account-data-deleter/src/dataService/FxaRevoker.ts
  servers/account-data-deleter/src/routes/index.ts
  servers/account-data-deleter/src/routes/revokeFxa.ts
  servers/account-data-deleter/src/server.ts
  servers/user-api/src/config/index.ts
  servers/user-api/src/test/functional/seeds.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(v3proxy): add send_guid endpoint (#1033)
  servers/v3-proxy-api/src/routes/v3SendGuid.integration.ts
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

chore(deleter): improve observability and logging flow
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.spec.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/postRequest.ts
Due: none

fix(deleter): add missing parameter store permissions
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: account_data_deleter

fix(deleter): add missing parameter store permissions (#1038)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: account_data_deleter

chore(deleter): improve observability and logging flow (#1037)
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.spec.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/postRequest.ts
Due: none

chore(user-api): update minimum tasks from 2-3
  infrastructure/user-api/src/main.ts
Due: user_api

chore(user-api): update minimum tasks from 2-3 (#1039)
  infrastructure/user-api/src/main.ts
Due: user_api

feat(export): send email confirmation
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/config.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/listExportRequested.spec.ts
  lambdas/transactional-emails/src/handlers/listExportRequested.ts
Due: transactional_emails

feat(export): limit caching to 72 hours
  infrastructure/account-data-deleter/src/main.ts
  servers/account-data-deleter/src/config/index.ts
Due: account_data_deleter

feat(export): limit caching to 72 hours (#1040)
  infrastructure/account-data-deleter/src/main.ts
  servers/account-data-deleter/src/config/index.ts
Due: account_data_deleter

chore: fix test seed
  lambdas/transactional-emails/src/handlers/listExportRequested.spec.ts
Due: transactional_emails

feat(export): add a check that export file is not expired
  .docker/aws-resources/account-data-deleter.sh
  .docker/aws-resources/s3/export-lifecycle-configuration.json
  servers/account-data-deleter/src/dataService/s3Service.integration.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
Due: account_data_deleter

feat(export): send email confirmation (#1041)
  .docker/aws-resources/account-data-deleter.sh
  .docker/aws-resources/s3/export-lifecycle-configuration.json
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/config.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/listExportRequested.spec.ts
  lambdas/transactional-emails/src/handlers/listExportRequested.ts
  servers/account-data-deleter/src/dataService/s3Service.integration.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
Due: transactional_emails, account_data_deleter

feat(export): add new mutation with feature flag control
  servers/list-api/schema.graphql
  servers/list-api/src/featureFlags/client.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/types/index.ts
Due: list_api

feat(export): add new mutation with feature flag control (#1043)
  servers/list-api/schema.graphql
  servers/list-api/src/featureFlags/client.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/types/index.ts
Due: list_api

feat(export): new infrastructure for multi-service export
  .docker/aws-resources/account-data-deleter.sh
  .docker/aws-resources/shareable-lists-api.sh
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  servers/account-data-deleter/src/config/index.ts
  servers/shareable-lists-api/src/config/index.ts
Due: account_data_deleter, shareable_lists_api

chore: fix some test mocks
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/listDataExportService.spec.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.integration.ts
  servers/account-data-deleter/src/queueHandlers/exportListHandler.spec.ts
Due: account_data_deleter

chore(temp): add dev data
  servers/account-data-deleter/src/dataService/listDataExportService.ts
Due: account_data_deleter

chore: add dynamodb permissions
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: account_data_deleter

fix(export): use attribute substitution for reserved keywords
  infrastructure/account-data-deleter/src/main.ts
  packages/terraform-modules/src/base/ApplicationSqsSnsTopicsSubscription.spec.ts
  packages/terraform-modules/src/base/ApplicationSqsSnsTopicsSubscription.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationSqsSnsTopicsSubscription.spec.ts.snap
  packages/terraform-modules/src/index.ts
  servers/account-data-deleter/src/dataService/exportStateService.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix: re-throw unhandled error for sqs poller
  servers/account-data-deleter/src/dataService/listDataExportService.ts
Due: account_data_deleter

chore: init queue handler
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  servers/account-data-deleter/src/dataService/exportStateService.ts
  servers/account-data-deleter/src/queueHandlers/exportStateHandler.ts
  servers/account-data-deleter/src/server.ts
Due: account_data_deleter

feat(export): set up multi-service export capabilities
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/transactional-emails/src/config/index.ts
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/account.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/clients.ts
  servers/account-data-deleter/src/dataService/exportStateService.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.integration.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
  servers/account-data-deleter/src/queueHandlers/exportListHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/exportListHandler.ts
  servers/account-data-deleter/src/queueHandlers/exportStatusHandler.ts
  servers/account-data-deleter/src/queueHandlers/index.ts
  servers/account-data-deleter/src/types.ts
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(export): export for annotations and shareable-lists
  .docker/mysql-8-resources/schema/01d-mono-db-readitla_ril-tmp-schema-list_autoincrement_id.sql
  .github/workflows/aws-utils.yml
  infrastructure/shareable-lists-api/src/main.ts
  packages/aws-utils/.npmignore
  packages/aws-utils/README.md
  packages/aws-utils/eslint.config.mjs
  packages/aws-utils/jest.config.ts
  packages/aws-utils/jest.setup.ts
  packages/aws-utils/package.json
  packages/aws-utils/src/AsyncDataExportService.spec.ts
  packages/aws-utils/src/AsyncDataExportService.ts
  packages/aws-utils/src/S3Bucket.integration.ts
  packages/aws-utils/src/S3Bucket.ts
  packages/aws-utils/src/index.ts
  packages/aws-utils/src/s3TestUtils.ts
  packages/aws-utils/tsconfig.json
  packages/terraform-modules/src/base/ApplicationSqsSnsTopicSubscriptionV2.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/dataService/FileExportService.ts
  servers/account-data-deleter/src/dataService/annotationsExportService.integration.ts
  servers/account-data-deleter/src/dataService/annotationsExportService.ts
  servers/account-data-deleter/src/dataService/listDataExportService.spec.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/testUtils.ts
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/src/aws/S3Bucket.ts
  servers/shareable-lists-api/src/aws/sqs.ts
  servers/shareable-lists-api/src/background/ExportDataService.integration.ts
  servers/shareable-lists-api/src/background/ExportDataService.spec.ts
  servers/shareable-lists-api/src/background/ExportDataService.ts
  servers/shareable-lists-api/src/background/ExportHandler.ts
  servers/shareable-lists-api/src/background/QueueHandler.ts
  servers/shareable-lists-api/src/background/types.ts
  servers/shareable-lists-api/src/config/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix: fix-mismatches
  packages/aws-utils/package.json
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(export): shareable-lists queue env var name
  servers/shareable-lists-api/src/config/index.ts
Due: shareable_lists_api

fix: set AWS_REGION variable
  packages/aws-utils/jest.setup.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: initialize background tasks
  infrastructure/account-data-deleter/src/main.ts
  servers/account-data-deleter/src/queueHandlers/exportAnnotationsHandler.ts
  servers/account-data-deleter/src/server.ts
  servers/shareable-lists-api/src/background/ExportHandler.ts
  servers/shareable-lists-api/src/main.ts
Due: account_data_deleter, shareable_lists_api

feat(export): consolidate on using shared package
  packages/aws-utils/package.json
  packages/aws-utils/src/AsyncDataExportService.spec.ts
  packages/aws-utils/src/AsyncDataExportService.ts
  packages/aws-utils/src/QueuePoller.ts
  packages/aws-utils/src/S3Bucket.ts
  packages/aws-utils/src/index.ts
  pnpm-lock.yaml
  servers/account-data-deleter/src/dataService/FileExportService.ts
  servers/account-data-deleter/src/dataService/annotationsExportService.integration.ts
  servers/account-data-deleter/src/dataService/annotationsExportService.ts
  servers/account-data-deleter/src/dataService/exportStateService.ts
  servers/account-data-deleter/src/dataService/importers/ImportBase.ts
  servers/account-data-deleter/src/dataService/importers/OmnivoreImport.integration.ts
  servers/account-data-deleter/src/dataService/importers/OmnivoreImport.ts
  servers/account-data-deleter/src/dataService/listDataExportService.spec.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
  servers/account-data-deleter/src/queueHandlers/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/batchDeleteHandler.ts
  servers/account-data-deleter/src/queueHandlers/exportListHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/exportListHandler.ts
  servers/account-data-deleter/src/queueHandlers/exportStateHandler.ts
  servers/account-data-deleter/src/queueHandlers/importHandler.ts
  servers/account-data-deleter/src/queueHandlers/queueHandler.ts
  servers/account-data-deleter/src/testUtils.ts
  servers/account-data-deleter/src/types.ts
  servers/list-api/package.json
  servers/list-api/src/background/README.md
  servers/list-api/src/background/batchImportHandler.spec.ts
  servers/list-api/src/background/batchImportHandler.ts
  servers/list-api/src/background/queueHandler.ts
  servers/list-api/src/background/types.ts
  servers/shareable-lists-api/jest.setup.js
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/src/aws/S3Bucket.ts
  servers/shareable-lists-api/src/background/ExportDataService.integration.ts
  servers/shareable-lists-api/src/background/ExportDataService.spec.ts
  servers/shareable-lists-api/src/background/ExportDataService.ts
  servers/shareable-lists-api/src/background/ExportHandler.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(export): add s3 bucket perms for shareable-lists
  infrastructure/shareable-lists-api/src/main.ts
Due: shareable_lists_api

fix(export): shareable-list source in event bridge rule
  infrastructure/pocket-event-bridge/src/main.ts
Due: pocket_event_bridge

fix(export): remove illegal char from dynamo attribute
  servers/account-data-deleter/src/dataService/exportStateService.ts
Due: account_data_deleter

fix: isComplete array iterator
  servers/account-data-deleter/src/dataService/exportStateService.spec.ts
  servers/account-data-deleter/src/dataService/exportStateService.ts
Due: account_data_deleter

chore: remove dev data
  servers/account-data-deleter/src/dataService/listDataExportService.ts
Due: account_data_deleter

fix: re-request dynamo item with consistency
  servers/account-data-deleter/src/dataService/exportStateService.ts
Due: account_data_deleter

chore: lint
  infrastructure/account-data-deleter/src/main.ts
  packages/aws-utils/src/QueuePoller.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
