Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

Notes added by 'git notes add'
  5c6858dda23d7edb6f2dae72dc298c07b7f89514
Due: none

Notes added by 'git notes add'
  c434f4a2241b308a9ed20b89434e62e3b448eb6e
Due: none

fix(metric): adding in metric exporting
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(auth): extract scopes for directive auth
  servers/client-api/rhai/claims_forwarding.rhai
  servers/client-api/rhai/format_policies.rhai
  servers/client-api/rhai/format_scopes.rhai
  servers/client-api/rhai/main.rhai
Due: client_api

feat(list-api): add in auth for list-api
  servers/client-api/config/supergraph.yaml
  servers/list-api/schema.graphql
  servers/list-api/src/server/context.ts
Due: list_api, client_api

fix(user-list-search): put back kats amazing auth directives
  packages/int-mask/package.json
  servers/parser-graphql-wrapper/package.json
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/context.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: remove auth test from list-api
  servers/list-api/src/test/graphql/queries/readerSlug.integration.ts
Due: list_api

fix(authZ): removing auth check
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
Due: user_list_search

fix(metric): adding in metric exporting
  packages/tracing/src/tracing.ts
  servers/otel-collector/otel-collector-config.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(authZ): add back in auth z capabilities (#815)
  packages/int-mask/package.json
  servers/client-api/config/supergraph.yaml
  servers/client-api/rhai/claims_forwarding.rhai
  servers/client-api/rhai/format_policies.rhai
  servers/client-api/rhai/format_scopes.rhai
  servers/client-api/rhai/main.rhai
  servers/list-api/schema.graphql
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/queries/readerSlug.integration.ts
  servers/parser-graphql-wrapper/package.json
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/context.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Revert "feat(authZ): add back in auth z capabilities (#815)"
  packages/int-mask/package.json
  servers/client-api/config/supergraph.yaml
  servers/client-api/rhai/claims_forwarding.rhai
  servers/client-api/rhai/format_policies.rhai
  servers/client-api/rhai/format_scopes.rhai
  servers/client-api/rhai/main.rhai
  servers/list-api/schema.graphql
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/queries/readerSlug.integration.ts
  servers/parser-graphql-wrapper/package.json
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/context.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Revert "feat(authZ): add back in auth z capabilities (#815)" (#816)
  packages/int-mask/package.json
  servers/client-api/config/supergraph.yaml
  servers/client-api/rhai/claims_forwarding.rhai
  servers/client-api/rhai/format_policies.rhai
  servers/client-api/rhai/format_scopes.rhai
  servers/client-api/rhai/main.rhai
  servers/list-api/schema.graphql
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/queries/readerSlug.integration.ts
  servers/parser-graphql-wrapper/package.json
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/context.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Revert "Revert "feat(authZ): add back in auth z capabilities (#815)" (#816)"
  packages/int-mask/package.json
  servers/client-api/config/supergraph.yaml
  servers/client-api/rhai/claims_forwarding.rhai
  servers/client-api/rhai/format_policies.rhai
  servers/client-api/rhai/format_scopes.rhai
  servers/client-api/rhai/main.rhai
  servers/list-api/schema.graphql
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/queries/readerSlug.integration.ts
  servers/parser-graphql-wrapper/package.json
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/context.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(logs): removing errors if users are unauthorized
  servers/client-api/config/router.yaml
Due: client_api

Revert "Revert "feat(authZ): add back in auth z capabilities"" (#817)
  packages/int-mask/package.json
  servers/client-api/config/router.yaml
  servers/client-api/config/supergraph.yaml
  servers/client-api/rhai/claims_forwarding.rhai
  servers/client-api/rhai/format_policies.rhai
  servers/client-api/rhai/format_scopes.rhai
  servers/client-api/rhai/main.rhai
  servers/list-api/schema.graphql
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/queries/readerSlug.integration.ts
  servers/parser-graphql-wrapper/package.json
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/context.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  6f75ac2eeeb2335132e9a21246d7a8c7dedd70f8
Due: none

fix(otel): ensure sentry always boots first for request isolation
  packages/sentry/package.json
  packages/sentry/src/featureFlagTraceSampler.ts
  packages/sentry/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/src/main.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(otel): ensure sentry inits first (#809)
  packages/sentry/package.json
  packages/sentry/src/featureFlagTraceSampler.ts
  packages/sentry/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/src/main.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  5d93850c5d9657b632d02fdf1a78fa7d635267f4
Due: none

fix(sentry): ensure sentry tagging checks body
  servers/v3-proxy-api/src/middleware/sentryTagHandler.ts
Due: v3_proxy_api

fix(otel): improving otel to priotize XRay
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: dependency updates
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(sentry): ensure sentry tagging checks body (#820)
  packages/tracing/src/tracing.ts
  servers/v3-proxy-api/src/middleware/sentryTagHandler.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  deb9e488cafe159e04f36609ee247c81c5053bb0
Due: none

feat(export): events infrastructure for export
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/index.ts
Due: pocket_event_bridge

feat(export): events infrastructure for export (#822)
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/index.ts
Due: pocket_event_bridge

chore: fix an unmerged head ref
  servers/list-api/schema.graphql
Due: list_api

feat(export): asynchronous export service for user list
  .docker/aws-resources/account-data-deleter.sh
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/config.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/listExportReady.spec.ts
  lambdas/transactional-emails/src/handlers/listExportReady.ts
  lambdas/transactional-emails/src/schemas/listExportReadyEvent.ts
  packages/terraform-modules/src/base/ApplicationSqsSnsTopicSubscription.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/clients.ts
  servers/account-data-deleter/src/dataService/listDataExportService.spec.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.integration.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
  servers/account-data-deleter/src/queueHandlers/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/batchDeleteHandler.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.ts
  servers/account-data-deleter/src/queueHandlers/queueHandler.ts
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/src/types.ts
  servers/list-api/package.json
  servers/list-api/schema.graphql
  servers/list-api/src/businessEvents/exportListEvent.ts
  servers/list-api/src/businessEvents/itemsEventEmitter.spec.ts
  servers/list-api/src/businessEvents/types.ts
  servers/list-api/src/businessEvents/unifiedEventKinesisHandler.spec.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/mutations/exportList.integration.ts
  servers/list-api/src/test/integrations/eventBridge.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: fix some docstrings/remove comments
  infrastructure/transactional-emails/src/config/index.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
Due: transactional_emails, account_data_deleter

chore: lint
  servers/account-data-deleter/src/queueHandlers/exportHandler.spec.ts
Due: account_data_deleter

chore: shorten sqs name
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/main.ts
Due: account_data_deleter

chore: fix mismatches
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(export): asynchronous export service for user list (#819)
  .docker/aws-resources/account-data-deleter.sh
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/config.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/listExportReady.spec.ts
  lambdas/transactional-emails/src/handlers/listExportReady.ts
  lambdas/transactional-emails/src/schemas/listExportReadyEvent.ts
  packages/terraform-modules/src/base/ApplicationSqsSnsTopicSubscription.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/clients.ts
  servers/account-data-deleter/src/dataService/listDataExportService.spec.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.integration.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
  servers/account-data-deleter/src/queueHandlers/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/batchDeleteHandler.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.ts
  servers/account-data-deleter/src/queueHandlers/queueHandler.ts
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/src/types.ts
  servers/list-api/package.json
  servers/list-api/schema.graphql
  servers/list-api/src/businessEvents/exportListEvent.ts
  servers/list-api/src/businessEvents/itemsEventEmitter.spec.ts
  servers/list-api/src/businessEvents/types.ts
  servers/list-api/src/businessEvents/unifiedEventKinesisHandler.spec.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/mutations/exportList.integration.ts
  servers/list-api/src/test/integrations/eventBridge.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  62b34da8ddb2aa1c782bfbd4e168f55d072d106e
Due: none

fix(export): fix missing main reference
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/index.ts
  infrastructure/pocket-event-bridge/src/main.ts
Due: pocket_event_bridge

fix(export): fix missing main reference (#823)
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/index.ts
  infrastructure/pocket-event-bridge/src/main.ts
Due: pocket_event_bridge

chore: namespace bucket to environment
  infrastructure/account-data-deleter/src/main.ts
Due: account_data_deleter

chore: namespace bucket to environment
  infrastructure/account-data-deleter/src/main.ts
  servers/account-data-deleter/src/config/index.ts
Due: account_data_deleter
