Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

# our defined job, and its steps
jobs:
  setup:
    executor: path-filtering/default
    steps:
      - checkout # checkout code
      - run:
          name: Generate List of Configs to Merge
          command: |
            # Generate a list of all the circleci configs we want to run
            file_list=(".circleci/common.yml" ".circleci/repo-jobs.yml" ".circleci/image-api.yml" ".circleci/annotations-api.yml" ".circleci/shared-snowplow-consumer.yml" ".circleci/parser-graphql-wrapper.yml" ".circleci/transactional-emails.yml" ".circleci/fxa-webhook-proxy.yml" ".circleci/user-api.yml" ".circleci/pocket-router.yml" ".circleci/list-api.yml")       
            touch /tmp/configs.txt

            # Add file header to each file and dump it to the config list
            for file in "${file_list[@]}"; do
              echo "$file" >> /tmp/configs.txt
              awk -v new_content="$(cat .circleci/header.yml)" 'BEGIN {print new_content} {print}' "$file" > temp_file && mv temp_file "$file"
            done
      - path-filtering/generate-config:
          config-list-path: /tmp/configs.txt
          generated-config-path: /tmp/generated-config.yml
      - run:
          name: Reset Git
          command: |
            git reset --hard
      # Set up path mapping, in the future we should generate this as a conf file, and pass it to the option.
      # We will need to set this to true when ever the packages folder changes as well.
      # Right now though, we will only deploy if the actual servers/infra change,
      # as its likely any change in the packages will change the underlying code.
      # Worst case, bump the version in package.json to triger a deploy
      #
      # The router is just rhai scripts and yaml files without dependencies on node or any other
      # packages, so we don't trigger it unless a change occurs specifically in the subfolder
      #
      # NOTE: we use _ for the parameters to the pipeline because
      # circleci uses it as an ENV down the pipe and ENV vars can't be used with a -
      - path-filtering/set-parameters:
          config-path: /tmp/generated-config.yml
          output-path: /tmp/pipeline-parameters.json
          mapping: |
            ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) image_api true
            ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) annotations_api true
            ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) shared_snowplow_consumer true
            ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) parser_graphql_wrapper true
            ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml) transactional_emails true
            ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml) fxa_webhook_proxy true
            ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) user_api true
            ((servers|infrastructure)/pocket-router/.*) pocket_router true
            ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) list_api true
      - continuation/continue:
          configuration_path: /tmp/generated-config.yml
          parameters: /tmp/pipeline-parameters.json

# our single workflow, that triggers the setup job defined above
workflows:
  setup:
    jobs:
      - setup

fix tests for new query
  servers/list-api/src/test/graphql/queries/savedItems-filters-offset.integration.ts
Due: list_api

fix typo
  servers/list-api/src/test/graphql/queries/savedItems-filters-offset.integration.ts
Due: list_api

feat(list): offset-pagination for v3 api proxy (#182)
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/user.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters-offset.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems.integration.ts
  servers/list-api/src/types/index.ts
Due: list_api

fix(router): removing experimental
  servers/client-api/config/router.yaml
Due: none

fix(interface): updating interface for unleash updates
  packages/feature-flags-client/src/mockClient.ts
  servers/list-api/src/featureFlags/mockClient.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(v3proxy): workaround for codegen max height limits
  .gitignore
  servers/v3-proxy-api/README.md
  servers/v3-proxy-api/codegen.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: none

Notes added by 'git notes add'
  49d0f87ef15de6c40be102d546d4120f152081c7
Due: none

feat(v3api): savedItemsByOffset query
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffset.graphql
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: none

fix(annotations-api): removing unused cache for annotations
  infrastructure/annotations-api/src/main.ts
Due: annotations_api

Notes added by 'git notes add'
  8344278c5c73d23be33e57ead08794996de7fd51
Due: none

feat(shareable-lists): updating to serverless cache
  infrastructure/annotations-api/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  servers/shareable-lists-api/src/cache/index.ts
  servers/shareable-lists-api/src/config/index.ts
  servers/shareable-lists-api/src/express.ts
Due: annotations_api

chore(deps): updating all dev deps
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-events/package.json
  package.json
  packages/apollo-utils/package.json
  packages/backend-benchmarking/package.json
  packages/eslint-config-custom/package.json
  packages/feature-flags-client/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/push-server/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(apollo-utils): ensuring that apollo utils does not contain workspace packages
  packages/apollo-utils/package.json
  packages/apollo-utils/src/errorHandler/errorHandler.spec.ts
  packages/apollo-utils/src/sentry/apolloSentryPlugin.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(deps): updating all dev deps (#192)
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-events/package.json
  package.json
  packages/apollo-utils/package.json
  packages/backend-benchmarking/package.json
  packages/eslint-config-custom/package.json
  packages/feature-flags-client/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/push-server/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(shareable-lists): updating to serverless redis (#191)
  infrastructure/annotations-api/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  servers/shareable-lists-api/src/cache/index.ts
  servers/shareable-lists-api/src/config/index.ts
  servers/shareable-lists-api/src/express.ts
Due: annotations_api

fix(client): bump router max height limit
  servers/client-api/config/router.yaml
Due: none

fix(client): bump router max height limit (#194)
  servers/client-api/config/router.yaml
Due: none

revert codegen changes now that the router limits are bumped
  servers/v3-proxy-api/codegen.ts
  servers/v3-proxy-api/package.json
Due: none

replace console.log with ts-loggeR
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(v3proxy): saved items with offset pagination (GET) (#189)
  .gitignore
  pnpm-lock.yaml
  servers/v3-proxy-api/README.md
  servers/v3-proxy-api/codegen.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffset.graphql
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(cache): removing unused caches
  infrastructure/client-api/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
Due: none

fix(sentry): ensure sentry does not truncate values
  packages/apollo-utils/src/sentry/initSentry.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(cache): removing unused caches (#195)
  infrastructure/client-api/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
Due: none

add queries for detail types (simple,complete)
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffset.graphql
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetSimple.graphql
Due: none

Notes added by 'git notes add'
  9984904da8dff6a9335b476efc58b83fa101946d
Due: none

fix(sentry): ensure sentry does not truncate values (#196)
  packages/apollo-utils/src/sentry/initSentry.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  b5d67996f0e914332f656a15ba3f3a4429c3065e
Due: none

Notes added by 'git notes add'
  e2950bc61cd4e622c2c0c24f304a7f459e333902
Due: none

feat(v3proxy): add detailType queries to proxy
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/fixtures.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/queries/savedItems.graphql
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: none

fix(user-list-search): updating user search events to use a linter
  lambdas/user-list-search-events/.eslintrc.js
  lambdas/user-list-search-events/handlerFns.ts
  lambdas/user-list-search-events/index.ts
  lambdas/user-list-search-events/package.json
Due: none

fix(search): moving the kinesis transformer lambda out of search
  .circleci/user-list-search.yml
  infrastructure/user-list-search/kinesis_consumer.tf
  lambdas/user-list-search-kinesis-to-sqs/.eslintrc.js
  lambdas/user-list-search-kinesis-to-sqs/README.md
  lambdas/user-list-search-kinesis-to-sqs/jest.config.js
  lambdas/user-list-search-kinesis-to-sqs/package.json
  lambdas/user-list-search-kinesis-to-sqs/src/config/index.ts
  lambdas/user-list-search-kinesis-to-sqs/src/handler.spec.ts
  lambdas/user-list-search-kinesis-to-sqs/src/handler.ts
  lambdas/user-list-search-kinesis-to-sqs/src/index.ts
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/readme.md
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/types.ts
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/utils.ts
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/writeable.ts
  lambdas/user-list-search-kinesis-to-sqs/tsconfig.json
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/lambda.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

add explicit test data from v3 api and graph responses
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get-complete.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/tsconfig.json
Due: none

lint
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
Due: none

fix(search): move kinesis transformer to separate lambda (#202)
  .circleci/user-list-search.yml
  infrastructure/user-list-search/kinesis_consumer.tf
  lambdas/user-list-search-events/.eslintrc.js
  lambdas/user-list-search-events/handlerFns.ts
  lambdas/user-list-search-events/index.ts
  lambdas/user-list-search-kinesis-to-sqs/.eslintrc.js
  lambdas/user-list-search-kinesis-to-sqs/README.md
  lambdas/user-list-search-kinesis-to-sqs/jest.config.js
  lambdas/user-list-search-kinesis-to-sqs/package.json
  lambdas/user-list-search-kinesis-to-sqs/src/config/index.ts
  lambdas/user-list-search-kinesis-to-sqs/src/handler.spec.ts
  lambdas/user-list-search-kinesis-to-sqs/src/handler.ts
  lambdas/user-list-search-kinesis-to-sqs/src/index.ts
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/readme.md
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/types.ts
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/utils.ts
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/writeable.ts
  lambdas/user-list-search-kinesis-to-sqs/tsconfig.json
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/lambda.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(v3proxy): add complete and simple detailType queries (/get) (#208)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/queries/savedItems.graphql
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffset.graphql
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get-complete.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/tsconfig.json
Due: none

feat(v3proxy): implement filters and sort (non-search)
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations.ts
  servers/v3-proxy-api/src/test/fixtures/get-complete.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix: miscellaneous self-review fixes
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: none

shortening some lines with fat arrows
  servers/v3-proxy-api/src/graph/toGraphQL.ts
Due: none

feat(schema): [MC-573] Extend CorpusItem with `datePublished` field
  .gitignore
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/datePublished/datePublished.integration.ts
  servers/parser-graphql-wrapper/src/parserApiUtils.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: none

Update servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
Due: none
