Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

fix(oembed): expire oembed data after 2 days (#530)
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
Due: parser_graphql_wrapper

fix(v3proxy:tags): return tags on detailType=simple
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/SavedItemComplete.graphql
  servers/v3-proxy-api/src/graphql/fragments/SavedItemSimple.graphql
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: v3_proxy_api

fix(v3proxy:tags): return tags on detailType=simple (#531)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/SavedItemComplete.graphql
  servers/v3-proxy-api/src/graphql/fragments/SavedItemSimple.graphql
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: v3_proxy_api

fix(es6): converting image-api
  servers/image-api/package.json
  servers/image-api/src/cache/index.ts
  servers/image-api/src/dataLoaders/imageLoader.ts
  servers/image-api/src/pocketImageCache/index.spec.ts
  servers/image-api/src/pocketImageCache/index.ts
  servers/image-api/src/pocketImageCache/metadata.ts
  servers/image-api/src/pocketImageCache/utils.spec.ts
  servers/image-api/src/resolvers/index.ts
  servers/image-api/src/resolvers/query.integration.ts
  servers/image-api/src/server/apollo.ts
  servers/image-api/src/server/context.ts
  servers/image-api/src/server/main.ts
  servers/image-api/src/server/typeDefs.ts
  servers/parser-graphql-wrapper/src/apollo/typeDefs.ts
Due: image_api, parser_graphql_wrapper

fix(es6): converting feature-flags
  servers/feature-flags/package.json
  servers/feature-flags/src/admin/jwtAuthHook.ts
  servers/feature-flags/src/graphql/index.spec.ts
  servers/feature-flags/src/graphql/index.ts
  servers/feature-flags/src/graphql/resolvers.spec.ts
  servers/feature-flags/src/graphql/resolvers.ts
  servers/feature-flags/src/graphql/typeDefs.ts
  servers/feature-flags/src/index.ts
  servers/feature-flags/src/main.ts
  servers/feature-flags/src/unleashClient/index.ts
  servers/feature-flags/src/unleashClient/strategy/accountAge.spec.ts
  servers/feature-flags/src/unleashClient/strategy/accountAge.ts
  servers/feature-flags/src/unleashClient/strategy/accountAgeAtStart.spec.ts
  servers/feature-flags/src/unleashClient/strategy/accountAgeAtStart.ts
  servers/feature-flags/src/unleashClient/strategy/hasUserModel.spec.ts
  servers/feature-flags/src/unleashClient/strategy/hasUserModel.ts
  servers/feature-flags/src/unleashClient/strategy/newUser.spec.ts
  servers/feature-flags/src/unleashClient/strategy/newUser.ts
  servers/feature-flags/src/unleashClient/strategy/newUserInLocale.spec.ts
  servers/feature-flags/src/unleashClient/strategy/newUserInLocale.ts
  servers/feature-flags/src/unleashClient/strategy/userInLocale.spec.ts
  servers/feature-flags/src/unleashClient/strategy/userInLocale.ts
Due: feature_flags

fix(es6): converting annotations api
  servers/annotations-api/package.json
  servers/annotations-api/src/context.ts
  servers/annotations-api/src/database/client.ts
  servers/annotations-api/src/dataservices/dataloaders.spec.ts
  servers/annotations-api/src/dataservices/dataloaders.ts
  servers/annotations-api/src/dataservices/highlights.ts
  servers/annotations-api/src/dataservices/notes.spec.ts
  servers/annotations-api/src/dataservices/notes.ts
  servers/annotations-api/src/dataservices/savedItem.ts
  servers/annotations-api/src/dataservices/usersMeta.ts
  servers/annotations-api/src/main.ts
  servers/annotations-api/src/resolvers.ts
  servers/annotations-api/src/server/apollo/buildSchema.ts
  servers/annotations-api/src/server/apollo/index.ts
  servers/annotations-api/src/server/apollo/schema.ts
  servers/annotations-api/src/server/apollo/typeDefs.ts
  servers/annotations-api/src/server/aws/batchDeleteHandler.spec.ts
  servers/annotations-api/src/server/aws/batchDeleteHandler.ts
  servers/annotations-api/src/server/aws/sqs.ts
  servers/annotations-api/src/server/index.ts
  servers/annotations-api/src/server/routes/queueDelete.integration.ts
  servers/annotations-api/src/server/routes/queueDelete.ts
  servers/annotations-api/src/test/clearUserData/highlights.integration.ts
  servers/annotations-api/src/test/clearUserData/notes.integration.ts
  servers/annotations-api/src/test/mutation/highlights-batchwrite.integration.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/mutation/highlights-delete.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update-deprecated.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update.integration.ts
  servers/annotations-api/src/test/mutation/notes-create.integration.ts
  servers/annotations-api/src/test/mutation/notes-delete.integration.ts
  servers/annotations-api/src/test/mutation/notes-update.integration.ts
  servers/annotations-api/src/test/query/highlights-fixtures.ts
  servers/annotations-api/src/test/query/highlights.integration.ts
  servers/annotations-api/src/test/query/notes-fixtures.ts
  servers/annotations-api/src/test/query/notes.integration.ts
  servers/annotations-api/src/utils/dataAggregation.spec.ts
Due: annotations_api

fix(es6): converting account-data-deleter
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/aws/sqs.ts
  servers/account-data-deleter/src/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/batchDeleteHandler.ts
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/accountDeleteDataService.spec.ts
  servers/account-data-deleter/src/dataService/accountDeleteDataService.ts
  servers/account-data-deleter/src/dataService/clients.ts
  servers/account-data-deleter/src/dataService/stripeDataDeleter.spec.ts
  servers/account-data-deleter/src/dataService/stripeDataDeleter.ts
  servers/account-data-deleter/src/routes/index.ts
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/src/routes/stripeDelete.ts
  servers/account-data-deleter/src/server.ts
  servers/account-data-deleter/src/unleash.ts
Due: account_data_deleter

fix(es6): convert account deletion lambdas
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-batch-delete/src/dyanmoUtils.integration.ts
  lambdas/account-data-deleter-batch-delete/src/dynamoUtils.ts
  lambdas/account-data-deleter-batch-delete/src/externalCaller/deleteMutation.spec.ts
  lambdas/account-data-deleter-batch-delete/src/externalCaller/deleteMutation.ts
  lambdas/account-data-deleter-batch-delete/src/index.spec.ts
  lambdas/account-data-deleter-batch-delete/src/index.ts
  lambdas/account-data-deleter-batch-delete/test/utils.ts
  lambdas/account-data-deleter-events/package.json
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.spec.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/postRequest.ts
  lambdas/account-data-deleter-events/src/handlers/index.ts
  lambdas/account-data-deleter-events/src/index.spec.ts
  lambdas/account-data-deleter-events/src/index.ts
  lambdas/account-delete-monitor/package.json
  lambdas/account-delete-monitor/src/dynamodb.ts
  lambdas/account-delete-monitor/src/externalCaller/deleteMutation.ts
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.integration.ts
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.spec.ts
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.ts
  lambdas/account-delete-monitor/src/handlers/accountMergeHandler.integration.ts
  lambdas/account-delete-monitor/src/handlers/accountMergeHandler.spec.ts
  lambdas/account-delete-monitor/src/handlers/accountMergeHandler.ts
  lambdas/account-delete-monitor/src/handlers/index.ts
  lambdas/account-delete-monitor/src/index.spec.ts
  lambdas/account-delete-monitor/src/index.ts
  lambdas/account-delete-monitor/src/utils.spec.ts
  packages/tsconfig/cdktf.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(es6): convert annotations api lambda
  lambdas/annotations-api-events/package.json
  lambdas/annotations-api-events/src/handlers/accountDelete.spec.ts
  lambdas/annotations-api-events/src/handlers/accountDelete.ts
  lambdas/annotations-api-events/src/handlers/index.ts
  lambdas/annotations-api-events/src/index.spec.ts
  lambdas/annotations-api-events/src/index.ts
Due: annotations_api

fix(es6): convert fxa-webhook lambdas
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-gateway/src/config.ts
  lambdas/fxa-webook-proxy-gateway/src/index.functional.ts
  lambdas/fxa-webook-proxy-gateway/src/index.spec.ts
  lambdas/fxa-webook-proxy-gateway/src/index.ts
  lambdas/fxa-webook-proxy-gateway/src/jwt.spec.ts
  lambdas/fxa-webook-proxy-gateway/src/jwt.ts
  lambdas/fxa-webook-proxy-gateway/src/sqs.ts
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/fxa-webook-proxy-sqs/src/index.spec.ts
  lambdas/fxa-webook-proxy-sqs/src/index.ts
  lambdas/fxa-webook-proxy-sqs/src/jwt.spec.ts
  lambdas/fxa-webook-proxy-sqs/src/jwt.ts
  lambdas/fxa-webook-proxy-sqs/src/mutations.ts
  lambdas/fxa-webook-proxy-sqs/src/secretManager.ts
Due: none

fix(es6): converting instant sync events
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/clients.ts
  lambdas/instant-sync-events/src/handlerFn.spec.ts
  lambdas/instant-sync-events/src/handlerFn.ts
  lambdas/instant-sync-events/src/index.ts
  lambdas/instant-sync-events/src/sqs.ts
  lambdas/instant-sync-events/tsconfig.json
Due: none

fix(es6): converting sendgrid-data
  lambdas/sendgrid-data/package.json
  lambdas/sendgrid-data/src/index.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.spec.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.spec.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.ts
  lambdas/sendgrid-data/src/sendgrid/index.ts
  lambdas/sendgrid-data/src/sendgrid/util.spec.ts
Due: sendgrid_data

fix(es6): converting shareable-lists-api-events
  lambdas/shareable-lists-api-events/package.json
  lambdas/shareable-lists-api-events/src/handlers/accountDelete.spec.ts
  lambdas/shareable-lists-api-events/src/handlers/accountDelete.ts
  lambdas/shareable-lists-api-events/src/handlers/index.ts
  lambdas/shareable-lists-api-events/src/index.spec.ts
  lambdas/shareable-lists-api-events/src/index.ts
Due: none

fix(es6): converting transactional-emails
  lambdas/transactional-emails/package.json
  lambdas/transactional-emails/src/braze.spec.ts
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/handlers/accountDelete.spec.ts
  lambdas/transactional-emails/src/handlers/accountDelete.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  lambdas/transactional-emails/src/index.ts
  lambdas/transactional-emails/src/schemas/premiumPurchaseSchema/premiumPurchaseEvent.ts
  lambdas/transactional-emails/src/ssm.ts
Due: transactional_emails

fix(es6): converting user list search lambdas
  lambdas/user-list-search-events/handlerFns.spec.ts
  lambdas/user-list-search-events/handlerFns.ts
  lambdas/user-list-search-events/handlerMap.ts
  lambdas/user-list-search-events/index.ts
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-indexing/src/helper.spec.ts
  lambdas/user-list-search-indexing/src/helper.ts
  lambdas/user-list-search-indexing/src/index.ts
  lambdas/user-list-search-indexing/src/itemDelete.ts
  lambdas/user-list-search-indexing/src/itemUpdate.ts
  lambdas/user-list-search-indexing/src/userListImport.ts
  lambdas/user-list-search-indexing/tsconfig.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  lambdas/user-list-search-kinesis-to-sqs/src/handler.spec.ts
  lambdas/user-list-search-kinesis-to-sqs/src/handler.ts
  lambdas/user-list-search-kinesis-to-sqs/src/index.ts
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/writeable.ts
  lambdas/user-list-search-kinesis-to-sqs/tsconfig.json
Due: user_list_search

fix(es6): updating jest for account data deleter
  lambdas/account-data-deleter-batch-delete/jest.config.js
  lambdas/account-data-deleter-batch-delete/jest.config.ts
  lambdas/account-data-deleter-batch-delete/jest.setup.ts
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-batch-delete/src/externalCaller/deleteMutation.spec.ts
  lambdas/account-data-deleter-batch-delete/src/externalCaller/deleteMutation.ts
  lambdas/account-data-deleter-batch-delete/tsconfig.json
  lambdas/account-data-deleter-events/jest.config.js
  lambdas/account-data-deleter-events/jest.config.ts
  lambdas/account-data-deleter-events/jest.setup.ts
  lambdas/account-data-deleter-events/package.json
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.spec.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/postRequest.ts
  lambdas/account-data-deleter-events/tsconfig.json
  lambdas/account-delete-monitor/jest.config.js
  lambdas/account-delete-monitor/jest.config.ts
  lambdas/account-delete-monitor/jest.setup.ts
  lambdas/account-delete-monitor/tsconfig.json
  lambdas/annotations-api-events/package.json
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  pnpm-lock.yaml
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/server/buildSchema.ts
  servers/list-api/src/server/typeDefs.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OpenGraphModel.ts
  servers/parser-graphql-wrapper/src/test/queries/opengraph.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/readerViewResult.integration.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.integration.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(es6): fixing long type error
  README.md
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/pocket-event-bridge/src/event-rules/account-delete-monitor/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/all-events/allEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/collection-events/collectionApiEventRules.ts
  package.json
  packages/apollo-utils/package.json
  packages/backend-benchmarking/package.json
  packages/feature-flags-client/package.json
  packages/int-mask/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/terraform-modules/src/base/ApplicationDynamoDBTable.ts
  packages/terraform-modules/src/base/ApplicationECSService.ts
  packages/terraform-modules/src/base/ApplicationVersionedLambda.ts
  packages/tracing/package.json
  packages/ts-logger/package.json
  packages/tsconfig/cdktf.json
  packages/tsconfig/graphql.json
  packages/tsconfig/lambda.json
  packages/tsconfig/library.json
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OpenGraphModel.ts
  servers/parser-graphql-wrapper/src/test/queries/opengraph.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/readerViewResult.integration.ts
  servers/push-server/tsconfig.json
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(codegen): add codegen to annotations-api
  servers/annotations-api/codegen.ts
  servers/annotations-api/package.json
  servers/annotations-api/src/__generated__/resolvers-types.ts
  servers/annotations-api/src/dataservices/dataloaders.spec.ts
  servers/annotations-api/src/dataservices/dataloaders.ts
  servers/annotations-api/src/dataservices/highlights.ts
  servers/annotations-api/src/dataservices/savedItem.ts
  servers/annotations-api/src/dataservices/usersMeta.ts
  servers/annotations-api/src/server/apollo/context.ts
  servers/annotations-api/src/server/apollo/resolvers.ts
  servers/annotations-api/src/server/apollo/schema.ts
  servers/annotations-api/src/server/index.ts
  servers/annotations-api/src/test/mutation/highlights-batchwrite.integration.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/mutation/highlights-delete.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update-deprecated.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update.integration.ts
  servers/annotations-api/src/test/mutation/notes-create.integration.ts
  servers/annotations-api/src/test/mutation/notes-delete.integration.ts
  servers/annotations-api/src/test/mutation/notes-update.integration.ts
  servers/annotations-api/src/test/query/highlights.integration.ts
  servers/annotations-api/src/test/query/notes.integration.ts
  servers/annotations-api/src/types.ts
Due: annotations_api

sync lockfile
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

update prebuild
  servers/annotations-api/codegen.ts
  servers/annotations-api/src/__generated__/resolvers-types.ts
Due: annotations_api

chore(codegen): add codegen to annotations-api (#533)
  pnpm-lock.yaml
  servers/annotations-api/codegen.ts
  servers/annotations-api/package.json
  servers/annotations-api/src/__generated__/resolvers-types.ts
  servers/annotations-api/src/dataservices/dataloaders.spec.ts
  servers/annotations-api/src/dataservices/dataloaders.ts
  servers/annotations-api/src/dataservices/highlights.ts
  servers/annotations-api/src/dataservices/savedItem.ts
  servers/annotations-api/src/dataservices/usersMeta.ts
  servers/annotations-api/src/server/apollo/context.ts
  servers/annotations-api/src/server/apollo/resolvers.ts
  servers/annotations-api/src/server/apollo/schema.ts
  servers/annotations-api/src/server/index.ts
  servers/annotations-api/src/test/mutation/highlights-batchwrite.integration.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/mutation/highlights-delete.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update-deprecated.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update.integration.ts
  servers/annotations-api/src/test/mutation/notes-create.integration.ts
  servers/annotations-api/src/test/mutation/notes-delete.integration.ts
  servers/annotations-api/src/test/mutation/notes-update.integration.ts
  servers/annotations-api/src/test/query/highlights.integration.ts
  servers/annotations-api/src/test/query/notes.integration.ts
  servers/annotations-api/src/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(tracing): enable custom ORM tracing instrumentations per service
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/annotations-api/src/main.ts
  servers/list-api/src/server/main.ts
  servers/user-api/src/main.ts
  servers/user-list-search/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(tracing): enable custom ORM tracing instrumentations per service (#532)
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/annotations-api/src/main.ts
  servers/list-api/src/server/main.ts
  servers/user-api/src/main.ts
  servers/user-list-search/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  4a8c75ee4da1bb7cc3a097cc6f144baa9ab859ea
Due: none

fix(es6): updating all lambda tests
  README.md
  lambdas/sendgrid-data/jest.config.js
  lambdas/sendgrid-data/jest.config.ts
  lambdas/sendgrid-data/jest.setup.ts
  lambdas/shareable-lists-api-events/jest.config.js
  lambdas/shareable-lists-api-events/jest.config.ts
  lambdas/shareable-lists-api-events/jest.setup.ts
  lambdas/shareable-lists-api-events/tsconfig.json
  lambdas/transactional-emails/jest.config.js
  lambdas/transactional-emails/jest.config.ts
  lambdas/user-list-search-events/handlerFns.ts
  lambdas/user-list-search-events/jest.config.js
  lambdas/user-list-search-events/jest.config.ts
  lambdas/user-list-search-events/jest.setup.ts
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-events/tsconfig.json
  lambdas/user-list-search-indexing/jest.config.js
  lambdas/user-list-search-indexing/jest.config.ts
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-indexing/src/helper.ts
  lambdas/user-list-search-indexing/tsconfig.json
  lambdas/user-list-search-kinesis-to-sqs/jest.config.js
  lambdas/user-list-search-kinesis-to-sqs/jest.config.ts
  lambdas/user-list-search-kinesis-to-sqs/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tracing): provide default value for additional instrumentation
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tracing): provide default value for additional instrumentation (#534)
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  de4a0f7c3aba72d5b9407cc70a5a376ab360117f
Due: none

chore: update readerSlug documentation
  servers/parser-graphql-wrapper/schema.graphql
Due: parser_graphql_wrapper

chore: update readerSlug documentation (#535)
  servers/parser-graphql-wrapper/schema.graphql
Due: parser_graphql_wrapper

feat(annotations): add annotation creation by url
  infrastructure/annotations-api/src/main.ts
  servers/annotations-api/schema.graphql
  servers/annotations-api/src/__generated__/resolvers-types.ts
  servers/annotations-api/src/config/index.ts
  servers/annotations-api/src/dataservices/dataloaders.spec.ts
  servers/annotations-api/src/dataservices/dataloaders.ts
  servers/annotations-api/src/dataservices/parserApi.ts
  servers/annotations-api/src/models/HighlightsModel.ts
  servers/annotations-api/src/server/apollo/context.ts
  servers/annotations-api/src/server/apollo/resolvers.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/mutation/highlights-mutations.ts
  servers/annotations-api/src/test/mutation/notes-create.integration.ts
  servers/annotations-api/src/test/mutation/notes-delete.integration.ts
  servers/annotations-api/src/test/mutation/notes-update.integration.ts
Due: annotations_api

add PocketDefaultScalars to resolver map
  servers/annotations-api/src/server/apollo/resolvers.ts
Due: annotations_api

fix parser config ssm param
  infrastructure/annotations-api/src/main.ts
Due: annotations_api

fix some dependencies that leaked from local build
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/annotations-api/src/models/HighlightsModel.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(es6): fixing up account deleter and annotations api tests
  packages/tsconfig/graphql.json
  servers/account-data-deleter/jest.config.js
  servers/account-data-deleter/jest.config.ts
  servers/account-data-deleter/jest.setup.ts
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/dataService/accountDeleteDataService.spec.ts
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/annotations-api/jest.config.js
  servers/annotations-api/jest.config.ts
  servers/annotations-api/jest.setup.ts
  servers/annotations-api/package.json
  servers/annotations-api/src/dataservices/dataloaders.spec.ts
  servers/annotations-api/src/dataservices/notes.spec.ts
  servers/annotations-api/src/server/apollo/typeDefs.ts
  servers/annotations-api/src/server/aws/batchDeleteHandler.spec.ts
  servers/annotations-api/src/server/routes/queueDelete.integration.ts
  servers/annotations-api/src/test/mutation/highlights-batchwrite.integration.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/mutation/highlights-delete.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update-deprecated.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server
