Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(corpus:search): update 'found' local in response
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
Due: user_list_search

chore: update flaky test
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
Due: user_list_search

fix(search): update queries for os_2.13 upgrade (#618)
  .docker/aws-resources/user-list-search.sh
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/advancedSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.spec.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.ts
  servers/user-list-search/src/elasticsearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/server/routes/itemDelete.integration.ts
  servers/user-list-search/src/server/routes/itemUpdate.integration.ts
Due: user_list_search

chore: update ESM to replay from timestamp
  infrastructure/user-list-search/kinesis_consumer.tf
Due: user_list_search

chore(search/article): add secret ID to access article view
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/main.tf
  servers/user-list-search/src/config/index.ts
Due: user_list_search

chore(search/article): add secret ID to access article view (#619)
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/main.tf
  servers/user-list-search/src/config/index.ts
Due: user_list_search

fix(v3proxy): accept numeric item_ids
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

fix(v3proxy): accept numeric item_ids (#620)
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

fix(v3proxy): return 400 if missing identifier in actions
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
Due: v3_proxy_api

Notes added by 'git notes add'
  78d7735fa4a0f22fb6c757580fdabf5abde4a64e
Due: none

chore(test): update test error string expectation
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

fix(v3proxy): make item_id/url validator return bad user input error (#621)
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

fix(corpus:search): fix typo in event name
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
Due: user_list_search

fix(corpus:search): fix typo in event name (#622)
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
Due: user_list_search

chore(list): observability improvements
  servers/list-api/src/externalCaller/parserCaller.spec.ts
  servers/list-api/src/externalCaller/parserCaller.ts
Due: list_api

fix(search): fix unhandled error for not-ok response
  lambdas/user-list-search-indexing/src/helper.ts
Due: user_list_search

chore(list): observability improvements (#623)
  lambdas/user-list-search-indexing/src/helper.ts
  servers/list-api/src/externalCaller/parserCaller.spec.ts
  servers/list-api/src/externalCaller/parserCaller.ts
Due: list_api, user_list_search

fix(given_url): ensure we always return a given url
  servers/list-api/src/test/graphql/queries/savedItems-archive-pagination.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems.integration.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: list_api, v3_proxy_api

fix(sentry): re-adding sentry express integrations
  .syncpackrc
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/instant-sync-events/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  packages/apollo-utils/package.json
  packages/sentry/package.json
  packages/sentry/src/initSentry.ts
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/push-server/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(given_url): ensure we always return a given url (#624)
  servers/list-api/src/test/graphql/queries/savedItems-archive-pagination.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems.integration.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: list_api, v3_proxy_api

chore(search): add max concurrency limits on lambdas
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/corpus_events_hydration_consumer.tf
  infrastructure/user-list-search/event_handler_consumer.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/item_update_consumer.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/user_list_import_consumer.tf
Due: user_list_search

fix(tracing): removing the extra sampling ratio
  servers/parser-graphql-wrapper/src/config/index.ts
Due: parser_graphql_wrapper

fix(sentry): re-adding sentry express integrations (#625)
  .syncpackrc
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/instant-sync-events/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  packages/apollo-utils/package.json
  packages/sentry/package.json
  packages/sentry/src/initSentry.ts
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/push-server/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(search): add max concurrency limits on lambdas (#626)
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/corpus_events_hydration_consumer.tf
  infrastructure/user-list-search/event_handler_consumer.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/item_update_consumer.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/user_list_import_consumer.tf
Due: user_list_search

Notes added by 'git notes add'
  3c329f1cf3a96c0ec40e5c7cf6012ce974e7a059
Due: none

Revert "fix(sentry): re-adding sentry express integrations (#625)"
  .syncpackrc
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/instant-sync-events/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  packages/apollo-utils/package.json
  packages/sentry/package.json
  packages/sentry/src/initSentry.ts
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/push-server/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Revert "fix(sentry): re-adding sentry express integrations (#625)" (#627)
  .syncpackrc
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/instant-sync-events/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  packages/apollo-utils/package.json
  packages/sentry/package.json
  packages/sentry/src/initSentry.ts
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/push-server/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  b3a6a5e6ead90324326f3bdd42cfc49c7aa6ff91
Due: none

feat(corpus:content): enable privileged content extraction for hydrator
  infrastructure/user-list-search/locals.tf
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
Due: user_list_search

feat(corpus:content): enable privileged content extraction for hydrator (#628)
  infrastructure/user-list-search/locals.tf
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
Due: user_list_search

fix(corpus:index): fix collection urls and standardize casing
  lambdas/user-list-search-corpus-indexing/src/createDoc.ts
  lambdas/user-list-search-corpus-indexing/src/utils.spec.ts
  lambdas/user-list-search-corpus-indexing/src/utils.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/utils.spec.ts
  lambdas/user-list-search-corpus-parser-hydration/src/utils.ts
Due: user_list_search

chore: add privileged service id to nocks
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
Due: user_list_search

fix(corpus:index): fix collection urls and standardize casing (#629)
  lambdas/user-list-search-corpus-indexing/src/createDoc.ts
  lambdas/user-list-search-corpus-indexing/src/utils.spec.ts
  lambdas/user-list-search-corpus-indexing/src/utils.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/utils.spec.ts
  lambdas/user-list-search-corpus-parser-hydration/src/utils.ts
Due: user_list_search

chore(corpus:search): denormalize ID for sorting
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  lambdas/user-list-search-corpus-indexing/src/createDoc.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
Due: user_list_search

chore(deps): upgrade pnpm action-setup to v4
  .github/workflows/publish.yml
Due: none

chore(deps): upgrade pnpm action-setup to v4 (#631)
  .github/workflows/publish.yml
Due: none

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
