Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  7467c9d46a84ac4f3a127c23b43150415d479eb9
Due: none

feat(terraform-modules): expose ALB connection log config
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(terraform-modules): expose ALB connection log config (#1107)
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  fff0f693830dce71b2436736f0b09e39d21e0ec9
Due: none

chore: add tenant risk ratings yaml for client API
  servers/client-api/tenant-risk-ratings.yaml
Due: client_api

fix(user-list-search): add PL to CorpusLanguage enum
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/__generated__/types.ts
Due: user_list_search

chore: remove corpus fields/types from parser subgraph
  .github/workflows/archived/parser-graphql-wrapper.yml.bak
  .github/workflows/parser-graphql-wrapper.yml
  servers/parser-graphql-wrapper/schema.graphql
Due: parser_graphql_wrapper

chore: remove corpus fields/types from parser subgraph (#1110)
  .github/workflows/archived/parser-graphql-wrapper.yml.bak
  .github/workflows/parser-graphql-wrapper.yml
  servers/parser-graphql-wrapper/schema.graphql
Due: parser_graphql_wrapper

chore(client-api): update apollo router to 1.61.13
  servers/client-api/Dockerfile
Due: client_api

chore(client-api): update apollo router to 1.61.13 (#1125)
  servers/client-api/Dockerfile
Due: client_api

feat(terraform-modules): allow a domain's public record to be managed outside the stack
  packages/terraform-modules/src/base/ApplicationBaseDNS.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(client-api): keep DNS records in the root zone after the Fastly WAF cutover
  infrastructure/client-api/src/main.ts
Due: client_api

feat(terraform-modules): manage the edge CNAME for WAF-onboarded domains
  infrastructure/client-api/src/main.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

test(terraform-modules): cover the external-edge DNS path
  packages/terraform-modules/src/base/ApplicationBaseDNS.spec.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationBaseDNS.spec.ts.snap
  packages/terraform-modules/src/pocket/PocketALBApplication.spec.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat: allow Fastly DNS in terraform modules & apply in client API
  infrastructure/client-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationBaseDNS.spec.ts
  packages/terraform-modules/src/base/ApplicationBaseDNS.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationBaseDNS.spec.ts.snap
  packages/terraform-modules/src/pocket/PocketALBApplication.spec.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(HNT-3498): tear down feature-flags infrastructure
  .github/workflows/feature-flags.yml
  infrastructure/feature-flags/src/main.ts
Due: feature_flags

feat(HNT-3500): support Apollo Server 5 in apollo-utils
  .syncpackrc
  packages/apollo-utils/README.md
  packages/apollo-utils/package.json
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat: override DNS with manual Fastly settings
  infrastructure/client-api/src/main.ts
Due: client_api

chore: temporarily disable failing CI flows
  .github/workflows/braze-content-proxy.yml.bak
  .github/workflows/feature-flags.yml.bak
  .github/workflows/parser-graphql-wrapper.yml.bak
Due: none

feat: allow Fastly DNS in terraform modules & apply in client API (#1130)
  .github/workflows/braze-content-proxy.yml.bak
  .github/workflows/feature-flags.yml.bak
  .github/workflows/parser-graphql-wrapper.yml.bak
  infrastructure/client-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationBaseDNS.spec.ts
  packages/terraform-modules/src/base/ApplicationBaseDNS.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationBaseDNS.spec.ts.snap
  packages/terraform-modules/src/pocket/PocketALBApplication.spec.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  c26aab8086a9d3a6597e0135979456de3db7937c
Due: none

chore: post-fastly DNS cutover cleanup/verification
  .github/workflows/archived/parser-graphql-wrapper.yml
  infrastructure/client-api/src/main.ts
Due: client_api

chore: post-fastly DNS cutover cleanup/verification (#1136)
  .github/workflows/archived/parser-graphql-wrapper.yml
  infrastructure/client-api/src/main.ts
Due: client_api

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
