Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

fix(test): updating test dates
  servers/list-api/src/test/graphql/mutations/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-updates.integration.ts
  servers/list-api/src/test/graphql/queries/savedItem.integration.ts
Due: list_api

fix(start): updating start command
  servers/list-api/package.json
Due: list_api

feat(router): prep to swap client-api infrastructure
  infrastructure/pocket-router/src/config/index.ts
  infrastructure/pocket-router/src/main.ts
  servers/pocket-router/config/router.yaml
Due: pocket_router

rename files/namespaces/configs
  .circleci/client-api.yml
  .circleci/common.yml
  .circleci/config.yml
  infrastructure/client-api/.eslintrc.js
  infrastructure/client-api/.gitignore
  infrastructure/client-api/.terraform-version
  infrastructure/client-api/cdktf.json
  infrastructure/client-api/package.json
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  infrastructure/client-api/tsconfig.json
  pnpm-lock.yaml
  servers/client-api/.apollo/router_config_schema.json
  servers/client-api/.env.example
  servers/client-api/.gitignore
  servers/client-api/.idea/.gitignore
  servers/client-api/.idea/graphql-settings.xml
  servers/client-api/.idea/jsonSchemas.xml
  servers/client-api/.prettierrc
  servers/client-api/.vscode/extensions.json
  servers/client-api/.vscode/settings.json
  servers/client-api/Dockerfile
  servers/client-api/LICENSE
  servers/client-api/README.md
  servers/client-api/config/router.yaml
  servers/client-api/config/supergraph.yaml
  servers/client-api/rhai/claims_forwarding.rhai
  servers/client-api/rhai/header_extraction.rhai
  servers/client-api/rhai/main.rhai
  servers/pocket-router/renovate.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

(client-api): use port 4001
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  servers/client-api/config/router.yaml
Due: none

migrate ids for terraform
  infrastructure/client-api/src/main.ts
Due: none

(client-api): set original task set term to 60 minutes
  infrastructure/client-api/src/main.ts
Due: none

feat(router): prep to swap client-api infrastructure (#48)
  .circleci/client-api.yml
  .circleci/common.yml
  .circleci/config.yml
  infrastructure/client-api/.eslintrc.js
  infrastructure/client-api/.gitignore
  infrastructure/client-api/.terraform-version
  infrastructure/client-api/cdktf.json
  infrastructure/client-api/package.json
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  infrastructure/client-api/tsconfig.json
  infrastructure/pocket-router/src/config/index.ts
  pnpm-lock.yaml
  servers/client-api/.apollo/router_config_schema.json
  servers/client-api/.env.example
  servers/client-api/.gitignore
  servers/client-api/.idea/.gitignore
  servers/client-api/.idea/graphql-settings.xml
  servers/client-api/.idea/jsonSchemas.xml
  servers/client-api/.prettierrc
  servers/client-api/.vscode/extensions.json
  servers/client-api/.vscode/settings.json
  servers/client-api/Dockerfile
  servers/client-api/LICENSE
  servers/client-api/README.md
  servers/client-api/config/router.yaml
  servers/client-api/config/supergraph.yaml
  servers/client-api/rhai/claims_forwarding.rhai
  servers/client-api/rhai/header_extraction.rhai
  servers/client-api/rhai/main.rhai
  servers/pocket-router/renovate.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

fix(router): disabling the router deploy for now
  .circleci/client-api.yml
Due: none

chore(client-api): set blue/green task set termination to 5 mins
  infrastructure/client-api/src/main.ts
Due: none

fix(lint): cleaning up linter
  infrastructure/feature-flags/src/main.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(test): fixing test
  servers/feature-flags/src/unleashClient/strategy/accountAge.spec.ts
Due: none

chore(client-api): set blue/green task set termination to 5 mins (#50)
  infrastructure/client-api/src/main.ts
Due: none

fix(terraform): adding in a lock timeout for terraform
  .circleci/common.yml
Due: none

fix(list): remove sha1 from list so the task def stops changing
  infrastructure/list-api/src/main.ts
Due: list_api

fix(health): updating client api health check
  infrastructure/client-api/src/main.ts
Due: none

chore(deps): upgrading to non beta cdktf
  packages/terraform-modules/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(health): updating client api health check (#55)
  infrastructure/client-api/src/main.ts
Due: none

fix(list): remove sha1 from list so the task def stops changing (#54)
  infrastructure/list-api/src/main.ts
Due: list_api

fix(terraform): adding in a lock timeout for terraform (#53)
  .circleci/common.yml
Due: none

feat(sendgrid-data): importing sendgrid-data from commit 2df7dcba093649e363d33b45b403f95f9ebe6db5
  lambdas/sendgrid-data/package.json
  lambdas/sendgrid-data/post_example.json
  lambdas/sendgrid-data/post_pocket_example.json
  lambdas/sendgrid-data/readme.md
  lambdas/sendgrid-data/src/config/index.ts
  lambdas/sendgrid-data/src/index.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.spec.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.ts
  lambdas/sendgrid-data/src/sendgrid/event.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.spec.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.ts
  lambdas/sendgrid-data/src/sendgrid/index.ts
  lambdas/sendgrid-data/src/sendgrid/util.spec.ts
  lambdas/sendgrid-data/src/sendgrid/util.ts
  lambdas/sendgrid-data/src/sentry.ts
  lambdas/sendgrid-data/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(sendgrid-data): bringing the lambda up to date
  lambdas/sendgrid-data/jest.config.js
  lambdas/sendgrid-data/jest.setup.js
  lambdas/sendgrid-data/package.json
  lambdas/sendgrid-data/src/index.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.spec.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.spec.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.ts
  lambdas/sendgrid-data/src/sendgrid/util.spec.ts
  lambdas/sendgrid-data/src/sentry.ts
  lambdas/sendgrid-data/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(infra): adding in infra and all build steps
  .circleci/common.yml
  .circleci/config.yml
  .circleci/sendgrid-data.yml
  infrastructure/sendgrid-data/.eslintrc.js
  infrastructure/sendgrid-data/.terraform-version
  infrastructure/sendgrid-data/cdktf.json
  infrastructure/sendgrid-data/package.json
  infrastructure/sendgrid-data/src/apiGateway.ts
  infrastructure/sendgrid-data/src/config/index.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/sendgrid-data/src/utilities.ts
  infrastructure/sendgrid-data/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(linter): updating linter errors
  infrastructure/sendgrid-data/src/main.ts
  lambdas/sendgrid-data/.eslintrc.js
  lambdas/sendgrid-data/src/config/index.ts
  lambdas/sendgrid-data/src/index.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.spec.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.spec.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.ts
  lambdas/sendgrid-data/src/sendgrid/index.ts
  lambdas/sendgrid-data/src/sentry.ts
Due: none

fix(merge): fixes after merge of main
  infrastructure/feature-flags/src/main.ts
  pnpm-lock.yaml
  servers/feature-flags/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(unleash): updating unleash client
  servers/feature-flags/src/unleashClient/strategy/accountAge.ts
  servers/feature-flags/src/unleashClient/strategy/accountAgeAtStart.ts
  servers/feature-flags/src/unleashClient/strategy/hasUserModel.ts
  servers/feature-flags/src/unleashClient/strategy/newUser.ts
  servers/feature-flags/src/unleashClient/strategy/newUserInLocale.ts
  servers/feature-flags/src/unleashClient/strategy/userInLocale.ts
Due: none

fix(cdktf): updating cdktf json
  infrastructure/sendgrid-data/cdktf.json
Due: none

fix(deploy): updating deployments
  .circleci/sendgrid-data.yml
Due: none

fix(featureflags): ensuring feature flags deploys to client api correct
  .circleci/feature-flags.yml
Due: none

fix(lambda): updating lambda name
  .circleci/sendgrid-data.yml
Due: none

fix(error): logging events to sentry
  lambdas/sendgrid-data/src/index.ts
Due: none

fix(error): logging events to sentry
  infrastructure/sendgrid-data/src/config/index.ts
  lambdas/sendgrid-data/src/config/index.ts
  lambdas/sendgrid-data/src/index.ts
Due: none

fix(deploy): ensuring deploys
  servers/feature-flags/package.json
Due: none

fix(featureflags): ensuring feature flags deploys to client api correct (#57)
  .circleci/feature-flags.yml
  servers/feature-flags/package.json
Due: none

fix(feature flags): update start
  servers/feature-flags/package.json
Due: none

fix(feature flags): update start (#58)
  servers/feature-flags/package.json
Due: none

fix(sendgrid): switching to body event
  lambdas/sendgrid-data/src/index.ts
Due: none

temp(log): adding a temp logger
  lambdas/sendgrid-data/src/index.ts
Due: none

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  pocket_router: any of: ((servers|infrastructure)/pocket-router/.*)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
