Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(charset): rewriting the charset for bad utf8 values (#871)
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/middleware/charsetFixHandler.ts
  servers/v3-proxy-api/src/middleware/index.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(otel): adding in otel attributes
  servers/client-api/Dockerfile
  servers/client-api/config/router.yaml
  servers/client-api/entrypoint.sh
Due: client_api

fix(deletes): 'historical' delete process fixes
  infrastructure/account-data-deleter/src/config/index.ts
  servers/user-api/src/dataService/userDataService.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
Due: user_api, account_data_deleter

fix(otel): adding in ecs metadata formatting
  servers/client-api/entrypoint.sh
Due: client_api

fix(deletes): 'historical' delete process fixes (#872)
  infrastructure/account-data-deleter/src/config/index.ts
  servers/user-api/src/dataService/userDataService.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
Due: user_api, account_data_deleter

fix(router): updating router docker startup
  servers/client-api/Dockerfile
  servers/client-api/config/router.yaml
  servers/client-api/entrypoint.sh
Due: client_api

fix(otel): updating ecs task variables
  servers/client-api/config/router.yaml
Due: client_api

fix(account-delete): making emails optional for deletion in account deleter
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/src/routes/schemas.ts
Due: account_data_deleter

fix(trigger): ensuring a valid expression
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
Due: account_data_deleter

fix(types): updating type to match
  servers/account-data-deleter/src/routes/queueDelete.ts
Due: account_data_deleter

fix(body): fix test for post
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.spec.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
Due: none

fix(account-delete): making emails optional for deletion in account deleter (#873)
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.spec.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/src/routes/schemas.ts
Due: account_data_deleter

fix(optional): making isPremium optional
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  lambdas/account-data-deleter-events/src/schemas/accountDeleteEvent.ts
Due: none

fix(client-api): adding in router telemetry metrics (#864)
  servers/client-api/Dockerfile
  servers/client-api/config/router.yaml
  servers/client-api/entrypoint.sh
Due: client_api

Update lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
Due: none

fix(optional): making isPremium optional (#874)
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  lambdas/account-data-deleter-events/src/schemas/accountDeleteEvent.ts
Due: none

fix(router): ensuring we append v1/metrics
  docker-compose.yml
  servers/client-api/config/router.yaml
  servers/client-api/config/supergraph.yaml
  servers/client-api/run_local.sh
Due: client_api

fix(router): ensuring we append v1/metrics (#875)
  docker-compose.yml
  servers/client-api/config/router.yaml
  servers/client-api/config/supergraph.yaml
  servers/client-api/run_local.sh
Due: client_api

fix(demandControl): adding in demand control
  servers/client-api/config/router.yaml
Due: client_api

fix(accountDeleter): allow annotations api to delete without email
  lambdas/annotations-api-events/src/handlers/accountDelete.ts
  servers/annotations-api/src/server/routes/queueDelete.integration.ts
  servers/annotations-api/src/server/routes/queueDelete.ts
Due: annotations_api

fix(demandControl): adding in demand control (#876)
  servers/client-api/config/router.yaml
Due: client_api

Revert "fix(demandControl): adding in demand control (#876)"
  servers/client-api/config/router.yaml
Due: client_api

Revert "fix(demandControl): adding in demand control (#876)" (#878)
  servers/client-api/config/router.yaml
Due: client_api

fix(accountDeleter): allow annotations api to delete without email (#877)
  lambdas/annotations-api-events/src/handlers/accountDelete.ts
  servers/annotations-api/src/server/routes/queueDelete.integration.ts
  servers/annotations-api/src/server/routes/queueDelete.ts
Due: annotations_api

fix(rootFields): upping root field limit for Web Client delete batches
  servers/client-api/config/router.yaml
Due: client_api

fix(rootFields): upping root field limit for Web Client delete batches (#879)
  servers/client-api/config/router.yaml
Due: client_api

Notes added by 'git notes add'
  5d61dab1c2ed7ed7ffc0eae330fafa53bdcdfa81
Due: none

fix(metrics): addding back in demand control
  servers/client-api/config/router.yaml
  servers/client-api/config/supergraph.yaml
Due: client_api

fix(metrics): addding back in demand control (#881)
  servers/client-api/config/router.yaml
  servers/client-api/config/supergraph.yaml
Due: client_api

Revert "fix(metrics): addding back in demand control (#881)"
  servers/client-api/config/router.yaml
  servers/client-api/config/supergraph.yaml
Due: client_api

Revert "fix(metrics): addding back in demand control (#881)" (#882)
  servers/client-api/config/router.yaml
  servers/client-api/config/supergraph.yaml
Due: client_api

Notes added by 'git notes add'
  989ac500259cf066280af548b0b560e69f92b51c
Due: none

Update Dockerfile
  servers/otel-collector/Dockerfile
Due: none

Notes added by 'git notes add'
  40d4be2caa5d19ffd3512b4fe857954fd26dc7d6
Due: none

fix(instantSync): bumping memory requirement for instant sync
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
Due: none

fix(accountDelete): speeding up account deleter historical
  infrastructure/account-data-deleter/src/config/index.ts
Due: account_data_deleter

fix(instantSync): bumping memory requirement for instant sync (#886)
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
Due: none

fix(accountDelete): speeding up account deleter historical (#887)
  infrastructure/account-data-deleter/src/config/index.ts
Due: account_data_deleter

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
