Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(sync): adding initial syn clogic
  lambdas/instant-sync-events/.eslintrc.js
  lambdas/instant-sync-events/src/handlerFn.spec.ts
  lambdas/instant-sync-events/src/handlerFn.ts
  lambdas/instant-sync-events/src/handlerFns.ts
  lambdas/instant-sync-events/src/handlerMap.ts
  lambdas/instant-sync-events/src/index.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: v3_proxy_api

fix(instant-sync): adding in filter tests
  lambdas/account-data-deleter-events/package.json
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/clients.ts
  lambdas/instant-sync-events/src/config.ts
  lambdas/instant-sync-events/src/handlerFn.spec.ts
  lambdas/instant-sync-events/src/handlerFn.ts
  pnpm-lock.yaml
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  d80ba724d7974004dfdffdc8010063fe0e77e8ab
Due: none

feat(v3proxy:annotations): optionally add annotations (highlights) field
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: v3_proxy_api

feat(instant-sync): adding in basic functionality
  .docker/mysql-8-resources/schema/7g-mono-db-users-seed-instant-sync-events.sql
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/clients.ts
  lambdas/instant-sync-events/src/config.ts
  lambdas/instant-sync-events/src/handlerFn.integration.ts
  lambdas/instant-sync-events/src/handlerFn.spec.ts
  lambdas/instant-sync-events/src/handlerFn.ts
  lambdas/instant-sync-events/src/sqs.ts
  pnpm-lock.yaml
  servers/push-server/src/apns.ts
  servers/push-server/src/gcm.ts
  servers/push-server/src/worker.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(sync): adding in final sync messages
  .docker/mysql-8-resources/schema/7g-mono-db-users-seed-instant-sync-events.sql
  lambdas/instant-sync-events/jest.config.js
  lambdas/instant-sync-events/jest.setup.js
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/config.ts
  lambdas/instant-sync-events/src/handlerFn.integration.ts
  lambdas/instant-sync-events/src/handlerFn.spec.ts
  lambdas/instant-sync-events/src/handlerFn.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(cleanup): cleaning up old records
  infrastructure/instant-sync-events/src/config/index.ts
  lambdas/instant-sync-events/src/handlerFn.integration.ts
  lambdas/instant-sync-events/src/handlerFn.ts
Due: none

fix(packages): removing ts-logger due to size
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/handlerFn.integration.ts
  lambdas/instant-sync-events/src/handlerFn.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  8fa5076014f0a05c0f803c5e2f7aae067e911add
Due: none

fix(size): updating size
  lambdas/instant-sync-events/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

add test coverage through full call
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: v3_proxy_api

fix the test data to account for changes in #381
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: v3_proxy_api

feat(v3proxy:annotations): optionally add annotations to v3/get response (#383)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/HighlightFields.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: v3_proxy_api

feat(parser:listen): add listen duration estimate
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/listen/ListenModel.spec.ts
  servers/parser-graphql-wrapper/src/listen/ListenModel.ts
  servers/parser-graphql-wrapper/src/model.ts
Due: parser_graphql_wrapper

feat(parser:listen): add listen duration estimate (#386)
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/listen/ListenModel.spec.ts
  servers/parser-graphql-wrapper/src/listen/ListenModel.ts
  servers/parser-graphql-wrapper/src/model.ts
Due: parser_graphql_wrapper

fix(sync): update sync
  lambdas/instant-sync-events/src/handlerFn.ts
Due: none

fix(sync): adding instant sync logic (#382)
  .docker/mysql-8-resources/schema/7g-mono-db-users-seed-instant-sync-events.sql
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  lambdas/account-data-deleter-events/package.json
  lambdas/instant-sync-events/.eslintrc.js
  lambdas/instant-sync-events/jest.config.js
  lambdas/instant-sync-events/jest.setup.js
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/clients.ts
  lambdas/instant-sync-events/src/config.ts
  lambdas/instant-sync-events/src/handlerFn.integration.ts
  lambdas/instant-sync-events/src/handlerFn.spec.ts
  lambdas/instant-sync-events/src/handlerFn.ts
  lambdas/instant-sync-events/src/handlerFns.ts
  lambdas/instant-sync-events/src/handlerMap.ts
  lambdas/instant-sync-events/src/index.ts
  lambdas/instant-sync-events/src/sqs.ts
  pnpm-lock.yaml
  servers/push-server/src/apns.ts
  servers/push-server/src/gcm.ts
  servers/push-server/src/worker.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(v3proxy:listen): add listen estimate time to proxy response
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graphql/fragments/ItemSimple.graphql
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: v3_proxy_api

feat(v3proxy:listen): add listen estimate time to proxy response (#387)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graphql/fragments/ItemSimple.graphql
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: v3_proxy_api

feat(v3proxy:send): return error data for invalid /send actions
  servers/v3-proxy-api/src/errors/InvalidActionError.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

feat(v3proxy:send): return error data for invalid /send actions (#388)
  servers/v3-proxy-api/src/errors/InvalidActionError.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

fix(aws): removing aws from deps
  lambdas/instant-sync-events/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tags): adding in cost center and default tags to all resources
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/config/index.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/braze/src/config/index.ts
  infrastructure/braze/src/main.ts
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/config/index.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/fxa-webhook-proxy/src/config/index.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/image-api/src/config/index.ts
  infrastructure/image-api/src/main.ts
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/pocket-event-bridge/src/config/index.ts
  infrastructure/push-server/src/config/index.ts
  infrastructure/push-server/src/main.ts
  infrastructure/sendgrid-data/src/config/index.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/providers.tf
  infrastructure/v3-proxy-api/src/config/index.ts
  infrastructure/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tags): adding in cost center and default tags to all resources (#391)
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/config/index.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/braze/src/config/index.ts
  infrastructure/braze/src/main.ts
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/config/index.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/fxa-webhook-proxy/src/config/index.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/image-api/src/config/index.ts
  infrastructure/image-api/src/main.ts
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/pocket-event-bridge/src/config/index.ts
  infrastructure/push-server/src/config/index.ts
  infrastructure/push-server/src/main.ts
  infrastructure/sendgrid-data/src/config/index.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/providers.tf
  infrastructure/v3-proxy-api/src/config/index.ts
  infrastructure/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(sentry): ensure sentry is always same version
  .syncpackrc
Due: none

fix(aws): removing aws from deps (#390)
  lambdas/instant-sync-events/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(v3proxy:send): parse send request actions
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

fix(sentry): ensure sentry is always same version (#392)
  .syncpackrc
Due: none

fix(v3proxy:send): parse send request actions (#393)
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

fix(v3proxy:send): decode encoded actions array in post body
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

fix(v3proxy:send): decode encoded actions array in post body (#394)
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

fix(v3proxy:send): accept null item_id/url, as long as one is valid
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

fix(v3proxy:send): accept null item_id/url, as long as one is valid (#396)
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

fix(alb): adding in alb access logs
  infrastructure/image-api/src/config/index.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  infrastructure/v3-proxy-api/src/config/index.ts
  infrastructure/v3-proxy-api/src/main.ts
Due: image_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api, shareable_lists_api, v3_proxy_api

fix(alb): adding in alb access logs (#398)
  infrastructure/image-api/src/config/index.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  infrastructure/v3-proxy-api/src/config/index.ts
  infrastructure/v3-proxy-api/src/main.ts
Due: image_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api, shareable_lists_api, v3_proxy_api

feat(v3proxy): enable requesting annotations on fetch
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
Due: v3_proxy_api

feat(v3proxy): enable requesting annotations on fetch (#399)
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
Due: v3_proxy_api

fix(v3proxy:status): assign all possible statuses properly
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
Due: v3_proxy_api

fix(v3proxy:status): assign all possible statuses properly (#401)
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
Due: v3_proxy_api

fix(pagerduty): remove reliance on other state
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/braze/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/push-server/src/main.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  infrastructure/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, transactional_emails, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
