Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

Notes added by 'git notes add'
  7e28c1635b5a0686253b03e6dfc2d2cef459660a
Due: none

fix(types): allowing type coeresion
  packages/event-bridge/src/events/types/accountDelete.spec.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.spec.ts
  packages/event-bridge/src/utils.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(import): removing import
  packages/event-bridge/src/events/types/forgotPasswordRequest.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(types): allowing type coeresion (#905)
  packages/event-bridge/src/events/types/accountDelete.spec.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.spec.ts
  packages/event-bridge/src/utils.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  f24360b140adb9fed7c3bc4ed3c8ddb65705c66c
Due: none

feat(premium): adding premium purchase event
  lambdas/transactional-emails/package.json
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.ts
  lambdas/transactional-emails/src/schemas/premiumPurchaseSchema/premiumPurchaseEvent.ts
  lambdas/transactional-emails/src/schemas/premiumPurchaseSchema/purchase.ts
  lambdas/transactional-emails/src/schemas/premiumPurchaseSchema/user.ts
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/account.ts
  packages/event-bridge/src/events/types/base.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.spec.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/events/types/premium.ts
  packages/event-bridge/src/utils.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(import): ingest omnivore records with list api
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  pnpm-lock.yaml
  servers/list-api/package.json
  servers/list-api/schema.graphql
  servers/list-api/src/background/README.md
  servers/list-api/src/background/batchImportHandler.spec.ts
  servers/list-api/src/background/batchImportHandler.ts
  servers/list-api/src/background/index.ts
  servers/list-api/src/background/queueHandler.ts
  servers/list-api/src/background/types.ts
  servers/list-api/src/config/index.ts
  servers/list-api/src/dataService/importers/OmnivoreImportService.ts
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/featureFlags/client.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/server/main.ts
  servers/list-api/src/test/graphql/mutations/batchImport.integration.ts
  servers/list-api/src/types/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(import): get a presigned url for s3 import upload
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  pnpm-lock.yaml
  servers/list-api/jest.config.js
  servers/list-api/jest.setup.js
  servers/list-api/package.json
  servers/list-api/schema.graphql
  servers/list-api/src/config/index.ts
  servers/list-api/src/externalCaller/parserCaller.spec.ts
  servers/list-api/src/externalCaller/parserCaller.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/test/graphql/mutations/uploadImportUrl.integration.ts
  servers/list-api/src/types/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix: try to fix permissions error on s3
  infrastructure/list-api/src/main.ts
Due: list_api

chore: bump chunk size
  servers/account-data-deleter/src/config/index.ts
Due: account_data_deleter

fix(forgotpassword): updating the forgot password spec
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/types/forgotPasswordRequest.spec.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(forgotpassword): updating the forgot password spec (#908)
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/types/forgotPasswordRequest.spec.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  4c10f47098dd0486bb658e367d22650489aca1d7
Due: none

feat(user): adding in user registration event
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  lambdas/transactional-emails/src/schemas/userRegistrationEvent/index.ts
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/account.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(export): adding in export event
  lambdas/transactional-emails/src/handlers/listExportReady.spec.ts
  lambdas/transactional-emails/src/handlers/listExportReady.ts
  lambdas/transactional-emails/src/schemas/listExportReadyEvent.ts
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/events/types/list.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(packages): updating lodash
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/instant-sync-events/package.json
  lambdas/transactional-emails/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/list-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(export): updating account emitter to use pocket events
  lambdas/transactional-emails/src/handlers/accountDelete.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/types/list.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/dataService/clients.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(resolvedId): check if the parser returned a resolved id
  servers/list-api/src/externalCaller/parserCaller.spec.ts
  servers/list-api/src/externalCaller/parserCaller.ts
Due: list_api

fix(resolvedId): check if the parser returned a resolved id (#909)
  servers/list-api/src/externalCaller/parserCaller.spec.ts
  servers/list-api/src/externalCaller/parserCaller.ts
Due: list_api

chore: lint
  servers/list-api/schema.graphql
  servers/list-api/src/background/README.md
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/resolvers/mutation.ts
Due: list_api

chore: fix a test from merge
  servers/list-api/src/externalCaller/parserCaller.ts
Due: list_api

fix: jest test setup for timezone issues
  servers/account-data-deleter/jest.setup.js
  servers/account-data-deleter/src/config/index.ts
  servers/list-api/jest.config.js
  servers/list-api/jest.setup.js
Due: list_api, account_data_deleter

feat(import): omnivore list import and presigned url generation (#907)
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  pnpm-lock.yaml
  servers/account-data-deleter/jest.setup.js
  servers/account-data-deleter/src/config/index.ts
  servers/list-api/jest.config.js
  servers/list-api/jest.setup.js
  servers/list-api/package.json
  servers/list-api/schema.graphql
  servers/list-api/src/background/README.md
  servers/list-api/src/background/batchImportHandler.spec.ts
  servers/list-api/src/background/batchImportHandler.ts
  servers/list-api/src/background/index.ts
  servers/list-api/src/background/queueHandler.ts
  servers/list-api/src/background/types.ts
  servers/list-api/src/config/index.ts
  servers/list-api/src/dataService/importers/OmnivoreImportService.ts
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/externalCaller/parserCaller.spec.ts
  servers/list-api/src/externalCaller/parserCaller.ts
  servers/list-api/src/featureFlags/client.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/server/main.ts
  servers/list-api/src/test/graphql/mutations/batchImport.integration.ts
  servers/list-api/src/test/graphql/mutations/uploadImportUrl.integration.ts
  servers/list-api/src/types/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(files): rejecting file and other invalid url types
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/resolvers/utils.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
Due: list_api

fix(files): rejecting file and other invalid url types (#911)
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/resolvers/utils.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
Due: list_api

fix(rds): ensuring dev only rds use the latest version
  infrastructure/list-api/src/main.ts
  infrastructure/user-list-search/rds.tf
Due: list_api, user_list_search

fix(oembed): removing error if oembed provider does not exist
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
  servers/parser-graphql-wrapper/src/test/queries/oembed.integration.ts
Due: parser_graphql_wrapper

fix(oembed): removing error if oembed provider does not exist (#913)
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
  servers/parser-graphql-wrapper/src/test/queries/oembed.integration.ts
Due: parser_graphql_wrapper

fix(rds): ensuring dev only rds use the latest version (#912)
  infrastructure/list-api/src/main.ts
  infrastructure/user-list-search/rds.tf
Due: list_api, user_list_search

feat(events): adding remaining transactional email events (#906)
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/instant-sync-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/transactional-emails/src/handlers/accountDelete.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/listExportReady.spec.ts
  lambdas/transactional-emails/src/handlers/listExportReady.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  lambdas/transactional-emails/src/schemas/listExportReadyEvent.ts
  lambdas/transactional-emails/src/schemas/premiumPurchaseSchema/premiumPurchaseEvent.ts
  lambdas/transactional-emails/src/schemas/premiumPurchaseSchema/purchase.ts
  lambdas/transactional-emails/src/schemas/premiumPurchaseSchema/user.ts
  lambdas/transactional-emails/src/schemas/userRegistrationEvent/index.ts
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/account.ts
  packages/event-bridge/src/events/types/base.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.spec.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/events/types/list.ts
  packages/event-bridge/src/events/types/premium.ts
  packages/event-bridge/src/utils.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/dataService/clients.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/list-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  718a3851f9ad2968bff6357ed06a9b9121b6dd9a
Due: none

feat(list-events): moving all list api event bridge events to a package
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/account.ts
  packages/event-bridge/src/events/types/list.ts
  pnpm-lock.yaml
  servers/list-api/package.json
  servers/list-api/src/aws/eventBridgeBase.spec.ts
  servers/list-api/src/aws/eventBridgeBase.ts
  servers/list-api/src/aws/eventBridgeClient.ts
  servers/list-api/src/businessEvents/eventBridgeHandler.ts
  servers/list-api/src/businessEvents/eventHandlers.ts
  servers/list-api/src/businessEvents/exportListEvent.ts
  servers/list-api/src/businessEvents/itemsEventEmitter.spec.ts
  servers/list-api/src/businessEvents/itemsEventEmitter.ts
  servers/list-api/src/businessEvents/sqs/sqsListener.spec.ts
  servers/list-api/src/businessEvents/types.ts
  servers/list-api/src/businessEvents/unifiedEventKinesisHandler.spec.ts
  servers/list-api/src/businessEvents/unifiedEventKinesisHandler.ts
  servers/list-api/src/config/index.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/server/context.spec.ts
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/mutations/exportList.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-updates.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemTag.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-replaceSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-updateSavedItemTags.integration.ts
  servers/list-api/src/test/integrations/eventBridge.integration.ts
  servers/list-api/src/test/integrations/snowplowHandler.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tests): updating event bridge test
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/integrations/eventBridge.integration.ts
Due: list_api

fix(batch): updating after batch import
  packages/event-bridge/src/utils.ts
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/test/graphql/mutations/batchImport.integration.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(list-events): moving all list api event bridge events to a package (#910)
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/account.ts
  packages/event-bridge/src/events/types/list.ts
  packages/event-bridge/src/utils.ts
  pnpm-lock.yaml
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/list-api/package.json
  servers/list-api/src/aws/eventBridgeBase.spec.ts
  servers/list-api/src/aws/eventBridgeBase.ts
  servers/list-api/src/aws/eventBridgeClient.ts
  servers/list-api/src/businessEvents/eventBridgeHandler.ts
  servers/list-api/src/businessEvents/eventHandlers.ts
  servers/list-api/src/businessEvents/exportListEvent.ts
  servers/list-api/src/businessEvents/itemsEventEmitter.spec.ts
  servers/list-api/src/businessEvents/itemsEventEmitter.ts
  servers/list-api/src/businessEvents/sqs/sqsListener.spec.ts
  servers/list-api/src/businessEvents/types.ts
  servers/list-api/src/businessEvents/unifiedEventKinesisHandler.spec.ts
  servers/list-api/src/businessEvents/unifiedEventKinesisHandler.ts
  servers/list-api/src/config/index.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/server/context.spec.ts
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/mutations/batchImport.integration.ts
  servers/list-api/src/test/graphql/mutations/exportList.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-updates.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemTag.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-replaceSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-updateSavedItemTags.integration.ts
  servers/list-api/src/test/integrations/eventBridge.integration.ts
  servers/list-api/src/test/integrations/snowplowHandler.integration.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  018a8849b380efb011ab8a9e30630a5b9d109556
Due: none

feat(import): ajv validation for omnivore jsons
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/dataService/importers/OmnivoreImport.integration.ts
  servers/account-data-deleter/src/dataService/importers/OmnivoreImport.ts
  servers/account-data-deleter/src/dataService/importers/types.ts
  servers/account-data-deleter/src/dataService/importers/validation/ajv.ts
  servers/account-data-deleter/src/dataService/importers/validation/importValidator.ts
  servers/account-data-deleter/src/dataService/importers/validation/index.ts
  servers/account-data-deleter/src/dataService/importers/validation/schemas.ts
  servers/account-data-deleter/src/dataService/importers/validation/types.ts
  servers/account-data-deleter/test/imports/omnivore-invalid.zip
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(import): ajv validation for omnivore jsons (#915)
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/dataService/importers/OmnivoreImport.integration.ts
  servers/account-data-deleter/src/dataService/importers/OmnivoreImport.ts
  servers/account-data-deleter/src/dataService/importers/types.ts
  servers/account-data-deleter/src/dataService/importers/validation/ajv.ts
  servers/account-data-deleter/src/dataService/importers/validation/importValidator.ts
  servers/account-data-deleter/src/dataService/importers/validation/index.ts
  servers/account-data-deleter/src/dataService/importers/validation/schemas.ts
  servers/account-data-deleter/src/dataService/importers/validation/types.ts
  servers/account-data-deleter/test/imports/omnivore-invalid.zip
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(deletion): revoke fxa tokens when deleting accounts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  lambdas/account-data-deleter-events/src/config.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/postRequest.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/FxaRevoker.spec.ts
  servers/account-data-deleter/src/dataService/FxaRevoker.ts
  servers/account-data-deleter/src/routes/revokeFxa.ts
  servers/account-data-deleter/src/server.ts
  servers/user-api/src/config/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(test): add reference to user_firefox_account for test seeds
  servers/user-api/src/config/index.ts
  servers/user-api/src/test/functional/seeds.ts
Due: user_api
