Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

# our defined job, and its steps
jobs:
  setup:
    executor: path-filtering/default
    steps:
      - checkout # checkout code
      - run:
          name: Generate List of Configs to Merge
          command: |
            # Generate a list of all the circleci configs we want to run
            file_list=(".circleci/common.yml" ".circleci/repo-jobs.yml" ".circleci/image-api.yml" ".circleci/annotations-api.yml" ".circleci/shared-snowplow-consumer.yml" ".circleci/parser-graphql-wrapper.yml" ".circleci/transactional-emails.yml" ".circleci/fxa-webhook-proxy.yml" ".circleci/user-api.yml" ".circleci/pocket-router.yml" ".circleci/list-api.yml")       
            touch /tmp/configs.txt

            # Add file header to each file and dump it to the config list
            for file in "${file_list[@]}"; do
              echo "$file" >> /tmp/configs.txt
              awk -v new_content="$(cat .circleci/header.yml)" 'BEGIN {print new_content} {print}' "$file" > temp_file && mv temp_file "$file"
            done
      - path-filtering/generate-config:
          config-list-path: /tmp/configs.txt
          generated-config-path: /tmp/generated-config.yml
      - run:
          name: Reset Git
          command: |
            git reset --hard
      # Set up path mapping, in the future we should generate this as a conf file, and pass it to the option.
      # We will need to set this to true when ever the packages folder changes as well.
      # Right now though, we will only deploy if the actual servers/infra change,
      # as its likely any change in the packages will change the underlying code.
      # Worst case, bump the version in package.json to triger a deploy
      #
      # The router is just rhai scripts and yaml files without dependencies on node or any other
      # packages, so we don't trigger it unless a change occurs specifically in the subfolder
      #
      # NOTE: we use _ for the parameters to the pipeline because
      # circleci uses it as an ENV down the pipe and ENV vars can't be used with a -
      - path-filtering/set-parameters:
          config-path: /tmp/generated-config.yml
          output-path: /tmp/pipeline-parameters.json
          mapping: |
            ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) image_api true
            ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) annotations_api true
            ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) shared_snowplow_consumer true
            ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) parser_graphql_wrapper true
            ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml) transactional_emails true
            ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml) fxa_webhook_proxy true
            ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) user_api true
            ((servers|infrastructure)/pocket-router/.*) pocket_router true
            ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) list_api true
      - continuation/continue:
          configuration_path: /tmp/generated-config.yml
          parameters: /tmp/pipeline-parameters.json

# our single workflow, that triggers the setup job defined above
workflows:
  setup:
    jobs:
      - setup

fix(events): parsing
  lambdas/sendgrid-data/src/index.ts
Due: none

fix(log): removing temp logging
  lambdas/sendgrid-data/src/index.ts
Due: none

feat(unleash): upgrade unleash to 5.6.10
  .docker/postgres-resources/init-featureflags-db.sh
  docker-compose.yml
  pnpm-lock.yaml
  servers/feature-flags/package.json
  servers/feature-flags/src/admin/jwtAuthHook.ts
  servers/feature-flags/src/config/index.ts
  servers/feature-flags/src/utils/customErrors.ts
  servers/feature-flags/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(node): adding all node usage
  .circleci/header.yml
  package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(login): adopting new login values
  pnpm-lock.yaml
  servers/feature-flags/src/admin/jwtAuthHook.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(pnpm): latest circleci node has corepack
  .circleci/common.yml
Due: none

feat(sendgrid-data): importing sendgrid-data from commit 2df7dcba093649e363d33b45b403f95f9ebe6db5 (#56)
  .circleci/common.yml
  .circleci/config.yml
  .circleci/sendgrid-data.yml
  infrastructure/sendgrid-data/.eslintrc.js
  infrastructure/sendgrid-data/.terraform-version
  infrastructure/sendgrid-data/cdktf.json
  infrastructure/sendgrid-data/package.json
  infrastructure/sendgrid-data/src/apiGateway.ts
  infrastructure/sendgrid-data/src/config/index.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/sendgrid-data/src/utilities.ts
  infrastructure/sendgrid-data/tsconfig.json
  lambdas/sendgrid-data/.eslintrc.js
  lambdas/sendgrid-data/jest.config.js
  lambdas/sendgrid-data/jest.setup.js
  lambdas/sendgrid-data/package.json
  lambdas/sendgrid-data/post_example.json
  lambdas/sendgrid-data/post_pocket_example.json
  lambdas/sendgrid-data/readme.md
  lambdas/sendgrid-data/src/config/index.ts
  lambdas/sendgrid-data/src/index.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.spec.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.ts
  lambdas/sendgrid-data/src/sendgrid/event.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.spec.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.ts
  lambdas/sendgrid-data/src/sendgrid/index.ts
  lambdas/sendgrid-data/src/sendgrid/util.spec.ts
  lambdas/sendgrid-data/src/sendgrid/util.ts
  lambdas/sendgrid-data/src/sentry.ts
  lambdas/sendgrid-data/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(unleash): upgrade unleash to 5.6.10 (#59)
  .docker/postgres-resources/init-featureflags-db.sh
  docker-compose.yml
  pnpm-lock.yaml
  servers/feature-flags/package.json
  servers/feature-flags/src/admin/jwtAuthHook.ts
  servers/feature-flags/src/config/index.ts
  servers/feature-flags/src/utils/customErrors.ts
  servers/feature-flags/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(annotations): add batchWriteHighlights mutation
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/annotations-api/schema.graphql
  servers/annotations-api/src/dataservices/highlights.ts
  servers/annotations-api/src/resolvers.ts
  servers/annotations-api/src/test/mutation/highlights-batchwrite.integration.ts
  servers/annotations-api/src/test/mutation/highlights-mutations.ts
  servers/annotations-api/src/types.ts
  servers/annotations-api/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(deps): make renovate group
  renovate.json
Due: none

chore(list): making list reuse appspec if it exists
  infrastructure/list-api/src/main.ts
Due: list_api

move beforeEach hook to deduplicate
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
Due: annotations_api

feat(annotations): add batchWriteHighlights mutation (#65)
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/annotations-api/schema.graphql
  servers/annotations-api/src/dataservices/highlights.ts
  servers/annotations-api/src/resolvers.ts
  servers/annotations-api/src/test/mutation/highlights-batchwrite.integration.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/mutation/highlights-mutations.ts
  servers/annotations-api/src/types.ts
  servers/annotations-api/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(annotations-api): scaling up annotations api
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/annotations-api/src/main.ts
Due: annotations_api

chore(cleanup): removing extra codepipeline
  infrastructure/annotations-api/src/config/index.ts
Due: annotations_api

chore(deps): make renovate group (#67)
  renovate.json
Due: none

fix(deps): including extra otel packages
  packages/apollo-utils/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(sqs): removing unused sqs queues
  .docker/aws-resources/legacy-pocket-sqs.sh
Due: none

chore(s3): removing unused s3 buckets
  .docker/aws-resources/legacy-pocket-s3.sh
Due: none

chore(legacy): remove legacy s3 & sqs queues (#74)
  .docker/aws-resources/legacy-pocket-s3.sh
  .docker/aws-resources/legacy-pocket-sqs.sh
Due: none

fix(sqs): fix sqs queue
  servers/list-api/src/config/index.ts
Due: list_api

chore(list): making list reuse appspec if it exists (#69)
  infrastructure/list-api/src/main.ts
  servers/list-api/src/config/index.ts
Due: list_api

chore(config): removing old config options from list
  servers/list-api/src/config/index.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-delete.integration.ts
Due: list_api

chore(config): removing old config options from list (#75)
  servers/list-api/src/config/index.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-delete.integration.ts
Due: list_api

chore(lint): updating linter
  lambdas/account-data-deleter-batch-delete/test/utils.ts
Due: none

fix(terraform): updating terraform
  infrastructure/account-data-deleter/.eslintrc.js
  infrastructure/account-data-deleter/.terraform-version
  infrastructure/account-data-deleter/package.json
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-data-deleter/src/lambda/eventLambda.ts
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-data-deleter/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(lambda): updating to node 18
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
Due: none

fix(build): updating builds and linters
  pnpm-lock.yaml
  servers/account-data-deleter/.eslintrc.js
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/logger.ts
  servers/account-data-deleter/src/morgan.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/src/routes/stripeDelete.ts
  servers/account-data-deleter/src/server.ts
  servers/account-data-deleter/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(packages): line up package versions
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(tests): update integration tests
  .docker/aws-resources/account-data-deleter.sh
  .docker/mysql-8-resources/schema/7e-mono-db-users-seed-account-data-deleter.sql
  servers/account-data-deleter/src/config/index.ts
  servers/shared-snowplow-consumer/src/config/index.ts
Due: shared_snowplow_consumer

fix(xray): removing xray for now
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/server.ts
Due: none

fix(ci): adding in ci
  .circleci/account-data-deleter.yml
  .circleci/common.yml
  .circleci/config.yml
Due: none

fix(dynamodb): adding in lambda integration
  .circleci/account-data-deleter.yml
  .docker/aws-resources/dynamodb/account_data_deleter_historical_deleted_users_pending copy.json
  .docker/aws-resources/dynamodb/account_data_deleter_historical_deleted_users_processed.json
  lambdas/account-data-deleter-batch-delete/src/config.ts
  lambdas/account-data-deleter-batch-delete/src/dyanmoUtils.integration.ts
Due: none

chore(sinon): remove chai and sinon
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-batch-delete/src/index.spec.ts
  lambdas/account-data-deleter-events/package.json
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.spec.ts
  lambdas/account-data-deleter-events/src/index.spec.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/dataService/accountDeleteDataService.spec.ts
  servers/account-data-deleter/src/dataService/stripeDataDeleter.spec.ts
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(dynamo): updating dynamodb tables
  .docker/aws-resources/dynamodb/account_data_deleter_historical_deleted_users_pending copy.json
  .docker/aws-resources/dynamodb/account_data_deleter_historical_deleted_users_pending.json
  .docker/aws-resources/dynamodb/account_data_deleter_historical_deleted_users_processed.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(cleanup): scale back up annotations-api (#71)
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/annotations-api/src/main.ts
Due: annotations_api

fix(tests): updating test
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
Due: none

fix(s3): updating s3 bucket
  .circleci/account-data-deleter.yml
Due: none
