Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

Notes added by 'git notes add'
  d6df2f09e5639ccc1b1fbf8d2f857d38ceccfd6a
Due: none

fix(strictNull): adding strict null to annoations api (#759)
  servers/annotations-api/src/dataservices/dataloaders.ts
  servers/annotations-api/src/dataservices/notes.ts
  servers/annotations-api/src/server/apollo/context.ts
  servers/annotations-api/src/server/apollo/resolvers.ts
  servers/annotations-api/src/server/aws/batchDeleteHandler.ts
  servers/annotations-api/src/server/routes/queueDelete.integration.ts
  servers/annotations-api/src/server/routes/queueDelete.ts
  servers/annotations-api/src/test/clearUserData/notes.integration.ts
  servers/annotations-api/src/test/utils.ts
  servers/annotations-api/tsconfig.json
Due: annotations_api

fix(strictNull): adding strictNull to feature flags (#761)
  servers/feature-flags/src/admin/jwtAuthHook.ts
  servers/feature-flags/src/unleashClient/strategy/accountAge.ts
  servers/feature-flags/src/unleashClient/strategy/accountAgeAtStart.ts
  servers/feature-flags/src/unleashClient/strategy/hasUserModel.spec.ts
  servers/feature-flags/src/unleashClient/strategy/newUser.ts
  servers/feature-flags/src/unleashClient/strategy/newUserInLocale.ts
  servers/feature-flags/tsconfig.json
Due: feature_flags

fix(strictNull): enabling strict null for image api (#765)
  servers/image-api/src/cache/index.ts
  servers/image-api/src/server/apollo.ts
  servers/image-api/tsconfig.json
Due: image_api

feat(corpus:search): add syndication deduplication script
  scripts/dedupe-historical-syndication/deduplicate_syndication.ipynb
Due: none

feat(corpus:search): add syndication deduplication script (#771)
  scripts/dedupe-historical-syndication/deduplicate_syndication.ipynb
Due: none

fix(list): control read/write connection in users meta
  servers/list-api/src/dataLoader/tagsDataLoader.spec.ts
  servers/list-api/src/dataService/usersMetaService.ts
  servers/list-api/src/models/tag.spec.ts
  servers/list-api/src/server/apollo.ts
  servers/list-api/src/server/context.spec.ts
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/integrations/savedItemsService.integration.ts
  servers/list-api/src/test/integrations/usersMetaService.integration.ts
Due: list_api

fix(list): control read/write connection in users meta (#772)
  servers/list-api/src/dataLoader/tagsDataLoader.spec.ts
  servers/list-api/src/dataService/usersMetaService.ts
  servers/list-api/src/models/tag.spec.ts
  servers/list-api/src/server/apollo.ts
  servers/list-api/src/server/context.spec.ts
  servers/list-api/src/server/context.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/integrations/savedItemsService.integration.ts
  servers/list-api/src/test/integrations/usersMetaService.integration.ts
Due: list_api

fix(pnpm): ensuring we use pnpm publish
  .github/workflows/publish.yml
  packages/apollo-utils/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tracing): sentry sampling
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/v3-proxy-api/src/main.ts
Due: parser_graphql_wrapper, list_api, v3_proxy_api

fix(tracing): sentry sampling (#774)
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/v3-proxy-api/src/main.ts
Due: parser_graphql_wrapper, list_api, v3_proxy_api

Revert "fix(tracing): sentry sampling (#774)"
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/v3-proxy-api/src/main.ts
Due: parser_graphql_wrapper, list_api, v3_proxy_api

Revert "fix(tracing): sentry sampling (#774)" (#775)
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/v3-proxy-api/src/main.ts
Due: parser_graphql_wrapper, list_api, v3_proxy_api

fix(tagsList): ensure we don't pass tagsSince if forced was passed
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: v3_proxy_api

fix(tagsList): ensure we don't pass tagsSince if forced was passed (#776)
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: v3_proxy_api

fix(preview): make v3 proxy use preview metadata
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/add/toRest.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graphql/fragments/ItemComplete.graphql
  servers/v3-proxy-api/src/graphql/fragments/ItemParserMetadata.graphql
  servers/v3-proxy-api/src/graphql/fragments/ItemSimple.graphql
  servers/v3-proxy-api/src/test/fixtures/add.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: v3_proxy_api

Notes added by 'git notes add'
  f119e464b8ac8250b93d5d0384d624d1f32fa01e
Due: none

fix(strictNull): adding strict null to list-api
  servers/list-api/src/businessEvents/snowplowHandler.ts
  servers/list-api/src/businessEvents/sqs/sqsListener.spec.ts
  servers/list-api/src/businessEvents/sqs/transformers/index.ts
  servers/list-api/src/config/index.ts
  servers/list-api/src/types/index.ts
  servers/list-api/tsconfig.json
Due: list_api

fix(strictNull): adding in more strict nulls for list api
  servers/list-api/src/dataLoader/tagsDataLoader.spec.ts
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/dataService/pocketSavesService.ts
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/dataService/types.ts
  servers/list-api/src/featureFlags/mockClient.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/models/item.ts
  servers/list-api/src/models/pocketSave.ts
  servers/list-api/src/models/tag.spec.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/resolvers/user.ts
  servers/list-api/src/server/apollo.ts
  servers/list-api/src/types/index.ts
Due: list_api

Notes added by 'git notes add'
  ee0a86c5357a581d3e5cfbda3b10ec2c36e13a8f
Due: none

fix(sentry): adding in the sentry api id and cloudfront ip to sentry tagging
  packages/apollo-utils/package.json
  packages/apollo-utils/src/sentry/expressSentryMiddleware.ts
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  servers/braze-content-proxy/src/routes/collection.ts
  servers/v3-proxy-api/src/middleware/index.ts
  servers/v3-proxy-api/src/middleware/sentryTagHandler.ts
  servers/v3-proxy-api/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(sentry): adding in the sentry api id and cloudfront ip to sentry tagging (#779)
  packages/apollo-utils/package.json
  packages/apollo-utils/src/sentry/expressSentryMiddleware.ts
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  servers/braze-content-proxy/src/routes/collection.ts
  servers/v3-proxy-api/src/middleware/index.ts
  servers/v3-proxy-api/src/middleware/sentryTagHandler.ts
  servers/v3-proxy-api/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  8dc4f689c5fe6707d0f37003e50a06cd50c2f3c3
Due: none

feat(sentry): add feature flag sampler logic
  packages/sentry/package.json
  packages/sentry/src/featureFlagTraceSampler.ts
  packages/sentry/src/index.ts
  packages/sentry/src/initSentry.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(sentry): update route priority
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

fix(sentry): update route priority (#781)
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

fix(sentry): update sentry middleware initialization
  packages/apollo-utils/src/sentry/expressSentryMiddleware.ts
  servers/annotations-api/src/server/index.ts
  servers/parser-graphql-wrapper/src/apollo/server.ts
  servers/shares-api/src/apollo/server.ts
  servers/user-list-search/src/server/serverUtils.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(sentry): update sentry middleware initialization (#782)
  packages/apollo-utils/src/sentry/expressSentryMiddleware.ts
  servers/annotations-api/src/server/index.ts
  servers/parser-graphql-wrapper/src/apollo/server.ts
  servers/shares-api/src/apollo/server.ts
  servers/user-list-search/src/server/serverUtils.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  cd845f77b222ee499288fac7538267c4777ac64e
Due: none

feat(sentry): add feature flag sampler logic (#780)
  packages/sentry/package.json
  packages/sentry/src/featureFlagTraceSampler.ts
  packages/sentry/src/index.ts
  packages/sentry/src/initSentry.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(sentry): trace header propogation through router
  servers/client-api/config/router.yaml
Due: client_api

feat(sentry): trace header propogation through router (#783)
  servers/client-api/config/router.yaml
Due: client_api

fix(sentry): unset api id if it doesnt exist
  packages/apollo-utils/src/sentry/expressSentryMiddleware.ts
  servers/v3-proxy-api/src/middleware/sentryTagHandler.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server
