Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

# our defined job, and its steps
jobs:
  setup:
    executor: path-filtering/default
    steps:
      - checkout # checkout code
      - run:
          name: Generate List of Configs to Merge
          command: |
            # Generate a list of all the circleci configs we want to run
            file_list=(".circleci/common.yml" ".circleci/repo-jobs.yml" ".circleci/image-api.yml" ".circleci/annotations-api.yml" ".circleci/shared-snowplow-consumer.yml" ".circleci/parser-graphql-wrapper.yml" ".circleci/transactional-emails.yml" ".circleci/fxa-webhook-proxy.yml" ".circleci/user-api.yml" ".circleci/pocket-router.yml" ".circleci/list-api.yml")       
            touch /tmp/configs.txt

            # Add file header to each file and dump it to the config list
            for file in "${file_list[@]}"; do
              echo "$file" >> /tmp/configs.txt
              awk -v new_content="$(cat .circleci/header.yml)" 'BEGIN {print new_content} {print}' "$file" > temp_file && mv temp_file "$file"
            done
      - path-filtering/generate-config:
          config-list-path: /tmp/configs.txt
          generated-config-path: /tmp/generated-config.yml
      - run:
          name: Reset Git
          command: |
            git reset --hard
      # Set up path mapping, in the future we should generate this as a conf file, and pass it to the option.
      # We will need to set this to true when ever the packages folder changes as well.
      # Right now though, we will only deploy if the actual servers/infra change,
      # as its likely any change in the packages will change the underlying code.
      # Worst case, bump the version in package.json to triger a deploy
      #
      # The router is just rhai scripts and yaml files without dependencies on node or any other
      # packages, so we don't trigger it unless a change occurs specifically in the subfolder
      #
      # NOTE: we use _ for the parameters to the pipeline because
      # circleci uses it as an ENV down the pipe and ENV vars can't be used with a -
      - path-filtering/set-parameters:
          config-path: /tmp/generated-config.yml
          output-path: /tmp/pipeline-parameters.json
          mapping: |
            ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) image_api true
            ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) annotations_api true
            ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) shared_snowplow_consumer true
            ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) parser_graphql_wrapper true
            ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml) transactional_emails true
            ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml) fxa_webhook_proxy true
            ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) user_api true
            ((servers|infrastructure)/pocket-router/.*) pocket_router true
            ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) list_api true
      - continuation/continue:
          configuration_path: /tmp/generated-config.yml
          parameters: /tmp/pipeline-parameters.json

# our single workflow, that triggers the setup job defined above
workflows:
  setup:
    jobs:
      - setup

fix(build): updating build settings
  .circleci/account-data-deleter.yml
  lambdas/account-data-deleter-batch-delete/.eslintrc.js
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-batch-delete/tsconfig.json
  lambdas/account-data-deleter-events/.eslintrc.js
  lambdas/account-data-deleter-events/package.json
  lambdas/account-data-deleter-events/tsconfig.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/dataService/stripeDataDeleter.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat: expose public collection api query vars in studio
  servers/client-api/config/router.yaml
Due: none

fix(terraform): updating appspec.json
  .circleci/common.yml
Due: none

feat: expose public collection api query vars in studio (#76)
  servers/client-api/config/router.yaml
Due: none

fix(workspace): updating workspace save
  .circleci/account-data-deleter.yml
  .circleci/common.yml
Due: none

fix(repo): fixing repo url
  .circleci/account-data-deleter.yml
Due: none

fix(docker): adding in account data deleter docker build
  .circleci/account-data-deleter.yml
  .circleci/config.yml
Due: none

fix(lambda): adding in node env
  .circleci/account-data-deleter.yml
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
Due: none

fix(docker): adding in account data deleter docker build (#78)
  .circleci/account-data-deleter.yml
  .circleci/config.yml
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
Due: none

fix(flakey): fixing a flakey highlight create test
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
Due: annotations_api

fix(consistent): makking annotations batch delete consistently fail with more info
  servers/annotations-api/src/test/mutation/highlights-batchwrite.integration.ts
  servers/annotations-api/src/test/query/highlights-fixtures.ts
Due: annotations_api

fix(trx): fixing duplicate log annotation
  servers/annotations-api/src/dataservices/highlights.ts
Due: annotations_api

fix(deletion): temporarily pause full deletion
  servers/account-data-deleter/src/server.ts
Due: none

fix(annotations-api): fixing flakey annotations tests (#81)
  servers/annotations-api/src/dataservices/highlights.ts
  servers/annotations-api/src/test/mutation/highlights-batchwrite.integration.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/query/highlights-fixtures.ts
Due: annotations_api

feat(account-delete-monitor): initial commit of account delete monitor from e443d4635c75bfeb761696dcc521d651cdf239be
  infrastructure/account-delete-monitor/cdktf.json
  infrastructure/account-delete-monitor/package.json
  infrastructure/account-delete-monitor/src/config/index.ts
  infrastructure/account-delete-monitor/src/dynamodb.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
  infrastructure/account-delete-monitor/tsconfig.json
  lambdas/account-delete-monitor/README.md
  lambdas/account-delete-monitor/jest.config.js
  lambdas/account-delete-monitor/jest.setup.js
  lambdas/account-delete-monitor/package.json
  lambdas/account-delete-monitor/src/config.ts
  lambdas/account-delete-monitor/src/dynamodb.ts
  lambdas/account-delete-monitor/src/externalCaller/deleteMutation.spec.ts
  lambdas/account-delete-monitor/src/externalCaller/deleteMutation.ts
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.integration.ts
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.spec.ts
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.ts
  lambdas/account-delete-monitor/src/handlers/accountMergeHandler.integration.ts
  lambdas/account-delete-monitor/src/handlers/accountMergeHandler.spec.ts
  lambdas/account-delete-monitor/src/handlers/accountMergeHandler.ts
  lambdas/account-delete-monitor/src/handlers/index.ts
  lambdas/account-delete-monitor/src/index.spec.ts
  lambdas/account-delete-monitor/src/index.ts
  lambdas/account-delete-monitor/src/test/utils.ts
  lambdas/account-delete-monitor/src/types.ts
  lambdas/account-delete-monitor/src/utils.spec.ts
  lambdas/account-delete-monitor/src/utils.ts
  lambdas/account-delete-monitor/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(linter/builds): updating linter and build commands
  infrastructure/account-delete-monitor/.eslintrc.js
  infrastructure/account-delete-monitor/package.json
  infrastructure/account-delete-monitor/src/dynamodb.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/account-delete-monitor/tsconfig.json
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-delete-monitor/.eslintrc.js
  lambdas/account-delete-monitor/package.json
  lambdas/account-delete-monitor/src/externalCaller/deleteMutation.spec.ts
  lambdas/account-delete-monitor/src/externalCaller/deleteMutation.ts
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.integration.ts
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.spec.ts
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.ts
  lambdas/account-delete-monitor/src/handlers/accountMergeHandler.integration.ts
  lambdas/account-delete-monitor/src/handlers/accountMergeHandler.spec.ts
  lambdas/account-delete-monitor/src/handlers/accountMergeHandler.ts
  lambdas/account-delete-monitor/src/index.spec.ts
  lambdas/account-delete-monitor/src/test/utils.ts
  lambdas/account-delete-monitor/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(package.json): ensuring all package jsons have a files array
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/sendgrid-data/package.json
Due: none

fix(ci): adding in ci/cd
  .circleci/account-delete-monitor.yml
  .circleci/common.yml
  .circleci/config.yml
  infrastructure/account-delete-monitor/src/config/index.ts
Due: none

fix(test): adding in test integrations
  .circleci/account-delete-monitor.yml
  .docker/aws-resources/dynamodb/account_delete_monitor_events.json
  lambdas/account-delete-monitor/jest.config.js
Due: none

fix(sinon): removing sinon
  .circleci/account-delete-monitor.yml
  lambdas/account-delete-monitor/package.json
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.integration.ts
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.spec.ts
  lambdas/account-delete-monitor/src/handlers/accountMergeHandler.spec.ts
  lambdas/account-delete-monitor/src/index.spec.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(codedeploy): fixing codedeploy
  .circleci/account-delete-monitor.yml
  infrastructure/account-delete-monitor/.terraform-version
Due: none

fix(tests): updating tests to be non deterministic
  .circleci/common.yml
  .docker/mysql-8-resources/conf/local_dev.cnf
  docker-compose.yml
  pnpm-lock.yaml
  servers/account-data-deleter/jest.config.js
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/account-data-deleter/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(list-api): switching codepipeline to false for list api
  infrastructure/list-api/src/main.ts
Due: list_api

fix(tests): updating tests to be non deterministic (#85)
  .circleci/common.yml
  .docker/mysql-8-resources/conf/local_dev.cnf
  docker-compose.yml
  pnpm-lock.yaml
  servers/account-data-deleter/jest.config.js
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/routes/queueDelete.integration.ts
  servers/account-data-deleter/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(list-api): switching codepipeline to false for list api (#86)
  infrastructure/list-api/src/main.ts
Due: list_api

fix(lock): fixing lockfile
  lambdas/account-delete-monitor/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

initial file and package cleanup
  servers/shareable-lists-api/buildspec.yml
  servers/shareable-lists-api/catalog-info.yaml
  servers/shareable-lists-api/docker-compose.yml
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/renovate.json5
Due: none

migrate sinon -> jest
  servers/shareable-lists-api/README.md
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/public/routes/deleteUserData.integration.ts
  servers/shareable-lists-api/src/shared/resolvers/fields/sharedResolversFields.spec.ts
  servers/shareable-lists-api/src/snowplow/events.spec.ts
Due: none

import changes, mock fixes
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/prisma/seed.ts
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/admin/server.ts
  servers/shareable-lists-api/src/database/client.ts
  servers/shareable-lists-api/src/express.ts
  servers/shareable-lists-api/src/logger.ts
  servers/shareable-lists-api/src/main.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/public/routes/deleteUserData.integration.ts
  servers/shareable-lists-api/src/public/server.ts
  servers/shareable-lists-api/src/shared/resolvers/fields/sharedResolversFields.spec.ts
  servers/shareable-lists-api/src/snowplow/events.spec.ts
  servers/shareable-lists-api/src/snowplow/events.ts
  servers/shareable-lists-api/tsconfig.json
Due: none

migrate chai -> jest
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.auth.integration.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/PilotUser.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/utils.spec.ts
  servers/shareable-lists-api/src/public/routes/deleteUserData.integration.ts
  servers/shareable-lists-api/src/shared/resolvers/fields/sharedResolversFields.spec.ts
  servers/shareable-lists-api/src/snowplow/events.spec.ts
Due: none

get spec tests working
  infrastructure/shareable-lists-api/package.json
  pnpm-lock.yaml
  servers/shareable-lists-api/src/shared/resolvers/fields/sharedResolversFields.spec.ts
  servers/shareable-lists-api/src/snowplow/events.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

set up lambda code
  lambdas/shareable-lists-api-events/.eslintrc.js
  lambdas/shareable-lists-api-events/.nvmrc
  lambdas/shareable-lists-api-events/package.json
  lambdas/shareable-lists-api-events/src/config.ts
  lambdas/shareable-lists-api-events/src/index.spec.ts
  lambdas/shareable-lists-api-events/src/index.ts
  lambdas/shareable-lists-api-events/tsconfig.json
Due: none

get integration tests working
  servers/shareable-lists-api/.env.example
  servers/shareable-lists-api/jest.config.js
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/prisma/seed.ts
  servers/shareable-lists-api/src/admin/server.ts
  servers/shareable-lists-api/src/cache/index.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/database/queries/ShareableList.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/routes/deleteUserData.integration.ts
  servers/shareable-lists-api/src/public/server.ts
  servers/shareable-lists-api/tsconfig.json
Due: none

remove unused dependencies
  servers/shareable-lists-api/package.json
Due: none

set up infrastructure and ci
  .circleci/common.yml
  .circleci/config.yml
  .circleci/shareable-lists-api.yml
  infrastructure/shareable-lists-api/package.json
  infrastructure/shareable-lists-api/src/SQSLambda.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shareable-lists-api/tsconfig.json
Due: none

readme and repo deps lock
  pnpm-lock.yaml
  servers/shareable-lists-api/README.md
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

run linter
  infrastructure/shareable-lists-api/.eslintrc.js
  infrastructure/shareable-lists-api/.npmrc
  infrastructure/shareable-lists-api/.nvmrc
  infrastructure/shareable-lists-api/.terraform-version
  lambdas/shareable-lists-api-events/src/handlers/accountDelete.ts
  servers/shareable-lists-api/.eslintrc.js
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/src/admin/context.ts
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.integration.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.ts
  servers/shareable-lists-api/src/admin/server.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/queries/PilotUser.ts
  servers/shareable-lists-api/src/express.ts
  servers/shareable-lists-api/src/public/context.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableList.ts
  servers/shareable-lists-api/src/public/resolvers/utils.spec.ts
  servers/shareable-lists-api/src/public/resolvers/utils.ts
  servers/shareable-lists-api/src/public/routes/deleteUserData.ts
  servers/shareable-lists-api/src/public/routes/helpers.ts
  servers/shareable-lists-api/src/test/helpers/createPilotUserHelper.ts
  servers/shareable-lists-api/src/test/helpers/createShareableListHelper.ts
  servers/shareable-lists-api/src/test/helpers/createShareableListItemHelper.ts
  servers/shareable-lists-api/src/test/helpers/updateShareableListHelper.ts
  servers/shareable-lists-api/src/typeDefs.ts
Due: none
