Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

fix(push): cleaning up push server code
  .circleci/common.yml
  .circleci/config.yml
  .circleci/push-server.yml
  .docker/aws-resources/legacy-pocket-sqs.sh
  .docker/aws-resources/push-server.sh
  pnpm-lock.yaml
  servers/push-server/.eslintrc.js
  servers/push-server/package.json
  servers/push-server/src/__mocks__/apn.js
  servers/push-server/src/apns.ts
  servers/push-server/src/config.ts
  servers/push-server/src/e2e.integration.ts
  servers/push-server/src/e2e.test.ts
  servers/push-server/src/gcm.ts
  servers/push-server/src/index.ts
  servers/push-server/src/notificationTypes.ts
  servers/push-server/src/sentry.ts
  servers/push-server/src/sqs.ts
  servers/push-server/src/worker.ts
  servers/push-server/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(tf): moving to terraform modules
  .circleci/push-server.yml
  infrastructure/push-server/.eslintrc.js
  infrastructure/push-server/.gitignore
  infrastructure/push-server/.terraform-version
  infrastructure/push-server/cdktf.json
  infrastructure/push-server/modules/push-container-data/main.tf
  infrastructure/push-server/package.json
  infrastructure/push-server/prod/1_iam.cfn.yml
  infrastructure/push-server/prod/autoscaling.tf
  infrastructure/push-server/prod/data.tf
  infrastructure/push-server/prod/ecs_cluster.tf
  infrastructure/push-server/prod/global.tfvars
  infrastructure/push-server/prod/main.tf
  infrastructure/push-server/prod/pagerduty.tf
  infrastructure/push-server/prod/service.tf
  infrastructure/push-server/prod/sns.tf
  infrastructure/push-server/prod/sqs.tf
  infrastructure/push-server/prod/variables.tf
  infrastructure/push-server/src/config/index.ts
  infrastructure/push-server/src/main.ts
  infrastructure/push-server/tsconfig.json
  pnpm-lock.yaml
  servers/push-server/README.md
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(package): updating package lock and tslib
  .circleci/push-server.yml
  infrastructure/push-server/src/main.ts
  package.json
  pnpm-lock.yaml
  servers/push-server/package.json
  servers/push-server/src/config.ts
  servers/push-server/src/e2e.integration.ts
  servers/shared-snowplow-consumer/src/logger.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(jest): adding jest setup
  servers/push-server/jest.config.js
  servers/push-server/jest.setup.js
Due: none

fix(cdktf): adding in project id
  infrastructure/push-server/cdktf.json
Due: none

fix(readme): updating readme
  servers/push-server/README.md
Due: none

fix(appspec): fixing app spec saving
  .circleci/push-server.yml
Due: none

feat(push-server): initial import of push server from 5c84bb95c121091981e3b44d0f61cf85e2b9d8a1 (#157)
  .circleci/common.yml
  .circleci/config.yml
  .circleci/push-server.yml
  .docker/aws-resources/legacy-pocket-sqs.sh
  .docker/aws-resources/push-server.sh
  infrastructure/push-server/.eslintrc.js
  infrastructure/push-server/.gitignore
  infrastructure/push-server/.terraform-version
  infrastructure/push-server/cdktf.json
  infrastructure/push-server/package.json
  infrastructure/push-server/src/config/index.ts
  infrastructure/push-server/src/main.ts
  infrastructure/push-server/tsconfig.json
  package.json
  pnpm-lock.yaml
  servers/push-server/.eslintrc.js
  servers/push-server/README.md
  servers/push-server/jest.config.js
  servers/push-server/jest.setup.js
  servers/push-server/package.json
  servers/push-server/src/apns.ts
  servers/push-server/src/config.ts
  servers/push-server/src/e2e.integration.ts
  servers/push-server/src/gcm.ts
  servers/push-server/src/index.ts
  servers/push-server/src/notificationTypes.ts
  servers/push-server/src/sentry.ts
  servers/push-server/src/sqs.ts
  servers/push-server/src/worker.ts
  servers/push-server/tsconfig.json
  servers/shared-snowplow-consumer/src/logger.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(test): punting on a test for now
  pnpm-lock.yaml
  servers/user-list-search/src/premiumSearch.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(user-list-search): making user-list-search match other systems (#150)
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/queue_users_ecs.tf
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/bin/README.md
  servers/user-list-search/src/bin/apiServer.ts
  servers/user-list-search/src/bin/loadPremiumUsersForBackfill.ts
  servers/user-list-search/src/bin/processUserItemsUpdateQueue.ts
  servers/user-list-search/src/bin/processUserListImportQueue.ts
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/elasticsearch.ts
  servers/user-list-search/src/main.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/sentry.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/services/itemDelete/handler.ts
  servers/user-list-search/src/services/itemUpdate/handler.ts
  servers/user-list-search/src/services/kinesis/handler.ts
  servers/user-list-search/src/services/kinesis/index.ts
  servers/user-list-search/src/services/userListImport/handler.ts
  servers/user-list-search/src/shared/util.ts
  servers/user-list-search/src/tasks/userListImport.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(search): ensure search deploys to right ecs
  .circleci/config.yml
  .circleci/user-list-search.yml
Due: none

fix(search): ensure search deploys to right ecs (#163)
  .circleci/config.yml
  .circleci/user-list-search.yml
Due: none

Notes added by 'git notes add'
  0edc9c072eacd87af970068b2c96ef59276ac894
Due: none

feat(redis): adding in serverless redis
  packages/terraform-modules/src/base/ApplicationElasticacheCluster.ts
  packages/terraform-modules/src/base/ApplicationMemcache.ts
  packages/terraform-modules/src/base/ApplicationRedis.ts
  packages/terraform-modules/src/base/ApplicationServerlessRedis.spec.ts
  packages/terraform-modules/src/base/ApplicationServerlessRedis.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationServerlessRedis.spec.ts.snap
  packages/terraform-modules/src/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(redis): switching parser and image api to use the serverless redis cache
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: image_api, parser_graphql_wrapper

fix(subnets): supporting data aws subnets on redis
  packages/terraform-modules/src/base/ApplicationServerlessRedis.spec.ts
  packages/terraform-modules/src/base/ApplicationServerlessRedis.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationServerlessRedis.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(zones): removing us-east-1e from az zones on serverless cache
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: image_api, parser_graphql_wrapper

chore(lint): fixing linter
  packages/terraform-modules/src/base/ApplicationServerlessRedis.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(parser): resolve item from short url
  servers/parser-graphql-wrapper/src/database/mysql.ts
  servers/parser-graphql-wrapper/src/resolvers.spec.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.spec.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.ts
Due: none

feat(parser): resolve item from short url (#165)
  servers/parser-graphql-wrapper/src/database/mysql.ts
  servers/parser-graphql-wrapper/src/resolvers.spec.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.spec.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.ts
Due: none

feat(serverless-redis): adding in support for the serverless redis cache (#162)
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  packages/terraform-modules/src/base/ApplicationElasticacheCluster.ts
  packages/terraform-modules/src/base/ApplicationMemcache.ts
  packages/terraform-modules/src/base/ApplicationRedis.ts
  packages/terraform-modules/src/base/ApplicationServerlessRedis.spec.ts
  packages/terraform-modules/src/base/ApplicationServerlessRedis.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationServerlessRedis.spec.ts.snap
  packages/terraform-modules/src/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  e5485614bf6d16e1b50199fd78fa3c85db4aa7aa
Due: none

fix(cache): revert serverless for now
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: image_api, parser_graphql_wrapper

fix(cache): revert serverless for now (#166)
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: image_api, parser_graphql_wrapper

fix(redis): enabling cluster support for serverless
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  pnpm-lock.yaml
  servers/image-api/package.json
  servers/image-api/src/cache/index.ts
  servers/image-api/src/server/apollo.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/cache/index.ts
  servers/parser-graphql-wrapper/src/server.ts
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(testing): allowing local testing
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  servers/image-api/src/cache/index.ts
  servers/image-api/src/config/index.ts
  servers/parser-graphql-wrapper/src/cache/index.ts
  servers/parser-graphql-wrapper/src/config/index.ts
Due: image_api, parser_graphql_wrapper

fix(errors): fix formatError hook not returning custom errors
  packages/apollo-utils/src/errorHandler/errorHandler.ts
  servers/user-list-search/src/premiumSearch.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(redis): enabling cluster support for serverless (#167)
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  pnpm-lock.yaml
  servers/image-api/package.json
  servers/image-api/src/cache/index.ts
  servers/image-api/src/config/index.ts
  servers/image-api/src/server/apollo.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/cache/index.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/server.ts
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(name): ensuring that the same name is always used for cache
  packages/terraform-modules/src/base/ApplicationServerlessRedis.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(name): ensuring that the same name is always used for cache (#169)
  packages/terraform-modules/src/base/ApplicationServerlessRedis.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  884131da5f6a1e837c99bf21a8b6ccd9cccd7d95
Due: none

chore(infra): cleaning up old image and parser cache
  docker-compose.yml
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: image_api, parser_graphql_wrapper

chore(infra): cleaning up old image and parser cache (#170)
  docker-compose.yml
  infrastructure/image-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: image_api, parser_graphql_wrapper

Notes added by 'git notes add'
  1d899c35613b5d3d5b38cfca9fd5558b26af9002
Due: none

Notes added by 'git notes add'
  9dc81b602a66f17841d8d53c502017fe4d741dd9
Due: none

fix(errors): fix formatError hook not returning custom errors (#168)
  packages/apollo-utils/src/errorHandler/errorHandler.ts
  servers/user-list-search/src/premiumSearch.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

add tests for all filters, fix overfetch
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters-offset.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems.integration.ts
Due: list_api

feat(list): offset-pagination for v3 api proxy
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/user.ts
  servers/list-api/src/test/graphql/queries/savedItems.integration.ts
  servers/list-api/src/types/index.ts
Due: list_api

Notes added by 'git notes add'
  78eeee8bb93cd41618a7a3d8636038e383e4fa1d
Due: none

fix test typo
  servers/list-api/src/test/graphql/queries/savedItems-filters-offset.integration.ts
Due: list_api

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  pocket_router: any of: ((servers|infrastructure)/pocket-router/.*)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
