Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

chore: lint
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
Due: none

fix(metadata): update metadata to allow null syndication images
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
Due: parser_graphql_wrapper

fix(metadata): update metadata to allow null syndication images (#916)
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
Due: parser_graphql_wrapper

Notes added by 'git notes add'
  aee4a8ddba6fead0542f76e17a54c1ccfbace53d
Due: none

fix(accountDeleter): removing event bridge from account deleter
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(shareableLists): adding in shareable list events
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/types/shareableList.ts
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/src/aws/eventBridgeClient.ts
  servers/shareable-lists-api/src/snowplow/events.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(import): override limit for testing with flag
  servers/list-api/src/resolvers/mutation.ts
Due: list_api

fix(events): adding in event error logging
  packages/event-bridge/src/client.ts
  packages/event-bridge/src/errors.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(import): override limit for testing with flag (#918)
  servers/list-api/src/resolvers/mutation.ts
Due: list_api

feat(shareableLists): move shareable lists to event bridge package
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/events/types/list.ts
  packages/event-bridge/src/events/types/shareableList.ts
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/events/events.spec.ts
  servers/shareable-lists-api/src/events/events.ts
  servers/shareable-lists-api/src/events/utils.ts
  servers/shareable-lists-api/src/snowplow/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(eventBridge): updating shareable list mutations
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(import): fix empty query if import had no tags
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/test/graphql/mutations/batchImport.integration.ts
Due: list_api

fix(import): fix empty query if import had no tags (#921)
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/test/graphql/mutations/batchImport.integration.ts
Due: list_api

fix(import): reduce batch size for sqs message limits
  servers/account-data-deleter/src/dataService/importers/ImportBase.ts
Due: account_data_deleter

fix(import): reduce batch size for sqs message limits (#922)
  servers/account-data-deleter/src/dataService/importers/ImportBase.ts
Due: account_data_deleter

fix: workaround for zero-downtime db migration fix on tags PK
  .docker/mysql-8-resources/schema/01a-mono-db-readitla_ril-tmp-schema.sql
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/test/graphql/mutations/clearTags.integration.ts
  servers/list-api/src/test/graphql/mutations/replaceTags.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-replaceSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-update.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-updateSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/deleteTagByName.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/removeTagsByName.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/renameTagByName.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters.integration.ts
  servers/list-api/src/test/graphql/queries/saveditem-tags.integration.ts
  servers/list-api/src/test/graphql/queries/suggested-tags.integration.ts
  servers/list-api/src/test/graphql/queries/tagsList.integration.ts
  servers/list-api/src/types/index.ts
Due: list_api

fix: workaround for zero-downtime db migration fix on tags PK (#924)
  .docker/mysql-8-resources/schema/01a-mono-db-readitla_ril-tmp-schema.sql
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/models/SavedItem.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/test/graphql/mutations/clearTags.integration.ts
  servers/list-api/src/test/graphql/mutations/replaceTags.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-replaceSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-update.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-updateSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/deleteTagByName.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/removeTagsByName.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/renameTagByName.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters.integration.ts
  servers/list-api/src/test/graphql/queries/saveditem-tags.integration.ts
  servers/list-api/src/test/graphql/queries/suggested-tags.integration.ts
  servers/list-api/src/test/graphql/queries/tagsList.integration.ts
  servers/list-api/src/types/index.ts
Due: list_api

feat(eventBridge): moving shareable lists server to event bridge package (#920)
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/events/types/list.ts
  packages/event-bridge/src/events/types/shareableList.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/aws/eventBridgeClient.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/mutations/ShareableListItem.ts
  servers/shareable-lists-api/src/events/events.spec.ts
  servers/shareable-lists-api/src/events/events.ts
  servers/shareable-lists-api/src/events/utils.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/snowplow/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(eventBridge): shares-api to event bridge package
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/account.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/events/types/share.ts
  pnpm-lock.yaml
  servers/shares-api/package.json
  servers/shares-api/src/events/EventBus.ts
  servers/shares-api/src/events/client.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(lock): updating lockfile
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(eventBridge): ensuring all types are really interfaces
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/types/account.ts
  packages/event-bridge/src/events/types/list.ts
  packages/event-bridge/src/events/types/share.ts
  packages/event-bridge/src/events/types/shareableList.ts
  pnpm-lock.yaml
  servers/list-api/src/businessEvents/eventBridgeHandler.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  a4a15b568a4e18a5eeb7e787cee22cfa289719c6
Due: none

feat(eventBridge): shares-api to event bridge package (#925)
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/account.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/events/types/list.ts
  packages/event-bridge/src/events/types/share.ts
  packages/event-bridge/src/events/types/shareableList.ts
  pnpm-lock.yaml
  servers/list-api/src/businessEvents/eventBridgeHandler.ts
  servers/shares-api/package.json
  servers/shares-api/src/events/EventBus.ts
  servers/shares-api/src/events/client.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  f52b3f2003ec7d5d69623446267743ddf61a65ab
Due: none

feat(eventBridge): moving user list search to event bridge package
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/events/types/search.ts
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/events/EventBus.spec.ts
  servers/user-list-search/src/events/EventBus.ts
  servers/user-list-search/src/events/client.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(eventBridge): removing snowtype from search
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/snowtype.config.json
  servers/user-list-search/src/events/EventBus.spec.ts
  servers/user-list-search/src/snowtype/.snowtype-lock.json
  servers/user-list-search/src/snowtype/snowplow.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(eventBridge): moving user list search to event bridge package (#926)
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/events/types/search.ts
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/snowtype.config.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/events/EventBus.spec.ts
  servers/user-list-search/src/events/EventBus.ts
  servers/user-list-search/src/events/client.ts
  servers/user-list-search/src/snowtype/.snowtype-lock.json
  servers/user-list-search/src/snowtype/snowplow.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  ff3a459793f10ec456f0254f0cf0c1d2d0a74775
Due: none

feat(eventBridge): moving corpus indexing to use event bridge types
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-indexing/src/commands/Collection.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/collection.ts
  packages/event-bridge/src/events/types/corpus.ts
  packages/event-bridge/src/events/types/index.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(eventBridge): removing empty objects
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-indexing/src/types.ts
  packages/event-bridge/package.json
  packages/event-bridge/src/events/types/collection.spec.ts
  packages/event-bridge/src/events/types/collection.ts
  packages/event-bridge/src/jsonUtils.spec.ts
  packages/event-bridge/src/jsonUtils.ts
  packages/event-bridge/src/utils.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/shareable-lists-api/package.json
  servers/shares-api/package.json
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(eventBridge): updating corpus parser hydration to use event package
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  4500f0634a6022f2760c0a4295d7b2a1340af396
Due: none

Notes added by 'git notes add'
  ad26fb7e41d3580e2801bf63a9a0149df90778f9
Due: none

fix(li): fix li tag missing opener
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
Due: parser_graphql_wrapper

feat(node): updating node package to 22.11
  package.json
  packages/tsconfig/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(videos): updating video types for dailymotion
  servers/parser-graphql-wrapper/schema-admin.graphql
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
Due: parser_graphql_wrapper
