Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

chore: actually run some fake tests
  servers/notes-api/src/test/example.integration.ts
  servers/notes-api/src/test/example.spec.ts
Due: none

fix: add back jest-extended types to list-api
  servers/list-api/tsconfig.json
Due: list_api

fix: jest setup for test identification
  servers/notes-api/jest.config.js
  servers/notes-api/jest.setup.js
Due: none

Notes added by 'git notes add'
  601c1cb149e15386ba8d74d9e44808b1219290d7
Due: none

fix(eventBridge): remove all event bridge topics (#954)
  infrastructure/pocket-event-bridge/src/event-rules/collection-events/collectionApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/collection-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/corpusEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password-request/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password-request/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/listApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-export-request-ready/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/premium-purchase/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/premium-purchase/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/search-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/search-api-events/pocketSearchEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListItemEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shares-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/shares-api-events/pocketShareEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-api-events/userApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-registration/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-registration/userRegistrationEventRule.ts
  infrastructure/pocket-event-bridge/src/main.ts
Due: pocket_event_bridge

chore(deps): update aws
  .syncpackrc
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/instant-sync-events/package.json
  lambdas/sendgrid-data/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  packages/event-bridge/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/push-server/package.json
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  b3efc13575cab3d2a824c9427d2e5734a8ed29af
Due: none

Notes added by 'git notes add'
  6d0020b5380bfa2d55126660bd97acce5f5bd6cc
Due: none

chore(notes): downgrade version of postgres to aurora compatible
  infrastructure/notes-api/src/main.ts
Due: none

feat(notes): query to retrieve a note
  pnpm-lock.yaml
  servers/notes-api/codegen.ts
  servers/notes-api/jest.setup.js
  servers/notes-api/package.json
  servers/notes-api/prisma/migrations/20241121200307_note_tweaks/migration.sql
  servers/notes-api/prisma/schema.prisma
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/db.d.ts
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/apollo/context.ts
  servers/notes-api/src/apollo/index.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/config/index.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/datasources/db.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/models/ProseMirrorDoc.spec.ts
  servers/notes-api/src/models/ProseMirrorDoc.ts
  servers/notes-api/src/test/documents/basicText.json
  servers/notes-api/src/test/documents/complexFormat.json
  servers/notes-api/src/test/example.integration.ts
  servers/notes-api/src/test/example.spec.ts
  servers/notes-api/src/test/fakes/Note.ts
  servers/notes-api/src/test/operations/index.ts
  servers/notes-api/src/test/operations/queries.ts
  servers/notes-api/src/test/queries/note.integration.ts
  servers/notes-api/src/utils/dataloader.ts
  servers/notes-api/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: add back an accidentally deleted line
  servers/notes-api/schema.graphql
Due: none

chore: update docstring to match new generic args
  servers/notes-api/src/utils/dataloader.ts
Due: none

chore: add dom to lib
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/apollo/context.ts
  servers/notes-api/tsconfig.json
Due: none

feat(notes): query to retrieve a note (#970)
  pnpm-lock.yaml
  servers/notes-api/codegen.ts
  servers/notes-api/jest.setup.js
  servers/notes-api/package.json
  servers/notes-api/prisma/migrations/20241121200307_note_tweaks/migration.sql
  servers/notes-api/prisma/schema.prisma
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/db.d.ts
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/apollo/context.ts
  servers/notes-api/src/apollo/index.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/config/index.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/datasources/db.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/models/ProseMirrorDoc.spec.ts
  servers/notes-api/src/models/ProseMirrorDoc.ts
  servers/notes-api/src/test/documents/basicText.json
  servers/notes-api/src/test/documents/complexFormat.json
  servers/notes-api/src/test/example.integration.ts
  servers/notes-api/src/test/example.spec.ts
  servers/notes-api/src/test/fakes/Note.ts
  servers/notes-api/src/test/operations/index.ts
  servers/notes-api/src/test/operations/queries.ts
  servers/notes-api/src/test/queries/note.integration.ts
  servers/notes-api/src/utils/dataloader.ts
  servers/notes-api/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(notes:infra): fix note deployment and separate r/w endpoints
  infrastructure/notes-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
  servers/notes-api/jest.setup.js
  servers/notes-api/src/apollo/context.ts
  servers/notes-api/src/config/index.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/datasources/db.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(notes:infra): fix note deployment and separate r/w endpoints (#971)
  infrastructure/notes-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
  servers/notes-api/jest.setup.js
  servers/notes-api/src/apollo/context.ts
  servers/notes-api/src/config/index.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/datasources/db.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  4acfad422f5efb8339fb0516341951f0005e0660
Due: none

Notes added by 'git notes add'
  0a8222dd1cfbd9895a63d13764727f4145c131f3
Due: none

Notes added by 'git notes add'
  322a46295afd37ce800f6a84614f2e4dadbd4488
Due: none

fix(notes): add prisma to prod dependencies
  pnpm-lock.yaml
  servers/notes-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: fix-mismatches
  pnpm-lock.yaml
  servers/notes-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(notes): add prisma to prod dependencies (#975)
  pnpm-lock.yaml
  servers/notes-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(search): update our flakey search tests
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en_luc.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  .docker/aws-resources/elasticsearch/esindex_list.json
  docker-compose.yml
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/corpus/semanticSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/advancedSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/saves/elasticsearch.integration.ts
  servers/user-list-search/src/saves/premiumSearch.integration.ts
  servers/user-list-search/src/saves/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/test/utils/searchIntegrationTestHelpers.ts
Due: user_list_search

fix(elastic): enabling force merge
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/server/routes/batchDelete.ts
  servers/user-list-search/src/test/utils/corpusSeeder.ts
  servers/user-list-search/src/test/utils/searchIntegrationTestHelpers.ts
Due: user_list_search

fix(search): update our flakey search tests (#977)
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en_luc.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  .docker/aws-resources/elasticsearch/esindex_list.json
  docker-compose.yml
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/corpus/semanticSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/advancedSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/saves/elasticsearch.integration.ts
  servers/user-list-search/src/saves/premiumSearch.integration.ts
  servers/user-list-search/src/saves/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/server/routes/batchDelete.ts
  servers/user-list-search/src/test/utils/corpusSeeder.ts
  servers/user-list-search/src/test/utils/searchIntegrationTestHelpers.ts
Due: user_list_search

Notes added by 'git notes add'
  e786c1d4bb570fbe4d876338f1f239bedf7af4df
Due: none
