Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

Notes added by 'git notes add'
  1f498053ceb89aec443b8a0760332b0ae403c5fb
Due: none

feat(preview): adding standardized preview data cards (#697)
  .github/workflows/parser-graphql-wrapper.yml
  package.json
  packages/image-utils/.npmignore
  packages/image-utils/README.md
  packages/image-utils/eslint.config.mjs
  packages/image-utils/jest.config.js
  packages/image-utils/package.json
  packages/image-utils/src/index.ts
  packages/image-utils/src/utils.spec.ts
  packages/image-utils/src/utils.ts
  packages/image-utils/tsconfig.json
  pnpm-lock.yaml
  servers/client-api/.env.example
  servers/client-api/README.md
  servers/client-api/config/router.yaml
  servers/client-api/config/supergraph.yaml
  servers/image-api/package.json
  servers/image-api/src/resolvers/index.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema-admin.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts.bak
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  5689758193a674872f308325cdf4ec353e302123
Due: none

feat(jwt): moving jwt generation to its own package
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/fxa-webook-proxy-sqs/src/index.spec.ts
  lambdas/fxa-webook-proxy-sqs/src/mutations.ts
  lambdas/fxa-webook-proxy-sqs/src/secretManager.ts
  packages/apollo-utils/package.json
  packages/jwt-utils/.npmignore
  packages/jwt-utils/README.md
  packages/jwt-utils/eslint.config.mjs
  packages/jwt-utils/jest.config.js
  packages/jwt-utils/package.json
  packages/jwt-utils/src/index.ts
  packages/jwt-utils/src/jwt.spec.ts
  packages/jwt-utils/src/jwt.ts
  packages/jwt-utils/tsconfig.json
  packages/lambda-secrets/package.json
  packages/terraform-modules/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
  servers/braze-content-proxy/package.json
  servers/braze-content-proxy/src/config/index.ts
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(digest): adding in digest outline
  servers/braze-content-proxy/src/errors/index.ts
  servers/braze-content-proxy/src/middleware/cache.ts
  servers/braze-content-proxy/src/middleware/validateBrazeAPIKey.ts
  servers/braze-content-proxy/src/routes/collection.ts
  servers/braze-content-proxy/src/routes/digest.integration.ts
  servers/braze-content-proxy/src/routes/digest.ts
  servers/braze-content-proxy/src/routes/scheduledItems.integration.ts
  servers/braze-content-proxy/src/routes/scheduledItems.ts
  servers/braze-content-proxy/src/server.ts
  servers/braze-content-proxy/src/utils.ts
Due: none

fix(jwt): adding in jwt generation for a user
  infrastructure/braze-content-proxy/src/main.ts
  lambdas/fxa-webook-proxy-gateway/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/jwt-utils/src/index.ts
  packages/jwt-utils/src/jwt.spec.ts
  pnpm-lock.yaml
  servers/braze-content-proxy/src/config/index.ts
  servers/braze-content-proxy/src/errors/index.ts
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/braze-content-proxy/src/graphql/client-api-proxy.ts
  servers/braze-content-proxy/src/graphql/queries/digest.graphql
  servers/braze-content-proxy/src/routes/digest.ts
  servers/braze-content-proxy/src/routes/types.ts
  servers/braze-content-proxy/src/utils.spec.ts
  servers/braze-content-proxy/src/utils.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  08fdb896767e5a82c18366d74d438d60eae22d2a
Due: none

fix(docker): updating dockerfile
  Dockerfile
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api, feature_flags, shareable_lists_api, user_list_search, push_server

feat(braze): adding in basic braze list query
  packages/jwt-utils/src/jwt.ts
  pnpm-lock.yaml
  servers/braze-content-proxy/package.json
  servers/braze-content-proxy/src/config/index.ts
  servers/braze-content-proxy/src/graphql/client-api-proxy.ts
  servers/braze-content-proxy/src/middleware/cache.ts
  servers/braze-content-proxy/src/routes/digest.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(item_id): remove mirroring code
  servers/list-api/src/config/index.ts
  servers/list-api/src/dataService/pocketSavesService.ts
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/test/integrations/writeMirror.integration.ts
Due: list_api

chore(item_id): remove mirroring code (#707)
  servers/list-api/src/config/index.ts
  servers/list-api/src/dataService/pocketSavesService.ts
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/test/integrations/writeMirror.integration.ts
Due: list_api

feat(waf): adding a waf to Braze for security (#702)
  infrastructure/braze-content-proxy/src/main.ts
  infrastructure/client-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationLoadBalancer.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.spec.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  3ff2f959c49455b02b9b6e2b23bb33aa32eee9c9
Due: none

test(braze): testing the ins and out of digest
  infrastructure/braze-content-proxy/src/main.ts
  packages/jwt-utils/README.md
  servers/braze-content-proxy/jest.config.js
  servers/braze-content-proxy/jest.setup.js
  servers/braze-content-proxy/src/routes/digest.integration.ts
  servers/braze-content-proxy/src/routes/digest.ts
  servers/braze-content-proxy/src/routes/scheduledItems.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  2142851c211f934c898a4e936e2f87942b6cce77
Due: none

chore: remove connectors and separate deploy
  infrastructure/corpus-embeddings/connector_lambda.tf
  infrastructure/corpus-embeddings/locals.tf
  infrastructure/corpus-embeddings/modules/sagemaker/main.tf
  infrastructure/corpus-embeddings/opensearch.tf
  infrastructure/corpus-embeddings/sagemaker.tf
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/ecs_iam.tf
  infrastructure/user-list-search/main.tf
  infrastructure/user-list-search/modules/sagemaker/BUILD.md
  infrastructure/user-list-search/modules/sagemaker/LICENSE
  infrastructure/user-list-search/modules/sagemaker/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/async_inference/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/async_inference/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/autoscaling_example/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/autoscaling_example/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/deploy_from_hub/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/deploy_from_hub/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/deploy_from_s3/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/deploy_from_s3/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/deploy_private_model/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/deploy_private_model/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/serverless_inference/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/serverless_inference/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/tensorflow_example/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/tensorflow_example/main.tf
  infrastructure/user-list-search/modules/sagemaker/examples/use_existing_iam_role/README.md
  infrastructure/user-list-search/modules/sagemaker/examples/use_existing_iam_role/main.tf
  infrastructure/user-list-search/modules/sagemaker/main.tf
  infrastructure/user-list-search/modules/sagemaker/outputs.tf
  infrastructure/user-list-search/modules/sagemaker/variables.tf
  infrastructure/user-list-search/modules/sagemaker/versions.tf
Due: user_list_search

fix(resolver): ensuring we pass the right federation query
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
Due: parser_graphql_wrapper

fix(braze): disbaling braze 500 alarm
  infrastructure/braze-content-proxy/src/main.ts
Due: none

fix(federation): updating the preview federation query (#708)
  infrastructure/braze-content-proxy/src/main.ts
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
Due: parser_graphql_wrapper

fix(title): deriving title to url if blank
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
Due: parser_graphql_wrapper

feat(braze): block all ips that are not braze
  infrastructure/braze-content-proxy/src/main.ts
Due: none

fix(title): deriving title to url if blank (#709)
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
Due: parser_graphql_wrapper

Notes added by 'git notes add'
  9ae5bc2148dc6715ee3514c6ef72673e108a3d63
Due: none

chore(corpus-search): move infrastructure to user-list-search
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/ecs_iam.tf
  infrastructure/user-list-search/elasticsearch.tf
  infrastructure/user-list-search/main.tf
Due: user_list_search

chore: remove corpus-embeddings infrastructure
  infrastructure/corpus-embeddings/README.md
  infrastructure/corpus-embeddings/locals.tf
  infrastructure/corpus-embeddings/main.tf
  infrastructure/corpus-embeddings/modules/sagemaker/BUILD.md
  infrastructure/corpus-embeddings/modules/sagemaker/LICENSE
  infrastructure/corpus-embeddings/modules/sagemaker/README.md
  infrastructure/corpus-embeddings/modules/sagemaker/examples/async_inference/README.md
  infrastructure/corpus-embeddings/modules/sagemaker/examples/async_inference/main.tf
  infrastructure/corpus-embeddings/modules/sagemaker/examples/autoscaling_example/README.md
  infrastructure/corpus-embeddings/modules/sagemaker/examples/autoscaling_example/main.tf
  infrastructure/corpus-embeddings/modules/sagemaker/examples/deploy_from_hub/README.md
  infrastructure/corpus-embeddings/modules/sagemaker/examples/deploy_from_hub/main.tf
  infrastructure/corpus-embeddings/modules/sagemaker/examples/deploy_from_s3/README.md
  infrastructure/corpus-embeddings/modules/sagemaker/examples/deploy_from_s3/main.tf
  infrastructure/corpus-embeddings/modules/sagemaker/examples/deploy_private_model/README.md
  infrastructure/corpus-embeddings/modules/sagemaker/examples/deploy_private_model/main.tf
  infrastructure/corpus-embeddings/modules/sagemaker/examples/serverless_inference/README.md
  infrastructure/corpus-embeddings/modules/sagemaker/examples/serverless_inference/main.tf
  infrastructure/corpus-embeddings/modules/sagemaker/examples/tensorflow_example/README.md
  infrastructure/corpus-embeddings/modules/sagemaker/examples/tensorflow_example/main.tf
  infrastructure/corpus-embeddings/modules/sagemaker/examples/use_existing_iam_role/README.md
  infrastructure/corpus-embeddings/modules/sagemaker/examples/use_existing_iam_role/main.tf
  infrastructure/corpus-embeddings/modules/sagemaker/main.tf
  infrastructure/corpus-embeddings/modules/sagemaker/outputs.tf
  infrastructure/corpus-embeddings/modules/sagemaker/variables.tf
  infrastructure/corpus-embeddings/modules/sagemaker/versions.tf
  infrastructure/corpus-embeddings/opensearch.tf
  infrastructure/corpus-embeddings/sagemaker.tf
Due: none

chore: corpus-embeddings module in user-list-search
  infrastructure/user-list-search/corpus-embeddings/.gitignore
  infrastructure/user-list-search/corpus-embeddings/.terraform-version
  infrastructure/user-list-search/corpus-embeddings/README.md
  infrastructure/user-list-search/corpus-embeddings/backend.tf
  infrastructure/user-list-search/corpus-embeddings/dev_backend.tfvars
  infrastructure/user-list-search/corpus-embeddings/index.js
  infrastructure/user-list-search/corpus-embeddings/locals.tf
  infrastructure/user-list-search/corpus-embeddings/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/BUILD.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/LICENSE
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/async_inference/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/async_inference/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/autoscaling_example/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/autoscaling_example/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_from_hub/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_from_hub/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_from_s3/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_from_s3/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_private_model/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_private_model/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/serverless_inference/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/serverless_inference/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/tensorflow_example/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/tensorflow_example/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/use_existing_iam_role/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/use_existing_iam_role/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/outputs.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/variables.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/versions.tf
  infrastructure/user-list-search/corpus-embeddings/opensearch.tf
  infrastructure/user-list-search/corpus-embeddings/outputs.tf
  infrastructure/user-list-search/corpus-embeddings/sagemaker.tf
Due: user_list_search

Notes added by 'git notes add'
  da79007d63abd38eb3691070fd5d3e16c4b47c5b
Due: none

chore: add back random string
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/main.tf
  infrastructure/user-list-search/corpus-embeddings/opensearch.tf
Due: user_list_search

chore: terraform fmt
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/main.tf
Due: user_list_search

feat(braze): block all ips that are not braze (#710)
  infrastructure/braze-content-proxy/src/main.ts
Due: none

feat(embeddings): add embeddings and cutover to corpus search cluster
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  infrastructure/corpus-embeddings/providers.tf
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/corpus-embeddings/outputs.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/corpus_events_hydration_consumer.tf
  infrastructure/user-list-search/locals.tf
  lambdas/user-list-search-corpus-indexing/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/embeddingsRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(cleanup): remove embeddings connector lambda creator
  lambdas/corpus-embeddings-connector-creator/eslint.config.mjs
  lambdas/corpus-embeddings-connector-creator/jest.config.js
  lambdas/corpus-embeddings-connector-creator/jest.setup.js
  lambdas/corpus-embeddings-connector-creator/package.json
  lambdas/corpus-embeddings-connector-creator/src/config.ts
  lambdas/corpus-embeddings-connector-creator/src/index.spec.ts
  lambdas/corpus-embeddings-connector-creator/src/index.ts
  lambdas/corpus-embeddings-connector-creator/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server
