Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(corpus:search): denormalize ID for sorting (#630)
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  lambdas/user-list-search-corpus-indexing/src/createDoc.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
Due: user_list_search

chore: updates from self-review
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/__generated__/types.ts
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/corpus/keywordSearch.ts
  servers/user-list-search/src/corpus/queryBuilder.ts
  servers/user-list-search/src/corpus/types.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/serverUtils.ts
Due: user_list_search

chore: allow fragments on text content
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/corpus/keywordSearch.ts
Due: user_list_search

feat: federate preview field
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

chore: lint fix
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

chore: clean up test seeds
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/test/utils/corpusSeeder.ts
Due: user_list_search

chore: refresh indices after seeds/deletes
  servers/user-list-search/src/test/utils/corpusSeeder.ts
Due: user_list_search

fix: add key hint to CorpusSearchNode
  servers/user-list-search/schema.graphql
Due: user_list_search

fix: add key hint to CorpusSearchNode (#633)
  servers/user-list-search/schema.graphql
Due: user_list_search

Notes added by 'git notes add'
  3b4367a447ede0c128fd686a90c625a8d1a6e9db
Due: none

chore(lint): running linter
  infrastructure/account-data-deleter/package.json
  infrastructure/account-delete-monitor/package.json
  infrastructure/annotations-api/package.json
  infrastructure/annotations-api/src/main.ts
  infrastructure/feature-flags/package.json
  infrastructure/fxa-webhook-proxy/package.json
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/image-api/package.json
  infrastructure/instant-sync-events/package.json
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/list-api/package.json
  infrastructure/parser-graphql-wrapper/package.json
  infrastructure/pocket-event-bridge/package.json
  infrastructure/pocket-event-bridge/src/event-rules/account-delete-monitor/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-registration/userRegistrationEventRule.ts
  infrastructure/push-server/package.json
  infrastructure/sendgrid-data/package.json
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/shareable-lists-api/package.json
  infrastructure/shared-snowplow-consumer/package.json
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/shares-api/package.json
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  infrastructure/user-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, push_server

fix(pagerduty): removing pagerduty from user list search
  infrastructure/user-list-search/providers.tf
  infrastructure/user-list-search/terraform.tf
Due: user_list_search

fix(aws): matching aws client version
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-delete-monitor/package.json
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shares-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(account-data-deleter): removing alarm thats noisy
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: account_data_deleter

fix(account-data-deleter): removing alarm thats noisy (#637)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: account_data_deleter

fix(types): removing invalid import
  packages/sentry/src/initSentry.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(auth:search): use authorization directives to control search
  servers/client-api/rhai/format_policies.rhai
  servers/client-api/rhai/format_scopes.rhai
  servers/client-api/rhai/main.rhai
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/server/context.ts
Due: client_api, user_list_search

Notes added by 'git notes add'
  80e1d8f85901095eb68282e40224ea2b57a2305e
Due: none

fix: update policy to key-value and fix operands
  servers/client-api/rhai/claims_forwarding.rhai
  servers/client-api/rhai/format_scopes.rhai
  servers/user-list-search/schema.graphql
Due: client_api, user_list_search

fix: remove method not in rhai
  servers/client-api/rhai/format_policies.rhai
Due: client_api

Notes added by 'git notes add'
  e2655cb98855e4ba39553ec93885f5eff429f190
Due: none

fix: scope control flow and len accessor
  servers/client-api/rhai/format_scopes.rhai
Due: client_api

fix(v3proxy): skip unauthorized errors for recent search
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
Due: v3_proxy_api

fix: only process policies for requests with JWT
  servers/client-api/rhai/format_policies.rhai
Due: client_api

fix(otel): upgrade otel
  packages/tracing/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  f5eef6263b6a00db7a2fc6e1ef308015fca82a0b
Due: none

feat(search events): initial scaffolding
  infrastructure/pocket-event-bridge/src/event-rules/search-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/search-api-events/pocketSearchEventRules.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/locals.tf
  servers/shared-snowplow-consumer/src/config/index.ts
  servers/shared-snowplow-consumer/src/eventConsumer/searchEvents/searchEventconsumer.ts
  servers/shared-snowplow-consumer/src/snowplow/search/searchHandler.integration.ts
  servers/shared-snowplow-consumer/src/snowplow/search/searchHandler.ts
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/corpus/CorpusSearchEvent.ts
  servers/user-list-search/src/corpus/CorpusSearchModel.ts
  servers/user-list-search/src/corpus/types.ts
Due: shared_snowplow_consumer, pocket_event_bridge, user_list_search

fix(v3proxy:get): add contentType=all to get schema
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

fix(v3proxy:get): add contentType=all to get schema (#648)
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

Notes added by 'git notes add'
  8c9bb7adc099acc2fbfa48f1209d13f4821fea8b
Due: none

fix(scheme): adding in a url scheme if one does not exist
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/resolvers/utils.spec.ts
  servers/list-api/src/resolvers/utils.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
Due: list_api

fix(scheme): adding in a url scheme if one does not exist (#650)
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/resolvers/utils.spec.ts
  servers/list-api/src/resolvers/utils.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
Due: list_api

chore: test case
  servers/list-api/src/test/graphql/queries/savedItems-filters.integration.ts
Due: list_api

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
