Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(parser): clean up the old parser serverless cache (#488)
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

Notes added by 'git notes add'
  c374442aeeb71f331eb9d9d713f72e60a6d7bdaf
Due: none

fix(proxy): free account returns empty array for premium features
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/test/fixtures/get-account.ts
Due: v3_proxy_api

fix(proxy): free account returns empty array for premium features (#504)
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/test/fixtures/get-account.ts
Due: v3_proxy_api

fix(reader): adding in a reader url resolver
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/readerView/readerSlug.spec.ts
  servers/parser-graphql-wrapper/src/readerView/readersSlug.ts
  servers/parser-graphql-wrapper/src/test/queries/readerUrl.integration.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: parser_graphql_wrapper, v3_proxy_api

Notes added by 'git notes add'
  5d4927f93dec3536645129d0ed88cc895a5ac4c9
Due: none

feat(shares): restrict share link generation to native apps
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/datasources/shares.ts
  servers/shares-api/src/test/createShareLink.integration.ts
Due: none

fix(tests): adding in more test scenarios for the regex
  servers/parser-graphql-wrapper/src/readerView/readerSlug.spec.ts
  servers/parser-graphql-wrapper/src/readerView/readersSlug.ts
Due: parser_graphql_wrapper

fix(reader): adding in a reader url resolver (#503)
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/readerView/readerSlug.spec.ts
  servers/parser-graphql-wrapper/src/readerView/readersSlug.ts
  servers/parser-graphql-wrapper/src/test/queries/readerUrl.integration.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: parser_graphql_wrapper, v3_proxy_api

add native header to all integration tests
  servers/shares-api/src/test/Max300CharString.integration.ts
  servers/shares-api/src/test/shareSlug.integration.ts
Due: none

feat(shares): restrict share link generation to native apps (#506)
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/datasources/shares.ts
  servers/shares-api/src/test/Max300CharString.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
  servers/shares-api/src/test/shareSlug.integration.ts
Due: none

Notes added by 'git notes add'
  9b709fa5a14939e729c19ef94ca2596d2e6f18fc
Due: none

Notes added by 'git notes add'
  3e617f93111486f2337aca512b47764e2addec63
Due: none

chore(setup): initial setup and config for adding a dynamodb datstore
  .docker/aws-resources/dynamodb/parser_graphql_wrapper_item_summary_table.json
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/dynamodb.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/datasources/dynamoClient.ts
  servers/parser-graphql-wrapper/src/datasources/itemSummaryStore.ts
  servers/parser-graphql-wrapper/src/models/ItemSummaryModel.ts
  servers/parser-graphql-wrapper/src/preview/index.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/summary/ItemSummaryRouter.ts
  servers/parser-graphql-wrapper/src/summary/OpenGraphDatasource.ts
  servers/parser-graphql-wrapper/src/summary/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(logger): removing the large data blob in errors
  packages/ts-logger/src/logger.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(logger): removing the large data blob in errors (#511)
  packages/ts-logger/src/logger.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  1f9119ae60d3cc9dffadc51fa46e137bbc1091f0
Due: none

fix(models): cleaning up the model chain to make it easy to add new ones
  servers/parser-graphql-wrapper/jest.setup.js
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/databases/itemSummaryStore.ts
  servers/parser-graphql-wrapper/src/datasources/dynamoClient.ts
  servers/parser-graphql-wrapper/src/models/ItemSummaryModel.ts
  servers/parser-graphql-wrapper/src/models/summaryModels/OpenGraphModel.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/summary/ItemSummaryRouter.ts
  servers/parser-graphql-wrapper/src/summary/index.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
Due: parser_graphql_wrapper

chore(setup): initial setup and config for adding a dynamodb datstore (#510)
  .docker/aws-resources/dynamodb/parser_graphql_wrapper_item_summary_table.json
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/dynamodb.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/jest.setup.js
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/databases/itemSummaryStore.ts
  servers/parser-graphql-wrapper/src/datasources/dynamoClient.ts
  servers/parser-graphql-wrapper/src/models/ItemSummaryModel.ts
  servers/parser-graphql-wrapper/src/models/summaryModels/OpenGraphModel.ts
  servers/parser-graphql-wrapper/src/preview/index.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

wip(recentSearch): basic skeleton for recent search
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/datasource/MysqlDataSource.ts
  servers/user-list-search/src/recentSearches.integration.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/types.ts
Due: user_list_search

feat(search): Save recent searches and return them (premium account)
  .docker/mysql-8-resources/schema/7f-mono-db-users-seed-user-list-search.sql
  package.json
  pnpm-lock.yaml
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/datasource/MysqlDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/queries.ts
  servers/user-list-search/src/recentSearches.integration.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/serverUtils.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

cleanup
  servers/user-list-search/src/recentSearches.integration.ts
  servers/user-list-search/src/server/serverUtils.ts
Due: user_list_search

incorporate write user into code and tests
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/MysqlDataSource.integration.ts
  servers/user-list-search/src/datasource/MysqlDataSource.ts
  servers/user-list-search/src/datasource/clients/knexClient.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/recentSearches.integration.ts
  servers/user-list-search/src/server/routes/itemUpdate.integration.ts
  servers/user-list-search/src/server/routes/userListImport.integration.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/test/_support/seeder.ts
Due: user_list_search

prefix single-digit mysql scripts to ensure ordering
  .docker/mysql-8-resources/schema/01a-mono-db-readitla_ril-tmp-schema.sql
  .docker/mysql-8-resources/schema/01b-mono-db-readitla_ril-tmp-seed.sql
  .docker/mysql-8-resources/schema/01c-mono-db-readitlat_ril-tmp-schema-list_update_bigint_ids.sql
  .docker/mysql-8-resources/schema/02a-mono-db-readitla_b-schema.sql
  .docker/mysql-8-resources/schema/02b-mono-db-readitla_b-seed_parser_rules.sql
  .docker/mysql-8-resources/schema/02c-mono-db-readitla_b-seed.sql
  .docker/mysql-8-resources/schema/03a-mono-db-readitla_analytics-schema.sql
  .docker/mysql-8-resources/schema/03b-mono-db-readitla_analytics-seed.sql
  .docker/mysql-8-resources/schema/04a-mono-db-readitla_auth-schema.sql
  .docker/mysql-8-resources/schema/05a-mono-db-readitla_cache-schema.sql
  .docker/mysql-8-resources/schema/05b-mono-db-readitla_cache-seed.sql
  .docker/mysql-8-resources/schema/06a-mono-db-readitla_logs-schema.sql
  .docker/mysql-8-resources/schema/07a-mono-db-users-seed.sql
  .docker/mysql-8-resources/schema/07b-mono-db-users-seed-annotations-api.sql
  .docker/mysql-8-resources/schema/07c-mono-db-users-seed-user-api.sql
  .docker/mysql-8-resources/schema/07d-mono-db-users-seed-list-api.sql
  .docker/mysql-8-resources/schema/07e-mono-db-users-seed-account-data-deleter.sql
  .docker/mysql-8-resources/schema/07f-mono-db-users-seed-user-list-search.sql
  .docker/mysql-8-resources/schema/07g-mono-db-users-seed-instant-sync-events.sql
  .docker/mysql-8-resources/schema/08a-borealis-schema-.sql
  .docker/mysql-8-resources/schema/08b-borealis-seed.sql
  .docker/mysql-8-resources/schema/08c-borealis-users.sql
  .docker/mysql-8-resources/schema/09a-readitla_shares-schema.sql
  .docker/mysql-8-resources/schema/09b-readitla_shares-seed.sql
  .docker/mysql-8-resources/schema/09c-readitla_shares-users.sql
Due: none

update with new writer credentials
  infrastructure/user-list-search/ecs.tf
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/clients/knexClient.ts
Due: user_list_search

destroy writeDB connection after tests
  servers/user-list-search/src/datasource/MysqlDataSource.integration.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
Due: user_list_search

feat(metadata): adding a pocket metadata interface
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: parser_graphql_wrapper, v3_proxy_api

feat(proxy:recentSearch): add recent_searches to proxy response
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/RecentSearchFields.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/test/fixtures/get-recent-searches.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: v3_proxy_api

feat(metadata): adding a pocket metadata interface (#514)
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: parser_graphql_wrapper, v3_proxy_api

feat(proxy:recentSearch): add recent_searches to proxy response (#515)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/RecentSearchFields.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/test/fixtures/get-recent-searches.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: v3_proxy_api

fix(metadata): moving item summary to pocket metadata
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
Due: parser_graphql_wrapper

docs(shares-api): fix a typo in Max300CharString description
  servers/shares-api/src/models/Max300CharString.ts
Due: none

docs(shares-api): fix a typo in Max300CharString description (#512)
  servers/shares-api/src/models/Max300CharString.ts
Due: none

chore(deps): updating remaining otel
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

add errors check to get more data
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
Due: parser_graphql_wrapper

fix date (epoch seconds) and override ordering
  servers/parser-graphql-wrapper/src/databases/itemSummaryStore.ts
  servers/parser-graphql-wrapper/src/models/ItemSummaryModel.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
Due: parser_graphql_wrapper

fix(metadata): moving item summary to pocket metadata (#516)
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/databases/itemSummaryStore.ts
  servers/parser-graphql-wrapper/src/models/ItemSummaryModel.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
Due: parser_graphql_wrapper

Revert "fix(metadata): moving item summary to pocket metadata (#516)"
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/databases/itemSummaryStore.ts
  servers/parser-graphql-wrapper/src/models/ItemSummaryModel.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
Due: parser_graphql_wrapper

Revert "fix(metadata): moving item summary to pocket metadata (#516)" (#520)
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/databases/itemSummaryStore.ts
  servers/parser-graphql-wrapper/src/models/ItemSummaryModel.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
Due: parser_graphql_wrapper

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
