Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

feat(toplevel): adding in the toplevel v3 responses (#278)
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: none

fix(source): adding in the pocket source response header
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/middleware/index.ts
  servers/v3-proxy-api/src/middleware/sourceHeader.ts
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
Due: none

fix(graphql): adding in an identifier for v3proxy
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Due: none

Notes added by 'git notes add'
  fbdbf2bee2003ae567a5b9c750d6e4cd52fe248f
Due: none

fix(source): adding in the pocket source response header (#280)
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/middleware/index.ts
  servers/v3-proxy-api/src/middleware/sourceHeader.ts
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
Due: none

fix(graphql): adding in an identifier for v3proxy (#282)
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Due: none

Notes added by 'git notes add'
  497ca1099b830f855489eea15d3af89194e4bbd5
Due: none

fix(sentry): ensuring that we do not truncate sentry
  servers/v3-proxy-api/src/main.ts
Due: none

fix(sentry): ensuring that we do not truncate sentry (#285)
  servers/v3-proxy-api/src/main.ts
Due: none

fix(since): ensuring that since is converted to a number
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: none

fix(since): ensuring that since is converted to a number (#286)
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: none

fix(sentry): moving sentry to its own package
  packages/apollo-utils/src/index.ts
  packages/sentry/.eslintrc.js
  packages/sentry/.npmignore
  packages/sentry/README.md
  packages/sentry/jest.config.js
  packages/sentry/package.json
  packages/sentry/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/sentry/tsconfig.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/server.ts
  servers/annotations-api/package.json
  servers/annotations-api/src/server/index.ts
  servers/feature-flags/package.json
  servers/feature-flags/src/index.ts
  servers/image-api/package.json
  servers/image-api/src/server/apollo.ts
  servers/list-api/package.json
  servers/list-api/src/server/apollo.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/server.ts
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/src/express.ts
  servers/shared-snowplow-consumer/package.json
  servers/shared-snowplow-consumer/src/server.ts
  servers/user-api/package.json
  servers/user-api/src/apollo.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/server/serverUtils.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(server): renaming main to server
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/server.integration.ts
  servers/v3-proxy-api/src/server.ts
Due: none

feat(tracing): adding in tracing to v3 proxy
  infrastructure/v3-proxy-api/src/main.ts
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/server.integration.ts
  servers/v3-proxy-api/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(deps): updating open tel libraries
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(tracing): adding in tracing to v3-proxy (#287)
  infrastructure/v3-proxy-api/src/main.ts
  packages/apollo-utils/src/index.ts
  packages/sentry/.eslintrc.js
  packages/sentry/.npmignore
  packages/sentry/README.md
  packages/sentry/jest.config.js
  packages/sentry/package.json
  packages/sentry/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/sentry/tsconfig.json
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/server.ts
  servers/annotations-api/package.json
  servers/annotations-api/src/server/index.ts
  servers/feature-flags/package.json
  servers/feature-flags/src/index.ts
  servers/image-api/package.json
  servers/image-api/src/server/apollo.ts
  servers/list-api/package.json
  servers/list-api/src/server/apollo.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/server.ts
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/src/express.ts
  servers/shared-snowplow-consumer/package.json
  servers/shared-snowplow-consumer/src/server.ts
  servers/user-api/package.json
  servers/user-api/src/apollo.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/server/serverUtils.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/server.integration.ts
  servers/v3-proxy-api/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  aeaf4377dea494575b91013987960335877a2dcd
Due: none

feat(int-mask): moving int-mask to its own package
  packages/int-mask/.eslintrc.js
  packages/int-mask/.npmignore
  packages/int-mask/README.md
  packages/int-mask/jest.config.js
  packages/int-mask/package.json
  packages/int-mask/src/index.ts
  packages/int-mask/src/intMask.spec.ts
  packages/int-mask/src/intMask.ts
  packages/int-mask/src/mask.ts
  packages/int-mask/tsconfig.json
  pnpm-lock.yaml
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/context.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
  servers/user-api/src/utils/intMaskMaps.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Revert "feat(int-mask): moving int-mask to its own package"
  packages/int-mask/.eslintrc.js
  packages/int-mask/.npmignore
  packages/int-mask/README.md
  packages/int-mask/jest.config.js
  packages/int-mask/package.json
  packages/int-mask/src/index.ts
  packages/int-mask/src/intMask.spec.ts
  packages/int-mask/tsconfig.json
  pnpm-lock.yaml
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/context.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
  servers/user-api/src/utils/intMask.ts
  servers/user-api/src/utils/intMaskMaps.ts
  servers/user-api/src/utils/mask.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(int-mask): moving int-mask to its own package (#289)
  packages/int-mask/.eslintrc.js
  packages/int-mask/.npmignore
  packages/int-mask/README.md
  packages/int-mask/jest.config.js
  packages/int-mask/package.json
  packages/int-mask/src/index.ts
  packages/int-mask/src/intMask.spec.ts
  packages/int-mask/src/intMask.ts
  packages/int-mask/src/mask.ts
  packages/int-mask/tsconfig.json
  pnpm-lock.yaml
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/context.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
  servers/user-api/src/utils/intMaskMaps.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(itemmask): adding a masked item id
  infrastructure/parser-graphql-wrapper/src/main.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(mask): adding in integer mask
  infrastructure/parser-graphql-wrapper/src/main.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
Due: none

fix(pinpoint): removing all uses of aws pinpoint
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  pnpm-lock.yaml
  servers/user-api/package.json
  servers/user-api/src/aws/pinpointController.spec.ts
  servers/user-api/src/aws/pinpointController.ts
  servers/user-api/src/config/index.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/resolvers/mutations.ts
  servers/user-api/src/test/functional/mutations-appleMigration.integration.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
  servers/user-api/src/test/functional/mutations-expireUserWebSessionTokens.integration.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(itemmask): adding a masked item id (#290)
  infrastructure/parser-graphql-wrapper/src/main.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(pinpoint): removing all uses of aws pinpoint (#292)
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  pnpm-lock.yaml
  servers/user-api/package.json
  servers/user-api/src/aws/pinpointController.spec.ts
  servers/user-api/src/aws/pinpointController.ts
  servers/user-api/src/config/index.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/resolvers/mutations.ts
  servers/user-api/src/test/functional/mutations-appleMigration.integration.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
  servers/user-api/src/test/functional/mutations-expireUserWebSessionTokens.integration.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(decode): adding in intmask decoding
  packages/int-mask/src/defaults.ts
  packages/int-mask/src/intMask.spec.ts
  packages/int-mask/src/intMask.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/user-api/src/config/index.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
  servers/user-api/src/test/functional/user.integration.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(intMask): switching to default env variables
  packages/int-mask/jest.config.js
  packages/int-mask/jest.setup.js
  packages/int-mask/src/defaults.ts
  packages/int-mask/src/intMask.spec.ts
  packages/int-mask/src/intMask.ts
  servers/parser-graphql-wrapper/jest.config.js
  servers/parser-graphql-wrapper/jest.setup.js
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/user-api/jest.config.js
  servers/user-api/jest.setup.js
  servers/user-api/src/config/index.ts
  servers/user-api/src/context.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
  servers/user-api/src/test/functional/user.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  4c87013bc4eb75cf18a2195134faf484f82911ee
Due: none

chore(deps): updating all dev depenedncies
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/annotations-api-events/package.json
  lambdas/shareable-lists-api-events/package.json
  package.json
  packages/apollo-utils/package.json
  packages/eslint-config-custom/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/list-api/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(deps): updating all dev depenedncies (#295)
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/annotations-api-events/package.json
  lambdas/shareable-lists-api-events/package.json
  package.json
  packages/apollo-utils/package.json
  packages/eslint-config-custom/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/list-api/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(decode): adding in intmask decoding (#293)
  packages/int-mask/jest.config.js
  packages/int-mask/jest.setup.js
  packages/int-mask/src/intMask.spec.ts
  packages/int-mask/src/intMask.ts
  servers/parser-graphql-wrapper/jest.config.js
  servers/parser-graphql-wrapper/jest.setup.js
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/user-api/jest.config.js
  servers/user-api/jest.setup.js
  servers/user-api/src/config/index.ts
  servers/user-api/src/context.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
  servers/user-api/src/test/functional/user.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(deps): updating minor dependencies
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/transactional-emails/package.json
  packages/terraform-modules/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(deps): updating minor dependencies (#297)
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/transactional-emails/package.json
  packages/terraform-modules/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  48230cb07a2f2cba177fcb220fca20c647a8832e
Due: none

fix(nanoid): updating imports
  lambdas/user-list-search-indexing/src/helper.ts
  servers/account-data-deleter/src/batchDeleteHandler.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/src/routes/stripeDelete.ts
  servers/annotations-api/src/server/aws/batchDeleteHandler.ts
  servers/annotations-api/src/server/routes/queueDelete.ts
  servers/annotations-api/src/test/clearUserData/notes.integration.ts
  servers/user-list-search/src/server/routes/batchDelete.ts
  servers/user-list-search/src/server/routes/itemDelete.ts
  servers/user-list-search/src/server/routes/itemUpdate.ts
  servers/user-list-search/src/server/routes/userListImport.ts
Due: annotations_api

chore(sdk): change the api version
  servers/account-data-deleter/src/config/index.ts
Due: none

fix(logs): adding in error logging
  servers/list-api/src/businessEvents/sqs/sqsListener.ts
  servers/list-api/src/businessEvents/unifiedEventKinesisHandler.ts
Due: list_api

fix(jq): remove jq install
  .circleci/common.yml
Due: none

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  pocket_router: any of: ((servers|infrastructure)/pocket-router/.*)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
