Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

feat(esm): moving user list search corpus to esm
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-corpus-parser-hydration/src/bulkIndex.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/utils.spec.ts
  lambdas/user-list-search-corpus-parser-hydration/src/utils.ts
Due: user_list_search

feat(esm): moving user list search kinesis to esm
  lambdas/user-list-search-kinesis-to-sqs/package.json
  lambdas/user-list-search-kinesis-to-sqs/src/handler.spec.ts
  lambdas/user-list-search-kinesis-to-sqs/src/handler.ts
  lambdas/user-list-search-kinesis-to-sqs/src/index.ts
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/writeable.ts
Due: user_list_search

feat(esm): moving user list search events to esm
  lambdas/user-list-search-events/handlerFns.spec.ts
  lambdas/user-list-search-events/handlerFns.ts
  lambdas/user-list-search-events/handlerMap.ts
  lambdas/user-list-search-events/index.ts
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-events/tsconfig.json
Due: user_list_search

Notes added by 'git notes add'
  11c8b60e76a99930d42633e9453c19d5be45b733
Due: none

fix(tests): ensure all tests pass
  lambdas/user-list-search-corpus-parser-hydration/jest.config.js
  lambdas/user-list-search-corpus-parser-hydration/jest.config.ts
  lambdas/user-list-search-corpus-parser-hydration/jest.setup.js
  lambdas/user-list-search-corpus-parser-hydration/jest.setup.ts
  lambdas/user-list-search-corpus-parser-hydration/tsconfig.json
  packages/ts-logger/jest.config.ts
  packages/ts-logger/jest.setup.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  862e48cd464b5b08453efe542a1efff0caf57e87
Due: none

Notes added by 'git notes add'
  cb9a1348d04d79b6de3ae57fd55e943c83745ac3
Due: none

Notes added by 'git notes add'
  9d4cafb60115a05408181fe110dd9847038405e5
Due: none

fix(names): updating name builds
  .github/actions/build-lambda/action.yml
Due: none

fix(local): ensuring github actions use the local files
  .github/actions/build-lambda/action.yml
  .github/actions/cdktf/action.yml
  .github/workflows/account-delete-monitor.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
  .github/workflows/reuse-apollo-federation.yml
  .github/workflows/reuse-build-and-push-image.yml
  .github/workflows/reuse-build-and-push-lambda.yml
  .github/workflows/reuse-infrastructure.yml
  .github/workflows/reuse-test-integrations.yml
  .github/workflows/transactional-emails.yml
Due: none

Notes added by 'git notes add'
  4996cffd2be0771c35db75c01151a2e35b3d8526
Due: none

fix(v3proxy): update default page size for since queries to 5000
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

fix(v3proxy): update default page size for since queries to 5000 (#1012)
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

fix(ci): put back the main repo pointer
  .github/actions/build-lambda/action.yml
  .github/actions/cdktf/action.yml
  .github/workflows/reuse-apollo-federation.yml
  .github/workflows/reuse-build-and-push-image.yml
  .github/workflows/reuse-build-and-push-lambda.yml
  .github/workflows/reuse-infrastructure.yml
  .github/workflows/reuse-test-integrations.yml
Due: none

fix(ci): put back the main repo pointer (#1013)
  .github/actions/build-lambda/action.yml
  .github/actions/cdktf/action.yml
  .github/workflows/reuse-apollo-federation.yml
  .github/workflows/reuse-build-and-push-image.yml
  .github/workflows/reuse-build-and-push-lambda.yml
  .github/workflows/reuse-infrastructure.yml
  .github/workflows/reuse-test-integrations.yml
Due: none

chore: bump size limit on v3 proxy request
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

chore: bump size limit on v3 proxy request (#1014)
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

fix(otel): add in recommended metrics and attributes
  servers/client-api/config/router.yaml
Due: client_api

fix(otel): add in recommended metrics and attributes (#1015)
  servers/client-api/config/router.yaml
Due: client_api

fix(otel): allow larger otel size
  servers/otel-collector/httpd.conf
Due: none

fix(otel): allow larger otel size (#1016)
  servers/otel-collector/httpd.conf
Due: none

fix(parser): bump parser request timeout
  servers/parser-graphql-wrapper/src/config/index.ts
Due: parser_graphql_wrapper

fix(router): add client info to metrics and spans
  servers/client-api/config/router.yaml
Due: client_api

fix(parser): bump parser request timeout (#1017)
  servers/client-api/config/router.yaml
  servers/parser-graphql-wrapper/src/config/index.ts
Due: parser_graphql_wrapper, client_api

fix(router): otel config
  servers/client-api/config/router.yaml
Due: client_api

fix(router): otel config (#1018)
  servers/client-api/config/router.yaml
Due: client_api

fix(otel): removing document body
  servers/client-api/config/router.yaml
  servers/client-api/run_local.sh
Due: client_api

fix(otel): removing document body (#1019)
  servers/client-api/config/router.yaml
  servers/client-api/run_local.sh
Due: client_api

fix(v3proxy): allow cookie auth on v3/send
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

fix(v3proxy): allow cookie auth on v3/send (#1020)
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

feat(clientapi): add operation name and errors to otel instrumentation
  docker-compose.yml
  servers/client-api/config/router.yaml
Due: client_api
