Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

add array test case to validator and remove todo
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
Due: none

feat(v3proxy): implement filters and sort (non-search) (#213)
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations.ts
  servers/v3-proxy-api/src/test/fixtures/get-complete.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(list): add filter that matches v3 video filter
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters-offset.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters.integration.ts
  servers/list-api/src/types/index.ts
Due: list_api

feat(list): add filter that matches v3 video filter (#215)
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters-offset.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters.integration.ts
  servers/list-api/src/types/index.ts
Due: list_api

feat(v3proxy): add video content type filter
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/routes/validations.ts
Due: none

feat(v3proxy): add video content type filter (#216)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/routes/validations.ts
Due: none

feat(itemUpdate): scaffolding for indexing lambda
  .circleci/user-list-search.yml
  lambdas/user-list-search-indexing/.eslintrc.js
  lambdas/user-list-search-indexing/README.md
  lambdas/user-list-search-indexing/jest.config.js
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-indexing/src/config/index.ts
  lambdas/user-list-search-indexing/src/services/itemDelete/handler.ts
  lambdas/user-list-search-indexing/src/services/itemDelete/userItemsDelete.ts
  lambdas/user-list-search-indexing/src/types.ts
  lambdas/user-list-search-indexing/tsconfig.json
  lambdas/user-list-search-kinesis-to-sqs/src/config/index.ts
Due: none

fix(knex): moving to knex for cleaner setup
  .circleci/user-list-search.yml
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/item_update_consumer.tf
  lambdas/user-list-search-indexing/src/index.ts
  lambdas/user-list-search-indexing/src/itemDelete.ts
  lambdas/user-list-search-indexing/src/itemHelper.spec.ts
  lambdas/user-list-search-indexing/src/itemHelper.ts
  lambdas/user-list-search-indexing/src/itemUpdate.ts
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/bin/processUserItemsUpdateQueue.ts
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/MysqlDataSource.integration.ts
  servers/user-list-search/src/datasource/MysqlDataSource.ts
  servers/user-list-search/src/datasource/clients/knexClient.ts
  servers/user-list-search/src/lambda.ts
  servers/user-list-search/src/mysql.ts
  servers/user-list-search/src/server/routes/itemDelete.integration.ts
  servers/user-list-search/src/server/routes/itemDelete.ts
  servers/user-list-search/src/server/routes/itemUpdate.integration.ts
  servers/user-list-search/src/server/routes/itemUpdate.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/shared/util.ts
  servers/user-list-search/src/tasks/userItemsUpdate.integration.ts
  servers/user-list-search/src/tasks/userItemsUpdate.ts
  servers/user-list-search/src/test/_support/mysql.ts
  servers/user-list-search/src/test/_support/seeder.ts
  servers/user-list-search/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(userItemDelete): moving user item delete to an api call
  docker-compose.yml
  infrastructure/user-list-search/item_delete_consumer.tf
  lambdas/user-list-search-events/config.ts
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-indexing/src/config/index.ts
  lambdas/user-list-search-indexing/src/index.ts
  lambdas/user-list-search-indexing/src/itemDelete/handler.ts
  lambdas/user-list-search-indexing/src/itemDelete/itemDelete.spec.ts
  lambdas/user-list-search-indexing/src/itemDelete/itemDelete.ts
  lambdas/user-list-search-indexing/src/services/itemDelete/userItemsDelete.ts
  lambdas/user-list-search-indexing/src/types.ts
  pnpm-lock.yaml
  servers/user-list-search/src/lambda.ts
  servers/user-list-search/src/server/routes/batchDelete.integration.ts
  servers/user-list-search/src/server/routes/batchDelete.ts
  servers/user-list-search/src/server/routes/userItemsDelete.integration.ts
  servers/user-list-search/src/server/routes/userItemsDelete.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/tasks/userItemsDelete.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(user-list-indexing): refactoring to make lambdas isolated
  .circleci/user-list-search.yml
  .docker/aws-resources/user-list-search.sh
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/event_handler_consumer.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/item_update_consumer.tf
  infrastructure/user-list-search/kinesis_consumer.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/user_list_import_consumer.tf
  lambdas/user-list-search-indexing/src/config/index.ts
  lambdas/user-list-search-indexing/src/helper.spec.ts
  lambdas/user-list-search-indexing/src/helper.ts
  lambdas/user-list-search-indexing/src/index.ts
  lambdas/user-list-search-indexing/src/itemDelete.ts
  lambdas/user-list-search-indexing/src/itemHelper.spec.ts
  lambdas/user-list-search-indexing/src/itemHelper.ts
  lambdas/user-list-search-indexing/src/itemUpdate.ts
  lambdas/user-list-search-indexing/src/userListImport.ts
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/bin/processUserListImportQueue.ts
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/lambda.ts
  servers/user-list-search/src/server/routes/itemDelete.ts
  servers/user-list-search/src/server/routes/itemUpdate.ts
  servers/user-list-search/src/server/routes/userListImport.integration.ts
  servers/user-list-search/src/server/routes/userListImport.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/sqs.ts
  servers/user-list-search/src/tasks/queueAllPremiumUsers.integration.ts
  servers/user-list-search/src/tasks/userListImport.integration.ts
  servers/user-list-search/src/tasks/userListImport.ts
  servers/user-list-search/src/test/_support/seeder.ts
  servers/user-list-search/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(node): update node sha to the latest
  Dockerfile
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api

fix(review): adding in doc strings
  lambdas/user-list-search-indexing/src/helper.ts
Due: none

fix sanitizer not converting strings to ints
  servers/v3-proxy-api/src/routes/validations.ts
Due: none

feat(v3proxy): improved error handling
  servers/v3-proxy-api/src/errors/InputValidationError.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
  servers/v3-proxy-api/src/middleware/index.ts
  servers/v3-proxy-api/src/routes/errorMapper.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: none

feat(v3proxy): improved error handling (#219)
  servers/v3-proxy-api/src/errors/InputValidationError.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
  servers/v3-proxy-api/src/middleware/index.ts
  servers/v3-proxy-api/src/routes/errorMapper.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: none

fix(node-fetch): including node fetch in lambda
  lambdas/user-list-search-indexing/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(node-fetch): including node fetch in lambda (#221)
  lambdas/user-list-search-indexing/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(kinesis): update kinesis variables
  infrastructure/user-list-search/locals.tf
Due: none

fix(kinesis): update kinesis variables (#222)
  infrastructure/user-list-search/locals.tf
Due: none

reorganize fragments and queries/mutations
  servers/v3-proxy-api/codegen.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/graphql/fragments/ItemComplete.graphql
  servers/v3-proxy-api/src/graphql/fragments/ItemSimple.graphql
  servers/v3-proxy-api/src/graphql/fragments/SavedItemComplete.graphql
  servers/v3-proxy-api/src/graphql/fragments/SavedItemSimple.graphql
  servers/v3-proxy-api/src/graphql/mutations/saveArchive.graphql
  servers/v3-proxy-api/src/graphql/mutations/saveFavorite.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetSimple.graphql
Due: none

feat(v3proxy): add 'total' field conditionally to response
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/ItemSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations.ts
  servers/v3-proxy-api/src/test/fixtures/get-complete.ts
Due: none

feat(v3proxy): add total field conditionally to response (#223)
  servers/v3-proxy-api/codegen.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graph/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/ItemComplete.graphql
  servers/v3-proxy-api/src/graphql/fragments/ItemSimple.graphql
  servers/v3-proxy-api/src/graphql/fragments/SavedItemComplete.graphql
  servers/v3-proxy-api/src/graphql/fragments/SavedItemSimple.graphql
  servers/v3-proxy-api/src/graphql/mutations/saveArchive.graphql
  servers/v3-proxy-api/src/graphql/mutations/saveFavorite.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations.ts
  servers/v3-proxy-api/src/test/fixtures/get-complete.ts
Due: none

Notes added by 'git notes add'
  f5838c900e8b8d10ca4cbe6d383d1a31dab04806
Due: none

Notes added by 'git notes add'
  a1ea0670051d9bb213790ca49918e38537c93c1b
Due: none

fix(badDates): removing error logging of bad dates
  .docker/mysql-8-resources/schema/7f-mono-db-users-seed-user-list-search.sql
  lambdas/user-list-search-indexing/src/helper.ts
  servers/user-list-search/src/datasource/MysqlDataSource.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.ts
  servers/user-list-search/src/server/routes/itemUpdate.integration.ts
  servers/user-list-search/src/server/routes/userListImport.integration.ts
  servers/user-list-search/src/shared/util.ts
  servers/user-list-search/src/test/_support/seeder.ts
Due: none

feat(client-api): add distributed redis cache for apq and query plan
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  servers/client-api/config/router.yaml
Due: none

use cluster mode redis
  infrastructure/client-api/src/config/index.ts
Due: none

fix router config
  servers/client-api/config/router.yaml
Due: none

fix(cluster): switching to a redis tls cluster
  servers/client-api/config/router.yaml
Due: none

fix(review): adding in review comments
  servers/user-list-search/src/datasource/MysqlDataSource.integration.ts
  servers/user-list-search/src/shared/util.ts
Due: none

fix(port): adding redis port
  servers/client-api/config/router.yaml
Due: none

fix(v3-proxy): moving proxy to a different port then shared lists
  .circleci/v3-proxy-api.yml
  infrastructure/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/config/index.ts
Due: none

fix(local): enabling some local testing
  .env.example
  servers/client-api/.env.example
  servers/client-api/README.md
  servers/client-api/config/router.yaml
Due: none

fix(docs): updating router docs to include rhai
  servers/client-api/README.md
Due: none

fix(badDates): removing error logging of bad dates (#228)
  .docker/mysql-8-resources/schema/7f-mono-db-users-seed-user-list-search.sql
  lambdas/user-list-search-indexing/src/helper.ts
  servers/user-list-search/src/datasource/MysqlDataSource.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.ts
  servers/user-list-search/src/server/routes/itemUpdate.integration.ts
  servers/user-list-search/src/server/routes/userListImport.integration.ts
  servers/user-list-search/src/shared/util.ts
  servers/user-list-search/src/test/_support/seeder.ts
Due: none

feat(router): add a redis cache to the router (#231)
  .circleci/v3-proxy-api.yml
  .env.example
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  infrastructure/v3-proxy-api/src/config/index.ts
  servers/client-api/.env.example
  servers/client-api/README.md
  servers/client-api/config/router.yaml
  servers/v3-proxy-api/src/config/index.ts
Due: none

fix(images): ensuring that Images always have a URL response field
  servers/parser-graphql-wrapper/src/marticle/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
Due: none

fix(item): ensuring that we resolve items if they are not there
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
Due: none

fix(watch): updating watch command
  packages/apollo-utils/package.json
  packages/feature-flags-client/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  pocket_router: any of: ((servers|infrastructure)/pocket-router/.*)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
