Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

fix(format): updating formatting
  pnpm-lock.yaml
  servers/list-api/package.json
  servers/shared-snowplow-consumer/src/eventConsumer/userEvents/userEventConsumer.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(synthetic): bumping aws synthetic version due to deprecation
  packages/terraform-modules/src/pocket/PocketCloudwatchSynthetics.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketCloudwatchSynthetics.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(lambda): bumping account delete lambdas to node18
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
Due: none

fix(test): updating test
  servers/shared-snowplow-consumer/src/SqsConsumer.ts
  servers/shared-snowplow-consumer/src/sqsConsumer.spec.ts
Due: shared_snowplow_consumer

fix(review): review fixes
  servers/shared-snowplow-consumer/src/eventConsumer/userEvents/types.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableListItem/shareableListItemEventHandler.ts
  servers/shared-snowplow-consumer/src/snowplow/user/userEventHandler.ts
Due: shared_snowplow_consumer

feat(braze): initial import of Braze from f00327d4d94b4568a34f705f2655f62eb5c74312 (#149)
  .circleci/braze.yml
  .circleci/common.yml
  .circleci/config.yml
  infrastructure/braze/.eslintrc.js
  infrastructure/braze/.terraform-version
  infrastructure/braze/README.md
  infrastructure/braze/cdktf.json
  infrastructure/braze/package.json
  infrastructure/braze/src/clickTrackingDomain.ts
  infrastructure/braze/src/config/index.ts
  infrastructure/braze/src/dataExport.ts
  infrastructure/braze/src/emailSendDomain.ts
  infrastructure/braze/src/main.ts
  infrastructure/braze/tsconfig.json
  packages/terraform-modules/src/index.ts
  pnpm-lock.yaml
  servers/user-list-search/src/test/_support/seeder.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  5e0f09ab75890f955989e9bb044c9093d7ea6604
Due: none

feat(synthetic): bumping aws synthetic version due to deprecation (#152)
  packages/terraform-modules/src/pocket/PocketCloudwatchSynthetics.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketCloudwatchSynthetics.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  21a9c4e623f684b307d21c0815d6ffc840eb0282
Due: none

fix(lambda): bumping account delete lambdas to node18 (#153)
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
Due: none

feat(client-api): do not forward 'anonymous' userId
  servers/client-api/rhai/claims_forwarding.rhai
Due: none

feat(subgraphs): additional ID validation logic
  servers/annotations-api/src/context.ts
  servers/list-api/src/server/context.ts
  servers/user-list-search/src/server/context.ts
Due: annotations_api, list_api

feat(ff-client): expose repo to change toggles in mock client
  packages/feature-flags-client/src/index.spec.ts
  packages/feature-flags-client/src/index.ts
  packages/feature-flags-client/src/mockClient.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(pocket-graph): do not forward anonymous userid (#155)
  servers/annotations-api/src/context.ts
  servers/client-api/rhai/claims_forwarding.rhai
  servers/list-api/src/server/context.ts
  servers/user-list-search/src/server/context.ts
Due: annotations_api, list_api

fix(lambda): updating all lambdas to node20
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
  infrastructure/annotations-api/src/SqsLambda.ts
  infrastructure/fxa-webhook-proxy/src/apiGateway.ts
  infrastructure/fxa-webhook-proxy/src/sqsLambda.ts
  infrastructure/sendgrid-data/src/apiGateway.ts
  infrastructure/shareable-lists-api/src/SQSLambda.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/event_handler_consumer.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/item_update_consumer.tf
  infrastructure/user-list-search/kinesis_consumer.tf
  infrastructure/user-list-search/user_list_import_consumer.tf
Due: annotations_api, transactional_emails

fix(terraform): updating terraform version
  infrastructure/account-data-deleter/.terraform-version
  infrastructure/account-delete-monitor/.terraform-version
  infrastructure/annotations-api/.terraform-version
  infrastructure/braze/.terraform-version
  infrastructure/client-api/.terraform-version
  infrastructure/feature-flags/.terraform-version
  infrastructure/fxa-webhook-proxy/.terraform-version
  infrastructure/image-api/.terraform-version
  infrastructure/list-api/.terraform-version
  infrastructure/parser-graphql-wrapper/.terraform-version
  infrastructure/pocket-event-bridge/.terraform-version
  infrastructure/sendgrid-data/.terraform-version
  infrastructure/shareable-lists-api/.terraform-version
  infrastructure/shared-snowplow-consumer/.terraform-version
  infrastructure/transactional-emails/.terraform-version
  infrastructure/user-api/.terraform-version
  infrastructure/user-list-search/.terraform-version
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api

fix(providers): updating user list search providers
  infrastructure/user-list-search/terraform.tf
Due: none

fix(aws): update providers
  infrastructure/user-list-search/emergency-response/versions.tf
Due: none

fix(lambda): updating all lambdas to node20 (#156)
  infrastructure/account-data-deleter/.terraform-version
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-delete-monitor/.terraform-version
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
  infrastructure/annotations-api/.terraform-version
  infrastructure/annotations-api/src/SqsLambda.ts
  infrastructure/braze/.terraform-version
  infrastructure/client-api/.terraform-version
  infrastructure/feature-flags/.terraform-version
  infrastructure/fxa-webhook-proxy/.terraform-version
  infrastructure/fxa-webhook-proxy/src/apiGateway.ts
  infrastructure/fxa-webhook-proxy/src/sqsLambda.ts
  infrastructure/image-api/.terraform-version
  infrastructure/list-api/.terraform-version
  infrastructure/parser-graphql-wrapper/.terraform-version
  infrastructure/pocket-event-bridge/.terraform-version
  infrastructure/sendgrid-data/.terraform-version
  infrastructure/sendgrid-data/src/apiGateway.ts
  infrastructure/shareable-lists-api/.terraform-version
  infrastructure/shareable-lists-api/src/SQSLambda.ts
  infrastructure/shared-snowplow-consumer/.terraform-version
  infrastructure/transactional-emails/.terraform-version
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  infrastructure/user-api/.terraform-version
  infrastructure/user-list-search/.terraform-version
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/emergency-response/versions.tf
  infrastructure/user-list-search/event_handler_consumer.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/item_update_consumer.tf
  infrastructure/user-list-search/kinesis_consumer.tf
  infrastructure/user-list-search/terraform.tf
  infrastructure/user-list-search/user_list_import_consumer.tf
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api

feat(ADD): add feature flags killswitch to poll logic
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  packages/feature-flags-client/src/index.ts
  packages/feature-flags-client/src/mockClient.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/batchDeleteHandler.ts
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/server.ts
  servers/account-data-deleter/src/unleash.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(ADD): add feature flags killswitch to poll logic
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  packages/feature-flags-client/src/index.spec.ts
  packages/feature-flags-client/src/index.ts
  packages/feature-flags-client/src/mockClient.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/batchDeleteHandler.ts
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/server.ts
  servers/account-data-deleter/src/unleash.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

add back some lost logic from git cherry picking
  packages/feature-flags-client/src/index.spec.ts
  packages/feature-flags-client/src/mockClient.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore: pull in a couple other changes that got lost in git
  packages/feature-flags-client/src/index.spec.ts
  packages/feature-flags-client/src/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore: pull unleash endpoint from shared namespace
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: none

feat(ADD): add feature flags killswitch to poll logic (#158)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  packages/feature-flags-client/src/index.spec.ts
  packages/feature-flags-client/src/index.ts
  packages/feature-flags-client/src/mockClient.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/batchDeleteHandler.ts
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/server.ts
  servers/account-data-deleter/src/unleash.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(xray): adding xray to annotations api
  infrastructure/annotations-api/src/main.ts
Due: annotations_api

feat(v3-proxy-api): initial import of v3-proxy-api from 41eadb1ef2fafd5f5d4647afb0d13324be3aab04
  infrastructure/v3-api-proxy/.terraform-version
  infrastructure/v3-api-proxy/cdktf.json
  infrastructure/v3-api-proxy/package.json
  infrastructure/v3-api-proxy/src/config/index.ts
  infrastructure/v3-api-proxy/src/main.ts
  infrastructure/v3-api-proxy/tsconfig.json
  pnpm-lock.yaml
  servers/v3-proxy-api/.eslintignore
  servers/v3-proxy-api/.eslintrc.js
  servers/v3-proxy-api/README.md
  servers/v3-proxy-api/codegen.yml
  servers/v3-proxy-api/jest.config.js
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/fixtures.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/queries/saveArchive.graphql
  servers/v3-proxy-api/src/graph/queries/saveFavorite.graphql
  servers/v3-proxy-api/src/graph/queries/savedItems.graphql
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/main.integration.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/errorMapper.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(packages): brining packages up to date
  .circleci/common.yml
  .circleci/config.yml
  .circleci/v3-proxy-api.yml
  infrastructure/v3-api-proxy/.terraform-version
  infrastructure/v3-proxy-api/.eslintrc.js
  infrastructure/v3-proxy-api/.terraform-version
  infrastructure/v3-proxy-api/cdktf.json
  infrastructure/v3-proxy-api/package.json
  infrastructure/v3-proxy-api/src/config/index.ts
  infrastructure/v3-proxy-api/src/main.ts
  infrastructure/v3-proxy-api/tsconfig.json
  pnpm-lock.yaml
  servers/v3-proxy-api/.eslintrc.js
  servers/v3-proxy-api/codegen.ts
  servers/v3-proxy-api/codegen.yml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/graph/fixtures.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(tests): updating tests to remove chai and sinon
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

doc(readme): updating readme to be more precise
  servers/v3-proxy-api/README.md
Due: none

fix(ci): updating ci enum
  .circleci/common.yml
Due: none

fix(ci): updating codedeploy name
  .circleci/v3-proxy-api.yml
Due: none

fix(account-deleter): update container to pull container
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: none

fix(account-deleter): update container to pull container (#161)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: none

fix(xray): adding xray to annotations api (#159)
  infrastructure/annotations-api/src/main.ts
Due: annotations_api

feat(v3proxy): initial import of v3 proxy api from d5f5d4647afb0d13324be3aab0441eadb1ef2faf (#160)
  .circleci/common.yml
  .circleci/config.yml
  .circleci/v3-proxy-api.yml
  infrastructure/v3-proxy-api/.eslintrc.js
  infrastructure/v3-proxy-api/.terraform-version
  infrastructure/v3-proxy-api/cdktf.json
  infrastructure/v3-proxy-api/package.json
  infrastructure/v3-proxy-api/src/config/index.ts
  infrastructure/v3-proxy-api/src/main.ts
  infrastructure/v3-proxy-api/tsconfig.json
  pnpm-lock.yaml
  servers/v3-proxy-api/.eslintignore
  servers/v3-proxy-api/.eslintrc.js
  servers/v3-proxy-api/README.md
  servers/v3-proxy-api/codegen.ts
  servers/v3-proxy-api/jest.config.js
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/fixtures.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/queries/saveArchive.graphql
  servers/v3-proxy-api/src/graph/queries/saveFavorite.graphql
  servers/v3-proxy-api/src/graph/queries/savedItems.graphql
  servers/v3-proxy-api/src/graph/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/toGraphQL.ts
  servers/v3-proxy-api/src/graph/toRest.spec.ts
  servers/v3-proxy-api/src/graph/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/main.integration.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/errorMapper.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(user-list-search): making user-list-search match other systems
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/ecs.tf
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/bin/README.md
  servers/user-list-search/src/bin/apiServer.ts
  servers/user-list-search/src/bin/loadPremiumUsersForBackfill.ts
  servers/user-list-search/src/bin/processUserItemsUpdateQueue.ts
  servers/user-list-search/src/bin/processUserListImportQueue.ts
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/elasticsearch.ts
  servers/user-list-search/src/main.ts
  servers/user-list-search/src/sentry.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/services/itemDelete/handler.ts
  servers/user-list-search/src/services/itemUpdate/handler.ts
  servers/user-list-search/src/services/kinesis/handler.ts
  servers/user-list-search/src/services/kinesis/index.ts
  servers/user-list-search/src/services/userListImport/handler.ts
  servers/user-list-search/src/shared/util.ts
  servers/user-list-search/src/tasks/userListImport.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(packages): updating packages
  infrastructure/user-list-search/queue_users_ecs.tf
  pnpm-lock.yaml
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(push-server): initial import of push server from 5c84bb95c121091981e3b44d0f61cf85e2b9d8a1
  infrastructure/push-server/modules/push-container-data/main.tf
  infrastructure/push-server/prod/1_iam.cfn.yml
  infrastructure/push-server/prod/autoscaling.tf
  infrastructure/push-server/prod/data.tf
  infrastructure/push-server/prod/ecs_cluster.tf
  infrastructure/push-server/prod/global.tfvars
  infrastructure/push-server/prod/main.tf
  infrastructure/push-server/prod/pagerduty.tf
  infrastructure/push-server/prod/service.tf
  infrastructure/push-server/prod/sns.tf
  infrastructure/push-server/prod/sqs.tf
  infrastructure/push-server/prod/variables.tf
  pnpm-lock.yaml
  servers/push-server/.eslintrc.js
  servers/push-server/jest.config.js
  servers/push-server/package.json
  servers/push-server/src/__mocks__/apn.js
  servers/push-server/src/apns.ts
  servers/push-server/src/config.ts
  servers/push-server/src/e2e.test.ts
  servers/push-server/src/gcm.ts
  servers/push-server/src/index.ts
  servers/push-server/src/notificationTypes.ts
  servers/push-server/src/sentry.ts
  servers/push-server/src/sqs.ts
  servers/push-server/src/worker.ts
  servers/push-server/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  pocket_router: any of: ((servers|infrastructure)/pocket-router/.*)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
