Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(itemId): fix item id loader
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

fix(itemId): fix item id loader (#478)
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

fix(v3proxy): since response returns server time
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
Due: v3_proxy_api

chore: lint
  servers/v3-proxy-api/src/graph/get/toRest.ts
Due: v3_proxy_api

feat(v3proxy): add hasAnnotations option
  servers/v3-proxy-api/src/graph/get/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

feat(v3proxy): add hasAnnotations option (#480)
  servers/v3-proxy-api/src/graph/get/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

fix(v3proxy): since response returns server time (#479)
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
Due: v3_proxy_api

feat(list): add updatedBefore filter
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters-offset.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters.integration.ts
  servers/list-api/src/types/index.ts
Due: list_api

fix a typo
  servers/list-api/schema.graphql
Due: list_api

feat(list): add updatedBefore filter (#481)
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters-offset.integration.ts
  servers/list-api/src/test/graphql/queries/savedItems-filters.integration.ts
  servers/list-api/src/types/index.ts
Due: list_api

feat(v3proxy): add updatedBefore option to fetch and get
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

feat(v3proxy): add updatedBefore option to fetch and get (#482)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

fix(user): fix query for retrieving premium active status
  servers/user-api/src/dataService/userDataService.ts
  servers/user-api/src/test/functional/user.integration.ts
Due: user_api

fix(user): fix query for retrieving premium active status (#483)
  servers/user-api/src/dataService/userDataService.ts
  servers/user-api/src/test/functional/user.integration.ts
Due: user_api

feat(tracing): releasing the tracing library
  packages/tracing/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(tracing): releasing the tracing library (#484)
  packages/tracing/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  24cd18978c5831e89728294503c4d854bb0d8936
Due: none

feat(shares): return entire entity for createShareLink
  servers/shares-api/schema.graphql
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/test/Max300CharString.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
  servers/shares-api/src/test/queries.ts
Due: none

regenerate types
  servers/shares-api/src/__generated__/types.ts
Due: none

feat(shares): return entire entity for createShareLink (#485)
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/test/Max300CharString.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
  servers/shares-api/src/test/queries.ts
Due: none

feat(v3proxy): add account details to proxy response
  pnpm-lock.yaml
  servers/v3-proxy-api/codegen.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/generated/graphql/index.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/AccountFields.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/test/fixtures/get-account.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

update schema
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: v3_proxy_api

chore(rest): moving parser api to a rest datasource
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/apollo/server.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.spec.ts
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPITypes.ts
  servers/parser-graphql-wrapper/src/datasources/legacyDataSourcesPlugin.ts
  servers/parser-graphql-wrapper/src/datasources/parserApi.spec.ts
  servers/parser-graphql-wrapper/src/datasources/parserApi.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.spec.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.ts
  servers/parser-graphql-wrapper/src/fetch/FetchHandler.spec.ts
  servers/parser-graphql-wrapper/src/fetch/FetchHandler.ts
  servers/parser-graphql-wrapper/src/fetch/HTTPResponseError.spec.ts
  servers/parser-graphql-wrapper/src/fetch/HTTPResponseError.ts
  servers/parser-graphql-wrapper/src/fetch/index.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
  servers/parser-graphql-wrapper/src/test/queries/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/parserApi.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/ssml.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(parser): updating to use a rest data source
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/jest.setup.js
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPITypes.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
  servers/parser-graphql-wrapper/src/preview/index.ts
  servers/parser-graphql-wrapper/src/test/queries/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/parserApi.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/ssml.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/timeToRead.integration.ts
  servers/parser-graphql-wrapper/src/test/utils/parserResponse.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(parser): most integration tests working
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPITypes.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/test/queries/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/ssml.integration.ts
  servers/parser-graphql-wrapper/src/test/utils/parserResponse.ts
Due: parser_graphql_wrapper

fix(parser): updating ssml test
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/parser-graphql-wrapper/src/models/SSMLModel.ts
  servers/parser-graphql-wrapper/src/test/queries/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/ssml.integration.ts
  servers/parser-graphql-wrapper/src/test/utils/parserResponse.ts
Due: parser_graphql_wrapper

fix(shortUrl): updating short url test
  servers/parser-graphql-wrapper/src/test/queries/shortUrl.integration.ts
Due: parser_graphql_wrapper

fix(parser): adding in refresh mutation code
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPITypes.ts
  servers/parser-graphql-wrapper/src/models/SSMLModel.spec.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/test/mutations/refreshMutation.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/parserApi.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/ssml.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/timeToRead.integration.ts
  servers/parser-graphql-wrapper/src/test/utils/parserResponse.ts
Due: parser_graphql_wrapper

fix(infra): adding in parser base endpoint
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

tweak date creation function
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/test/fixtures/get-account.ts
Due: v3_proxy_api

remove WONTDO TODOS
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/test/fixtures/add.ts
  servers/v3-proxy-api/src/test/fixtures/get-account.ts
Due: v3_proxy_api

format
  servers/v3-proxy-api/src/generated/graphql/index.ts
  servers/v3-proxy-api/src/graph/types.ts
Due: v3_proxy_api

chore: actually rename copy-pasted statement
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
Due: v3_proxy_api

feat(v3proxy): add account details to proxy response (#486)
  pnpm-lock.yaml
  servers/v3-proxy-api/codegen.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/generated/graphql/index.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/AccountFields.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/test/fixtures/add.ts
  servers/v3-proxy-api/src/test/fixtures/get-account.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(rest): moving parser api to a rest datasource
  package.json
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/apollo/server.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.spec.ts
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPITypes.ts
  servers/parser-graphql-wrapper/src/datasources/legacyDataSourcesPlugin.ts
  servers/parser-graphql-wrapper/src/datasources/parserApi.spec.ts
  servers/parser-graphql-wrapper/src/datasources/parserApi.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.spec.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.ts
  servers/parser-graphql-wrapper/src/fetch/FetchHandler.spec.ts
  servers/parser-graphql-wrapper/src/fetch/FetchHandler.ts
  servers/parser-graphql-wrapper/src/fetch/HTTPResponseError.spec.ts
  servers/parser-graphql-wrapper/src/fetch/HTTPResponseError.ts
  servers/parser-graphql-wrapper/src/fetch/index.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
  servers/parser-graphql-wrapper/src/test/queries/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/parserApi.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/ssml.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
