Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(annotations): add annotation by URL (#536)
  infrastructure/annotations-api/src/main.ts
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/annotations-api/schema.graphql
  servers/annotations-api/src/__generated__/resolvers-types.ts
  servers/annotations-api/src/config/index.ts
  servers/annotations-api/src/dataservices/dataloaders.spec.ts
  servers/annotations-api/src/dataservices/dataloaders.ts
  servers/annotations-api/src/dataservices/parserApi.ts
  servers/annotations-api/src/models/HighlightsModel.ts
  servers/annotations-api/src/server/apollo/context.ts
  servers/annotations-api/src/server/apollo/resolvers.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/mutation/highlights-mutations.ts
  servers/annotations-api/src/test/mutation/notes-create.integration.ts
  servers/annotations-api/src/test/mutation/notes-delete.integration.ts
  servers/annotations-api/src/test/mutation/notes-update.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(es6): updating image api and feature flags for es6
  .vscode/settings.json
  servers/feature-flags/jest.config.js
  servers/feature-flags/jest.config.ts
  servers/feature-flags/package.json
  servers/feature-flags/src/graphql/typeDefs.ts
  servers/image-api/jest.config.js
  servers/image-api/jest.config.ts
  servers/image-api/package.json
  servers/image-api/src/resolvers/query.integration.ts
  servers/image-api/src/server/typeDefs.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, feature_flags, v3_proxy_api

fix(es6): updating list-api initial tests
  servers/list-api/jest.config.ts
  servers/list-api/jest.setup.ts
  servers/list-api/package.json
  servers/list-api/src/aws/eventBridgeBase.spec.ts
  servers/list-api/src/businessEvents/itemsEventEmitter.spec.ts
  servers/list-api/src/businessEvents/sqs/sqsListener.spec.ts
  servers/list-api/src/businessEvents/unifiedEventKinesisHandler.spec.ts
  servers/list-api/src/dataLoader/savedItemsDataLoader.spec.ts
  servers/list-api/src/dataLoader/tagsDataLoader.spec.ts
  servers/list-api/src/models/tag.spec.ts
  servers/list-api/src/server/context.spec.ts
  servers/list-api/src/server/typeDefs.ts
Due: list_api

fix(es6): updating nock to to support native fetch
  .syncpackrc
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webhook-proxy-gateway/package.json
  lambdas/fxa-webhook-proxy-sqs/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  packages/lambda-secrets/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(es6): finishing migrating list-api
  servers/list-api/jest.config.ts
  servers/list-api/src/models/tag.spec.ts
Due: list_api

fix(v3proxy:send): fallback parsing for actions array
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

fix(v3proxy:send): fallback parsing for actions array (#538)
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

fix(tracing): update packages & add missing prisma related package
  packages/tracing/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tracing): update packages & add missing prisma related package (#539)
  packages/tracing/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  34068332709b8e6ede6612a14d9bb6e16bd92e75
Due: none

fix(syncpack): ensuring syncpack pins all aws version
  .syncpackrc
  lambdas/transactional-emails/package.json
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(v3proxy): fix body parsing with special characters
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

fix(v3proxy): fix body parsing with special characters (#541)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

feat(shares): delete share context if empty data is passed
  servers/shares-api/schema.graphql
  servers/shares-api/src/datasources/shares.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/test/addShareContext.integration.ts
Due: none

feat(shares): delete share context if empty data is passed (#542)
  servers/shares-api/schema.graphql
  servers/shares-api/src/datasources/shares.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/test/addShareContext.integration.ts
Due: none

Notes added by 'git notes add'
  7a024b9b0a81af778d2775b3d429441d2484944f
Due: none

feat(husky): enforcing some commit standards
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(husky): testing husky format
  .husky/pre-commit
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(husky): testing husky format
  .husky/pre-commit
  eslint.config.mjs
Due: none

fix(husky): testing husky format
  .husky/pre-commit
Due: none

fix(husky): testing husky format
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(lint-staged): testing lint-staged
  .husky/pre-commit
  .lintstagedrc.json
  infrastructure/braze/src/config/index.ts
  lambdas/account-data-deleter-events/src/schemas/accountDeleteEvent.ts
  lambdas/transactional-emails/src/schemas/accountDeleteEvent.ts
  lambdas/transactional-emails/src/schemas/userRegistrationEvent/index.ts
  package.json
  pnpm-lock.yaml
  servers/account-data-deleter/src/dataService/accountDeleteDataService.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/feature-flags/src/graphql/resolvers.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(eslint): adding in default eslint
  eslint.config.mjs
Due: none

feat(shares:events): emit events for share link create+update
  infrastructure/pocket-event-bridge/src/event-rules/shares-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/shares-api-events/pocketShareEventRules.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/shares-api/src/config/index.ts
  infrastructure/shares-api/src/main.ts
  pnpm-lock.yaml
  servers/shares-api/package.json
  servers/shares-api/schema.graphql
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/events/EventBus.ts
  servers/shares-api/src/events/client.ts
  servers/shares-api/src/events/index.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/test/addShareContext.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

update lockfile and types
  pnpm-lock.yaml
  servers/shares-api/src/__generated__/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(lint-staged): removing lint-staged
  .husky/pre-commit
  eslint.config.mjs
  package.json
  packages/ts-logger/src/logger.spec.ts
  pnpm-lock.yaml
  servers/shares-api/src/__generated__/types.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: fix import and event source name
  servers/shares-api/package.json
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/events/EventBus.ts
Due: none

fix(commits): remove extra steps
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(husky): moving husky
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(husky): adding in a husky linter to line up with web-client (#543)
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  infrastructure/braze/src/config/index.ts
  lambdas/account-data-deleter-events/src/schemas/accountDeleteEvent.ts
  lambdas/transactional-emails/src/schemas/accountDeleteEvent.ts
  lambdas/transactional-emails/src/schemas/userRegistrationEvent/index.ts
  package.json
  packages/tracing/src/tracing.ts
  packages/ts-logger/src/logger.spec.ts
  pnpm-lock.yaml
  servers/account-data-deleter/src/dataService/accountDeleteDataService.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/feature-flags/src/graphql/resolvers.ts
  servers/shares-api/src/__generated__/types.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  96aca67bc5c02e09639ec1d48b82e9d24328b161
Due: none

chore(ts): removing ts hoisting
  .npmrc
  packages/apollo-utils/package.json
  packages/backend-benchmarking/package.json
  packages/feature-flags-client/package.json
  packages/int-mask/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
