Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

Notes added by 'git notes add'
  59af83e42d62de7d3ef3563a8a633fff83408317
Due: none

Revert "Revert "feat(otel): adding in basic tracing via otel (#794)" (#797)"
  .github/workflows/docker-images.yml
  docker-compose.yml
  images/otel/Dockerfile
  images/otel/entrypoint.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/main.ts
  package.json
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/README.md
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/package.json
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
  servers/user-api/src/unleash.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(metrics): disabling metrics for now
  images/otel/otel-collector-config.yaml
  packages/tracing/src/tracing.ts
  servers/client-api/config/router.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(otel): adding in basic tracing via otel (#798)
  .github/workflows/docker-images.yml
  docker-compose.yml
  images/otel/Dockerfile
  images/otel/entrypoint.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/main.ts
  package.json
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/README.md
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/package.json
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
  servers/user-api/src/unleash.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Revert "feat(otel): adding in basic tracing via otel (#798)"
  .github/workflows/docker-images.yml
  docker-compose.yml
  images/otel/Dockerfile
  images/otel/entrypoint.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/main.ts
  package.json
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/README.md
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/package.json
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
  servers/user-api/src/unleash.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  dbbe47179f7ed36c12fe9c1a76c72b93a4eb8af5
Due: none

Revert "feat(otel): adding in basic tracing via otel (#798)" (#799)
  .github/workflows/docker-images.yml
  docker-compose.yml
  images/otel/Dockerfile
  images/otel/entrypoint.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/main.ts
  package.json
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/README.md
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/package.json
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
  servers/user-api/src/unleash.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  57c2a13f78151326975cb174709a549970a06ed3
Due: none

feat(otel): creating the otel collector service
  .github/workflows/otel-collector.yml
  infrastructure/otel-collector/.gitignore
  infrastructure/otel-collector/.terraform-version
  infrastructure/otel-collector/cdktf.json
  infrastructure/otel-collector/eslint.config.mjs
  infrastructure/otel-collector/package.json
  infrastructure/otel-collector/src/config/index.ts
  infrastructure/otel-collector/src/main.ts
  infrastructure/otel-collector/tsconfig.json
  pnpm-lock.yaml
  servers/otel-collector/Dockerfile
  servers/otel-collector/entrypoint.sh
  servers/otel-collector/httpd.conf
  servers/otel-collector/otel-collector-config.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(otel): ensuring service will start
  infrastructure/otel-collector/src/config/index.ts
  infrastructure/otel-collector/src/main.ts
  servers/otel-collector/Dockerfile
  servers/otel-collector/entrypoint.sh
  servers/otel-collector/httpd.conf
  servers/otel-collector/otel-collector-config.yaml
Due: none

fix(otel): update image name
  infrastructure/otel-collector/src/main.ts
Due: none

fix(v3proxy): parse multipart form data
  .vscode/launch.json
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/server.ts
  servers/v3-proxy-api/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(otel): creating the otel collector service (#801)
  .github/workflows/otel-collector.yml
  infrastructure/otel-collector/.gitignore
  infrastructure/otel-collector/.terraform-version
  infrastructure/otel-collector/cdktf.json
  infrastructure/otel-collector/eslint.config.mjs
  infrastructure/otel-collector/package.json
  infrastructure/otel-collector/src/config/index.ts
  infrastructure/otel-collector/src/main.ts
  infrastructure/otel-collector/tsconfig.json
  pnpm-lock.yaml
  servers/otel-collector/Dockerfile
  servers/otel-collector/entrypoint.sh
  servers/otel-collector/httpd.conf
  servers/otel-collector/otel-collector-config.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Revert "Revert "feat(otel): adding in basic tracing via otel (#798)" (#799)"
  .github/workflows/docker-images.yml
  docker-compose.yml
  images/otel/Dockerfile
  images/otel/entrypoint.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/main.ts
  package.json
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/README.md
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/package.json
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
  servers/user-api/src/unleash.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(collector): move to an otel collector
  .github/workflows/docker-images.yml
  images/otel/Dockerfile
  images/otel/entrypoint.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/queue_users_ecs.tf
  infrastructure/v3-proxy-api/src/config/index.ts
  infrastructure/v3-proxy-api/src/main.ts
  packages/sentry/src/featureFlagTraceSampler.ts
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/src/config/index.ts
  servers/otel-collector/httpd.conf
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/user-api/src/config/index.ts
  servers/user-list-search/src/config/index.ts
  servers/v3-proxy-api/src/config/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  78b135b86662a66a455d4e87ed023200e5c626a2
Due: none

fix(otel): adjusting otel processing settings
  .vscode/launch.json
  packages/tracing/src/tracing.ts
  servers/otel-collector/otel-collector-config.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(otel): adjusting otel processing settings (#803)
  .vscode/launch.json
  packages/tracing/src/tracing.ts
  servers/otel-collector/otel-collector-config.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  6ff33b670f44e977338e633396088afce228ecf5
Due: none

fix(otel): updating to fix resource detection
  servers/otel-collector/otel-collector-config.yaml
Due: none

fix(otel): updating to fix resource detection (#804)
  servers/otel-collector/otel-collector-config.yaml
Due: none

fix(otel): removing metrics and upping exporting
  packages/feature-flags-client/package.json
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/list-api/package.json
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(otel): removing metrics and upping exporting (#805)
  packages/feature-flags-client/package.json
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/list-api/package.json
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  a94342034cedac20c55bb4a5c785f5673abb46d8
Due: none

fix(otel): updating google cloud timeout
  servers/otel-collector/otel-collector-config.yaml
Due: none

fix(otel): updating google cloud timeout (#806)
  servers/otel-collector/otel-collector-config.yaml
Due: none

fix(readerSlug): moving readerSlug to the int mask package
  packages/int-mask/package.json
  packages/int-mask/src/index.ts
  packages/int-mask/src/intMaskSlug.spec.ts
  packages/int-mask/src/intMaskSlug.ts
  packages/int-mask/tsconfig.json
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/readerView/readersSlug.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(readerSlug): ensuring that readerViewResult parses out the slug
  servers/list-api/jest.config.js
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/test/graphql/queries/readerSlug.integration.ts
Due: list_api

fix(readerSlug): update ReaderViewResult in list-api to parse out the slug (#807)
  packages/int-mask/package.json
  packages/int-mask/src/index.ts
  packages/int-mask/src/intMaskSlug.spec.ts
  packages/int-mask/src/intMaskSlug.ts
  packages/int-mask/tsconfig.json
  pnpm-lock.yaml
  servers/list-api/jest.config.js
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/test/graphql/queries/readerSlug.integration.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/readerView/readersSlug.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(otel): working on removing double trace ids from outgoing requests
  packages/tracing/src/tracing.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(values): allow graphql values in the otel
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(x-amzn): ensuring v3 proxy has its own trace
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Due: v3_proxy_api

fix(graphql): ensuring we get graphql values in traces (#810)
  packages/tracing/src/tracing.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  0f0f30ebc6d2772cd9da6d524d051b68821238ca
Due: none

fix(headers): adding in request headers
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(headers): adding in request headers (#811)
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server
