Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: lint and comment fixes
  lambdas/user-list-search-corpus-parser-hydration/src/bulkIndex.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
Due: user_list_search

fix: export handler
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
Due: user_list_search

fix: add protocol to ES endpoint env var
  infrastructure/user-list-search/locals.tf
Due: user_list_search

chore: fix mismatches
  lambdas/user-list-search-corpus-parser-hydration/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(search:corpus): lambda to hydrate corpus with parser data (#598)
  .circleci/user-list-search.yml
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  infrastructure/user-list-search/corpus_events_hydration_consumer.tf
  infrastructure/user-list-search/corpus_events_hydration_consumer_codedeploy.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/main.tf
  infrastructure/user-list-search/sqs.tf
  infrastructure/user-list-search/sqs_sns_topic_subscription.tf
  lambdas/user-list-search-corpus-parser-hydration/eslint.config.mjs
  lambdas/user-list-search-corpus-parser-hydration/jest.config.js
  lambdas/user-list-search-corpus-parser-hydration/jest.setup.js
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-corpus-parser-hydration/src/bulkIndex.ts
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.spec.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
  lambdas/user-list-search-corpus-parser-hydration/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(list): int->bigint temp table migration
  .docker/mysql-8-resources/schema/01a-mono-db-readitla_ril-tmp-schema.sql
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/test/graphql/queries/savedItems.integration.ts
Due: list_api

fix(corpus search): correct fields for isArticle/isIndex
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
Due: user_list_search

fix(corpus search): correct fields for isArticle/isIndex (#602)
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
Due: user_list_search

Lowermin threshold for running ECS services in Dev
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
Due: parser_graphql_wrapper, user_api, list_api, client_api, feature_flags

chore(list): int->bigint temp table migration (#601)
  .docker/mysql-8-resources/schema/01a-mono-db-readitla_ril-tmp-schema.sql
  servers/list-api/src/dataService/listPaginationService.ts
  servers/list-api/src/test/graphql/queries/savedItems.integration.ts
Due: list_api

fix(deps): update dependencies for otel
  .syncpackrc
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/instant-sync-events/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  packages/apollo-utils/package.json
  packages/sentry/package.json
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/push-server/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(search:test): remove ordered assertions from test
  servers/user-list-search/src/server/routes/userListImport.integration.ts
Due: user_list_search

fix(search:test): remove ordered assertions from test (#604)
  servers/user-list-search/src/server/routes/userListImport.integration.ts
Due: user_list_search

adding const
  infrastructure/feature-flags/src/config/index.ts
Due: feature_flags

Notes added by 'git notes add'
  91227f87b4999eb01bfddccfebd20d70a9c3677d
Due: none

Lower min threshold for running ECS services in Dev (#603)
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/config/index.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
Due: parser_graphql_wrapper, user_api, list_api, client_api, feature_flags

fix(syncpack): update syncpack
  .syncpackrc
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-delete-monitor/package.json
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shares-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(renovate): allow renovate to update syncpack
  .syncpackrc
  renovate.json
Due: none

Notes added by 'git notes add'
  baf9c6de7062999ca181ed171e8860b38a8849a1
Due: none

fix(v3proxy): fix typo in default error and add test coverage
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
Due: v3_proxy_api

fix(v3proxy): fix typo in default error and add test coverage (#608)
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
Due: v3_proxy_api

fix(v3proxy): convert epoch timestamps in request to seconds
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/routes/validations/shared.spec.ts
  servers/v3-proxy-api/src/routes/validations/shared.ts
Due: v3_proxy_api

fix(v3proxy): convert epoch timestamps in request to seconds (#609)
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/routes/validations/shared.spec.ts
  servers/v3-proxy-api/src/routes/validations/shared.ts
Due: v3_proxy_api

fix(v3proxy): fix undefined default error
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
Due: v3_proxy_api

fix(v3proxy): fix undefined default error (#610)
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
Due: v3_proxy_api

feat(sentry): setup sentry context
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

chore(corpus:search): add more context to errors in Sentry
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/bulkIndex.ts
Due: user_list_search

chore(infra): update opensearch version
  infrastructure/user-list-search/elasticsearch.tf
Due: user_list_search

feat(sentry): setup sentry context (#611)
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

fix(v3proxy): add optional chaining to nullable var
  servers/v3-proxy-api/src/graph/add/toRest.ts
Due: v3_proxy_api

chore(infra): update opensearch version (#613)
  infrastructure/user-list-search/elasticsearch.tf
Due: user_list_search

fix(v3proxy): add optional chaining to nullable var (#614)
  servers/v3-proxy-api/src/graph/add/toRest.ts
Due: v3_proxy_api

chore(corpus:search): add more context to errors in Sentry (#612)
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/bulkIndex.ts
Due: user_list_search

Notes added by 'git notes add'
  f9a37666b2d6fe7b4d4545840a82b9480aa22795
Due: none

fix(sentry): ensuring integrations are added to sentry
  packages/sentry/src/initSentry.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(sentry): ensuring integrations are added to sentry (#615)
  packages/sentry/src/initSentry.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Revert "fix(sentry): ensuring integrations are added to sentry (#615)"
  packages/sentry/src/initSentry.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Revert "fix(sentry): ensuring integrations are added to sentry (#615)" (#617)
  packages/sentry/src/initSentry.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(search): update queries for os_2.13 upgrade
  .docker/aws-resources/user-list-search.sh
  servers/user-list-search/src/datasource/elasticsearch/advancedSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchBulk.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.integration.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.spec.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.ts
  servers/user-list-search/src/elasticsearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/server/routes/itemDelete.integration.ts
  servers/user-list-search/src/server/routes/itemUpdate.integration.ts
Due: user_list_search

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
