Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

fix(trace): removing stack from error logs
  packages/apollo-utils/src/sentry/apolloSentryPlugin.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(errors): cleaning up parser error messages to be more clear
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
Due: parser_graphql_wrapper

fix(v3proxy:search): ignore empty search term instead of rejecting query
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

fix(errors): cleanup the error logs (#405)
  packages/apollo-utils/src/sentry/apolloSentryPlugin.ts
  servers/parser-graphql-wrapper/src/dataLoaders/articleLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  ffd01a788e0457a18a838e6920ddb9ba73a34e19
Due: none

fix(pagerduty): remove reliance on other state (#403)
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/braze/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/push-server/src/main.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  infrastructure/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, transactional_emails, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, braze, v3_proxy_api, push_server

fix typo
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

fix(v3proxy:search): ignore empty search term instead of rejecting query (#407)
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

fix(v3proxy:fetch): request 'unread' items only from fetch
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
Due: v3_proxy_api

fix(v3proxy:fetch): request 'unread' items only from fetch (#408)
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
Due: v3_proxy_api

fix(parser): use fallback option for better item_id resolution
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/datasources/parserApi.integration.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/refreshMutation.integration.ts
  servers/parser-graphql-wrapper/src/resolvers.spec.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.integration.ts
  servers/parser-graphql-wrapper/src/timeToRead/timeToRead.integration.ts
Due: parser_graphql_wrapper

fix(parser): use fallback option for better item_id resolution (#409)
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/datasources/parserApi.integration.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/refreshMutation.integration.ts
  servers/parser-graphql-wrapper/src/resolvers.spec.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.integration.ts
  servers/parser-graphql-wrapper/src/timeToRead/timeToRead.integration.ts
Due: parser_graphql_wrapper

fix(v3proxy:tags): allow tags array input
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/validations/AddSchema.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

fix(v3proxy:tags): allow tags array input (#410)
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/validations/AddSchema.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

fix(instant-sync): instant sync should clean up its db connection upon end
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  lambdas/instant-sync-events/src/clients.ts
  lambdas/instant-sync-events/src/handlerFn.integration.ts
  lambdas/instant-sync-events/src/handlerFn.ts
Due: none

fix(v3): adding in new fields for user api
  servers/user-api/schema.graphql
Due: user_api

fix(premium): adding premium status fields
  servers/user-api/schema.graphql
  servers/user-api/src/dataService/userDataService.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/resolvers/index.ts
  servers/user-api/src/test/functional/user.integration.ts
  servers/user-api/src/types/index.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: user_api, v3_proxy_api

feat(list:tagslist): support v3 tag list query
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/dataService/usersMetaService.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/test/graphql/queries/tagsList.integration.ts
Due: list_api

fix(instant-sync): instant sync should clean up its db connection upon end (#411)
  infrastructure/instant-sync-events/src/config/index.ts
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  lambdas/instant-sync-events/src/clients.ts
  lambdas/instant-sync-events/src/handlerFn.integration.ts
  lambdas/instant-sync-events/src/handlerFn.ts
Due: none

feat(v3): adding v3 premium fields (#412)
  servers/user-api/schema.graphql
  servers/user-api/src/dataService/userDataService.ts
  servers/user-api/src/models/User.ts
  servers/user-api/src/resolvers/index.ts
  servers/user-api/src/test/functional/user.integration.ts
  servers/user-api/src/types/index.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: user_api, v3_proxy_api

feat(list:tagslist): support v3 tag list query (#413)
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/dataService/usersMetaService.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/test/graphql/queries/tagsList.integration.ts
Due: list_api

fix(secret): lambda secret access fixes
  packages/lambda-secrets/src/secret.spec.ts
  packages/lambda-secrets/src/secrets.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(fetch): default annotations to on for fetch
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
Due: v3_proxy_api

fix(sort): adding in longest and shortest sort no-op
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

fix(sort): adding in longest and shortest sort no-op (#432)
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

fix(apns): adding in apns target
  servers/push-server/src/worker.ts
Due: push_server

chore: use includes directive for conditional query shape
  servers/parser-graphql-wrapper/src/listen/listenDuration.integration.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graphql/queries/savedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
Due: parser_graphql_wrapper, v3_proxy_api

cleanup
  servers/parser-graphql-wrapper/src/listen/listenDuration.integration.ts
  servers/v3-proxy-api/src/graphql/queries/savedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: parser_graphql_wrapper, v3_proxy_api

chore: use includes directive for conditional query shape (#437)
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graphql/queries/savedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
Due: v3_proxy_api

Notes added by 'git notes add'
  67a80532c06f1b36bf03d08f043279ce407c1ecc
Due: none

fix(cache): moving to a much lower serverless redis cache
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

fix(semantic-release): making semantic release work in merge queues
  .github/workflows/publish.yml
  package.json
Due: none

fix(lint): upgrading eslint
  package.json
  packages/eslint-config-custom/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(deps): upgrading otel libraries
  packages/tracing/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(secret): lambda secret access fixes (#419)
  packages/lambda-secrets/src/secret.spec.ts
  packages/lambda-secrets/src/secrets.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  42d7a0d3c498c1986c89b96b95c94cab20a508f1
Due: none

fix(instant-sync): updating lambda secrets to native fetch
  .syncpackrc
  packages/lambda-secrets/package.json
  packages/lambda-secrets/src/secrets.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(retry): adding in retry to lambda layer
  packages/lambda-secrets/src/secret.spec.ts
  packages/lambda-secrets/src/secrets.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server
