Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(lambda): making lambda ignore git_sha changes
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
  infrastructure/annotations-api/src/SqsLambda.ts
  infrastructure/fxa-webhook-proxy/src/apiGateway.ts
  infrastructure/fxa-webhook-proxy/src/sqsLambda.ts
  infrastructure/sendgrid-data/src/apiGateway.ts
  infrastructure/shareable-lists-api/src/SQSLambda.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  packages/terraform-modules/src/base/ApplicationLambdaCodeDeploy.ts
  packages/terraform-modules/src/base/ApplicationVersionedLambda.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(lambda): rotate env vars
  .circleci/common.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(appspec): removing appsepc generation (#328)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/apollo_ecs.tf
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api, client_api, feature_flags, account_data_deleter, shareable_lists_api, user_list_search

fix(lambda): ignore git_sha
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
  infrastructure/annotations-api/src/SqsLambda.ts
  infrastructure/fxa-webhook-proxy/src/apiGateway.ts
  infrastructure/fxa-webhook-proxy/src/sqsLambda.ts
  infrastructure/fxa-webhook-proxy/src/utilities.ts
  infrastructure/sendgrid-data/src/apiGateway.ts
  infrastructure/sendgrid-data/src/utilities.ts
  infrastructure/shareable-lists-api/src/SQSLambda.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  packages/terraform-modules/src/pocket/PocketVersionedLambda.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(formatting): updating format and tests
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/pocket-event-bridge/src/main.ts
  packages/terraform-modules/src/base/ApplicationAutoscaling.spec.ts
  packages/terraform-modules/src/base/ApplicationBackups.spec.ts
  packages/terraform-modules/src/base/ApplicationBaseDNS.spec.ts
  packages/terraform-modules/src/base/ApplicationCertificate.spec.ts
  packages/terraform-modules/src/base/ApplicationECR.spec.ts
  packages/terraform-modules/src/base/ApplicationECSAlbCodeDeploy.spec.ts
  packages/terraform-modules/src/base/ApplicationECSCluster.spec.ts
  packages/terraform-modules/src/base/ApplicationECSIAM.spec.ts
  packages/terraform-modules/src/base/ApplicationLambdaSnsTopicSubscription.spec.ts
  packages/terraform-modules/src/base/ApplicationLoadBalancer.spec.ts
  packages/terraform-modules/src/base/ApplicationMemcache.spec.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.spec.ts
  packages/terraform-modules/src/base/ApplicationRedis.spec.ts
  packages/terraform-modules/src/base/ApplicationSqsSnsTopicSubscription.spec.ts
  packages/terraform-modules/src/base/ApplicationTargetGroup.spec.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationLambdaCodeDeploy.spec.ts.snap
  packages/terraform-modules/src/base/__snapshots__/ApplicationVersionedLambda.spec.ts.snap
  packages/terraform-modules/src/pocket/PocketApiGatewayLambdaIntegration.spec.ts
  packages/terraform-modules/src/pocket/PocketEventBridgeRuleWithMultipleTargets.spec.ts
  packages/terraform-modules/src/pocket/PocketEventBridgeWithLambdaTarget.spec.ts
  packages/terraform-modules/src/pocket/PocketPagerDuty.spec.ts
  packages/terraform-modules/src/pocket/PocketSQSWithLambdaTarget.spec.ts
  packages/terraform-modules/src/pocket/PocketSynthetics.spec.ts
  packages/terraform-modules/src/pocket/PocketVersionedLambda.spec.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketApiGatewayLambdaIntegration.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketEventBridgeRuleWithMultipleTargets.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketEventBridgeWithLambdaTarget.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketSQSWithLambdaTarget.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketVersionedLambda.spec.ts.snap
  packages/terraform-modules/src/utilities.jest.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(gateway): making gateway not always redeploy
  packages/terraform-modules/src/pocket/PocketApiGatewayLambdaIntegration.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketApiGatewayLambdaIntegration.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(wait): adding in a wait command
  .circleci/common.yml
  packages/terraform-modules/src/pocket/PocketApiGatewayLambdaIntegration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tfcmt): adding a custom tfcmt
  .tfcmt.yml
Due: none

fix(variables): cleaning up environment variables
  .circleci/common.yml
  infrastructure/annotations-api/src/SqsLambda.ts
  infrastructure/shareable-lists-api/src/SQSLambda.ts
  packages/ts-logger/src/logger.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tfcmt): turning off tfcmt applies
  .circleci/common.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(shared-lists): making shared lists not recreate alarms
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListItemEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/utils.ts
Due: pocket_event_bridge

fix(bot): moving to a github bot
  .circleci/common.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(list:sync): add optional timestamp inputs to many mutations
  servers/list-api/schema.graphql
  servers/list-api/src/dataService/savedItemsService.ts
  servers/list-api/src/dataService/tagDataService.ts
  servers/list-api/src/models/tag.ts
  servers/list-api/src/resolvers/mutation.ts
  servers/list-api/src/test/graphql/mutations/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-updates.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-replaceSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsMutationService-updateSavedItemTags.integration.ts
Due: list_api

fix(dynamodb): ignoring global secondary index changes
  .circleci/common.yml
  infrastructure/annotations-api/src/dynamodb.ts
  packages/terraform-modules/src/base/ApplicationDynamoDBTable.spec.ts
  packages/terraform-modules/src/base/ApplicationDynamoDBTable.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationDynamoDBTable.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(shareable-lists): fixing typo in shareable list name
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListItemEventRules.ts
Due: pocket_event_bridge

fix(account-deleter): adding in logging for account deleter poller
  servers/account-data-deleter/src/batchDeleteHandler.ts
Due: account_data_deleter

Notes added by 'git notes add'
  855c73a69ec561597718e9d0946afa382a527f35
Due: none

fix(infra): fix the remaining terraform constant changes (#331)
  .circleci/common.yml
  infrastructure/annotations-api/src/dynamodb.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListItemEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/utils.ts
  packages/terraform-modules/src/base/ApplicationDynamoDBTable.spec.ts
  packages/terraform-modules/src/base/ApplicationDynamoDBTable.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationDynamoDBTable.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  610d31969a5a7b765ac66bfdaddd1b703598c59e
Due: none

fix(account-deleter): adding in logging for account deleter poller (#332)
  servers/account-data-deleter/src/batchDeleteHandler.ts
Due: account_data_deleter

fix(gitsha): adding ignore gitsha
  infrastructure/fxa-webhook-proxy/src/apiGateway.ts
  infrastructure/user-list-search/backfill_item_update_consumer.tf
  infrastructure/user-list-search/backfill_user_list_import_consumer.tf
  infrastructure/user-list-search/event_handler_consumer.tf
  infrastructure/user-list-search/item_delete_consumer.tf
  infrastructure/user-list-search/item_update_consumer.tf
  infrastructure/user-list-search/kinesis_consumer.tf
  infrastructure/user-list-search/user_list_import_consumer.tf
Due: user_list_search

fix(account): ensuring account deleter runs
  infrastructure/annotations-api/src/main.ts
  infrastructure/sendgrid-data/src/main.ts
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/batchDeleteHandler.ts
  servers/account-data-deleter/src/dataService/accountDeleteDataService.ts
Due: annotations_api, sendgrid_data, account_data_deleter

fix(tests): updating logger in account data deleter
  servers/account-data-deleter/src/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/dataService/accountDeleteDataService.ts
  servers/account-data-deleter/src/dataService/stripeDataDeleter.ts
  servers/account-data-deleter/src/logger.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/src/server.ts
Due: account_data_deleter

fix(tests): few missing log statements
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/src/server.ts
Due: account_data_deleter

reorganize test files
  servers/list-api/src/test/graphql/mutations/pocketSave/save-archive.integration.ts
  servers/list-api/src/test/graphql/mutations/pocketSave/save-favorite.integration.ts
  servers/list-api/src/test/graphql/mutations/pocketSave/save-unarchive.integration.ts
  servers/list-api/src/test/graphql/mutations/pocketSave/save-unfavorite.integration.ts
  servers/list-api/src/test/graphql/mutations/pocketSave/saveBatchUpdateTags.integration.ts
  servers/list-api/src/test/graphql/mutations/save-favorite.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-updates.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemArchive.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemDelete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemFavorite.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemTag.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemUnArchive.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemUnDelete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemUnFavorite.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemByUrl/savedItemUpdateTitle.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-replaceSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-update.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-updateSavedItemTags.integration.ts
Due: list_api

fix(account): ensuring account deleter runs (#336)
  infrastructure/annotations-api/src/main.ts
  infrastructure/sendgrid-data/src/main.ts
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/batchDeleteHandler.ts
  servers/account-data-deleter/src/dataService/accountDeleteDataService.ts
  servers/account-data-deleter/src/dataService/stripeDataDeleter.ts
  servers/account-data-deleter/src/logger.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/account-data-deleter/src/server.ts
Due: annotations_api, sendgrid_data, account_data_deleter

chore(linter): only build dependent items in lint
  turbo.json
Due: none

chore(cache): cache the inputs and outputs of each task
  turbo.json
Due: none

chore(lint): removing concurrency limit
  .circleci/repo-jobs.yml
Due: none

chore(test): removing test concurrency
  .circleci/repo-jobs.yml
Due: none

chore(cache): adding in a pnpm cache
  .circleci/common.yml
  .circleci/repo-jobs.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(test): fixing up build steps for testing
  turbo.json
Due: none

docs(caching): adding docs for caching
  README.md
  turbo.json
Due: none

chore(test): removing echo tests
  infrastructure/account-data-deleter/package.json
  infrastructure/account-delete-monitor/package.json
  infrastructure/annotations-api/package.json
  infrastructure/braze/package.json
  infrastructure/client-api/package.json
  infrastructure/feature-flags/package.json
  infrastructure/fxa-webhook-proxy/package.json
  infrastructure/image-api/package.json
  infrastructure/list-api/package.json
  infrastructure/parser-graphql-wrapper/package.json
  infrastructure/pocket-event-bridge/package.json
  infrastructure/push-server/package.json
  infrastructure/sendgrid-data/package.json
  infrastructure/shareable-lists-api/package.json
  infrastructure/shared-snowplow-consumer/package.json
  infrastructure/transactional-emails/package.json
  infrastructure/user-api/package.json
  infrastructure/v3-proxy-api/package.json
  servers/push-server/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, braze, v3_proxy_api, push_server

chore(synth): fixing cdktf output
  turbo.json
Due: none

chore(synth): synth only needs terraform-modules built
  turbo.json
Due: none

update schema
  servers/list-api/schema.graphql
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-updates.integration.ts
Due: list_api

remove unimplemented mutations
  servers/list-api/schema.graphql
Due: list_api

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
