Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

fix(serverless-cache): adding the ability to set cache limits for serverless caches
  packages/terraform-modules/src/base/ApplicationServerlessRedis.spec.ts
  packages/terraform-modules/src/base/ApplicationServerlessRedis.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationServerlessRedis.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(cache): limiting parser cache to 100GB
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: none

fix(item): ensuring that we resolve items if they are not there (#237)
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
Due: none

fix(images): ensuring that Images always have a URL response field (#236)
  packages/apollo-utils/package.json
  packages/feature-flags-client/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  servers/parser-graphql-wrapper/src/marticle/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  17c2ca45a7a18a5bbdae6ca9ae13e2af91063c8e
Due: none

fix(shareable-lists): matching version
  infrastructure/shareable-lists-api/src/main.ts
Due: none

fix(serverless-cache): limiting serverless cache size (#240)
  infrastructure/parser-graphql-wrapper/src/main.ts
  packages/terraform-modules/src/base/ApplicationServerlessRedis.spec.ts
  packages/terraform-modules/src/base/ApplicationServerlessRedis.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationServerlessRedis.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  f6a3b2363cdd2e1bdf643885eed9f616805ee794
Due: none

fix(cache-size): limit our cache size by reducing age
  infrastructure/parser-graphql-wrapper/src/main.ts
  servers/parser-graphql-wrapper/src/config/index.ts
Due: none

fix(shareable-lists): matching version (#242)
  infrastructure/shareable-lists-api/src/main.ts
Due: none

fix(cache-size): limit our cache size by reducing age (#243)
  infrastructure/parser-graphql-wrapper/src/main.ts
  servers/parser-graphql-wrapper/src/config/index.ts
Due: none

fix: Snowplow retries on network error
  servers/shared-snowplow-consumer/src/config/index.ts
Due: shared_snowplow_consumer

fix: lint type error
  servers/shared-snowplow-consumer/src/config/index.ts
Due: shared_snowplow_consumer

feat(v3proxy): /v3/add proxy endpoint implementation
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/add/toRest.spec.ts
  servers/v3-proxy-api/src/graph/add/toRest.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/shared/transforms.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/ItemParserMetadata.graphql
  servers/v3-proxy-api/src/graphql/fragments/SavedItemWithParserMetadata.graphql
  servers/v3-proxy-api/src/graphql/mutations/addSavedItem.graphql
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/validations/AddSchema.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/test/fixtures/add.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
  servers/v3-proxy-api/src/test/fixtures/send.ts
Due: none

fix(parser): fix typo in origin_domain_id column casing
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/model.ts
Due: none

update vscode settings
  .vscode/settings.json
Due: none

lint and typegen updates
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/add/toRest.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/test/fixtures/add.ts
  servers/v3-proxy-api/src/test/fixtures/send.ts
Due: none

Notes added by 'git notes add'
  f1abb9b2bbf279a48ac3083be30a62ba8611834c
Due: none

Notes added by 'git notes add'
  087d604a00e720cf11673fd68a8b6f63d151ef1b
Due: none

integrate with server and add request tests
  servers/v3-proxy-api/src/graph/add/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/validations/AddSchema.ts
Due: none

re-add the total validator which got lost in the shuffle
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: none

feat(v3proxy): implement /v3/add endpoint (#245)
  .vscode/settings.json
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/add/toRest.spec.ts
  servers/v3-proxy-api/src/graph/add/toRest.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/shared/transforms.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/ItemParserMetadata.graphql
  servers/v3-proxy-api/src/graphql/fragments/SavedItemWithParserMetadata.graphql
  servers/v3-proxy-api/src/graphql/mutations/addSavedItem.graphql
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations/AddSchema.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/test/fixtures/add.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: none

Notes added by 'git notes add'
  c6d17d12d14f5f4c77209a0ad287a57d16aae3aa
Due: none

fix(client): adding in client name for fxa
  lambdas/fxa-webook-proxy-sqs/src/config.ts
  lambdas/fxa-webook-proxy-sqs/src/mutations.ts
Due: none

fix(parser): fix short code generation for non-https
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.spec.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.ts
Due: none

fix(client): adding in client name for fxa (#252)
  lambdas/fxa-webook-proxy-sqs/src/config.ts
  lambdas/fxa-webook-proxy-sqs/src/mutations.ts
Due: none

fix(parser): resolve short code by url that was shared
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.ts
Due: none

Notes added by 'git notes add'
  c64daf95bb13279ead3a7eb14f635bbc917395ef
Due: none

Notes added by 'git notes add'
  80c94e1c770cf2371a13368fa6e04ed3ad1d4e07
Due: none

new shortUrl resolution rules
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
Due: none

lint
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: none

fix(parser): resolve short code by url that was shared (#254)
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.ts
Due: none

fix(spans): decreasing the time between exporting span traces
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(spans): decreasing the time between exporting span traces (#259)
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(search): add offset-based searches to support proxy
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/Paginator.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/searchIntegrationTestHelpers.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/types.ts
Due: none

feat(eventbridge-monitor): making an event bridge monitor
  .circleci/pocket-event-bridge.yml
  infrastructure/pocket-event-bridge/src/event-rules/all-events/allEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/all-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/pocket-event-bridge/src/monitorLambda.ts
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-batch-delete/src/index.spec.ts
  lambdas/account-data-deleter-events/src/index.spec.ts
  lambdas/pocket-event-bridge-monitor/.eslintrc.js
  lambdas/pocket-event-bridge-monitor/jest.config.js
  lambdas/pocket-event-bridge-monitor/jest.setup.js
  lambdas/pocket-event-bridge-monitor/package.json
  lambdas/pocket-event-bridge-monitor/src/config.ts
  lambdas/pocket-event-bridge-monitor/src/index.spec.ts
  lambdas/pocket-event-bridge-monitor/src/index.ts
  lambdas/pocket-event-bridge-monitor/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(mismatches): updating package mismatches
  lambdas/pocket-event-bridge-monitor/package.json
  lambdas/user-list-search-indexing/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(ci): ensuring ci uses the right names
  .circleci/pocket-event-bridge.yml
Due: none

fix(logger): making sure the file logger only inits when asked
  .circleci/pocket-event-bridge.yml
  packages/ts-logger/src/logger.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  pocket_router: any of: ((servers|infrastructure)/pocket-router/.*)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
