Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

# our defined job, and its steps
jobs:
  setup:
    executor: path-filtering/default
    steps:
      - checkout # checkout code
      - run:
          name: Generate List of Configs to Merge
          command: |
            # Generate a list of all the circleci configs we want to run
            file_list=(".circleci/common.yml" ".circleci/repo-jobs.yml" ".circleci/image-api.yml" ".circleci/annotations-api.yml" ".circleci/shared-snowplow-consumer.yml" ".circleci/parser-graphql-wrapper.yml" ".circleci/transactional-emails.yml" ".circleci/fxa-webhook-proxy.yml" ".circleci/user-api.yml" ".circleci/pocket-router.yml" ".circleci/list-api.yml")       
            touch /tmp/configs.txt

            # Add file header to each file and dump it to the config list
            for file in "${file_list[@]}"; do
              echo "$file" >> /tmp/configs.txt
              awk -v new_content="$(cat .circleci/header.yml)" 'BEGIN {print new_content} {print}' "$file" > temp_file && mv temp_file "$file"
            done
      - path-filtering/generate-config:
          config-list-path: /tmp/configs.txt
          generated-config-path: /tmp/generated-config.yml
      - run:
          name: Reset Git
          command: |
            git reset --hard
      # Set up path mapping, in the future we should generate this as a conf file, and pass it to the option.
      # We will need to set this to true when ever the packages folder changes as well.
      # Right now though, we will only deploy if the actual servers/infra change,
      # as its likely any change in the packages will change the underlying code.
      # Worst case, bump the version in package.json to triger a deploy
      #
      # The router is just rhai scripts and yaml files without dependencies on node or any other
      # packages, so we don't trigger it unless a change occurs specifically in the subfolder
      #
      # NOTE: we use _ for the parameters to the pipeline because
      # circleci uses it as an ENV down the pipe and ENV vars can't be used with a -
      - path-filtering/set-parameters:
          config-path: /tmp/generated-config.yml
          output-path: /tmp/pipeline-parameters.json
          mapping: |
            ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) image_api true
            ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) annotations_api true
            ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) shared_snowplow_consumer true
            ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) parser_graphql_wrapper true
            ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml) transactional_emails true
            ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml) fxa_webhook_proxy true
            ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) user_api true
            ((servers|infrastructure)/pocket-router/.*) pocket_router true
            ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) list_api true
      - continuation/continue:
          configuration_path: /tmp/generated-config.yml
          parameters: /tmp/pipeline-parameters.json

# our single workflow, that triggers the setup job defined above
workflows:
  setup:
    jobs:
      - setup

fix last size computation to not exceed cursor value
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.spec.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/resolvers.ts
Due: none

fix incorrect test assertions and compute size
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.spec.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
Due: none

fix(lambda): removing lambda to instead go direct to cloudwatch
  .circleci/pocket-event-bridge.yml
  infrastructure/pocket-event-bridge/src/event-rules/all-events/allEventRules.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/pocket-event-bridge/src/monitorLambda.ts
  lambdas/pocket-event-bridge-monitor/.eslintrc.js
  lambdas/pocket-event-bridge-monitor/jest.config.js
  lambdas/pocket-event-bridge-monitor/jest.setup.js
  lambdas/pocket-event-bridge-monitor/package.json
  lambdas/pocket-event-bridge-monitor/src/config.ts
  lambdas/pocket-event-bridge-monitor/src/index.spec.ts
  lambdas/pocket-event-bridge-monitor/src/index.ts
  lambdas/pocket-event-bridge-monitor/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

lint
  servers/user-list-search/src/datasource/elasticsearch/Paginator.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.spec.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
Due: none

Update servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/resolvers.ts
Due: none

feat(eventbridge-monitor): making an event bridge monitor (#263)
  infrastructure/pocket-event-bridge/src/event-rules/all-events/allEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/all-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/main.ts
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-batch-delete/src/index.spec.ts
  lambdas/account-data-deleter-events/package.json
  lambdas/account-data-deleter-events/src/index.spec.ts
  lambdas/user-list-search-indexing/package.json
  packages/ts-logger/src/logger.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  b1c2c35fbba7d326e61f2db06096873caff4df07
Due: none

feat(search): add offset-based searches to support proxy (#262)
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/Paginator.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.spec.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/datasource/elasticsearch/searchQueryBuilder.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/searchIntegrationTestHelpers.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/types.ts
Due: none

feat(search): add searchType to graph
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/Paginator.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/types.ts
Due: none

feat(search): add searchType to graph (#264)
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/Paginator.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/types.ts
Due: none

Revert "feat(search): add searchType to graph (#264)"
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/Paginator.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/types.ts
Due: none

Revert "feat(search): add searchType to graph (#264)" (#265)
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/datasource/elasticsearch/Paginator.ts
  servers/user-list-search/src/datasource/elasticsearch/elasticsearchSearch.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
  servers/user-list-search/src/premiumSearch.integration.ts
  servers/user-list-search/src/premiumSearchByOffset.integration.ts
  servers/user-list-search/src/types.ts
Due: none

first cut with spec tests
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/SearchResultHighlights.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/src/test/fixtures/send.ts
Due: none

feat(search): add search to v3 proxy
  servers/v3-proxy-api/src/graph/get/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
  servers/v3-proxy-api/src/test/fixtures/send.ts
Due: none

feat(v3proxy): add search query to proxy (#266)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/fragments/SearchResultHighlights.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: none

fix(name): updating forgot password name
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password/eventConfig.ts
  infrastructure/pocket-event-bridge/src/main.ts
Due: none

feat(forgotPassword): adding in the handler for forgot password
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  lambdas/transactional-emails/src/schemas/forgotPasswordReset/Marshaller.ts
  lambdas/transactional-emails/src/schemas/forgotPasswordReset/PasswordResetInfo.ts
  lambdas/transactional-emails/src/schemas/forgotPasswordReset/User.ts
  lambdas/transactional-emails/src/schemas/forgotPasswordResetEvent.ts
Due: transactional_emails

chore(braze): moving to braze api types
  lambdas/transactional-emails/package.json
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

wip(forgot-password): moving forgot password to braze
  infrastructure/transactional-emails/src/config/index.ts
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/config.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  lambdas/transactional-emails/src/schemas/forgotPasswordReset/Marshaller.ts
  lambdas/transactional-emails/src/schemas/forgotPasswordReset/PasswordResetInfo.ts
  lambdas/transactional-emails/src/schemas/forgotPasswordReset/User.ts
  lambdas/transactional-emails/src/schemas/forgotPasswordResetEvent.ts
Due: transactional_emails

fix(subscribers): adding in event bridge subscribers
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password/index.ts
  infrastructure/pocket-event-bridge/src/events-schema/ForgotPasswordRequestEvent.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/transactional-emails/src/main.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
Due: transactional_emails

fix(ids): updating campaign ids
  infrastructure/transactional-emails/src/config/index.ts
  lambdas/transactional-emails/src/braze.ts
Due: transactional_emails

fix(messages): improving log messages
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/index.ts
Due: transactional_emails

fix(campaign): adding in the campaign id
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password-request/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password-request/index.ts
  infrastructure/pocket-event-bridge/src/events-schema/ForgotPasswordRequestEvent.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
Due: transactional_emails

feat(transactional-email): moving forgot password email into braze (#249)
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password-request/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/forgot-password-request/index.ts
  infrastructure/pocket-event-bridge/src/events-schema/ForgotPasswordRequestEvent.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/transactional-emails/src/config/index.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  lambdas/transactional-emails/package.json
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/config.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  lambdas/transactional-emails/src/index.ts
  lambdas/transactional-emails/src/schemas/forgotPasswordResetEvent.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix: variable input key name
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
Due: none

Notes added by 'git notes add'
  823582800b99405648e8e61de833138971a637be
Due: none

fix: variable input key name (#269)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsByOffsetSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
Due: none

Notes added by 'git notes add'
  d646cc4ba0450d3a2132dd1450e7397555e9e4ae
Due: none

fix(cache): adding a cache limit
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: none

feat(fetch): adding in the v3/fetch api initial response
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
Due: none

feat(fetch): adding in the v3/fetch api initial response (#272)
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/index.ts
Due: none

fix(v3proxy): fix filters and total+complete resepon
  servers/v3-proxy-api/src/graph/get/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: none

fix(v3proxy): fix filters and total+complete resepon (#273)
  servers/v3-proxy-api/src/graph/get/toGraphQL.spec.ts
  servers/v3-proxy-api/src/graph/get/toGraphQL.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: none

fix(v3proxy): return user-provided title as given_title if exists
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graphql/fragments/SavedItemSimple.graphql
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: none

fix(v3proxy): return user-provided title as given_title if exists (#276)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graphql/fragments/SavedItemSimple.graphql
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: none

fix(search): case-insensitive search for fallback title
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
Due: none

fix(search): case-insensitive search for fallback title (#277)
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
Due: none

feat(search): add domain filter to free tier search
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
Due: none

feat(search): add domain filter to free tier search (#279)
  servers/user-list-search/src/datasource/SavedItemsDataSource.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
Due: none

feat(toplevel): adding in the toplevel v3 responses
  servers/v3-proxy-api/src/graph/get/toRest.spec.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/test/fixtures/fetch.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: none
