Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  b684cad4218e52bedaef6aa44bacbef9583c819d
Due: none

fix(li): remove unmarseable from rows in a list
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
Due: parser_graphql_wrapper

fix(eventBridge): ensuring lambdas all use the event bridge types (#951)
  lambdas/transactional-emails/src/handlers/accountDelete.spec.ts
  lambdas/transactional-emails/src/handlers/accountDelete.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/listExportReady.spec.ts
  lambdas/transactional-emails/src/handlers/listExportReady.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  lambdas/transactional-emails/src/index.spec.ts
  lambdas/transactional-emails/src/index.ts
  lambdas/user-list-search-events/handlerFns.spec.ts
  lambdas/user-list-search-events/handlerFns.ts
  lambdas/user-list-search-events/handlerMap.ts
  lambdas/user-list-search-events/index.ts
  lambdas/user-list-search-events/package.json
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/types/account.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  d6513c5483be621ef6689aca13de350d9baed72b
Due: none

fix(release): ensuring that semantic release uses real version numbers
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(release): ensuring that semantic release uses real version numbers (#956)
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(semantic-release): using the analyzeCommits command which has the last release
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(semantic-release): using the analyzeCommits command which has the last release (#957)
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(semantic-release): ensure semantic release returns nothing
  packages/feature-flags-client/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(semantic-release): ensure semantic release returns nothing (#958)
  packages/feature-flags-client/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(semantic-release): ensuring all analyze commits return nothing
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(semantic-release): ensuring all analyze commits return nothing (#959)
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(semantic-release): updating to use a silent command
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(semantic-release): updating to use a silent command (#960)
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(semantic-release): ensure we set package versions
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(semantic-release): ensure we set package versions (#961)
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/feature-flags-client/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  95073483bf750f9a518bf5608a5179bfb3fd76a4
Due: none

Notes added by 'git notes add'
  84758b842b4e93f7af3c7c85b30a8d237c941553
Due: none

Notes added by 'git notes add'
  8fac3153cc33ef6d950f3f6095321e1d855d81ed
Due: none

Notes added by 'git notes add'
  fa443340b3e5434d9e548c0c6ccd6604ae7538fa
Due: none

fix(export): updating export event
  servers/account-data-deleter/src/dataService/listDataExportService.ts
Due: account_data_deleter

fix(export): updating export event (#966)
  servers/account-data-deleter/src/dataService/listDataExportService.ts
Due: account_data_deleter

feat(events): setting up batch processing pipeline for events
  lambdas/user-list-search-events/src/accountDeleteHandler.spec.ts
  lambdas/user-list-search-events/src/accountDeleteHandler.ts
  lambdas/user-list-search-events/src/handlerMap.ts
  lambdas/user-list-search-events/src/index.ts
  lambdas/user-list-search-events/src/itemDeleteHandler.ts
  lambdas/user-list-search-events/src/itemUpdateHandler.ts
  lambdas/user-list-search-events/src/premiumPurchaseHandler.ts
Due: user_list_search

feat(notes): notes initialization
  .docker/postgres-resources/init-notes-db.sh
  .github/workflows/notes-api.yml
  infrastructure/notes-api/.terraform-version
  infrastructure/notes-api/cdktf.json
  infrastructure/notes-api/eslint.config.mjs
  infrastructure/notes-api/package.json
  infrastructure/notes-api/src/config/index.ts
  infrastructure/notes-api/src/main.ts
  infrastructure/notes-api/tsconfig.json
  pnpm-lock.yaml
  servers/notes-api/.env.ci
  servers/notes-api/README.md
  servers/notes-api/codegen.ts
  servers/notes-api/package.json
  servers/notes-api/prisma/migrations/20241119215423_init/migration.sql
  servers/notes-api/prisma/migrations/migration_lock.toml
  servers/notes-api/prisma/schema.prisma
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/types.ts
  servers/notes-api/src/apollo/context.ts
  servers/notes-api/src/apollo/index.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/apollo/schema/buildSchema.ts
  servers/notes-api/src/apollo/schema/index.ts
  servers/notes-api/src/apollo/schema/typeDefs.ts
  servers/notes-api/src/apollo/server.ts
  servers/notes-api/src/config/index.ts
  servers/notes-api/src/main.ts
  servers/notes-api/src/unleash.ts
  servers/notes-api/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: fixing up deployment
  servers/notes-api/package.json
  servers/notes-api/src/apollo/schema/buildSchema.ts
  servers/notes-api/src/apollo/schema/index.ts
  servers/notes-api/src/apollo/schema/typeDefs.ts
  servers/notes-api/src/apollo/server.ts
  servers/notes-api/src/test/example.integration.ts
  servers/notes-api/src/test/example.spec.ts
Due: none

chore: disable data deletion infra for now
  infrastructure/notes-api/src/main.ts
Due: none

fix: lint and sqs error
  infrastructure/notes-api/src/main.ts
  servers/list-api/tsconfig.json
  servers/notes-api/eslint.config.mjs
  servers/notes-api/src/apollo/context.ts
Due: list_api

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
