Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

chore: namespace bucket to environment (#824)
  infrastructure/account-data-deleter/src/main.ts
  servers/account-data-deleter/src/config/index.ts
Due: account_data_deleter

fix(export): start the export list handler on task startup
  servers/account-data-deleter/src/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/batchDeleteHandler.ts
  servers/account-data-deleter/src/queueHandlers/index.ts
  servers/account-data-deleter/src/server.ts
Due: account_data_deleter

chore: debug statements
  servers/account-data-deleter/src/queueHandlers/exportHandler.ts
Due: account_data_deleter

fix(bools): allowing true/false in a post body for v3
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

chore: more debug statements
  servers/account-data-deleter/src/queueHandlers/queueHandler.ts
Due: account_data_deleter

fix(apiId): update the regex to use a named capture group
  servers/v3-proxy-api/src/utils.ts
Due: v3_proxy_api

chore: parse body
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/queueHandlers/exportHandler.ts
  servers/account-data-deleter/src/queueHandlers/queueHandler.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tests): adding in tests
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

fix(apiId): update the regex to use a named capture group (#827)
  servers/v3-proxy-api/src/utils.ts
Due: v3_proxy_api

fix(bools): allowing true/false in a post body for v3 (#826)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

fix(v3): bumping task sizes for v3 proxy
  infrastructure/v3-proxy-api/src/main.ts
Due: v3_proxy_api

fix(v3): bumping task sizes for v3 proxy (#828)
  infrastructure/v3-proxy-api/src/main.ts
Due: v3_proxy_api

fix(export): parsing the nested mesage data
  servers/account-data-deleter/src/queueHandlers/exportHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.ts
Due: account_data_deleter

fix(v3): move the v3 proxy to be external for CDN
  infrastructure/v3-proxy-api/src/main.ts
Due: v3_proxy_api

fix(test): update unit test
  servers/user-api/src/events/eventBus/eventBusHandler.spec.ts
Due: user_api

chore(export): more error logging
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.ts
Due: account_data_deleter

fix(export): parsing the nested mesage data (#829)
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.ts
Due: account_data_deleter

fix(router): turning on router retries
  servers/client-api/config/router.yaml
Due: client_api

chore(logs): more logs for debugging
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.ts
Due: account_data_deleter

Notes added by 'git notes add'
  b6de464253e3e473dc6ad6124e1b768fd43f5321
Due: none

chore: bump visibility timeout
  servers/account-data-deleter/src/config/index.ts
Due: account_data_deleter

chore(logs): more logs for debugging (#832)
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.ts
Due: account_data_deleter

fix(logging): adding in logging to v3 errors
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Due: v3_proxy_api

fix(logging): adding in logging to v3 errors (#833)
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Due: v3_proxy_api

fix(export): ensure csv written for small exports
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
Due: account_data_deleter

fix(corpusItem): update the preview field under a corpus Item to use a corpus item id
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
Due: parser_graphql_wrapper

fix(corpusItem): update the preview field under a corpus Item to use a corpus item id (#835)
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
Due: parser_graphql_wrapper

fix(v3): move the v3 proxy to be external for CDN (#830)
  infrastructure/v3-proxy-api/src/main.ts
Due: v3_proxy_api

chore: fix a test mock
  servers/account-data-deleter/src/dataService/listDataExportService.spec.ts
Due: account_data_deleter

fix(export): ensure csv written for small exports (#834)
  servers/account-data-deleter/src/dataService/listDataExportService.spec.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
Due: account_data_deleter

fix(export): bucket permissions
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
Due: account_data_deleter

fix(export): bucket permissions (#836)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
Due: account_data_deleter

fix(errors): removing sending a 200 ok error to sentry
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Due: v3_proxy_api

chore: clean logs and async Sentry isolation
  servers/account-data-deleter/src/dataService/s3Service.ts
  servers/account-data-deleter/src/queueHandlers/queueHandler.ts
  servers/account-data-deleter/src/server.ts
Due: account_data_deleter

fix(errors): removing sending a 200 ok error to sentry (#837)
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Due: v3_proxy_api

feat(tracing): add tracing to account data deleter
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/main.ts
  servers/account-data-deleter/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: clean logs and async Sentry isolation (#838)
  servers/account-data-deleter/src/dataService/s3Service.ts
  servers/account-data-deleter/src/queueHandlers/queueHandler.ts
  servers/account-data-deleter/src/server.ts
Due: account_data_deleter

fix(sentry): filter out 200 ok errors
  servers/v3-proxy-api/src/main.ts
Due: v3_proxy_api
