Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

fix: fix names of sns topics
  infrastructure/user-list-search/locals.tf
Due: user_list_search

fix: add ec2 networking permissions
  infrastructure/user-list-search/corpus_events_consumer.tf
Due: user_list_search

fix: increase batching window
  infrastructure/user-list-search/corpus_events_consumer.tf
Due: user_list_search

fix: align legal variables
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/sqs.tf
Due: user_list_search

chore: add elasticsearch host to lambda env var
  infrastructure/user-list-search/locals.tf
Due: user_list_search

chore(debug): add debug statements to lambda
  lambdas/user-list-search-corpus-indexing/src/createDoc.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
Due: user_list_search

chore(debug): disable data key removal from logger
  packages/ts-logger/src/logger.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix: fixes from debugging
  infrastructure/user-list-search/sqs_sns_topic_subscription.tf
  lambdas/user-list-search-corpus-indexing/src/createDoc.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
  packages/ts-logger/src/logger.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: remove redrive policy
  infrastructure/user-list-search/sqs_sns_topic_subscription.tf
Due: user_list_search

fix: consolidate sns topics into single policy document
  infrastructure/user-list-search/sqs_sns_topic_subscription.tf
Due: user_list_search

fix: iam policy document conditions
  infrastructure/user-list-search/sqs_sns_topic_subscription.tf
Due: user_list_search

feat(exploreCorpus): process collection and corpus events (#575)
  .circleci/user-list-search.yml
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/corpusEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/corpus-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/user-list-search/backend.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/corpus_events_consumer_codedeploy.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/sqs.tf
  infrastructure/user-list-search/sqs_sns_topic_subscription.tf
  lambdas/user-list-search-corpus-indexing/eslint.config.mjs
  lambdas/user-list-search-corpus-indexing/jest.config.js
  lambdas/user-list-search-corpus-indexing/jest.setup.js
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-indexing/src/config.ts
  lambdas/user-list-search-corpus-indexing/src/createDoc.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.spec.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
  lambdas/user-list-search-corpus-indexing/tsconfig.json
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  a056912591ed5694c94890d6b23f46eb541174d4
Due: none

SE-3734 Put client-api behind WAF
  infrastructure/client-api/src/main.ts
Due: client_api

fix(search:corpus): add status to corpus indices
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  lambdas/user-list-search-corpus-indexing/src/createDoc.ts
Due: user_list_search

fix(search:corpus): add status to corpus indices (#577)
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  lambdas/user-list-search-corpus-indexing/src/createDoc.ts
Due: user_list_search

test
  infrastructure/client-api/src/main.ts
Due: client_api

troubleshooting ci tf error
  infrastructure/client-api/src/main.ts
Due: client_api

SE-3734 Adding WAF for client-api
  infrastructure/client-api/src/main.ts
Due: client_api

Troubleshooting lint error
  infrastructure/client-api/src/main.ts
Due: client_api

Addressing lint error
  infrastructure/client-api/src/main.ts
Due: client_api

SE-3734 Implementing WAF
  infrastructure/client-api/src/main.ts
Due: client_api

Backing out some settings due to error encountered
  infrastructure/client-api/src/main.ts
Due: client_api

Notes added by 'git notes add'
  6b77a24e043d17042e837aacedc723a9f8d2d0d0
Due: none

chore(search:corpus): script/notebook used to backfill corpus data
  scripts/explore-corpus-backfill/backfill-corpus.ipynb
Due: none

chore(search:corpus): script/notebook used to backfill corpus data (#580)
  scripts/explore-corpus-backfill/backfill-corpus.ipynb
Due: none

Adding separate ip lists for Dev and Prod NATs
  infrastructure/client-api/src/main.ts
Due: client_api

feat(search): add manual snapshot infrastructure prereqs
  infrastructure/user-list-search/elasticsearch.tf
Due: user_list_search

chore: terraform bucket acl block
  infrastructure/user-list-search/elasticsearch.tf
Due: user_list_search

fix(sentry-otel): moving sentry to use our open telemetry setup
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/annotations-api/src/main.ts
  servers/image-api/src/server/main.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/shared-snowplow-consumer/src/main.ts
  servers/shares-api/src/main.ts
  servers/user-api/src/main.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(otel): ensuring correct startup order for otel and sentry top play nice
  docker-compose.yml
  package.json
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  packages/tsconfig/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/src/server.ts
  servers/annotations-api/src/main.ts
  servers/image-api/src/server/main.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/main.ts
  servers/shared-snowplow-consumer/src/main.ts
  servers/shares-api/src/main.ts
  servers/user-api/src/main.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Assoc ALB with WAF
  infrastructure/client-api/src/main.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(lambda): updating lambdas sentry dsn infra
  infrastructure/annotations-api/src/SqsLambda.ts
  infrastructure/shareable-lists-api/src/SQSLambda.ts
Due: annotations_api, shareable_lists_api

removing duplicate code
  infrastructure/client-api/src/main.ts
Due: client_api

Addressing build error
  infrastructure/client-api/src/main.ts
Due: client_api

addressing lint error
  infrastructure/client-api/src/main.ts
Due: client_api

feat(infra:search): infrastructure required for manual ES snapshots (#581)
  infrastructure/user-list-search/elasticsearch.tf
Due: user_list_search

Addressing test errors
  packages/terraform-modules/src/pocket/PocketALBApplication.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server
