Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

fix(package-lock): removing extra package lock
  infrastructure/shareable-lists-api/package-lock.json
  servers/shareable-lists-api/package-lock.json
Due: none

feat(event-bridge): import of Pocket Eventbridge from 4700ffd8125e4d244bfdda6165a8b2df707b820b
  .circleci/common.yml
  .circleci/config.yml
  .circleci/pocket-event-bridge.yml
  infrastructure/pocket-event-bridge/.eslintrc.js
  infrastructure/pocket-event-bridge/.terraform-version
  infrastructure/pocket-event-bridge/cdktf.json
  infrastructure/pocket-event-bridge/package.json
  infrastructure/pocket-event-bridge/src/README.md
  infrastructure/pocket-event-bridge/src/config/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/account-delete-monitor/config.ts
  infrastructure/pocket-event-bridge/src/event-rules/account-delete-monitor/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/collection-events/collectionApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/collection-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/listApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/premium-purchase/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/premium-purchase/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/prospect-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/prospect-events/prospectEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListItemEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-api-events/userApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-registration/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-registration/userRegistrationEventRule.ts
  infrastructure/pocket-event-bridge/src/event-rules/utils.ts
  infrastructure/pocket-event-bridge/src/events-schema/ForgotPasswordRequestEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/premiumPurchaseEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/queueCheckDelete.ts
  infrastructure/pocket-event-bridge/src/events-schema/types.ts
  infrastructure/pocket-event-bridge/src/events-schema/userEvents.ts
  infrastructure/pocket-event-bridge/src/events-schema/userMergeEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/userRegistrationEventSchema.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/pocket-event-bridge/tsconfig.json
  pnpm-lock.yaml
  servers/annotations-api/src/main.ts
  servers/shareable-lists-api/src/express.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(package-lock): removing extra package lock
  lambdas/shareable-lists-api-events/package-lock.json
Due: none

fix(terraform-modules): ensuring that the modules does not synth
  packages/terraform-modules/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(terraform-modules): ensuring that the modules does not synth (#96)
  packages/terraform-modules/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(event-bridge): import of Pocket Eventbridge from 4700ffd8125e4d244bfdda6165a8b2df707b820b (#94)
  .circleci/common.yml
  .circleci/config.yml
  .circleci/pocket-event-bridge.yml
  infrastructure/pocket-event-bridge/.eslintrc.js
  infrastructure/pocket-event-bridge/.terraform-version
  infrastructure/pocket-event-bridge/cdktf.json
  infrastructure/pocket-event-bridge/package.json
  infrastructure/pocket-event-bridge/src/README.md
  infrastructure/pocket-event-bridge/src/config/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/account-delete-monitor/config.ts
  infrastructure/pocket-event-bridge/src/event-rules/account-delete-monitor/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/collection-events/collectionApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/collection-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/list-api-events/listApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/premium-purchase/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/premium-purchase/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/prospect-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/prospect-events/prospectEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/shareable-lists-api-events/shareableListItemEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-api-events/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-api-events/userApiEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-registration/eventConfig.ts
  infrastructure/pocket-event-bridge/src/event-rules/user-registration/userRegistrationEventRule.ts
  infrastructure/pocket-event-bridge/src/event-rules/utils.ts
  infrastructure/pocket-event-bridge/src/events-schema/ForgotPasswordRequestEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/premiumPurchaseEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/queueCheckDelete.ts
  infrastructure/pocket-event-bridge/src/events-schema/types.ts
  infrastructure/pocket-event-bridge/src/events-schema/userEvents.ts
  infrastructure/pocket-event-bridge/src/events-schema/userMergeEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/userRegistrationEventSchema.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/pocket-event-bridge/tsconfig.json
  pnpm-lock.yaml
  servers/annotations-api/src/main.ts
  servers/shareable-lists-api/src/express.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(tests): update test coverage of fxa
  servers/shared-snowplow-consumer/src/eventConsumer/userEvents/userEventConsumer.spec.ts
  servers/user-api/src/context.ts
  servers/user-api/src/test/functional/context.integration.ts
  servers/user-api/src/test/functional/mutations-appleMigration.integration.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
Due: shared_snowplow_consumer, user_api

fix(appspec): making event bridge not save appsepc
  .circleci/config.yml
  .circleci/pocket-event-bridge.yml
  infrastructure/pocket-event-bridge/src/README.md
Due: none

fix(client-api): do not set headers to empty string
  servers/client-api/rhai/claims_forwarding.rhai
Due: none

fix(appspec): making event bridge not save appsepc (#98)
  .circleci/config.yml
  .circleci/pocket-event-bridge.yml
  infrastructure/pocket-event-bridge/src/README.md
Due: none

fix(client-api): do not set headers to empty string (#100)
  servers/client-api/rhai/claims_forwarding.rhai
Due: none

chore(name): small fixes for future devs
  lambdas/fxa-webook-proxy-sqs/src/config.ts
  lambdas/fxa-webook-proxy-sqs/src/jwt.ts
  servers/user-api/src/context.ts
Due: user_api

chore(tests): update test coverage of fxa (#99)
  lambdas/fxa-webook-proxy-sqs/src/config.ts
  lambdas/fxa-webook-proxy-sqs/src/jwt.ts
  servers/shared-snowplow-consumer/src/eventConsumer/userEvents/userEventConsumer.spec.ts
  servers/user-api/src/context.ts
  servers/user-api/src/test/functional/context.integration.ts
  servers/user-api/src/test/functional/mutations-appleMigration.integration.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
Due: shared_snowplow_consumer, user_api

feat(shareablelists): uniquenes logic in db model
  servers/shareable-lists-api/prisma/migrations/20240124212856_item_unique_per_list/migration.sql
  servers/shareable-lists-api/prisma/schema.prisma
Due: none

chore(deps): updating all dev dependencies
  README.md
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  packages/apollo-utils/package.json
  packages/backend-benchmarking/package.json
  packages/eslint-config-custom/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(shareablelists): uniquenes logic in db model (#102)
  servers/shareable-lists-api/prisma/migrations/20240124212856_item_unique_per_list/migration.sql
  servers/shareable-lists-api/prisma/schema.prisma
Due: none

chore(import): changing import to support supertest
  pnpm-lock.yaml
  servers/annotations-api/src/server/index.ts
  servers/annotations-api/src/test/mutation/highlights-batchwrite.integration.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/mutation/highlights-delete.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update-deprecated.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update.integration.ts
  servers/annotations-api/src/test/mutation/notes-create.integration.ts
  servers/annotations-api/src/test/mutation/notes-delete.integration.ts
  servers/annotations-api/src/test/mutation/notes-update.integration.ts
  servers/annotations-api/src/test/query/highlights.integration.ts
  servers/annotations-api/src/test/query/notes.integration.ts
  servers/feature-flags/src/index.ts
  servers/parser-graphql-wrapper/src/datasources/parserApi.integration.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/server.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.integration.ts
  servers/parser-graphql-wrapper/src/timeToRead/timeToRead.integration.ts
  servers/shareable-lists-api/src/admin/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.auth.integration.ts
  servers/shareable-lists-api/src/admin/resolvers/queries/ShareableList.integration.ts
  servers/shareable-lists-api/src/express.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/resolvers/mutations/ShareableListItem.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/PilotUser.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableList.integration.ts
  servers/shareable-lists-api/src/public/routes/deleteUserData.integration.ts
  servers/user-api/src/test/functional/mutations-appleMigration.integration.ts
  servers/user-api/src/test/functional/mutations-delete.integration.ts
  servers/user-api/src/test/functional/mutations-updateEmail.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(local): updating local dev
  servers/shareable-lists-api/src/config/index.ts
Due: none

fix(shareable-lists): making it so shared lists doesnt keep destroying task def
  infrastructure/shareable-lists-api/src/main.ts
Due: none

fix(shareablelists): use db for uuid generation
  servers/shareable-lists-api/prisma/migrations/20240124225016_db_default_uuid/migration.sql
  servers/shareable-lists-api/prisma/schema.prisma
Due: none

fix(shareablelists): use db for uuid generation (#103)
  servers/shareable-lists-api/prisma/migrations/20240124225016_db_default_uuid/migration.sql
  servers/shareable-lists-api/prisma/schema.prisma
Due: none

fix(account-deleter): turn back on account deletion
  servers/account-data-deleter/src/server.ts
Due: none

chore(deps): updating patch version deps
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  package.json
  packages/apollo-utils/package.json
  packages/terraform-modules/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Revert "feat(shareablelists): uniquenes logic in db model (#102)"
  servers/shareable-lists-api/prisma/migrations/20240124212856_item_unique_per_list/migration.sql
  servers/shareable-lists-api/prisma/schema.prisma
Due: none

Revert "fix(shareablelists): use db for uuid generation (#103)"
  servers/shareable-lists-api/prisma/migrations/20240124225016_db_default_uuid/migration.sql
  servers/shareable-lists-api/prisma/schema.prisma
Due: none

Revert schema updates (#106)
  servers/shareable-lists-api/prisma/migrations/20240124212856_item_unique_per_list/migration.sql
  servers/shareable-lists-api/prisma/migrations/20240124225016_db_default_uuid/migration.sql
  servers/shareable-lists-api/prisma/schema.prisma
Due: none

fix(sha1): specifiying the git sha1 in the task definition
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/config/index.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/image-api/src/config/index.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationECSContainerDefinition.ts
  packages/terraform-modules/src/base/ApplicationECSService.spec.ts
  packages/terraform-modules/src/base/ApplicationECSService.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationECSService.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(cdktf): adding skip destroy for ecs task def
  packages/terraform-modules/src/base/ApplicationECSService.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationECSService.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketECSApplication.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(sha1): specifiying the git sha1 in the task definition (#107)
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/config/index.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/config/index.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/image-api/src/config/index.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/shareable-lists-api/src/config/index.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/config/index.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
  infrastructure/user-api/src/config/index.ts
  infrastructure/user-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationECSContainerDefinition.ts
  packages/terraform-modules/src/base/ApplicationECSService.spec.ts
  packages/terraform-modules/src/base/ApplicationECSService.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationECSService.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketECSApplication.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(account-deleter): turn back on account deletion (#104)
  servers/account-data-deleter/src/server.ts
Due: none

feat(auroav2): converting to aurora v2
  infrastructure/shareable-lists-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
  scripts/convert-auroraV1-to-V2.sh
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(deps): updating patch version deps (#105)
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  package.json
  packages/apollo-utils/package.json
  packages/terraform-modules/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/user-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(shareable-lists): use db-generated timestamps vs. prisma
  servers/shareable-lists-api/prisma/migrations/20240126172230_db_generated_default_timestamps/migration.sql
  servers/shareable-lists-api/prisma/schema.prisma
Due: none

fix(shareable-lists): fix seeder script permission error
  servers/shareable-lists-api/prisma/seed.ts
Due: none

remove kysely generator
  servers/shareable-lists-api/prisma/schema.prisma
Due: none

chore(shareable-lists): db-generated timestamps (#112)
  servers/shareable-lists-api/prisma/migrations/20240126172230_db_generated_default_timestamps/migration.sql
  servers/shareable-lists-api/prisma/schema.prisma
  servers/shareable-lists-api/prisma/seed.ts
Due: none

fix(migration): adding in some updated code
  infrastructure/shareable-lists-api/src/main.ts
  scripts/convert-auroraV1-to-V2.sh
Due: none

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
  pocket_router: any of: ((servers|infrastructure)/pocket-router/.*)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)
