Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, pocket_router, list_api

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

# our defined job, and its steps
jobs:
  setup:
    executor: path-filtering/default
    steps:
      - checkout # checkout code
      - run:
          name: Generate List of Configs to Merge
          command: |
            # Generate a list of all the circleci configs we want to run
            file_list=(".circleci/common.yml" ".circleci/repo-jobs.yml" ".circleci/image-api.yml" ".circleci/annotations-api.yml" ".circleci/shared-snowplow-consumer.yml" ".circleci/parser-graphql-wrapper.yml" ".circleci/transactional-emails.yml" ".circleci/fxa-webhook-proxy.yml" ".circleci/user-api.yml" ".circleci/pocket-router.yml" ".circleci/list-api.yml")       
            touch /tmp/configs.txt

            # Add file header to each file and dump it to the config list
            for file in "${file_list[@]}"; do
              echo "$file" >> /tmp/configs.txt
              awk -v new_content="$(cat .circleci/header.yml)" 'BEGIN {print new_content} {print}' "$file" > temp_file && mv temp_file "$file"
            done
      - path-filtering/generate-config:
          config-list-path: /tmp/configs.txt
          generated-config-path: /tmp/generated-config.yml
      - run:
          name: Reset Git
          command: |
            git reset --hard
      # Set up path mapping, in the future we should generate this as a conf file, and pass it to the option.
      # We will need to set this to true when ever the packages folder changes as well.
      # Right now though, we will only deploy if the actual servers/infra change,
      # as its likely any change in the packages will change the underlying code.
      # Worst case, bump the version in package.json to triger a deploy
      #
      # The router is just rhai scripts and yaml files without dependencies on node or any other
      # packages, so we don't trigger it unless a change occurs specifically in the subfolder
      #
      # NOTE: we use _ for the parameters to the pipeline because
      # circleci uses it as an ENV down the pipe and ENV vars can't be used with a -
      - path-filtering/set-parameters:
          config-path: /tmp/generated-config.yml
          output-path: /tmp/pipeline-parameters.json
          mapping: |
            ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) image_api true
            ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) annotations_api true
            ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) shared_snowplow_consumer true
            ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) parser_graphql_wrapper true
            ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml) transactional_emails true
            ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml) fxa_webhook_proxy true
            ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) user_api true
            ((servers|infrastructure)/pocket-router/.*) pocket_router true
            ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile) list_api true
      - continuation/continue:
          configuration_path: /tmp/generated-config.yml
          parameters: /tmp/pipeline-parameters.json

# our single workflow, that triggers the setup job defined above
workflows:
  setup:
    jobs:
      - setup

chore(release): removing dry run
  packages/terraform-modules/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(release): release terraform-modules from this repository (#130)
  .github/workflows/publish.yml
  package.json
  packages/terraform-modules/CHANGELOG.md
  packages/terraform-modules/package.json
  packages/terraform-modules/src/base/ApplicationECSContainerDefinition.ts
  pnpm-lock.yaml
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(release): removing pushing back a changelog
  packages/terraform-modules/CHANGELOG.md
  packages/terraform-modules/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(release): removing pushing back a changelog (#131)
  packages/terraform-modules/CHANGELOG.md
  packages/terraform-modules/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(release): removing dry run (#132)
  packages/terraform-modules/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  71a21cc26fabbce2ad21656abbfc92cd075dfc55
Due: none

fix(build): ensuring the packages build themselves before releasing
  pnpm-lock.yaml
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(ci): make it so services only deploy if source changes
  .circleci/config.yml
Due: none

fix(build): ensuring the packages build themselves before releasing (#133)
  pnpm-lock.yaml
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  b5fc31a9b3840ab6b3631d30c8b279e9f8b79449
Due: none

fix(release): releasing apollo-utils from monorepo
  packages/apollo-utils/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(release): releasing apollo-utils from monorepo (#135)
  packages/apollo-utils/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  d86d81be99a18e7b47f25c69fd28404357815ecf
Due: none

fix(annotation-api): updating the annotations transactions to await
  servers/annotations-api/src/dataservices/highlights.ts
Due: annotations_api

fix(annotation-api): updating the annotations transactions to await (#136)
  servers/annotations-api/src/dataservices/highlights.ts
Due: annotations_api

chore(release): release ts-logger from the monorepo
  packages/ts-logger/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(deps): adding in the rest of the otel packages
  packages/tracing/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  54aaec1bcf482897ab47347233773a16a398ad9f
Due: none

chore(release): release ts-logger from the monorepo (#138)
  packages/ts-logger/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

chore(cleanup): removing migrateIds code no longer needed (#125)
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/pocket-event-bridge/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/transactional-emails/src/main.ts
  infrastructure/user-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api

fix(apollo-utils): pagination improvements
  packages/apollo-utils/src/pagination/index.ts
  packages/apollo-utils/src/pagination/types.ts
  packages/apollo-utils/src/pagination/validatePagination.spec.ts
  packages/apollo-utils/src/pagination/validatePagination.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

feat(shareable-lists): paginated items on a list
  servers/shareable-lists-api/schema-public.graphql
  servers/shareable-lists-api/schema-shared.graphql
  servers/shareable-lists-api/src/config/index.ts
  servers/shareable-lists-api/src/database/OffsetPagination.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/pagination.spec.ts
  servers/shareable-lists-api/src/database/queries/ShareableListItems.ts
  servers/shareable-lists-api/src/database/types.ts
  servers/shareable-lists-api/src/models/ShareableListItem.ts
  servers/shareable-lists-api/src/public/resolvers/index.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableListItems.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/sample-queries.gql.ts
  servers/shareable-lists-api/src/shared/fragments.gql.ts
  servers/shareable-lists-api/src/shared/resolvers/fields/ShareableList.ts
  servers/shareable-lists-api/src/shared/types.ts
  servers/shareable-lists-api/src/snowplow/events.spec.ts
Due: none

destroy kysely connection
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableListItems.integration.ts
Due: none

chore(client-api): remove outdated comment
  servers/client-api/rhai/claims_forwarding.rhai
Due: none

chore(client-api): remove outdated comment (#144)
  servers/client-api/rhai/claims_forwarding.rhai
Due: none

fix(release): adding in forgetten semantic release
  packages/ts-logger/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

fix(config): fixing typo on config.yml
  .circleci/config.yml
Due: none

fix(cache): clear dataloader cache on refresh
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: none

Notes added by 'git notes add'
  ddc265bf63eec8ddcb0ab944b2d1cf1ae07f69f4
Due: none

fix(tests): adding a refresh mutation test
  servers/parser-graphql-wrapper/src/refreshMutation.integration.ts
Due: none

fix: remove duplicated test server setup
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableListItems.integration.ts
Due: none

fix(tests): adding in tests to test cache clearing
  servers/parser-graphql-wrapper/src/refreshMutation.integration.ts
Due: none

fix(cache): clear dataloader cache on refresh (#145)
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/refreshMutation.integration.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: none

feat(shareable-lists): paginated Items on a List (#142)
  packages/apollo-utils/src/pagination/index.ts
  packages/apollo-utils/src/pagination/types.ts
  packages/apollo-utils/src/pagination/validatePagination.spec.ts
  packages/apollo-utils/src/pagination/validatePagination.ts
  servers/shareable-lists-api/schema-public.graphql
  servers/shareable-lists-api/schema-shared.graphql
  servers/shareable-lists-api/src/config/index.ts
  servers/shareable-lists-api/src/database/OffsetPagination.ts
  servers/shareable-lists-api/src/database/mutations/ShareableList.ts
  servers/shareable-lists-api/src/database/pagination.spec.ts
  servers/shareable-lists-api/src/database/queries/ShareableListItems.ts
  servers/shareable-lists-api/src/database/types.ts
  servers/shareable-lists-api/src/models/ShareableListItem.ts
  servers/shareable-lists-api/src/public/resolvers/index.ts
  servers/shareable-lists-api/src/public/resolvers/queries/ShareableListItems.integration.ts
  servers/shareable-lists-api/src/public/resolvers/queries/sample-queries.gql.ts
  servers/shareable-lists-api/src/shared/fragments.gql.ts
  servers/shareable-lists-api/src/shared/resolvers/fields/ShareableList.ts
  servers/shareable-lists-api/src/shared/types.ts
  servers/shareable-lists-api/src/snowplow/events.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api

Notes added by 'git notes add'
  9bc508a3dee0f7197f12823b57224b6ae1fc422c
Due: none
