Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

fix(logging): rename serverLogger data key
  lambdas/user-list-search-corpus-indexing/src/index.ts
Due: user_list_search

fix(search): add event bus permissions (#723)
  infrastructure/user-list-search/elasticsearch.tf
  infrastructure/user-list-search/main.tf
Due: user_list_search

fix(infra): opensearch rollback workaround
  infrastructure/user-list-search/corpus-embeddings/opensearch.tf
Due: user_list_search

fix(infra): opensearch rollback workaround (#725)
  infrastructure/user-list-search/corpus-embeddings/opensearch.tf
Due: user_list_search

fix(logging): rename serverLogger data key (#724)
  lambdas/user-list-search-corpus-indexing/src/index.ts
Due: user_list_search

fix(corpus search): language-specific embedding rules
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
Due: user_list_search

fix(corpus search): language-specific embedding rules (#726)
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
Due: user_list_search

chore(corpus search): update http options for sagemaker client
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-corpus-parser-hydration/src/embeddingsRequest.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(corpus search): update http options for sagemaker client (#727)
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-corpus-parser-hydration/src/embeddingsRequest.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(search): cutover to corpus search cluster (#721)
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/corpus/keywordSearch.ts
  servers/user-list-search/src/datasource/clients/openSearch.ts
Due: user_list_search

fix(corpus search): update corpus search cluster endpoint var
  servers/user-list-search/src/config/index.ts
Due: user_list_search

fix(corpus search): update corpus search cluster endpoint var (#730)
  servers/user-list-search/src/config/index.ts
Due: user_list_search

fix(rds): update rds on dev
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper, list_api

fix(rds): update rds on dev (#731)
  infrastructure/list-api/src/config/index.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/config/index.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper, list_api

feat(corpus search): add english-language semantic search
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/corpus/CorpusSearchModel.ts
  servers/user-list-search/src/corpus/CorpusSearchQueryBuilder.ts
  servers/user-list-search/src/corpus/index.ts
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/corpus/searchCorpus.spec.ts
  servers/user-list-search/src/corpus/semanticSearch.integration.ts
  servers/user-list-search/src/corpus/semanticSearch.ts
  servers/user-list-search/src/datasource/clients/index.ts
  servers/user-list-search/src/datasource/clients/sagemaker.ts
  servers/user-list-search/src/main.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/context.ts
  servers/user-list-search/src/test/data/corpusEmbeddings.json
  servers/user-list-search/src/test/data/searchEmbeddings.json
  servers/user-list-search/src/test/utils/corpusSeeder.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(ff): use encodedId instead of userId for semantic search flag
  servers/user-list-search/src/corpus/CorpusSearchModel.ts
  servers/user-list-search/src/server/context.ts
Due: user_list_search

feat(corpus search): add english-language semantic search (#732)
  pnpm-lock.yaml
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/corpus/CorpusSearchModel.ts
  servers/user-list-search/src/corpus/CorpusSearchQueryBuilder.ts
  servers/user-list-search/src/corpus/index.ts
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/corpus/searchCorpus.spec.ts
  servers/user-list-search/src/corpus/semanticSearch.integration.ts
  servers/user-list-search/src/corpus/semanticSearch.ts
  servers/user-list-search/src/datasource/clients/index.ts
  servers/user-list-search/src/datasource/clients/sagemaker.ts
  servers/user-list-search/src/main.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/context.ts
  servers/user-list-search/src/test/data/corpusEmbeddings.json
  servers/user-list-search/src/test/data/searchEmbeddings.json
  servers/user-list-search/src/test/utils/corpusSeeder.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(search): use corpus cluster, not list cluster
  servers/user-list-search/src/corpus/semanticSearch.ts
Due: user_list_search

fix(infra): fix perms for putting events on event bridge
  infrastructure/user-list-search/ecs_iam.tf
  infrastructure/user-list-search/elasticsearch.tf
Due: user_list_search

fix(infra): fix perms for putting events on event bridge (#734)
  infrastructure/user-list-search/ecs_iam.tf
  infrastructure/user-list-search/elasticsearch.tf
Due: user_list_search

feat(corpus search): new index and engine for search
  .docker/aws-resources/elasticsearch/esindex_corpus_en_luc.json
  .docker/aws-resources/user-list-search.sh
  infrastructure/user-list-search/corpus-embeddings/locals.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/corpus_events_hydration_consumer.tf
  infrastructure/user-list-search/locals.tf
  lambdas/user-list-search-corpus-indexing/src/config.ts
  lambdas/user-list-search-corpus-indexing/src/index.spec.ts
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.spec.ts
  servers/shared-snowplow-consumer/snowtype.config.json
  servers/shared-snowplow-consumer/src/snowtype/.snowtype-lock.json
  servers/shared-snowplow-consumer/src/snowtype/snowplow.ts
  servers/user-list-search/schema.graphql
  servers/user-list-search/snowtype.config.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/corpus/CorpusSearchModel.ts
  servers/user-list-search/src/corpus/CorpusSearchQueryBuilder.ts
  servers/user-list-search/src/corpus/searchCorpus.spec.ts
  servers/user-list-search/src/corpus/semanticSearch.integration.ts
  servers/user-list-search/src/datasource/clients/unleash.ts
  servers/user-list-search/src/events/EventBus.spec.ts
  servers/user-list-search/src/events/EventBus.ts
  servers/user-list-search/src/main.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/snowtype/snowplow.ts
  servers/user-list-search/src/test/data/searchBodyResponse.json
  servers/user-list-search/src/test/utils/mockUnleashFlags.ts
Due: shared_snowplow_consumer, user_list_search

chore: update test fixtures and env defaults
  lambdas/user-list-search-corpus-indexing/src/config.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/corpus/semanticSearch.integration.ts
  servers/user-list-search/src/datasource/clients/unleash.ts
  servers/user-list-search/src/test/data/corpusSeeds.json
  servers/user-list-search/src/test/utils/mockUnleashFlags.ts
Due: user_list_search

feat(corpus search): new index and engine for search (#736)
  .docker/aws-resources/elasticsearch/esindex_corpus_en_luc.json
  .docker/aws-resources/user-list-search.sh
  infrastructure/user-list-search/corpus-embeddings/locals.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/corpus_events_hydration_consumer.tf
  infrastructure/user-list-search/locals.tf
  lambdas/user-list-search-corpus-indexing/src/config.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.spec.ts
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.spec.ts
  servers/shared-snowplow-consumer/snowtype.config.json
  servers/shared-snowplow-consumer/src/snowtype/.snowtype-lock.json
  servers/shared-snowplow-consumer/src/snowtype/snowplow.ts
  servers/user-list-search/schema.graphql
  servers/user-list-search/snowtype.config.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/corpus/CorpusSearchModel.ts
  servers/user-list-search/src/corpus/CorpusSearchQueryBuilder.ts
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/corpus/searchCorpus.spec.ts
  servers/user-list-search/src/corpus/semanticSearch.integration.ts
  servers/user-list-search/src/datasource/clients/unleash.ts
  servers/user-list-search/src/events/EventBus.spec.ts
  servers/user-list-search/src/events/EventBus.ts
  servers/user-list-search/src/main.ts
  servers/user-list-search/src/server/serverUtils.ts
  servers/user-list-search/src/snowtype/snowplow.ts
  servers/user-list-search/src/test/data/corpusSeeds.json
  servers/user-list-search/src/test/data/searchBodyResponse.json
  servers/user-list-search/src/test/utils/mockUnleashFlags.ts
Due: shared_snowplow_consumer, user_list_search

fix(deps): moving unleash-client from dev to prod deps
  pnpm-lock.yaml
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(deps): moving unleash-client from dev to prod deps (#737)
  pnpm-lock.yaml
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(corpusSearchNode): updating corpus search node to resolve preview
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

fix(preview): updating the preview object when it comes via search nodes
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
Due: parser_graphql_wrapper

fix(preview): updating corpus search node preview object (#738)
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
Due: parser_graphql_wrapper

feat(syndication): link Item to SyndicatedArticle entity
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

fix: change item to originalItem
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

feat(syndication): link Item to SyndicatedArticle entity (#739)
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

Update schema.graphql
  servers/image-api/schema.graphql
Due: image_api

fix(description): making id more clear
  servers/image-api/schema.graphql
Due: image_api

docs(description): making id more clear in image api (#740)
  servers/image-api/schema.graphql
Due: image_api

chore(unleash): update unleash
  packages/feature-flags-client/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/feature-flags/package.json
  servers/feature-flags/src/main.ts
  servers/list-api/package.json
  servers/user-list-search/package.json
  servers/user-list-search/src/__generated__/types.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(unleash): update unleash (#741)
  packages/feature-flags-client/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/feature-flags/package.json
  servers/feature-flags/src/main.ts
  servers/list-api/package.json
  servers/user-list-search/package.json
  servers/user-list-search/src/__generated__/types.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix: remove preview from CorpusSearchNode
  servers/parser-graphql-wrapper/schema-admin.graphql
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

chore(docs): update docs with error callout for local client-api
  servers/client-api/README.md
Due: client_api

fix(search:events): fix detail-type in rule
  infrastructure/pocket-event-bridge/src/event-rules/search-api-events/eventConfig.ts
Due: pocket_event_bridge
