Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

feat(tracing): update tracing package to disable metrics by default
  .github/workflows/shareable-lists-api.yml.bak
  packages/tracing/src/tracing.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(tracing): update tracing package to disable metrics by default (#1081)
  .github/workflows/shareable-lists-api.yml.bak
  packages/tracing/src/tracing.ts
  servers/shared-snowplow-consumer/src/snowplow/shareableList/shareableListEventHandler.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  ad3411dbc9bc41530826bd20881815525817e10f
Due: none

chore(events): remove all event bridge rule targets
  infrastructure/pocket-event-bridge/src/eventBridge.ts
  infrastructure/pocket-event-bridge/src/main.ts
Due: pocket_event_bridge

chore(events): remove all event bridge rules
  infrastructure/pocket-event-bridge/src/eventBridge.ts
  infrastructure/pocket-event-bridge/src/main.ts
Due: pocket_event_bridge

chore(events): remove all event bridge rules (#1084)
  infrastructure/pocket-event-bridge/src/eventBridge.ts
  infrastructure/pocket-event-bridge/src/main.ts
Due: pocket_event_bridge

chore(infra): tear down shares API
  infrastructure/shares-api/src/main.ts
Due: none

chore(infra): tear down shares API (#1083)
  infrastructure/shares-api/src/main.ts
Due: none

chore(infra): tear down user api
  .github/workflows/shares-api.yml.bak
  infrastructure/user-api/src/main.ts
Due: user_api

chore(infra): tear down user api (#1086)
  .github/workflows/shares-api.yml.bak
  infrastructure/user-api/src/main.ts
Due: user_api

chore(infra): tear down v3 proxy api
  .github/workflows/user-api.yml.bak
  infrastructure/v3-proxy-api/src/main.ts
Due: v3_proxy_api

chore(infra): tear down v3 proxy api (#1087)
  .github/workflows/user-api.yml.bak
  infrastructure/v3-proxy-api/src/main.ts
Due: v3_proxy_api

chore(infra): tear down event bridge
  .github/workflows/v3-proxy-api.yml.bak
  infrastructure/pocket-event-bridge/src/main.ts
Due: pocket_event_bridge

chore(infra): tear down event bridge (#1088)
  .github/workflows/v3-proxy-api.yml.bak
  infrastructure/pocket-event-bridge/src/main.ts
Due: pocket_event_bridge

chore(infra): tear down lambdas:
  .github/workflows/pocket-event-bridge.yml.bak
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/transactional-emails/src/main.ts
Due: transactional_emails, sendgrid_data, account_data_deleter, account_delete_monitor

chore(infra): tear down lambdas: (#1089)
  .github/workflows/pocket-event-bridge.yml.bak
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/transactional-emails/src/main.ts
Due: transactional_emails, sendgrid_data, account_data_deleter, account_delete_monitor

chore(infra): tear down parser graphql wrapper
  .github/workflows/account-delete-monitor.yml.bak
  .github/workflows/fxa-webhook-proxy.yml.bak
  .github/workflows/instant-sync-events.yml.bak
  .github/workflows/sendgrid-data.yml.bak
  .github/workflows/transactional-emails.yml.bak
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

chore(infra): tear down parser graphql wrapper (#1090)
  .github/workflows/account-delete-monitor.yml.bak
  .github/workflows/fxa-webhook-proxy.yml.bak
  .github/workflows/instant-sync-events.yml.bak
  .github/workflows/sendgrid-data.yml.bak
  .github/workflows/transactional-emails.yml.bak
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

chore(infra): tear down shared snowplow consumer
  .github/workflows/parser-graphql-wrapper.yml.bak
  infrastructure/shared-snowplow-consumer/src/main.ts
Due: shared_snowplow_consumer

chore(infra): tear down shared snowplow consumer (#1091)
  .github/workflows/parser-graphql-wrapper.yml.bak
  infrastructure/shared-snowplow-consumer/src/main.ts
Due: shared_snowplow_consumer

chore(infra): tear down image api
  .github/workflows/archived/account-data-deleter.yml.bak
  .github/workflows/archived/account-delete-monitor.yml.bak
  .github/workflows/archived/annotations-api.yml.bak
  .github/workflows/archived/fxa-webhook-proxy.yml.bak
  .github/workflows/archived/instant-sync-events.yml.bak
  .github/workflows/archived/list-api.yml.bak
  .github/workflows/archived/notes-api.yml.bak
  .github/workflows/archived/parser-graphql-wrapper.yml.bak
  .github/workflows/archived/pocket-event-bridge.yml.bak
  .github/workflows/archived/push-server.yml.bak
  .github/workflows/archived/sendgrid-data.yml.bak
  .github/workflows/archived/shareable-lists-api.yml.bak
  .github/workflows/archived/shared-snowplow-consumer.yml.bak
  .github/workflows/archived/shares-api.yml.bak
  .github/workflows/archived/transactional-emails.yml.bak
  .github/workflows/archived/user-api.yml.bak
  .github/workflows/archived/user-list-search.yml.bak.yml
  .github/workflows/archived/v3-proxy-api.yml.bak
  infrastructure/image-api/src/main.ts
Due: image_api

chore(infra): tear down image api (#1093)
  .github/workflows/archived/account-data-deleter.yml.bak
  .github/workflows/archived/account-delete-monitor.yml.bak
  .github/workflows/archived/annotations-api.yml.bak
  .github/workflows/archived/fxa-webhook-proxy.yml.bak
  .github/workflows/archived/instant-sync-events.yml.bak
  .github/workflows/archived/list-api.yml.bak
  .github/workflows/archived/notes-api.yml.bak
  .github/workflows/archived/parser-graphql-wrapper.yml.bak
  .github/workflows/archived/pocket-event-bridge.yml.bak
  .github/workflows/archived/push-server.yml.bak
  .github/workflows/archived/sendgrid-data.yml.bak
  .github/workflows/archived/shareable-lists-api.yml.bak
  .github/workflows/archived/shared-snowplow-consumer.yml.bak
  .github/workflows/archived/shares-api.yml.bak
  .github/workflows/archived/transactional-emails.yml.bak
  .github/workflows/archived/user-api.yml.bak
  .github/workflows/archived/user-list-search.yml.bak.yml
  .github/workflows/archived/v3-proxy-api.yml.bak
  infrastructure/image-api/src/main.ts
Due: image_api

chore(infra): tear down braze domains infra
  infrastructure/braze/src/main.ts
Due: braze

chore(infra): tear down braze domains infra (#1094)
  infrastructure/braze/src/main.ts
Due: braze

feat(terraform modules): expose logging for ALB and RDS constructs
  packages/terraform-modules/src/base/ApplicationLoadBalancer.spec.ts
  packages/terraform-modules/src/base/ApplicationLoadBalancer.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.spec.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationLoadBalancer.spec.ts.snap
  packages/terraform-modules/src/base/__snapshots__/ApplicationRDSCluster.spec.ts.snap
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: review fixes:
  packages/terraform-modules/src/base/ApplicationLoadBalancer.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.spec.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationLoadBalancer.spec.ts.snap
  packages/terraform-modules/src/base/__snapshots__/ApplicationRDSCluster.spec.ts.snap
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(terraform modules): expose logging for ALB and RDS constructs (#1102)
  packages/terraform-modules/src/base/ApplicationLoadBalancer.spec.ts
  packages/terraform-modules/src/base/ApplicationLoadBalancer.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.spec.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationLoadBalancer.spec.ts.snap
  packages/terraform-modules/src/base/__snapshots__/ApplicationRDSCluster.spec.ts.snap
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  2f2d3429dcc63054c96eb592e311888ae2aa98ab
Due: none

chore: bump terraform modules comments for release retry
  .github/workflows/archived/image-api.yml.bak
  packages/terraform-modules/package.json
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: bump terraform modules comments for release retry (#1103)
  .github/workflows/archived/image-api.yml.bak
  packages/terraform-modules/package.json
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat: publish new version of terraform-modules
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat: publish new version of terraform-modules (#1104)
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  d212a7e7eda23c93abf038e44dcaca07b1fef962
Due: none

feat: expose connection log config/enabling for ALBs
  packages/terraform-modules/package.json
  packages/terraform-modules/src/base/ApplicationLoadBalancer.spec.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationLoadBalancer.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat: expose connection log config/enabling for ALBs (#1105)
  packages/terraform-modules/package.json
  packages/terraform-modules/src/base/ApplicationLoadBalancer.spec.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationLoadBalancer.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  c15f09b4ee19d644640aec7ab8d514e910b7c39c
Due: none

feat(terraform-modules): expose ALB connection logging
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(terraform-modules): expose ALB connection logging (#1106)
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server
