Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(delete): speed up deletes
  infrastructure/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/config/index.ts
Due: account_data_deleter

fix(fetch): moving to fetch retry and updated lambda arn
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/handlerFn.ts
  packages/lambda-secrets/package.json
  packages/lambda-secrets/src/secrets.ts
  packages/terraform-modules/src/base/ApplicationVersionedLambda.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(lambda): updating lambda arn
  packages/terraform-modules/src/base/__snapshots__/ApplicationVersionedLambda.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketVersionedLambda.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(logs): updating logs and timeout
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  lambdas/instant-sync-events/src/handlerFn.ts
  lambdas/instant-sync-events/src/index.ts
  packages/terraform-modules/src/base/ApplicationVersionedLambda.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(fetch): moving to fetch retry and updated lambda arn (#889)
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/handlerFn.ts
  lambdas/instant-sync-events/src/index.ts
  packages/lambda-secrets/package.json
  packages/lambda-secrets/src/secrets.ts
  packages/terraform-modules/src/base/ApplicationVersionedLambda.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationVersionedLambda.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketVersionedLambda.spec.ts.snap
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  47d9e330ca00813a38ee2a7415dcfa2ef89725f0
Due: none

feat(accountDelete): control rate with feature flag
  servers/account-data-deleter/src/queueHandlers/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/batchDeleteHandler.ts
  servers/account-data-deleter/src/types.ts
Due: account_data_deleter

fix(preview): make v3 proxy use preview metadata (#777)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/add/toRest.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graphql/fragments/ItemComplete.graphql
  servers/v3-proxy-api/src/graphql/fragments/ItemParserMetadata.graphql
  servers/v3-proxy-api/src/graphql/fragments/ItemSimple.graphql
  servers/v3-proxy-api/src/test/fixtures/add.ts
  servers/v3-proxy-api/src/test/fixtures/fixtures.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: v3_proxy_api

feat(accountDelete): control rate with feature flag (#890)
  servers/account-data-deleter/src/queueHandlers/batchDeleteHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/batchDeleteHandler.ts
  servers/account-data-deleter/src/types.ts
Due: account_data_deleter

fix(tracing): updating the ignore http hook pattern
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  71857954caad69ec692391e688819911a89b42b4
Due: none

fix(aws): updating mismatched packages
  lambdas/account-data-deleter-events/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(instant-sync): ensuring that sqs batches are in groups of 10
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/handlerFn.ts
  packages/lambda-secrets/package.json
  pnpm-lock.yaml
  servers/list-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  790236bd2e5ec21968ff7146d1edaf90fe7a1f55
Due: none

fix(instant-sync): ensuring that sqs batches are in groups of 10 (#894)
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/handlerFn.ts
  packages/lambda-secrets/package.json
  pnpm-lock.yaml
  servers/list-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  650eab931003f011a324cf1f14f09121f0866449
Due: none

fix(knex): serverless knex for instant sync
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/clients.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(knex): serverless knex for instant sync (#895)
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/clients.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(dockerfile): bumping pnpm in dockerfile
  Dockerfile
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api, feature_flags, shareable_lists_api, user_list_search, push_server

chore(deps): unleash client update
  packages/feature-flags-client/package.json
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/feature-flags/package.json
  servers/list-api/package.json
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  126f4d38865dc44fb1c4f2904ac31aff4c8583e8
Due: none

Notes added by 'git notes add'
  e7fb0d198960e21393b254c4c25108901278e845
Due: none

feat(event-bridge): initial event bridge scaffolding
  packages/event-bridge/.npmignore
  packages/event-bridge/README.md
  packages/event-bridge/eslint.config.mjs
  packages/event-bridge/jest.config.js
  packages/event-bridge/package.json
  packages/event-bridge/src/index.ts
  packages/event-bridge/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(import): infrastructure for omnivore import
  .docker/aws-resources/account-data-deleter.sh
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
Due: account_data_deleter

feat(import): omnivore import server methods
  infrastructure/account-data-deleter/src/main.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/importers/ImportBase.ts
  servers/account-data-deleter/src/dataService/importers/OmnivoreImport.integration.ts
  servers/account-data-deleter/src/dataService/importers/OmnivoreImport.ts
  servers/account-data-deleter/src/dataService/importers/types.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
  servers/account-data-deleter/src/queueHandlers/importHandler.ts
  servers/account-data-deleter/src/queueHandlers/index.ts
  servers/account-data-deleter/src/server.ts
  servers/account-data-deleter/test/imports/omnivore-test.zip
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(forgot-password): adding in initial forgot password event
  lambdas/transactional-emails/package.json
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  packages/event-bridge/package.json
  packages/event-bridge/src/events/eventBridgeBase.ts
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/forgotPasswordRequest.ts
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/index.ts
  packages/event-bridge/src/utils.ts
  packages/feature-flags-client/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: fix name of disabled import flag
  servers/account-data-deleter/src/config/index.ts
Due: account_data_deleter

chore: fix permissions on queues and buckets
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: account_data_deleter

feat(validation): adding in event validation
  .vscode/settings.json
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/schemas/forgotPasswordResetEvent.ts
  packages/event-bridge/package.json
  packages/event-bridge/src/errors.ts
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.spec.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/utils.ts
  packages/event-bridge/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: add additional docs to explain sqs batching
  servers/account-data-deleter/src/dataService/importers/ImportBase.ts
Due: account_data_deleter

feat(import): omnivore list imports (part 1) (#903)
  .docker/aws-resources/account-data-deleter.sh
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/importers/ImportBase.ts
  servers/account-data-deleter/src/dataService/importers/OmnivoreImport.integration.ts
  servers/account-data-deleter/src/dataService/importers/OmnivoreImport.ts
  servers/account-data-deleter/src/dataService/importers/types.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
  servers/account-data-deleter/src/queueHandlers/importHandler.ts
  servers/account-data-deleter/src/queueHandlers/index.ts
  servers/account-data-deleter/src/server.ts
  servers/account-data-deleter/test/imports/omnivore-test.zip
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(accountDelete): adding the account delete event
  lambdas/transactional-emails/src/handlers/accountDelete.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  lambdas/transactional-emails/src/schemas/accountDeleteEvent.ts
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/accountDelete.spec.ts
  packages/event-bridge/src/events/types/accountDelete.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/utils.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(events): adding in event emitting
  packages/event-bridge/package.json
  packages/event-bridge/src/events/eventBridgeBase.ts
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/account.spec.ts
  packages/event-bridge/src/events/types/account.ts
  packages/event-bridge/src/events/types/accountDelete.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/utils.ts
  pnpm-lock.yaml
  servers/user-api/package.json
  servers/user-api/src/events/eventBus/config.ts
  servers/user-api/src/events/eventBus/eventBusHandler.spec.ts
  servers/user-api/src/events/eventBus/eventBusHandler.ts
  servers/user-api/src/events/eventBus/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(user): updating user event tests
  infrastructure/pocket-event-bridge/src/events-schema/ForgotPasswordRequestEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/premiumPurchaseEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/queueCheckDelete.ts
  infrastructure/pocket-event-bridge/src/events-schema/types.ts
  infrastructure/pocket-event-bridge/src/events-schema/userEvents.ts
  infrastructure/pocket-event-bridge/src/events-schema/userMergeEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/userRegistrationEventSchema.ts
  packages/event-bridge/package.json
  packages/event-bridge/src/client.spec.ts
  packages/event-bridge/src/client.ts
  packages/event-bridge/src/events/types/accountDelete.spec.ts
  packages/event-bridge/src/index.ts
  pnpm-lock.yaml
  servers/user-api/package.json
  servers/user-api/src/events/eventBus/eventBusHandler.spec.ts
  servers/user-api/src/events/eventBus/eventBusHandler.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(infra): putting back accidental infra delete
  infrastructure/pocket-event-bridge/src/events-schema/ForgotPasswordRequestEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/premiumPurchaseEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/queueCheckDelete.ts
  infrastructure/pocket-event-bridge/src/events-schema/types.ts
  infrastructure/pocket-event-bridge/src/events-schema/userEvents.ts
  infrastructure/pocket-event-bridge/src/events-schema/userMergeEvent.ts
  infrastructure/pocket-event-bridge/src/events-schema/userRegistrationEventSchema.ts
Due: pocket_event_bridge

fix(test): update for null
  lambdas/transactional-emails/src/handlers/accountDelete.spec.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/types/account.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(event-bridge): adding in event bridge utility package (#904)
  .vscode/settings.json
  lambdas/transactional-emails/package.json
  lambdas/transactional-emails/src/handlers/accountDelete.spec.ts
  lambdas/transactional-emails/src/handlers/accountDelete.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/schemas/accountDeleteEvent.ts
  lambdas/transactional-emails/src/schemas/forgotPasswordResetEvent.ts
  packages/event-bridge/.npmignore
  packages/event-bridge/README.md
  packages/event-bridge/eslint.config.mjs
  packages/event-bridge/jest.config.js
  packages/event-bridge/package.json
  packages/event-bridge/src/client.spec.ts
  packages/event-bridge/src/client.ts
  packages/event-bridge/src/errors.ts
  packages/event-bridge/src/events/eventBridgeBase.ts
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/account.ts
  packages/event-bridge/src/events/types/accountDelete.spec.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.spec.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/index.ts
  packages/event-bridge/src/utils.ts
  packages/event-bridge/tsconfig.json
  packages/feature-flags-client/package.json
  pnpm-lock.yaml
  servers/user-api/package.json
  servers/user-api/src/events/eventBus/config.ts
  servers/user-api/src/events/eventBus/eventBusHandler.spec.ts
  servers/user-api/src/events/eventBus/eventBusHandler.ts
  servers/user-api/src/events/eventBus/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
