Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(pnpm): update pnpm auth
  .github/workflows/publish.yml
Due: none

fix(pnpm): update pnpm auth (#854)
  .github/workflows/publish.yml
Due: none

feat(tracing): adding tracing to image api
  infrastructure/image-api/src/config/index.ts
  infrastructure/image-api/src/main.ts
  pnpm-lock.yaml
  servers/image-api/package.json
  servers/image-api/src/config/index.ts
  servers/image-api/src/server/main.ts
  servers/image-api/src/unleash.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  d1276d240d54c0777ab9c7d8d501dceb22537863
Due: none

feat(tracing): adding tracing to image api (#856)
  infrastructure/image-api/src/config/index.ts
  infrastructure/image-api/src/main.ts
  pnpm-lock.yaml
  servers/image-api/package.json
  servers/image-api/src/config/index.ts
  servers/image-api/src/server/main.ts
  servers/image-api/src/unleash.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(tracing): adding tracing to shares api
  infrastructure/shares-api/src/main.ts
  pnpm-lock.yaml
  servers/shares-api/package.json
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/main.ts
  servers/shares-api/src/unleash.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(observability): group traces for background processes in ADD
  .vscode/launch.json
  packages/tracing/README.md
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/queueHandlers/queueHandler.ts
  servers/account-data-deleter/src/server.ts
  servers/account-data-deleter/src/types.ts
  servers/account-data-deleter/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(observability): group traces for background processes in ADD (#858)
  .vscode/launch.json
  packages/tracing/README.md
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/queueHandlers/queueHandler.ts
  servers/account-data-deleter/src/server.ts
  servers/account-data-deleter/src/types.ts
  servers/account-data-deleter/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  c4e6ea95eb41f51e1857d609d01a9615ad3d2a0c
Due: none

feat(tracing): adding tracing to shares api (#857)
  infrastructure/shares-api/src/main.ts
  pnpm-lock.yaml
  servers/shares-api/package.json
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/main.ts
  servers/shares-api/src/unleash.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tracing): adding in otel tracing isolation for annotations api deletion
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/annotations-api/src/server/aws/batchDeleteHandler.spec.ts
  servers/annotations-api/src/server/aws/batchDeleteHandler.ts
  servers/image-api/package.json
  servers/shares-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(router): adding in router retries for errors
  servers/client-api/config/router.yaml
Due: client_api

fix(metrics): adding in metric logging for testing
  packages/tracing/src/tracing.ts
  servers/otel-collector/otel-collector-config.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(metric): ensuring we do batched metrics
  servers/otel-collector/otel-collector-config.yaml
Due: none

fix(sentry): removing sentry and otel debugger
  lambdas/instant-sync-events/src/index.ts
  lambdas/user-list-search-events/index.ts
  servers/account-data-deleter/src/main.ts
  servers/annotations-api/src/main.ts
  servers/braze-content-proxy/src/main.ts
  servers/feature-flags/src/main.ts
  servers/image-api/src/server/main.ts
  servers/list-api/src/server/main.ts
  servers/otel-collector/otel-collector-config.yaml
  servers/parser-graphql-wrapper/src/main.ts
  servers/shareable-lists-api/src/main.ts
  servers/shared-snowplow-consumer/src/main.ts
  servers/shares-api/src/main.ts
  servers/user-api/src/main.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api, feature_flags, account_data_deleter, shareable_lists_api, user_list_search, v3_proxy_api

fix(export): create iam user for signed url generation
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
Due: account_data_deleter

fix(metrics): update to deploy metrics (#862)
  lambdas/instant-sync-events/src/index.ts
  lambdas/user-list-search-events/index.ts
  packages/tracing/src/tracing.ts
  servers/account-data-deleter/src/main.ts
  servers/annotations-api/src/main.ts
  servers/braze-content-proxy/src/main.ts
  servers/feature-flags/src/main.ts
  servers/image-api/src/server/main.ts
  servers/list-api/src/server/main.ts
  servers/otel-collector/otel-collector-config.yaml
  servers/parser-graphql-wrapper/src/main.ts
  servers/shareable-lists-api/src/main.ts
  servers/shared-snowplow-consumer/src/main.ts
  servers/shares-api/src/main.ts
  servers/user-api/src/main.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  87d135692905f5b2f929c6e9064150d34f2e8de0
Due: none

fix(missingData): missing data should not be breaching
  infrastructure/shared-snowplow-consumer/src/main.ts
Due: shared_snowplow_consumer

docs(tracing): updating tracing docs
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(client-api): adding in router telemetry metrics
  servers/client-api/config/router.yaml
Due: client_api

fix(router): adding in router retries for errors (#861)
  servers/client-api/config/router.yaml
Due: client_api

fix(tracing): adding in otel tracing isolation for annotations api deletion (#859)
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/annotations-api/src/server/aws/batchDeleteHandler.spec.ts
  servers/annotations-api/src/server/aws/batchDeleteHandler.ts
  servers/image-api/package.json
  servers/shares-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(export): save credentials via click-ops to ssm instead
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
Due: account_data_deleter

chore: lint
  infrastructure/account-data-deleter/src/main.ts
Due: account_data_deleter

fix(export): use iam user for presigned url access grant (#865)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/main.ts
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
Due: account_data_deleter

fix(alarm): update dlq alarm logic (snowplow)
  infrastructure/shared-snowplow-consumer/src/main.ts
Due: shared_snowplow_consumer

fix(alarm): update dlq alarm logic (snowplow) (#866)
  infrastructure/shared-snowplow-consumer/src/main.ts
Due: shared_snowplow_consumer

fix(otlp): ensuring shares api sends data
  infrastructure/shares-api/src/config/index.ts
  infrastructure/shares-api/src/main.ts
Due: none

fix(otlp): ensuring shares api sends data (#867)
  infrastructure/shares-api/src/config/index.ts
  infrastructure/shares-api/src/main.ts
Due: none

fix(sentry): remove sentry middle ware for v3 proxy
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

fix(sentry): remove sentry middle ware for v3 proxy (#868)
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

fix(sentry): ignoring unsupported media type errors
  servers/v3-proxy-api/src/main.ts
Due: v3_proxy_api

fix(sentry): ignoring unsupported media type errors (#869)
  servers/v3-proxy-api/src/main.ts
Due: v3_proxy_api

fix(cors): enable cors on v3 proxy
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(cors): enable cors on v3 proxy (#870)
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(charset): rewriting the charset for bad utf8 values
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/middleware/charsetFixHandler.ts
  servers/v3-proxy-api/src/middleware/index.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(charset): unignoring charset errors
  servers/v3-proxy-api/src/main.ts
Due: v3_proxy_api

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
