Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(lambda-layer): native fetch & retries (#442)
  .syncpackrc
  packages/lambda-secrets/package.json
  packages/lambda-secrets/src/secret.spec.ts
  packages/lambda-secrets/src/secrets.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  c1da07b510bc719703d9a729ed0ad5c14fda1d2a
Due: none

fix(apns): adding in apns target (#436)
  servers/push-server/src/worker.ts
Due: push_server

chore(deps): upgrading otel libraries (#441)
  package.json
  packages/eslint-config-custom/package.json
  packages/tracing/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(fetch): default annotations to on for fetch (#420)
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
Due: v3_proxy_api

fix(cache): moving to a much lower serverless redis cache (#439)
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

fix(semantic-release): making semantic release work in merge queues (#440)
  .github/workflows/publish.yml
  package.json
Due: none

chore(elasticache): removes an older elasticache for a smaller more limited one
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

chore(elasticache): removes an older elasticache for a smaller more limited one (#443)
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

feat(readerSlug): add reader interstitial data
  infrastructure/list-api/src/main.ts
  pnpm-lock.yaml
  servers/list-api/package.json
  servers/list-api/schema.graphql
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/test/graphql/queries/readerSlug.integration.ts
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/readerView/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(readerSlug): add reader interstitial data (#451)
  infrastructure/list-api/src/main.ts
  pnpm-lock.yaml
  servers/list-api/package.json
  servers/list-api/schema.graphql
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/test/graphql/queries/readerSlug.integration.ts
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/readerView/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(item): resolve item by givenUrl from list-api
  servers/list-api/src/resolvers/savedItem.ts
Due: list_api

fix(item): resolve item by givenUrl from list-api (#452)
  servers/list-api/src/resolvers/savedItem.ts
Due: list_api

fix(parser): resolving by url first before itemId
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: parser_graphql_wrapper, v3_proxy_api

fix(parser): resolving by url first before itemId (#453)
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: parser_graphql_wrapper, v3_proxy_api

chore: lint
  servers/v3-proxy-api/src/graph/get/toRest.ts
Due: v3_proxy_api

feat(v3proxy:taglist): add list of tags to response
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/queries/savedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
Due: v3_proxy_api

fix typing from changing required params
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: v3_proxy_api

feat(v3proxy:taglist): add list of tags to response (#448)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/graphql/queries/savedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/savedItemsSimple.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsComplete.graphql
  servers/v3-proxy-api/src/graphql/queries/searchSavedItemsSimple.graphql
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/test/fixtures/get-search.ts
  servers/v3-proxy-api/src/test/fixtures/get.ts
  servers/v3-proxy-api/src/test/fixtures/queryParams.ts
Due: v3_proxy_api

fix(parser): improve itemId accuracy
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
Due: parser_graphql_wrapper

fix(parser): improve itemId accuracy (#455)
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
Due: parser_graphql_wrapper

feat(shares-api): set up CI and infra for shares-api
  .circleci/common.yml
  .circleci/config.yml
  .circleci/shares-api.yml
  infrastructure/shares-api/.eslintrc.js
  infrastructure/shares-api/.terraform-version
  infrastructure/shares-api/cdktf.json
  infrastructure/shares-api/package.json
  infrastructure/shares-api/src/config/index.ts
  infrastructure/shares-api/src/dynamodb.ts
  infrastructure/shares-api/src/main.ts
  infrastructure/shares-api/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(shares-api): set up basic server code for shares-api
  servers/shares-api/.eslintrc.js
  servers/shares-api/README.md
  servers/shares-api/codegen.yml
  servers/shares-api/jest.config.js
  servers/shares-api/jest.setup.js
  servers/shares-api/package.json
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/resolvers-types.ts
  servers/shares-api/src/apollo/buildSchema.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/apollo/index.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/apollo/schema.ts
  servers/shares-api/src/apollo/server.ts
  servers/shares-api/src/apollo/typeDefs.ts
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/main.ts
  servers/shares-api/src/test/example.integration.ts
  servers/shares-api/src/test/example.spec.ts
  servers/shares-api/tsconfig.json
Due: none

actually generate the schema
  servers/shares-api/package.json
  servers/shares-api/src/apollo/buildSchema.ts
Due: none

fix shares-api-cdk path
  infrastructure/shares-api/src/main.ts
Due: none

trying to get eslint to ignore generated files
  .prettierignore
  servers/shares-api/.eslintrc.js
  servers/shares-api/README.md
  servers/shares-api/codegen.ts
  servers/shares-api/codegen.yml
  servers/shares-api/package.json
  servers/shares-api/src/__generated__/resolvers-types.ts
  servers/shares-api/src/apollo/resolvers.ts
Due: none

regenerate lockfile
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

lint: remove unused imports
  infrastructure/shares-api/src/main.ts
Due: none

fix mismatches
  pnpm-lock.yaml
  servers/shares-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: add .eslintignore
  servers/shares-api/.eslintignore
Due: none

fix eslint disable flag
  servers/shares-api/codegen.ts
  servers/shares-api/src/__generated__/resolvers-types.ts
Due: none

feat(shares-api): stand up basic shares-api service (#463)
  .circleci/common.yml
  .circleci/config.yml
  .circleci/shares-api.yml
  .prettierignore
  infrastructure/shares-api/.eslintrc.js
  infrastructure/shares-api/.terraform-version
  infrastructure/shares-api/cdktf.json
  infrastructure/shares-api/package.json
  infrastructure/shares-api/src/config/index.ts
  infrastructure/shares-api/src/dynamodb.ts
  infrastructure/shares-api/src/main.ts
  infrastructure/shares-api/tsconfig.json
  pnpm-lock.yaml
  servers/shares-api/.eslintignore
  servers/shares-api/.eslintrc.js
  servers/shares-api/README.md
  servers/shares-api/codegen.ts
  servers/shares-api/jest.config.js
  servers/shares-api/jest.setup.js
  servers/shares-api/package.json
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/resolvers-types.ts
  servers/shares-api/src/apollo/buildSchema.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/apollo/index.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/apollo/schema.ts
  servers/shares-api/src/apollo/server.ts
  servers/shares-api/src/apollo/typeDefs.ts
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/main.ts
  servers/shares-api/src/test/example.integration.ts
  servers/shares-api/src/test/example.spec.ts
  servers/shares-api/tsconfig.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(display): adding in the basics of a display item
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/display/display.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(dev): cleaning up dev environment
  .env.example
  packages/ts-logger/src/logger.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(debug): adding in debug statement for local dev
  servers/parser-graphql-wrapper/src/display/display.ts
Due: parser_graphql_wrapper

fix(logger): enabling console for local dev
  packages/ts-logger/src/logger.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(tests): updating existing tests to pass
  servers/parser-graphql-wrapper/jest.setup.js
  servers/parser-graphql-wrapper/src/display/display.ts
  servers/parser-graphql-wrapper/src/readerView/readerViewResult.integration.ts
Due: parser_graphql_wrapper

chore(tests): adding in test data
  servers/parser-graphql-wrapper/src/display/display.integration.ts
  servers/parser-graphql-wrapper/src/display/display.ts
Due: parser_graphql_wrapper

fix(preview): renaming display to preview
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/preview/preview.integration.ts
  servers/parser-graphql-wrapper/src/preview/preview.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: parser_graphql_wrapper

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
