Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

chore: dependencies and codegen/build errors
  pnpm-lock.yaml
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/notes-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(notes): create and edit doc content with markdown (#996)
  pnpm-lock.yaml
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/notes-api/package.json
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/models/ProseMirrorDoc.spec.ts
  servers/notes-api/src/models/ProseMirrorDoc.ts
  servers/notes-api/src/test/documents/badMd.json
  servers/notes-api/src/test/documents/basicText.json
  servers/notes-api/src/test/documents/basicTextMD.txt
  servers/notes-api/src/test/documents/fromQuoteMd.txt
  servers/notes-api/src/test/mutations/createNoteFromQuoteMarkdown.integration.ts
  servers/notes-api/src/test/mutations/createNoteMarkdown.integration.ts
  servers/notes-api/src/test/mutations/editNoteContentMarkdown.integration.ts
  servers/notes-api/src/test/operations/mutations.ts
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(state): removing remote terraform state reference
  infrastructure/user-list-search/terraform.tf
Due: user_list_search

fix(spy): updating spy types
  packages/apollo-utils/src/errorHandler/errorHandler.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  4f9ed723a230f998c14a873e3e58c28ae8f8e12c
Due: none

Notes added by 'git notes add'
  91e6bc0e739ca71ce519611b742578c2eddc32f6
Due: none

Notes added by 'git notes add'
  dcd6acaf5a40a3138d037d2f4e7b0a5a6801f883
Due: none

fix(aws): ensure aws has matching packages
  .syncpackrc
  lambdas/user-list-search-events/README.md
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/list-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  7d882faaef4b49f310b25d227ddbd8c5e71f2363
Due: none

feat(kinesis): removing kinesis handler for eventbridge
  .github/workflows/user-list-search.yml
  infrastructure/user-list-search/kinesis_consumer.tf
  infrastructure/user-list-search/kinesis_consumer_codedeploy.tf
  infrastructure/user-list-search/lambda_bucket.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/sqs_sns_topic_subscription.tf
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-events/src/itemDeleteHandler.ts
  lambdas/user-list-search-events/src/itemUpdateHandler.ts
  lambdas/user-list-search-events/src/premiumPurchaseHandler.ts
  lambdas/user-list-search-events/src/sqsClient.ts
  lambdas/user-list-search-events/src/types.ts
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-indexing/src/helper.ts
  lambdas/user-list-search-indexing/src/itemDelete.ts
  lambdas/user-list-search-indexing/src/itemUpdate.ts
  lambdas/user-list-search-indexing/src/userListImport.ts
  lambdas/user-list-search-kinesis-to-sqs/README.md
  lambdas/user-list-search-kinesis-to-sqs/eslint.config.mjs
  lambdas/user-list-search-kinesis-to-sqs/package.json
  lambdas/user-list-search-kinesis-to-sqs/src/config/index.ts
  lambdas/user-list-search-kinesis-to-sqs/src/handler.spec.ts
  lambdas/user-list-search-kinesis-to-sqs/src/handler.ts
  lambdas/user-list-search-kinesis-to-sqs/src/index.ts
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/readme.md
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/types.ts
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/utils.ts
  lambdas/user-list-search-kinesis-to-sqs/src/sqs/writeable.ts
  lambdas/user-list-search-kinesis-to-sqs/tsconfig.json
  packages/types/.npmignore
  packages/types/README.md
  packages/types/eslint.config.mjs
  packages/types/jest.config.js
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/searchIndexing.ts
  packages/types/tsconfig.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(iam): add back some of the kinesis iam
  infrastructure/notes-api/package.json
  infrastructure/user-list-search/lambda_codedeploy.tf
  infrastructure/user-list-search/metrics.tf
  infrastructure/user-list-search/metrics_alarm_definitions.tf
  infrastructure/user-list-search/metrics_metric_definitions.tf
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/src/helper.spec.ts
  packages/types/package.json
  pnpm-lock.yaml
  servers/notes-api/src/__generated__/db.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(esm): moving account delete monitor to esm
  infrastructure/account-delete-monitor/package.json
  infrastructure/account-delete-monitor/src/dynamodb.ts
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
Due: account_delete_monitor

feat(esm): moving annotations api to esm
  infrastructure/annotations-api/package.json
  infrastructure/annotations-api/src/SqsLambda.ts
  infrastructure/annotations-api/src/dynamodb.ts
  infrastructure/annotations-api/src/main.ts
Due: annotations_api

feat(esm): moving braze cdk to esm
  infrastructure/account-data-deleter/src/lambda/eventLambda.ts
  infrastructure/braze/package.json
  infrastructure/braze/src/main.ts
Due: account_data_deleter, braze

feat(esm): moving braze content proxy to esm
  infrastructure/braze-content-proxy/package.json
  infrastructure/braze-content-proxy/src/main.ts
Due: none

feat(esm): moving client api to esm
  infrastructure/client-api/package.json
  infrastructure/client-api/src/main.ts
Due: client_api

feat(esm): moving feature flags to esm
  infrastructure/feature-flags/package.json
  infrastructure/feature-flags/src/main.ts
Due: feature_flags

feat(esm): moving fxa web hook proxy to esm
  infrastructure/fxa-webhook-proxy/package.json
  infrastructure/fxa-webhook-proxy/src/apiGateway.ts
  infrastructure/fxa-webhook-proxy/src/main.ts
  infrastructure/fxa-webhook-proxy/src/sqsLambda.ts
  infrastructure/fxa-webhook-proxy/src/utilities.ts
Due: none

feat(esm): moving image api to esm
  infrastructure/image-api/package.json
  infrastructure/image-api/src/main.ts
Due: image_api

feat(esm): moving instant sync events to esm
  infrastructure/instant-sync-events/package.json
  infrastructure/instant-sync-events/src/main.ts
  infrastructure/instant-sync-events/src/sqsEventLambda.ts
Due: none

feat(esm): moving list-api to esm
  infrastructure/list-api/package.json
  infrastructure/list-api/src/main.ts
Due: list_api

feat(esm): moving notes-api to esm
  infrastructure/notes-api/package.json
  infrastructure/notes-api/src/main.ts
Due: none

feat(esm): moving otel-collector to esm
  infrastructure/otel-collector/package.json
Due: none

feat(esm): moving parser graphql to esm
  infrastructure/otel-collector/src/main.ts
  infrastructure/parser-graphql-wrapper/package.json
Due: parser_graphql_wrapper

feat(esm): moving event bridge to csm
  infrastructure/parser-graphql-wrapper/src/dynamodb.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/pocket-event-bridge/package.json
  infrastructure/pocket-event-bridge/src/event-rules/account-delete-monitor/config.ts
  infrastructure/pocket-event-bridge/src/event-rules/account-delete-monitor/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/all-events/allEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/prospect-events/prospectEventRules.ts
  infrastructure/pocket-event-bridge/src/event-rules/utils.ts
  infrastructure/pocket-event-bridge/src/eventBridge.ts
  infrastructure/pocket-event-bridge/src/main.ts
Due: parser_graphql_wrapper, pocket_event_bridge

feat(esm): moving push server to esm
  infrastructure/push-server/package.json
  infrastructure/push-server/src/main.ts
Due: push_server

feat(esm): moving sendgrid data to esm
  infrastructure/sendgrid-data/package.json
  infrastructure/sendgrid-data/src/apiGateway.ts
  infrastructure/sendgrid-data/src/main.ts
  infrastructure/sendgrid-data/src/utilities.ts
Due: sendgrid_data

feat(esm): moving shareable lists to esm
  infrastructure/shareable-lists-api/package.json
  infrastructure/shareable-lists-api/src/SQSLambda.ts
  infrastructure/shareable-lists-api/src/main.ts
Due: shareable_lists_api

feat(esm): moving shared snowplow to esm
  infrastructure/shared-snowplow-consumer/package.json
  infrastructure/shared-snowplow-consumer/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
Due: shared_snowplow_consumer

feat(esm): moving shares api to esm
  infrastructure/shares-api/package.json
  infrastructure/shares-api/src/dynamodb.ts
  infrastructure/shares-api/src/main.ts
Due: none

feat(esm): moving transactional emails to esm
  infrastructure/transactional-emails/package.json
  infrastructure/transactional-emails/src/main.ts
  infrastructure/transactional-emails/src/transactionalEmailSQSLambda.ts
Due: transactional_emails

feat(esm): moving user-api to esm
  infrastructure/user-api/package.json
  infrastructure/user-api/src/main.ts
Due: user_api

feat(esm): moving v3-proxy-api to esm
  infrastructure/v3-proxy-api/package.json
  infrastructure/v3-proxy-api/src/main.ts
Due: v3_proxy_api

fix(notes): fixing notes typescript 5.7
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/notes-api/tsconfig.json
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: v3_proxy_api

fix(esm): updating resource imports
  infrastructure/pocket-event-bridge/src/event-rules/account-delete-monitor/index.ts
  infrastructure/pocket-event-bridge/src/event-rules/all-events/allEventRules.ts
Due: pocket_event_bridge

fix(lint): updating eslint
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server
