Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(v3-proxy): adding a possible error scenario that should be caught
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
Due: v3_proxy_api

fix(videos): updating video types for dailymotion (#932)
  servers/parser-graphql-wrapper/schema-admin.graphql
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
Due: parser_graphql_wrapper

fix(v3-proxy-api): ensuring all requests go through the middleware
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
Due: v3_proxy_api

fix(v3-proxy): adding a possible error scenario that should be caught (#935)
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
Due: v3_proxy_api

fix(parserResponse): assume 200 when parser returns empty string
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/parser-graphql-wrapper/src/test/queries/responseCode.integration.ts
Due: parser_graphql_wrapper

fix(parserResponse): assume 200 when parser returns empty string (#936)
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/parser-graphql-wrapper/src/test/queries/responseCode.integration.ts
Due: parser_graphql_wrapper

fix(marticle): ensure we parser li not in a ul or ol''
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
Due: parser_graphql_wrapper

fix(oembed): enable oembed behind a flag for all
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OpenGraphModel.ts
Due: parser_graphql_wrapper

fix(oembed): enable oembed behind a flag for all (#937)
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/models/PocketMetadataModel.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OpenGraphModel.ts
Due: parser_graphql_wrapper

fix(headers): ensuring we use the encoded id for feature flags
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OpenGraphModel.ts
Due: parser_graphql_wrapper

fix(headers): ensuring we use the encoded id for feature flags (#938)
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OEmbedModel.ts
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OpenGraphModel.ts
Due: parser_graphql_wrapper

feat(featureFlags): publishing feature flags client
  packages/feature-flags-client/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(sentry): also releasing sentry package
  packages/feature-flags-client/package.json
  packages/sentry/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(featureFlags/sentry): publishing feature flags client and sentry package (#939)
  packages/feature-flags-client/package.json
  packages/sentry/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  fb6d8bbda6429ef952193f0ed1f836e70464360d
Due: none

fix(li): fix li tag missing opener (#931)
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
Due: parser_graphql_wrapper

feat(contextManager): adding a shared context manager class for common pocket headers
  packages/apollo-utils/src/context/index.ts
  packages/apollo-utils/src/context/pocketContextManager.ts
  packages/apollo-utils/src/index.ts
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/list-api/src/server/context.ts
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(contextManager): adding doc blocks
  packages/apollo-utils/src/context/pocketContextManager.ts
  servers/list-api/src/server/context.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(contextManager): updating all services to use the context manager
  servers/annotations-api/src/dataservices/highlights.ts
  servers/annotations-api/src/server/apollo/context.ts
  servers/annotations-api/src/server/aws/batchDeleteHandler.ts
  servers/annotations-api/src/server/routes/queueDelete.integration.ts
  servers/annotations-api/src/server/routes/queueDelete.ts
  servers/annotations-api/src/test/clearUserData/highlights.integration.ts
  servers/list-api/src/server/context.ts
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/src/public/context.ts
  servers/shareable-lists-api/src/public/resolvers/queries/PilotUser.ts
  servers/shareable-lists-api/src/public/resolvers/utils.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/apollo/server.ts
  servers/user-api/src/context.ts
  servers/user-list-search/src/corpus/CorpusSearchModel.ts
  servers/user-list-search/src/events/EventBus.ts
  servers/user-list-search/src/server/context.ts
Due: annotations_api, user_api, list_api, shareable_lists_api, user_list_search

fix(span): fixing for use case where a span can be in a <li> list
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
Due: parser_graphql_wrapper

fix(span): ignoring invalid span within a ul
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
Due: parser_graphql_wrapper

fix(otel): share the otel collector with content
  infrastructure/otel-collector/src/config/index.ts
Due: none

fix(openGraph): ensuring we try catch open graph calls
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OpenGraphModel.ts
Due: parser_graphql_wrapper

fix(otel): share the otel collector with content (#941)
  infrastructure/otel-collector/src/config/index.ts
Due: none

fix(openGraph): ensuring we try catch open graph calls (#942)
  servers/parser-graphql-wrapper/src/models/pocketMetadataModels/OpenGraphModel.ts
Due: parser_graphql_wrapper

feat(contextManager): ensuring all services use the same passed in context headers (#940)
  packages/apollo-utils/src/context/index.ts
  packages/apollo-utils/src/context/pocketContextManager.ts
  packages/apollo-utils/src/index.ts
  servers/annotations-api/src/dataservices/highlights.ts
  servers/annotations-api/src/server/apollo/context.ts
  servers/annotations-api/src/server/aws/batchDeleteHandler.ts
  servers/annotations-api/src/server/routes/queueDelete.integration.ts
  servers/annotations-api/src/server/routes/queueDelete.ts
  servers/annotations-api/src/test/clearUserData/highlights.integration.ts
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/list-api/src/server/context.ts
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/shareable-lists-api/package.json
  servers/shareable-lists-api/src/public/context.ts
  servers/shareable-lists-api/src/public/resolvers/queries/PilotUser.ts
  servers/shareable-lists-api/src/public/resolvers/utils.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/apollo/server.ts
  servers/user-api/src/context.ts
  servers/user-list-search/src/corpus/CorpusSearchModel.ts
  servers/user-list-search/src/events/EventBus.ts
  servers/user-list-search/src/server/context.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  2cfb2236ca19c7589bcd83f59ea4b33d78a77c95
Due: none

fix(otel): adding in the environment to otel
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(otel): adding in the environment to otel (#944)
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  cdfb7d46339da41f4adb7e6a3156cb0c12f23c5f
Due: none

fix(nit): updating variable name
  lambdas/user-list-search-corpus-indexing/src/index.ts
Due: user_list_search

feat(eventBridge): moving corpus indexing to use event bridge types (#927)
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-indexing/src/commands/Collection.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-indexing/src/types.ts
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
  packages/event-bridge/package.json
  packages/event-bridge/src/events/events.ts
  packages/event-bridge/src/events/generated/schema.json
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/collection.spec.ts
  packages/event-bridge/src/events/types/collection.ts
  packages/event-bridge/src/events/types/corpus.ts
  packages/event-bridge/src/events/types/index.ts
  packages/event-bridge/src/jsonUtils.spec.ts
  packages/event-bridge/src/jsonUtils.ts
  packages/event-bridge/src/utils.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/shares-api/package.json
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  306f3378f8dc1203ce19345af12a7b851853aefe
Due: none

feat(sqsEventBridge): creating a SQS poller class
  lambdas/transactional-emails/src/handlers/accountDelete.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  lambdas/transactional-emails/src/handlers/listExportReady.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  packages/event-bridge/package.json
  packages/event-bridge/src/consumer.ts
  packages/event-bridge/src/events/index.ts
  packages/event-bridge/src/events/types/accountDelete.spec.ts
  packages/event-bridge/src/events/types/forgotPasswordRequest.spec.ts
  packages/event-bridge/src/index.ts
  packages/event-bridge/src/utils.ts
  pnpm-lock.yaml
  servers/shared-snowplow-consumer/package.json
  servers/shared-snowplow-consumer/src/SqsConsumer.ts
  servers/shared-snowplow-consumer/src/main.ts
  servers/shared-snowplow-consumer/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(big-int): adding in big int support
  pnpm-lock.yaml
  servers/list-api/package.json
  servers/list-api/schema.graphql
  servers/list-api/src/resolvers/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(eventBridege): changing the casing of search event consumer
  packages/event-bridge/src/events/types/collection.spec.ts
  servers/shared-snowplow-consumer/package.json
  servers/shared-snowplow-consumer/src/eventConsumer/searchEvents/searchEventConsumer.ts
  servers/user-list-search/src/events/EventBus.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(eventBridge): adding in dlq alarm for infra
  infrastructure/shared-snowplow-consumer/src/main.ts
Due: shared_snowplow_consumer

feat(invalidData): fixing list error on invalid data
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
Due: parser_graphql_wrapper

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
