Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(alpha): adding the alpha tag to the item summary
  servers/parser-graphql-wrapper/schema.graphql
Due: parser_graphql_wrapper

chore(tests): setting up display data test pattern
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/preview/preview.integration.ts
Due: parser_graphql_wrapper

feat(unleash): enabling unleash for parser wrapper
  infrastructure/parser-graphql-wrapper/src/main.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/context.ts
  servers/parser-graphql-wrapper/src/preview/preview.integration.ts
  servers/parser-graphql-wrapper/src/preview/preview.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/server.ts
  servers/parser-graphql-wrapper/src/unleash.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tests): ensuring tests work with feature flags
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/preview/preview.integration.ts
  servers/parser-graphql-wrapper/src/preview/preview.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  12b2e10b64e088ddfc76d11d37d4a426b198ffc7
Due: none

chore(circleci): optimizing costs
  .circleci/common.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(url): ensuring that saved item is a string greater than or equal to 4 characters
  servers/list-api/schema.graphql
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
Due: list_api

chore(terraform): upgrading to terraform 1.8.0
  infrastructure/account-data-deleter/.terraform-version
  infrastructure/account-delete-monitor/.terraform-version
  infrastructure/annotations-api/.terraform-version
  infrastructure/braze/.terraform-version
  infrastructure/client-api/.terraform-version
  infrastructure/feature-flags/.terraform-version
  infrastructure/fxa-webhook-proxy/.terraform-version
  infrastructure/image-api/.terraform-version
  infrastructure/instant-sync-events/.terraform-version
  infrastructure/list-api/.terraform-version
  infrastructure/parser-graphql-wrapper/.terraform-version
  infrastructure/pocket-event-bridge/.terraform-version
  infrastructure/push-server/.terraform-version
  infrastructure/sendgrid-data/.terraform-version
  infrastructure/shareable-lists-api/.terraform-version
  infrastructure/shared-snowplow-consumer/.terraform-version
  infrastructure/shares-api/.terraform-version
  infrastructure/transactional-emails/.terraform-version
  infrastructure/user-api/.terraform-version
  infrastructure/user-list-search/.terraform-version
  infrastructure/user-list-search/emergency-response/versions.tf
  infrastructure/user-list-search/terraform.tf
  infrastructure/v3-proxy-api/.terraform-version
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(pnpm): updating to pnpm 9
  .circleci/common.yml
  .github/workflows/publish.yml
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(pnpm): lock pnpm to 8
  .circleci/common.yml
  Dockerfile
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(review): updating delete statement
  servers/parser-graphql-wrapper/src/preview/preview.integration.ts
Due: parser_graphql_wrapper

fix(pnpm): lock pnpm to 8 (#470)
  .circleci/common.yml
  Dockerfile
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(circleci): optimizing costs (#465)
  .circleci/common.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(iam): updating iam params
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

feat(display): adding in the basics of a preview item (#456)
  .env.example
  infrastructure/parser-graphql-wrapper/src/main.ts
  packages/ts-logger/src/logger.spec.ts
  packages/ts-logger/src/logger.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/jest.setup.js
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/context.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/parser-graphql-wrapper/src/preview/preview.integration.ts
  servers/parser-graphql-wrapper/src/preview/preview.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/readerView/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/server.ts
  servers/parser-graphql-wrapper/src/unleash.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  748a356c676af99c8e5b58809d22b36ca02b1da2
Due: none

fix(url): ensuring that saved item is a string greater than or equal to 4 characters (#467)
  servers/list-api/schema.graphql
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
Due: list_api

fix: use a different name for not found result
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/resolvers-types.ts
Due: none

feat(shares): contract proposal
  servers/parser-graphql-wrapper/schema.graphql
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/resolvers-types.ts
Due: parser_graphql_wrapper

feat(dynamo): add TTL capabilities to TF dynamo config
  packages/terraform-modules/package.json
  packages/terraform-modules/src/base/ApplicationDynamoDBTable.spec.ts
  packages/terraform-modules/src/base/ApplicationDynamoDBTable.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationDynamoDBTable.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(shares): add ttl field for shares dynamodb table
  infrastructure/shares-api/src/dynamodb.ts
  infrastructure/shares-api/src/main.ts
Due: none

add dependencies and update infrastructure
  .docker/aws-resources/dynamodb/shares_api_shares_table.json
  infrastructure/shares-api/src/main.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(shares): set up server with initial query and mutation
  servers/shares-api/codegen.ts
  servers/shares-api/package.json
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/apollo/server.ts
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/datasources/dynamoClient.ts
  servers/shares-api/src/datasources/shares.ts
  servers/shares-api/src/main.ts
  servers/shares-api/src/models/Max300CharString.spec.ts
  servers/shares-api/src/models/Max300CharString.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/models/ShareNotFoundModel.ts
  servers/shares-api/src/models/index.ts
  servers/shares-api/src/test/Max300CharString.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
  servers/shares-api/src/test/example.integration.ts
  servers/shares-api/src/test/example.spec.ts
  servers/shares-api/src/test/queries.ts
  servers/shares-api/src/test/shareSlug.integration.ts
Due: none

update lockfile
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

remove duplicated type file
  servers/shares-api/src/__generated__/resolvers-types.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/models/ShareNotFoundModel.ts
Due: none

chore: lint
  servers/shares-api/src/test/Max300CharString.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
Due: none

fix(tests): making the tests not change the time
  servers/annotations-api/src/test/mutation/highlights-batchwrite.integration.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/mutation/highlights-delete.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update-deprecated.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update.integration.ts
  servers/list-api/src/test/graphql/mutations/clearTags.integration.ts
  servers/list-api/src/test/graphql/mutations/replaceTags.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/reAdd.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-updates.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-replaceSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-update.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-updateSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/deleteTagByName.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/removeTagsByName.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/renameTagByName.integration.ts
  servers/user-api/src/events/eventBus/eventBusHandler.spec.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
Due: annotations_api, user_api, list_api, user_list_search, v3_proxy_api

remove ttl field from dynamo config (not indexed)
  infrastructure/shares-api/src/dynamodb.ts
Due: none

fix(tests): making the tests not change the time (#472)
  servers/annotations-api/src/test/mutation/highlights-batchwrite.integration.ts
  servers/annotations-api/src/test/mutation/highlights-create.integration.ts
  servers/annotations-api/src/test/mutation/highlights-delete.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update-deprecated.integration.ts
  servers/annotations-api/src/test/mutation/highlights-update.integration.ts
  servers/list-api/src/test/graphql/mutations/clearTags.integration.ts
  servers/list-api/src/test/graphql/mutations/replaceTags.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/createSavedItemTagsMutation.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/reAdd.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-delete.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-updates.integration.ts
  servers/list-api/src/test/graphql/mutations/savedItemById/savedItemsMutationService-upsert.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-replaceSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-update.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsById/tagsMutationService-updateSavedItemTags.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/deleteTagByName.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/removeTagsByName.integration.ts
  servers/list-api/src/test/graphql/mutations/tagsByName/renameTagByName.integration.ts
  servers/user-api/src/events/eventBus/eventBusHandler.spec.ts
  servers/user-list-search/src/freeSearch.integration.ts
  servers/user-list-search/src/freeSearchByOffset.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
Due: annotations_api, user_api, list_api, user_list_search, v3_proxy_api

feat(shares): federate PocketShare.preview field
  servers/parser-graphql-wrapper/src/preview/preview.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: parser_graphql_wrapper

feat(shares): initial api implementation (#464)
  .docker/aws-resources/dynamodb/shares_api_shares_table.json
  infrastructure/shares-api/src/dynamodb.ts
  infrastructure/shares-api/src/main.ts
  packages/terraform-modules/package.json
  packages/terraform-modules/src/base/ApplicationDynamoDBTable.spec.ts
  packages/terraform-modules/src/base/ApplicationDynamoDBTable.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationDynamoDBTable.spec.ts.snap
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/schema.graphql
  servers/shares-api/codegen.ts
  servers/shares-api/package.json
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/resolvers-types.ts
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/context.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/apollo/server.ts
  servers/shares-api/src/config/index.ts
  servers/shares-api/src/datasources/dynamoClient.ts
  servers/shares-api/src/datasources/shares.ts
  servers/shares-api/src/main.ts
  servers/shares-api/src/models/Max300CharString.spec.ts
  servers/shares-api/src/models/Max300CharString.ts
  servers/shares-api/src/models/PocketShare.ts
  servers/shares-api/src/models/ShareNotFoundModel.ts
  servers/shares-api/src/models/index.ts
  servers/shares-api/src/test/Max300CharString.integration.ts
  servers/shares-api/src/test/createShareLink.integration.ts
  servers/shares-api/src/test/example.integration.ts
  servers/shares-api/src/test/example.spec.ts
  servers/shares-api/src/test/queries.ts
  servers/shares-api/src/test/shareSlug.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(shares): federate PocketShare.preview field (#473)
  servers/parser-graphql-wrapper/src/preview/preview.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: parser_graphql_wrapper

Notes added by 'git notes add'
  8f23bacbfa3bc6cae20336fb944696237dfd2d71
Due: none

fix: federated type for PocketShare.preview consistency
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix: federated type for PocketShare.preview consistency (#475)
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/resolvers.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(codegen): adding in code generator resolvers
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/.eslintignore
  servers/parser-graphql-wrapper/codegen.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/context.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
  servers/parser-graphql-wrapper/src/marticle/marticleTypes.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/parser-graphql-wrapper/src/parserApiUtils.ts
  servers/parser-graphql-wrapper/src/preview/preview.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/resolvers.spec.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.spec.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(codegen): adding in code generator resolvers (#474)
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/.eslintignore
  servers/parser-graphql-wrapper/codegen.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/context.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
  servers/parser-graphql-wrapper/src/marticle/marticleTypes.ts
  servers/parser-graphql-wrapper/src/model.ts
  servers/parser-graphql-wrapper/src/parserApiUtils.ts
  servers/parser-graphql-wrapper/src/preview/preview.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/resolvers.spec.ts
  servers/parser-graphql-wrapper/src/resolvers.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.spec.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  c81d28e6b1dbad0ffdb5b9b11c14ea4d3223b8bc
Due: none

chore(reorganize): restructuring the parser wrapper
  servers/parser-graphql-wrapper/codegen.ts
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/apollo/server.ts
  servers/parser-graphql-wrapper/src/apollo/typeDefs.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/shortUrlLoader.ts
  servers/parser-graphql-wrapper/src/datasources/mysql.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.spec.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.ts
  servers/parser-graphql-wrapper/src/entities/ItemResolverRepository.integration.ts
  servers/parser-graphql-wrapper/src/entities/shareUrls.integration.ts
  servers/parser-graphql-wrapper/src/logger.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/parser-graphql-wrapper/src/models/ListenModel.spec.ts
  servers/parser-graphql-wrapper/src/models/ListenModel.ts
  servers/parser-graphql-wrapper/src/models/SSMLModel.spec.ts
  servers/parser-graphql-wrapper/src/models/SSMLModel.ts
  servers/parser-graphql-wrapper/src/preview/index.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.ts
  servers/parser-graphql-wrapper/src/test/mutations/refreshMutation.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/parserApi.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/ssml.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/timeToRead.integration.ts
  servers/parser-graphql-wrapper/tsconfig.json
Due: parser_graphql_wrapper

chore(reorganize): restructuring the parser wrapper (#476)
  servers/parser-graphql-wrapper/codegen.ts
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/context.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/apollo/server.ts
  servers/parser-graphql-wrapper/src/apollo/typeDefs.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.integration.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/dataLoaders/shortUrlLoader.ts
  servers/parser-graphql-wrapper/src/datasources/mysql.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.spec.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.ts
  servers/parser-graphql-wrapper/src/entities/ItemResolverRepository.integration.ts
  servers/parser-graphql-wrapper/src/entities/shareUrls.integration.ts
  servers/parser-graphql-wrapper/src/logger.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/parser-graphql-wrapper/src/models/ListenModel.spec.ts
  servers/parser-graphql-wrapper/src/models/ListenModel.ts
  servers/parser-graphql-wrapper/src/models/SSMLModel.spec.ts
  servers/parser-graphql-wrapper/src/models/SSMLModel.ts
  servers/parser-graphql-wrapper/src/preview/index.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/shortUrl/shortUrl.ts
  servers/parser-graphql-wrapper/src/ssml/ssml.ts
  servers/parser-graphql-wrapper/src/test/mutations/refreshMutation.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/marticleParser.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/parserApi.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/shortUrl.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/ssml.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/timeToRead.integration.ts
  servers/parser-graphql-wrapper/tsconfig.json
Due: parser_graphql_wrapper

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
