Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(test): fix test command and wrong env var
  packages/aws-utils/package.json
  servers/shareable-lists-api/jest.setup.js
  servers/shareable-lists-api/src/background/ExportDataService.integration.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  383e417f5a9ccc47604b04eb8f48d882bf96ff3d
Due: none

feat: add additional fallback case for parser failure
  servers/account-data-deleter/src/dataService/listDataExportService.ts
Due: account_data_deleter

feat: add additional fallback case for parser failure (#1045)
  servers/account-data-deleter/src/dataService/listDataExportService.ts
Due: account_data_deleter

chore: update apollo router to 1.61.2
  servers/client-api/Dockerfile
Due: client_api

chore: update apollo router to 1.61.2 (#1048)
  servers/client-api/Dockerfile
Due: client_api

feat(export): add sentry alerts for data export failures (HNT-545)
  .gitignore
  servers/account-data-deleter/src/dataService/exportStateService.spec.ts
  servers/account-data-deleter/src/dataService/exportStateService.ts
  servers/account-data-deleter/src/queueHandlers/exportAnnotationsHandler.ts
  servers/account-data-deleter/src/queueHandlers/exportListHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/exportListHandler.ts
  servers/account-data-deleter/src/queueHandlers/exportStateHandler.ts
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/shareable-lists-api/src/background/ExportHandler.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: account_data_deleter, shareable_lists_api, v3_proxy_api

chore(export): cleanup
  servers/account-data-deleter/src/dataService/exportStateService.spec.ts
  servers/account-data-deleter/src/queueHandlers/exportListHandler.spec.ts
Due: account_data_deleter

chore: update
  servers/account-data-deleter/src/dataService/exportStateService.ts
Due: account_data_deleter

chore: fix sentry exception capture
  servers/account-data-deleter/src/dataService/exportStateService.spec.ts
  servers/account-data-deleter/src/dataService/exportStateService.ts
  servers/account-data-deleter/src/queueHandlers/exportStateHandler.ts
Due: account_data_deleter

chore: add sentry tag
  servers/account-data-deleter/src/dataService/exportStateService.ts
  servers/account-data-deleter/src/queueHandlers/exportListHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/exportListHandler.ts
Due: account_data_deleter

chore: add sentry tag
  servers/account-data-deleter/src/queueHandlers/exportStateHandler.ts
Due: account_data_deleter

chore(export): Add Sentry alerts for data export failures (HNT-545) (#1049)
  .gitignore
  servers/account-data-deleter/src/dataService/exportStateService.spec.ts
  servers/account-data-deleter/src/dataService/exportStateService.ts
  servers/account-data-deleter/src/queueHandlers/exportAnnotationsHandler.ts
  servers/account-data-deleter/src/queueHandlers/exportListHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/exportListHandler.ts
  servers/account-data-deleter/src/queueHandlers/exportStateHandler.ts
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/shareable-lists-api/src/background/ExportHandler.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: account_data_deleter, shareable_lists_api, v3_proxy_api

HNT-605: Scale out list-api and data-deleter
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/list-api/src/main.ts
Due: list_api, account_data_deleter

Increase list-api memory size
  infrastructure/list-api/src/main.ts
Due: list_api

HNT-605: Scale out list-api and account-data-deleter (#1050)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/list-api/src/main.ts
Due: list_api, account_data_deleter

HNT-706: Scale out account data deleter
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: account_data_deleter

HNT-706: Scale out account data deleter (#1051)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: account_data_deleter

Revert "HNT-706: Scale out account data deleter (#1051)"
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: account_data_deleter

Revert "HNT-706: Scale out account data deleter (#1051)" (#1052)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: account_data_deleter

chore: concurrency limit
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: account_data_deleter

chore: concurrency limit (#1053)
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
Due: account_data_deleter

feat(account-data-deleter): restart server daily with graceful shutdown (HNT-905)
  packages/aws-utils/src/QueuePoller.ts
  servers/account-data-deleter/src/main.ts
  servers/account-data-deleter/src/server.spec.ts
  servers/account-data-deleter/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(account-data-deleter): preserver import order
  servers/account-data-deleter/src/main.ts
Due: account_data_deleter

feat(account-data-deleter): restart server daily with graceful shutdown (HNT-905) (#1055)
  packages/aws-utils/src/QueuePoller.ts
  servers/account-data-deleter/src/main.ts
  servers/account-data-deleter/src/server.spec.ts
  servers/account-data-deleter/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  5b771cd85c737495ac056b010c88b4a8a359dfa1
Due: none

chore(account-data-deleter): increase export link expiration to 7 days
  servers/account-data-deleter/src/config/index.ts
Due: account_data_deleter

chore(account-data-deleter): increase export link expiration to 7 days (#1056)
  servers/account-data-deleter/src/config/index.ts
Due: account_data_deleter

fix(account-data-deleter): use presignedIamUserCredentials to sign export URLs
  servers/account-data-deleter/src/dataService/exportStateService.spec.ts
  servers/account-data-deleter/src/dataService/exportStateService.ts
Due: account_data_deleter

fix(account-data-deleter): use presignedIamUserCredentials to sign export URLs (#1057)
  servers/account-data-deleter/src/dataService/exportStateService.spec.ts
  servers/account-data-deleter/src/dataService/exportStateService.ts
Due: account_data_deleter

Update README.md
  README.md
Due: none

chore(shares-api): autoscaling rules to 0
  infrastructure/shares-api/src/main.ts
  servers/account-data-deleter/src/queueHandlers/exportStateHandler.ts
Due: account_data_deleter

test(shares-api): deleting infra code
  infrastructure/shares-api/src/main.ts
Due: none

chore(parser-graphql-wrapper): stop requests from querying readitla_ril-tmp
  servers/annotations-api/src/dataservices/parserApi.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
Due: annotations_api, parser_graphql_wrapper

feat(HNT-1344): tear down userlistsearch opensearch cluster
  infrastructure/user-list-search/locals.tf
Due: user_list_search

feat(HNT-1344): tear down user list search opensearch cluster
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/elasticsearch.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/metrics.tf
  infrastructure/user-list-search/metrics_alarm_definitions.tf
  infrastructure/user-list-search/metrics_metric_definitions.tf
  infrastructure/user-list-search/queue_users_ecs.tf
  servers/braze-content-proxy/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/generated/graphql/types.ts
Due: user_list_search, v3_proxy_api

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
