Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(clientapi): add operation name and errors to otel instrumentation (#1021)
  docker-compose.yml
  servers/client-api/config/router.yaml
Due: client_api

fix(logs): ensure logs are truncated to 256kb
  servers/otel-collector/otel-collector-config.yaml
Due: none

fix(metrics): add in active request data
  servers/client-api/config/router.yaml
Due: client_api

fix(metrics): add in active request data (#1023)
  servers/client-api/config/router.yaml
Due: client_api

Revert "fix(metrics): add in active request data (#1023)"
  servers/client-api/config/router.yaml
Due: client_api

Revert "fix(metrics): add in active request data (#1023)" (#1024)
  servers/client-api/config/router.yaml
Due: client_api

fix(logs): ensure logs are truncated to 256kb (#1022)
  servers/otel-collector/otel-collector-config.yaml
Due: none

fix(ci): tag docker image with 'latest'
  .github/actions/containerize/action.yml
Due: none

fix(ci): tag docker image with 'latest' (#1027)
  .github/actions/containerize/action.yml
Due: none

fix(ci): append docker repo name to latest tag
  .github/actions/containerize/action.yml
Due: none

fix(ci): append docker repo name to latest tag (#1028)
  .github/actions/containerize/action.yml
Due: none

chore: fix-mismatches
  packages/apollo-utils/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/braze-content-proxy/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/notes-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(coprocessor): set up infra and deployment pattern
  .github/workflows/client-api.yml
  infrastructure/client-api/src/main.ts
  servers/coprocessor/eslint.config.mjs
  servers/coprocessor/jest.config.js
  servers/coprocessor/package.json
  servers/coprocessor/src/index.ts
  servers/coprocessor/tsconfig.json
Due: client_api

chore: regenerate lockfile
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix: set env var for making request to coprocessor sidecar
  infrastructure/client-api/src/main.ts
  servers/client-api/config/router.yaml
Due: client_api

feat(tfmodules): make deploymentConfigName configurable
  infrastructure/client-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationECSAlbCodeDeploy.ts
  packages/terraform-modules/src/base/ApplicationECSService.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(auth): [WIP] add scope extraction
  pnpm-lock.yaml
  servers/auth-coprocessor/package.json
  servers/auth-coprocessor/src/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(ci/cd): set default terraform-output
  .github/workflows/reuse-build-and-push-image.yml
Due: none

chore: fix build issues
  .github/workflows/client-api.yml
  servers/coprocessor/package.json
Due: none

feat(auth): [WIP] attempt at JWT coprocessor POC
  .vscode/launch.json
  pnpm-lock.yaml
  servers/auth-coprocessor/eslint.config.mjs
  servers/auth-coprocessor/jest.config.js
  servers/auth-coprocessor/package.json
  servers/auth-coprocessor/src/index.ts
  servers/auth-coprocessor/tsconfig.json
  servers/client-api/config/router.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix: trying another terraform-output default
  .github/workflows/reuse-build-and-push-image.yml
Due: none

fix(ci): try setting terraform-output explicitly to empty string
  .github/workflows/client-api.yml
Due: none

fix: try setting terraform-output to empty object
  .github/workflows/client-api.yml
  .github/workflows/reuse-build-and-push-image.yml
Due: none

chore(deps): add tslib to coprocessor
  pnpm-lock.yaml
  servers/coprocessor/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: deploy all-at-once for dev builds
  infrastructure/client-api/src/main.ts
Due: client_api

chore: temp - logging
  servers/coprocessor/src/index.ts
Due: none

chore: fix-mismatches
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/instant-sync-events/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  packages/apollo-utils/package.json
  packages/event-bridge/package.json
  packages/sentry/package.json
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/braze-content-proxy/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/notes-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/push-server/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(parser): bump minimum tasks to 12
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

chore(parser): bump minimum tasks to 12 (#1030)
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

fix(braze): standardize and improve observability+logging
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/handlers/accountDelete.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/listExportReady.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  lambdas/transactional-emails/src/index.ts
Due: transactional_emails

fix(braze): standardize and improve observability+logging (#1031)
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/handlers/accountDelete.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/listExportReady.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  lambdas/transactional-emails/src/index.ts
Due: transactional_emails

feat(notes): allow null input for editNoteTitle
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/db.ts
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/test/mutations/editNoteTitle.integration.ts
Due: none

feat(notes): allow null input for editNoteTitle (#1032)
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/db.ts
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/test/mutations/editNoteTitle.integration.ts
Due: none

fix(v3proxy): add send_guid endpoint
  servers/v3-proxy-api/src/routes/v3SendGuid.integration.ts
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

chore: remove noteFromQuote mutations
  servers/notes-api/schema.graphql
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/models/ProseMirrorDoc.spec.ts
  servers/notes-api/src/models/ProseMirrorDoc.ts
  servers/notes-api/src/test/documents/fromQuote.json
  servers/notes-api/src/test/documents/fromQuoteMd.txt
  servers/notes-api/src/test/mutations/createNoteFromQuote.integration.ts
  servers/notes-api/src/test/mutations/createNoteFromQuoteMarkdown.integration.ts
Due: none

chore: lint and codegen
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/models/ProseMirrorDoc.ts
Due: none

chore: remove noteFromQuote mutations (#1034)
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/models/ProseMirrorDoc.spec.ts
  servers/notes-api/src/models/ProseMirrorDoc.ts
  servers/notes-api/src/test/documents/fromQuote.json
  servers/notes-api/src/test/documents/fromQuoteMd.txt
  servers/notes-api/src/test/mutations/createNoteFromQuote.integration.ts
  servers/notes-api/src/test/mutations/createNoteFromQuoteMarkdown.integration.ts
Due: none

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
