Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  e786c1d4bb570fbe4d876338f1f239bedf7af4df
Due: none

fix(search): addgin a wait for completion
  servers/user-list-search/src/saves/elasticsearch.integration.ts
Due: user_list_search

fix(deps): update otel packages
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/user-list-search/src/server/routes/batchDelete.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(format): updating format
  servers/user-list-search/src/saves/elasticsearch.integration.ts
Due: user_list_search

Notes added by 'git notes add'
  5d3d761d91f522e68de7f9326841eb171a92d076
Due: none

feat(notes): createNote mutation
  packages/apollo-utils/src/scalars/ValidUrlScalar.ts
  packages/apollo-utils/src/scalars/isoStringScalar.ts
  servers/notes-api/codegen.ts
  servers/notes-api/prisma/migrations/20241126231315_note_updated_generated/migration.sql
  servers/notes-api/prisma/schema.prisma
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/db.d.ts
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/apollo/context.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/test/mutations/createNote.integration.ts
  servers/notes-api/src/test/operations/index.ts
  servers/notes-api/src/test/operations/mutations.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(note): make prosemirror doc a unique scalar
  servers/notes-api/codegen.ts
  servers/notes-api/schema.graphql
Due: none

feat(note): create note mutation (#980)
  packages/apollo-utils/src/scalars/ValidUrlScalar.ts
  packages/apollo-utils/src/scalars/isoStringScalar.ts
  servers/notes-api/codegen.ts
  servers/notes-api/prisma/migrations/20241126231315_note_updated_generated/migration.sql
  servers/notes-api/prisma/schema.prisma
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/db.d.ts
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/apollo/context.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/test/mutations/createNote.integration.ts
  servers/notes-api/src/test/operations/index.ts
  servers/notes-api/src/test/operations/mutations.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  9118d8c6da0fc218fe58514f595ac093f1c4b98b
Due: none

Notes added by 'git notes add'
  6e1329e5a12e06b31ecf197f047c030d0e328603
Due: none

Notes added by 'git notes add'
  dee79c4d08443bf7e3d4ecc284395460e14238cf
Due: none

feat(note): create note from quote
  pnpm-lock.yaml
  servers/notes-api/package.json
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/models/ProseMirrorDoc.spec.ts
  servers/notes-api/src/models/ProseMirrorDoc.ts
  servers/notes-api/src/test/documents/fromQuote.json
  servers/notes-api/src/test/mutations/createNoteFromQuote.integration.ts
  servers/notes-api/src/test/operations/mutations.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(note): create note from quote (#986)
  pnpm-lock.yaml
  servers/notes-api/package.json
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/models/ProseMirrorDoc.spec.ts
  servers/notes-api/src/models/ProseMirrorDoc.ts
  servers/notes-api/src/test/documents/fromQuote.json
  servers/notes-api/src/test/mutations/createNoteFromQuote.integration.ts
  servers/notes-api/src/test/operations/mutations.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(notes): edit title of a note
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/test/mutations/editNoteTitle.integration.ts
  servers/notes-api/src/test/operations/mutations.ts
Due: none

feat(notes): edit title of a note (#988)
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/test/mutations/editNoteTitle.integration.ts
  servers/notes-api/src/test/operations/mutations.ts
Due: none

feat(notes): update document content
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/test/mutations/editNoteContent.integration.ts
  servers/notes-api/src/test/operations/mutations.ts
Due: none

feat(notes): update document content (#989)
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/test/mutations/editNoteContent.integration.ts
  servers/notes-api/src/test/operations/mutations.ts
Due: none

feat(notes): delete a note
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/test/mutations/deleteNote.integration.ts
  servers/notes-api/src/test/operations/mutations.ts
  servers/notes-api/src/test/queries/note.integration.ts
Due: none

fix(note): change deleteNote response to ID
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/test/mutations/deleteNote.integration.ts
Due: none

feat(notes): delete a note (#990)
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.d.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/test/mutations/deleteNote.integration.ts
  servers/notes-api/src/test/operations/mutations.ts
  servers/notes-api/src/test/queries/note.integration.ts
Due: none

feat(note): paginated notes connection with filters and sort
  servers/notes-api/codegen.ts
  servers/notes-api/package.json
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/db.ts
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/config/index.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/test/operations/queries.ts
  servers/notes-api/src/test/queries/notes.integration.ts
  servers/notes-api/src/utils/Paginator.spec.ts
  servers/notes-api/src/utils/Paginator.ts
  servers/notes-api/src/utils/types.ts
Due: none

chore(notes): add more documentation per self-review
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/utils/Paginator.ts
Due: none

refactor: delete old unused file
  servers/notes-api/src/utils/types.ts
Due: none

feat(notes): paginate a user's notes (#991)
  servers/notes-api/codegen.ts
  servers/notes-api/package.json
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/db.ts
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/config/index.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/test/operations/queries.ts
  servers/notes-api/src/test/queries/notes.integration.ts
  servers/notes-api/src/utils/Paginator.spec.ts
  servers/notes-api/src/utils/Paginator.ts
Due: none

feat(deletion): revoke fxa tokens when deleting accounts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  lambdas/account-data-deleter-events/src/config.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/postRequest.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/dataService/FxaRevoker.spec.ts
  servers/account-data-deleter/src/dataService/FxaRevoker.ts
  servers/account-data-deleter/src/routes/revokeFxa.ts
  servers/account-data-deleter/src/server.ts
  servers/user-api/src/config/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: lint
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
Due: none

fix(test): add reference to user_firefox_account for test seeds
  servers/user-api/src/config/index.ts
  servers/user-api/src/test/functional/seeds.ts
Due: user_api

feat(notes): un/archive notes
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/test/mutations/archiveNote.integration.ts
  servers/notes-api/src/test/mutations/unArchiveNote.integration.ts
  servers/notes-api/src/test/operations/mutations.ts
Due: none

feat(notes): resolve notes from a SavedItem
  servers/notes-api/codegen.ts
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/models/SavedItem.ts
  servers/notes-api/src/test/operations/queries.ts
  servers/notes-api/src/test/queries/notes.integration.ts
  servers/notes-api/src/test/queries/savedItem.integration.ts
Due: none

feat(notes): un/archive notes (#993)
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/test/mutations/archiveNote.integration.ts
  servers/notes-api/src/test/mutations/unArchiveNote.integration.ts
  servers/notes-api/src/test/operations/mutations.ts
Due: none

feat(notes): return markdown content
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/models/ProseMirrorDoc.spec.ts
  servers/notes-api/src/models/ProseMirrorDoc.ts
  servers/notes-api/src/test/operations/mutations.ts
  servers/notes-api/src/test/operations/queries.ts
  servers/notes-api/src/test/queries/note.integration.ts
Due: none

feat(notes): create and edit doc content with markdown
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/models/ProseMirrorDoc.spec.ts
  servers/notes-api/src/models/ProseMirrorDoc.ts
  servers/notes-api/src/test/documents/badMd.json
  servers/notes-api/src/test/documents/basicText.json
  servers/notes-api/src/test/documents/basicTextMD.txt
  servers/notes-api/src/test/documents/fromQuoteMd.txt
  servers/notes-api/src/test/mutations/createNoteFromQuoteMarkdown.integration.ts
  servers/notes-api/src/test/mutations/createNoteMarkdown.integration.ts
  servers/notes-api/src/test/mutations/editNoteContentMarkdown.integration.ts
  servers/notes-api/src/test/operations/mutations.ts
Due: none

feat(notes): resolve notes from a SavedItem (#994)
  servers/notes-api/codegen.ts
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/apollo/resolvers.ts
  servers/notes-api/src/datasources/NoteService.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/models/SavedItem.ts
  servers/notes-api/src/test/operations/queries.ts
  servers/notes-api/src/test/queries/notes.integration.ts
  servers/notes-api/src/test/queries/savedItem.integration.ts
Due: none

feat(notes): return markdown content (#995)
  servers/notes-api/schema.graphql
  servers/notes-api/src/__generated__/graphql.ts
  servers/notes-api/src/models/Note.ts
  servers/notes-api/src/models/ProseMirrorDoc.spec.ts
  servers/notes-api/src/models/ProseMirrorDoc.ts
  servers/notes-api/src/test/operations/mutations.ts
  servers/notes-api/src/test/operations/queries.ts
  servers/notes-api/src/test/queries/note.integration.ts
Due: none

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
