Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  aa1a5e0273e7d993bddb98cfb8d912e0f2da78dd
Due: none

fix(packages): reordering package json
  infrastructure/otel-collector/package.json
  infrastructure/parser-graphql-wrapper/package.json
  infrastructure/pocket-event-bridge/package.json
  infrastructure/push-server/package.json
  infrastructure/sendgrid-data/package.json
  infrastructure/shareable-lists-api/package.json
  infrastructure/shared-snowplow-consumer/package.json
  infrastructure/shares-api/package.json
  infrastructure/transactional-emails/package.json
  infrastructure/user-api/package.json
  infrastructure/v3-proxy-api/package.json
  packages/eslint-config/base.js
  packages/event-bridge/package.json
  servers/annotations-api/package.json
  servers/braze-content-proxy/package.json
  servers/notes-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
  servers/shares-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(esm): moving apollo utils to esm
  packages/apollo-utils/jest.config.js
  packages/apollo-utils/jest.config.ts
  packages/apollo-utils/jest.setup.ts
  packages/apollo-utils/package.json
  packages/eslint-config/base.js
  packages/tsconfig/library.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(cs): adding in commonjs support
  lambdas/user-list-search-corpus-indexing/package.json
  packages/apollo-utils/package.json
  packages/terraform-modules/package.json
  pnpm-lock.yaml
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(esm): moving image utils to esm
  packages/image-utils/jest.config.js
  packages/image-utils/jest.config.ts
  packages/image-utils/package.json
  packages/image-utils/src/index.ts
  packages/image-utils/src/utils.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(esm): moving jwt-utils to esm
  packages/jwt-utils/jest.config.js
  packages/jwt-utils/jest.config.ts
  packages/jwt-utils/package.json
  packages/jwt-utils/src/index.ts
  packages/jwt-utils/src/jwt.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(esm): moving feature flags to esm
  packages/feature-flags-client/jest.config.js
  packages/feature-flags-client/jest.config.ts
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.spec.ts
  packages/feature-flags-client/src/index.ts
  packages/feature-flags-client/src/mockClient.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(esm): moving int-mask to esm
  packages/int-mask/jest.config.js
  packages/int-mask/jest.config.ts
  packages/int-mask/jest.setup.ts
  packages/int-mask/package.json
  packages/int-mask/src/index.ts
  packages/int-mask/src/intMask.spec.ts
  packages/int-mask/src/intMask.ts
  packages/int-mask/src/intMaskSlug.spec.ts
  packages/int-mask/src/intMaskSlug.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(esm): moving ts-logger to esm
  packages/ts-logger/jest.config.js
  packages/ts-logger/jest.config.ts
  packages/ts-logger/package.json
  packages/ts-logger/src/index.ts
  packages/ts-logger/src/logger.spec.ts
  packages/ts-logger/src/morgan.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(esm): moving lambda-secrets to esm
  packages/lambda-secrets/jest.config.js
  packages/lambda-secrets/jest.config.ts
  packages/lambda-secrets/package.json
  packages/lambda-secrets/src/index.ts
  packages/lambda-secrets/src/secret.spec.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(esm): moving sentry to esm
  packages/sentry/jest.config.js
  packages/sentry/jest.config.ts
  packages/sentry/package.json
  packages/sentry/src/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(esm): moving tracing to esm
  packages/tracing/jest.config.js
  packages/tracing/jest.config.ts
  packages/tracing/package.json
  packages/tracing/src/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(esm): moving backend-benchmarking to esm
  packages/backend-benchmarking/jest.config.js
  packages/backend-benchmarking/jest.config.ts
  packages/backend-benchmarking/package.json
  packages/backend-benchmarking/src/index.ts
  packages/backend-benchmarking/src/seeds/index.ts
  packages/backend-benchmarking/src/seeds/list.spec.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  11c8b60e76a99930d42633e9453c19d5be45b733
Due: none

feat(esm): moving account data deleter batch delete to esm
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-batch-delete/src/dyanmoUtils.integration.ts
  lambdas/account-data-deleter-batch-delete/src/dynamoUtils.ts
  lambdas/account-data-deleter-batch-delete/src/externalCaller/deleteMutation.spec.ts
  lambdas/account-data-deleter-batch-delete/src/externalCaller/deleteMutation.ts
  lambdas/account-data-deleter-batch-delete/src/index.spec.ts
  lambdas/account-data-deleter-batch-delete/src/index.ts
  lambdas/account-data-deleter-batch-delete/src/test/utils.ts
  packages/tsconfig/lambda.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(esm): moving account data deleter events to esm
  lambdas/account-data-deleter-events/package.json
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.spec.ts
  lambdas/account-data-deleter-events/src/handlers/accountDelete/index.ts
  lambdas/account-data-deleter-events/src/index.spec.ts
  lambdas/account-data-deleter-events/src/index.ts
Due: none

feat(esm): moving user list search indexing to esm
  lambdas/account-data-deleter-events/src/handlers/accountDelete/postRequest.ts
  lambdas/account-data-deleter-events/src/handlers/index.ts
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-indexing/src/helper.spec.ts
  lambdas/user-list-search-indexing/src/helper.ts
  lambdas/user-list-search-indexing/src/itemDelete.ts
  lambdas/user-list-search-indexing/src/itemUpdate.ts
  lambdas/user-list-search-indexing/src/userListImport.ts
  lambdas/user-list-search-indexing/tsconfig.json
  packages/event-bridge/src/events/generated/schema.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(esm): moving fxa webhook proxy sqs to esm
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/fxa-webook-proxy-sqs/src/index.spec.ts
  lambdas/fxa-webook-proxy-sqs/src/index.ts
  lambdas/fxa-webook-proxy-sqs/src/mutations.ts
  lambdas/fxa-webook-proxy-sqs/src/secretManager.ts
Due: none

feat(esm): moving annotations api events to esm
  lambdas/annotations-api-events/package.json
  lambdas/annotations-api-events/src/handlers/accountDelete.spec.ts
  lambdas/annotations-api-events/src/handlers/accountDelete.ts
  lambdas/annotations-api-events/src/handlers/index.ts
  lambdas/annotations-api-events/src/index.spec.ts
  lambdas/annotations-api-events/src/index.ts
Due: annotations_api

feat(esm): moving account delete monitor
  lambdas/account-delete-monitor/package.json
  lambdas/account-delete-monitor/src/dynamodb.ts
  lambdas/account-delete-monitor/src/externalCaller/deleteMutation.spec.ts
  lambdas/account-delete-monitor/src/externalCaller/deleteMutation.ts
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.integration.ts
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.spec.ts
  lambdas/account-delete-monitor/src/handlers/accountDeleteHandler.ts
  lambdas/account-delete-monitor/src/handlers/accountMergeHandler.integration.ts
  lambdas/account-delete-monitor/src/handlers/accountMergeHandler.spec.ts
  lambdas/account-delete-monitor/src/handlers/accountMergeHandler.ts
  lambdas/account-delete-monitor/src/handlers/index.ts
  lambdas/account-delete-monitor/src/index.spec.ts
  lambdas/account-delete-monitor/src/index.ts
  lambdas/account-delete-monitor/src/utils.spec.ts
Due: account_delete_monitor

feat(esm): moving fxa webhook proxy gateway to esm
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-gateway/src/config.ts
  lambdas/fxa-webook-proxy-gateway/src/index.functional.ts
  lambdas/fxa-webook-proxy-gateway/src/index.spec.ts
  lambdas/fxa-webook-proxy-gateway/src/index.ts
  lambdas/fxa-webook-proxy-gateway/src/jwt.spec.ts
  lambdas/fxa-webook-proxy-gateway/src/jwt.ts
  lambdas/fxa-webook-proxy-gateway/src/sqs.ts
Due: none

feat(esm): moving user list search corpus indexing to esm
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-indexing/src/commands/ApprovedItem.ts
  lambdas/user-list-search-corpus-indexing/src/commands/ApprovedItemCollection.ts
  lambdas/user-list-search-corpus-indexing/src/commands/Collection.ts
  lambdas/user-list-search-corpus-indexing/src/commands/RemoveItem.ts
  lambdas/user-list-search-corpus-indexing/src/commands/Syndicated.ts
  lambdas/user-list-search-corpus-indexing/src/index.integration.ts
  lambdas/user-list-search-corpus-indexing/src/index.ts
  lambdas/user-list-search-corpus-indexing/src/queries/collectionId.ts
  lambdas/user-list-search-corpus-indexing/src/queries/index.ts
  lambdas/user-list-search-corpus-indexing/src/queries/originalCorpusId.ts
  lambdas/user-list-search-corpus-indexing/src/utils.spec.ts
Due: user_list_search

feat(esm): moving transactional emails to esm
  lambdas/transactional-emails/package.json
  lambdas/transactional-emails/src/braze.spec.ts
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/handlers/accountDelete.spec.ts
  lambdas/transactional-emails/src/handlers/accountDelete.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.spec.ts
  lambdas/transactional-emails/src/handlers/forgotPassword.ts
  lambdas/transactional-emails/src/handlers/index.ts
  lambdas/transactional-emails/src/handlers/listExportReady.spec.ts
  lambdas/transactional-emails/src/handlers/listExportReady.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.spec.ts
  lambdas/transactional-emails/src/handlers/premiumPurchaseHandler.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.spec.ts
  lambdas/transactional-emails/src/handlers/userRegistrationEventHandler.ts
  lambdas/transactional-emails/src/index.spec.ts
  lambdas/transactional-emails/src/index.ts
  lambdas/transactional-emails/src/ssm.ts
Due: transactional_emails

feat(esm): moving sendgrid data to esm
  lambdas/sendgrid-data/package.json
  lambdas/sendgrid-data/src/index.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.spec.ts
  lambdas/sendgrid-data/src/sendgrid/cloudwatch-metrics.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.spec.ts
  lambdas/sendgrid-data/src/sendgrid/firehose.ts
  lambdas/sendgrid-data/src/sendgrid/index.ts
  lambdas/sendgrid-data/src/sendgrid/util.spec.ts
Due: sendgrid_data

feat(esm): moving shareable lists to esm
  lambdas/instant-sync-events/tsconfig.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/shareable-lists-api-events/src/handlers/accountDelete.spec.ts
  lambdas/shareable-lists-api-events/src/handlers/accountDelete.ts
  lambdas/shareable-lists-api-events/src/handlers/index.ts
  lambdas/shareable-lists-api-events/src/index.spec.ts
  lambdas/shareable-lists-api-events/src/index.ts
Due: none

feat(esm): moving instant sync events to esm
  lambdas/instant-sync-events/package.json
  lambdas/instant-sync-events/src/clients.ts
  lambdas/instant-sync-events/src/handlerFn.integration.ts
  lambdas/instant-sync-events/src/handlerFn.spec.ts
  lambdas/instant-sync-events/src/handlerFn.ts
  lambdas/instant-sync-events/src/index.ts
  lambdas/instant-sync-events/src/sqs.ts
Due: none

fix(esm): small lambda esm fixes
  lambdas/user-list-search-corpus-parser-hydration/src/embeddingsRequest.ts
  lambdas/user-list-search-indexing/src/index.ts
  lambdas/user-list-search-kinesis-to-sqs/tsconfig.json
  packages/event-bridge/src/events/generated/schema.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
