Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  3e545ab4ad65c245414eb87e35c95418331a1986
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(cleanup): remove corpus-embeddings infrastructure
  infrastructure/corpus-embeddings/.gitignore
  infrastructure/corpus-embeddings/.terraform-version
  infrastructure/corpus-embeddings/backend.tf
  infrastructure/corpus-embeddings/dev_backend.tfvars
  infrastructure/corpus-embeddings/index.js
  infrastructure/corpus-embeddings/main.tf
  infrastructure/corpus-embeddings/providers.tf
Due: none

chore: separate sentry dsn for corpus search
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/main.tf
  lambdas/user-list-search-corpus-indexing/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
Due: user_list_search

chore: fix typo
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
Due: user_list_search

chore(deps): updating aws sdk
  .syncpackrc
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/instant-sync-events/package.json
  lambdas/sendgrid-data/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  packages/apollo-utils/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/push-server/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(deps): updating otel
  packages/tracing/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(deps): updating sentry
  .syncpackrc
  lambdas/account-data-deleter-batch-delete/package.json
  lambdas/account-data-deleter-events/package.json
  lambdas/account-delete-monitor/package.json
  lambdas/annotations-api-events/package.json
  lambdas/fxa-webook-proxy-gateway/package.json
  lambdas/fxa-webook-proxy-sqs/package.json
  lambdas/instant-sync-events/package.json
  lambdas/sendgrid-data/package.json
  lambdas/shareable-lists-api-events/package.json
  lambdas/transactional-emails/package.json
  lambdas/user-list-search-corpus-indexing/package.json
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-events/package.json
  lambdas/user-list-search-indexing/package.json
  lambdas/user-list-search-kinesis-to-sqs/package.json
  packages/apollo-utils/package.json
  packages/sentry/package.json
  packages/tracing/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/braze-content-proxy/package.json
  servers/feature-flags/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/push-server/package.json
  servers/shareable-lists-api/package.json
  servers/shared-snowplow-consumer/package.json
  servers/shares-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
  servers/v3-proxy-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(deps): update remaining small packages
  lambdas/account-data-deleter-events/package.json
  lambdas/instant-sync-events/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/annotations-api/package.json
  servers/braze-content-proxy/package.json
  servers/image-api/package.json
  servers/list-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
  servers/user-api/package.json
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(deps): revert keyv until apollo updates
  pnpm-lock.yaml
  servers/image-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(stripe): updating stripe api
  pnpm-lock.yaml
  servers/account-data-deleter/src/config/index.ts
  servers/image-api/package.json
  servers/parser-graphql-wrapper/package.json
  servers/shareable-lists-api/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: tweak timing of delay queue and vis timeout
  infrastructure/user-list-search/sqs.tf
Due: user_list_search

feat(sagemaker): moving sagemake to a seperate module
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/BUILD.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/LICENSE
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/async_inference/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/async_inference/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/autoscaling_example/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/autoscaling_example/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_from_hub/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_from_hub/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_from_s3/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_from_s3/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_private_model/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_private_model/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/serverless_inference/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/serverless_inference/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/tensorflow_example/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/tensorflow_example/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/use_existing_iam_role/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/use_existing_iam_role/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/outputs.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/variables.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/versions.tf
  infrastructure/user-list-search/corpus-embeddings/sagemaker.tf
Due: user_list_search

feat(sagemaker): moving sagemake to a seperate module (#715)
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/BUILD.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/LICENSE
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/async_inference/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/async_inference/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/autoscaling_example/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/autoscaling_example/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_from_hub/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_from_hub/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_from_s3/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_from_s3/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_private_model/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/deploy_private_model/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/serverless_inference/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/serverless_inference/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/tensorflow_example/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/tensorflow_example/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/use_existing_iam_role/README.md
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/examples/use_existing_iam_role/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/main.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/outputs.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/variables.tf
  infrastructure/user-list-search/corpus-embeddings/modules/sagemaker/versions.tf
  infrastructure/user-list-search/corpus-embeddings/sagemaker.tf
Due: user_list_search

feat(search): semantic search infrastructure and ingest (#714)
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/corpus-embeddings/.gitignore
  infrastructure/user-list-search/corpus-embeddings/.terraform-version
  infrastructure/user-list-search/corpus-embeddings/README.md
  infrastructure/user-list-search/corpus-embeddings/backend.tf
  infrastructure/user-list-search/corpus-embeddings/dev_backend.tfvars
  infrastructure/user-list-search/corpus-embeddings/index.js
  infrastructure/user-list-search/corpus-embeddings/locals.tf
  infrastructure/user-list-search/corpus-embeddings/main.tf
  infrastructure/user-list-search/corpus-embeddings/opensearch.tf
  infrastructure/user-list-search/corpus-embeddings/outputs.tf
  infrastructure/user-list-search/corpus-embeddings/sagemaker.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/corpus_events_hydration_consumer.tf
  infrastructure/user-list-search/ecs_iam.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/main.tf
  infrastructure/user-list-search/sqs.tf
  lambdas/user-list-search-corpus-indexing/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/embeddingsRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore(deps): removing types-graphql
  pnpm-lock.yaml
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(tests): making sure tests run on compose changes
  .github/workflows/account-data-deleter.yml
  .github/workflows/account-delete-monitor.yml
  .github/workflows/annotations-api.yml
  .github/workflows/braze-content-proxy.yml
  .github/workflows/braze.yml
  .github/workflows/client-api.yml
  .github/workflows/feature-flags.yml
  .github/workflows/fxa-webhook-proxy.yml
  .github/workflows/image-api.yml
  .github/workflows/instant-sync-events.yml
  .github/workflows/list-api.yml
  .github/workflows/parser-graphql-wrapper.yml
  .github/workflows/pocket-event-bridge.yml
  .github/workflows/push-server.yml
  .github/workflows/sendgrid-data.yml
  .github/workflows/shareable-lists-api.yml
  .github/workflows/shared-snowplow-consumer.yml
  .github/workflows/shares-api.yml
  .github/workflows/transactional-emails.yml
  .github/workflows/user-api.yml
  .github/workflows/user-list-search.yml
  .github/workflows/v3-proxy-api.yml
Due: none

fix(secrets): add lambda secret layer
  infrastructure/fxa-webhook-proxy/src/sqsLambda.ts
Due: none

chore(deps): removing types-graphql (#716)
  pnpm-lock.yaml
  servers/user-list-search/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(secrets): add lambda secret layer (#718)
  infrastructure/fxa-webhook-proxy/src/sqsLambda.ts
Due: none

fix(infra): remove double ecs task deployment
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/index.js.zip
Due: user_list_search

fix: more delays if throttled
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-corpus-parser-hydration/src/embeddingsRequest.ts
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(search): corpus search backfill script
  .gitignore
  scripts/explore-corpus-backfill/backfill-corpus.ipynb
Due: none

chore(search): update os instance types
  infrastructure/user-list-search/corpus-embeddings/locals.tf
  infrastructure/user-list-search/corpus-embeddings/prod_backend.tfvars
Due: user_list_search

feat(search): corpus search backfill pipeline (#719)
  .gitignore
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-corpus-parser-hydration/src/embeddingsRequest.ts
  pnpm-lock.yaml
  scripts/explore-corpus-backfill/backfill-corpus.ipynb
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: formatting
  .gitignore
  infrastructure/user-list-search/corpus-embeddings/.gitignore
  infrastructure/user-list-search/corpus-embeddings/backend.tf
  infrastructure/user-list-search/corpus-embeddings/dev_backend.tfvars
  infrastructure/user-list-search/corpus-embeddings/index.js
  infrastructure/user-list-search/corpus-embeddings/main.tf
  infrastructure/user-list-search/corpus-embeddings/opensearch.tf
  infrastructure/user-list-search/corpus-embeddings/outputs.tf
  infrastructure/user-list-search/corpus-embeddings/prod_backend.tfvars
  infrastructure/user-list-search/main.tf
Due: user_list_search

feat(search): cutover to corpus search cluster
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/corpus/keywordSearch.ts
  servers/user-list-search/src/datasource/clients/openSearch.ts
Due: user_list_search

chore: regenerate lockfile
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

chore: fix mismatches
  lambdas/user-list-search-corpus-parser-hydration/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix: update terraform vars
  infrastructure/user-list-search/corpus-embeddings/backend.tf
  infrastructure/user-list-search/corpus-embeddings/dev_backend.tfvars
  infrastructure/user-list-search/corpus-embeddings/locals.tf
  infrastructure/user-list-search/corpus-embeddings/prod_backend.tfvars
  infrastructure/user-list-search/corpus-embeddings/variables.tf
  infrastructure/user-list-search/main.tf
Due: user_list_search

chore: fix ts error on startServer return
  servers/braze-content-proxy/src/server.ts
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

feature(search): corpus search infrastructure, backfill, and ingest pipeline (#720)
  .docker/aws-resources/elasticsearch/esindex_corpus_de.json
  .docker/aws-resources/elasticsearch/esindex_corpus_en.json
  .docker/aws-resources/elasticsearch/esindex_corpus_es.json
  .docker/aws-resources/elasticsearch/esindex_corpus_fr.json
  .docker/aws-resources/elasticsearch/esindex_corpus_it.json
  .gitignore
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/user-list-search/corpus-embeddings/.gitignore
  infrastructure/user-list-search/corpus-embeddings/.terraform-version
  infrastructure/user-list-search/corpus-embeddings/README.md
  infrastructure/user-list-search/corpus-embeddings/locals.tf
  infrastructure/user-list-search/corpus-embeddings/main.tf
  infrastructure/user-list-search/corpus-embeddings/opensearch.tf
  infrastructure/user-list-search/corpus-embeddings/outputs.tf
  infrastructure/user-list-search/corpus-embeddings/sagemaker.tf
  infrastructure/user-list-search/corpus-embeddings/variables.tf
  infrastructure/user-list-search/corpus_events_consumer.tf
  infrastructure/user-list-search/corpus_events_hydration_consumer.tf
  infrastructure/user-list-search/ecs_iam.tf
  infrastructure/user-list-search/index.js.zip
  infrastructure/user-list-search/locals.tf
  infrastructure/user-list-search/main.tf
  infrastructure/user-list-search/sqs.tf
  lambdas/user-list-search-corpus-indexing/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/package.json
  lambdas/user-list-search-corpus-parser-hydration/src/config.ts
  lambdas/user-list-search-corpus-parser-hydration/src/embeddingsRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.integration.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
  lambdas/user-list-search-corpus-parser-hydration/src/types.ts
  pnpm-lock.yaml
  scripts/explore-corpus-backfill/backfill-corpus.ipynb
  servers/braze-content-proxy/src/server.ts
  servers/v3-proxy-api/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(logging): do not use data key
  lambdas/user-list-search-corpus-parser-hydration/src/bulkIndex.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
Due: user_list_search

fix(logging): do not use data key (#722)
  lambdas/user-list-search-corpus-parser-hydration/src/bulkIndex.ts
  lambdas/user-list-search-corpus-parser-hydration/src/index.ts
  lambdas/user-list-search-corpus-parser-hydration/src/parserRequest.ts
Due: user_list_search

fix(search): add event bus permissions
  infrastructure/user-list-search/elasticsearch.tf
  infrastructure/user-list-search/main.tf
Due: user_list_search

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
