Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

fix(infra): adding in parser base endpoint
  infrastructure/parser-graphql-wrapper/src/main.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
Due: parser_graphql_wrapper

fix(dev): making dev deploy on 2 services
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
Due: shared_snowplow_consumer, account_data_deleter

fix(parser): updating path variables
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

chore(parser): move the parser to a non serverless setup in prod
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

chore(parser): move the parser to a non serverless setup in prod (#487)
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

use node-fetch with backoff and abort signal
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.spec.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

mark required input in constructor
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
Due: parser_graphql_wrapper

chore(parser): clean up the old parser serverless cache
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

delete extraneous file
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.spec.ts
Due: parser_graphql_wrapper

fix(parser): removing duplicate secret
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

fix(parser): removing duplicate secret (#489)
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper

fix(cache): adding in a cache key prefix
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/parser-graphql-wrapper/src/dataLoaders/itemLoader.ts
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.ts
  servers/parser-graphql-wrapper/src/test/queries/referenceResolver.integration.ts
Due: parser_graphql_wrapper

fix(parser): parsing the int value correctly
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.ts
Due: parser_graphql_wrapper

fix(parser): parsing the int value correctly (#491)
  servers/parser-graphql-wrapper/src/datasources/parserApiUtils.ts
Due: parser_graphql_wrapper

chore(keysly): adding in initial keysly config
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/datasources/mysql.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix: change url scalar name to be compatible with mobile libs
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/test/queries.ts
Due: parser_graphql_wrapper

fix: allow nullish title to pass validation but ignore
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

copy graphql URL scalar into apollo-utils
  packages/apollo-utils/src/index.ts
  packages/apollo-utils/src/scalars/ValidUrlScalar.ts
  packages/apollo-utils/src/scalars/index.ts
  packages/apollo-utils/src/scalars/isoStringScalar.integration.spec.ts
  packages/apollo-utils/src/scalars/isoStringScalar.spec.ts
  packages/apollo-utils/src/scalars/isoStringScalar.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/shares-api/schema.graphql
  servers/shares-api/src/apollo/resolvers.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix: change url scalar name to be compatible with mobile libs (#492)
  packages/apollo-utils/src/index.ts
  packages/apollo-utils/src/scalars/ValidUrlScalar.ts
  packages/apollo-utils/src/scalars/index.ts
  packages/apollo-utils/src/scalars/isoStringScalar.integration.spec.ts
  packages/apollo-utils/src/scalars/isoStringScalar.spec.ts
  packages/apollo-utils/src/scalars/isoStringScalar.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/test/queries.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  6a7d9ed2212bf13bc9cbb21f2995dae50c13a5c2
Due: none

Revert "fix: change url scalar name to be compatible with mobile libs (#492)"
  packages/apollo-utils/src/index.ts
  packages/apollo-utils/src/isoStringScalar/isoStringScalar.integration.spec.ts
  packages/apollo-utils/src/isoStringScalar/isoStringScalar.spec.ts
  packages/apollo-utils/src/isoStringScalar/isoStringScalar.ts
  packages/apollo-utils/src/scalars/ValidUrlScalar.ts
  packages/apollo-utils/src/scalars/index.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/test/queries.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Revert "fix: change url scalar name to be compatible with mobile libs (#492)" (#495)
  packages/apollo-utils/src/index.ts
  packages/apollo-utils/src/isoStringScalar/isoStringScalar.integration.spec.ts
  packages/apollo-utils/src/isoStringScalar/isoStringScalar.spec.ts
  packages/apollo-utils/src/isoStringScalar/isoStringScalar.ts
  packages/apollo-utils/src/scalars/ValidUrlScalar.ts
  packages/apollo-utils/src/scalars/index.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/test/queries.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  353cfd56187abc58765f51248bcefd61cf5042c5
Due: none

remove PocketShare prior to updating
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

lint
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

chore: remove PocketShare prior to updating (#498)
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

Revert "Revert "fix: change url scalar name to be compatible with mobile libs (#492)" (#495)"
  packages/apollo-utils/src/index.ts
  packages/apollo-utils/src/scalars/ValidUrlScalar.ts
  packages/apollo-utils/src/scalars/index.ts
  packages/apollo-utils/src/scalars/isoStringScalar.integration.spec.ts
  packages/apollo-utils/src/scalars/isoStringScalar.spec.ts
  packages/apollo-utils/src/scalars/isoStringScalar.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/test/queries.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix: url scalar name (#496)
  packages/apollo-utils/src/index.ts
  packages/apollo-utils/src/scalars/ValidUrlScalar.ts
  packages/apollo-utils/src/scalars/index.ts
  packages/apollo-utils/src/scalars/isoStringScalar.integration.spec.ts
  packages/apollo-utils/src/scalars/isoStringScalar.spec.ts
  packages/apollo-utils/src/scalars/isoStringScalar.ts
  pnpm-lock.yaml
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
  servers/shares-api/schema.graphql
  servers/shares-api/src/__generated__/types.ts
  servers/shares-api/src/apollo/resolvers.ts
  servers/shares-api/src/test/queries.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  8d5ac605aa1f1f401daf439d2cdc24075021805a
Due: none

add back ValidUrl type change to parser
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

add back ValidUrl type change to parser (#500)
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/apollo/resolvers.ts
Due: parser_graphql_wrapper

fix: allow nullish title to pass validation but ignore (#493)
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
Due: v3_proxy_api

fix(ids): updating id logic to use a hash
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/parser-graphql-wrapper/src/readerView/idUtils.spec.ts
  servers/parser-graphql-wrapper/src/readerView/idUtils.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/test/utils/parserResponse.ts
Due: parser_graphql_wrapper

fix(ids): updating id logic to use a hash (#497)
  servers/parser-graphql-wrapper/schema.graphql
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
  servers/parser-graphql-wrapper/src/datasources/ParserAPI.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.spec.ts
  servers/parser-graphql-wrapper/src/models/SSMLModel.spec.ts
  servers/parser-graphql-wrapper/src/readerView/idUtils.spec.ts
  servers/parser-graphql-wrapper/src/readerView/idUtils.ts
  servers/parser-graphql-wrapper/src/readerView/index.ts
  servers/parser-graphql-wrapper/src/test/queries/preview.integration.ts
  servers/parser-graphql-wrapper/src/test/queries/readerViewResult.integration.ts
  servers/parser-graphql-wrapper/src/test/utils/parserResponse.ts
Due: parser_graphql_wrapper
