Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(accessToken): make the access token optional to allow for cookie auth
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/validations/AddSchema.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
Due: v3_proxy_api

fix(accessToken): make the access token optional to allow for cookie auth (#786)
  servers/v3-proxy-api/src/routes/v3Add.integration.ts
  servers/v3-proxy-api/src/routes/validations/AddSchema.ts
  servers/v3-proxy-api/src/routes/validations/FetchSchema.ts
Due: v3_proxy_api

Notes added by 'git notes add'
  c710e1de27e3bdb4cff11d228152afb246762f6a
Due: none

feat(sentry): add dynamic tracing config to several services
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/corpus/CorpusSearchModel.ts
  servers/user-list-search/src/datasource/clients/unleash.ts
  servers/user-list-search/src/main.ts
  servers/user-list-search/src/server/serverUtils.ts
Due: parser_graphql_wrapper, list_api, user_list_search

feat(sentry): add dynamic tracing config to several services (#787)
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/corpus/CorpusSearchModel.ts
  servers/user-list-search/src/datasource/clients/unleash.ts
  servers/user-list-search/src/main.ts
  servers/user-list-search/src/server/serverUtils.ts
Due: parser_graphql_wrapper, list_api, user_list_search

fix(v3): adding in sentry sampler to v3 proxy
  infrastructure/v3-proxy-api/src/main.ts
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/unleash.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(v3): adding in sentry sampler to v3 proxy (#788)
  infrastructure/v3-proxy-api/src/main.ts
  pnpm-lock.yaml
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/main.ts
  servers/v3-proxy-api/src/unleash.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(ssm): adding in v3 proxy shared ssm access
  infrastructure/v3-proxy-api/src/main.ts
Due: v3_proxy_api

fix(ssm): adding in v3 proxy shared ssm access (#789)
  infrastructure/v3-proxy-api/src/main.ts
Due: v3_proxy_api

fix(sentry): unset api id if it doesnt exist (#784)
  packages/apollo-utils/src/sentry/expressSentryMiddleware.ts
  servers/v3-proxy-api/src/middleware/sentryTagHandler.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  256ac81ab4b573d8d9bb965a4857ac45f8d31c00
Due: none

fix(flags): remove name prefix from unleash client
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/unleash.ts
  servers/list-api/src/featureFlags/client.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/unleash.ts
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/clients/unleash.ts
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/unleash.ts
Due: parser_graphql_wrapper, list_api, account_data_deleter, user_list_search, v3_proxy_api

fix(flags): remove name prefix from unleash client (#790)
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/unleash.ts
  servers/list-api/src/featureFlags/client.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/unleash.ts
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/datasource/clients/unleash.ts
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/unleash.ts
Due: parser_graphql_wrapper, list_api, account_data_deleter, user_list_search, v3_proxy_api

fix(tracing): propagate sentry headers manually in v3proxy
  servers/client-api/config/router.yaml
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Due: client_api, v3_proxy_api

fix(tracing): propagate sentry headers manually in v3proxy (#791)
  servers/client-api/config/router.yaml
  servers/v3-proxy-api/src/graph/graphQLClient.ts
Due: client_api, v3_proxy_api

fix(v3proxy): merge querystring and body params
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: v3_proxy_api

fix(v3proxy): merge querystring and body params (#792)
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
Due: v3_proxy_api

fix(v3proxy): state default to unread
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

fix(v3proxy): look in both body and qs for all endpoints
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
Due: v3_proxy_api

fix(v3proxy): look in both body and qs for all endpoints (#795)
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/v3Fetch.integration.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
Due: v3_proxy_api

fix(otel): adding in otel propogation
  infrastructure/user-api/src/main.ts
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.ts
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/package.json
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
  servers/user-api/src/unleash.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(otel): moving to the otel
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/v3-proxy-api/src/main.ts
Due: parser_graphql_wrapper, user_api, list_api, client_api, user_list_search, v3_proxy_api

Notes added by 'git notes add'
  f4f85f1fd70e60aa8c929e629faf85c1e361ce32
Due: none

fix(otel): send otel to gcp
  infrastructure/client-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  packages/tracing/src/tracing.ts
  servers/client-api/config/router.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(keys): import full key
  infrastructure/client-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper, client_api

fix(secret): moving to a secret without -
  infrastructure/client-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper, client_api

fix(otel): building a simple custom otel container
  docker-compose.yml
  images/otel/Dockerfile
  images/otel/entrypont.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper, client_api

fix(tracing): ignore well-known
  docker-compose.yml
  images/otel/otel-collector-config.yaml
Due: none

fix(tracing): ignore well-known
  images/otel/otel-collector-config.yaml
  packages/tracing/src/tracing.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(otel): updating metric exporter
  images/otel/otel-collector-config.yaml
  packages/tracing/src/tracing.ts
  servers/client-api/config/router.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(costs): adding in query costs
  images/otel/otel-collector-config.yaml
  servers/client-api/config/router.yaml
Due: client_api

fix(otel): adding in new otel exporter to all
  infrastructure/list-api/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/main.ts
  servers/list-api/src/server/main.ts
Due: user_api, list_api, user_list_search, v3_proxy_api

fix(docker): adding in docker image building
  .github/workflows/docker-images.yml
  images/otel/Dockerfile
  images/otel/entrypoint.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/v3-proxy-api/src/main.ts
Due: parser_graphql_wrapper, user_api, list_api, client_api, user_list_search, v3_proxy_api

feat(otel): adding in basic tracing via otel (#794)
  .github/workflows/docker-images.yml
  docker-compose.yml
  images/otel/Dockerfile
  images/otel/entrypoint.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/main.ts
  package.json
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/README.md
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/package.json
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
  servers/user-api/src/unleash.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  9e5cd939e7bbea631f7822abd90fcfa40ff3c312
Due: none

Revert "feat(otel): adding in basic tracing via otel (#794)"
  .github/workflows/docker-images.yml
  docker-compose.yml
  images/otel/Dockerfile
  images/otel/entrypoint.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/main.ts
  package.json
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/README.md
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/package.json
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
  servers/user-api/src/unleash.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Revert "feat(otel): adding in basic tracing via otel (#794)" (#797)
  .github/workflows/docker-images.yml
  docker-compose.yml
  images/otel/Dockerfile
  images/otel/entrypoint.sh
  images/otel/otel-collector-config.yaml
  infrastructure/client-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/ecs.tf
  infrastructure/user-list-search/locals.tf
  infrastructure/v3-proxy-api/src/main.ts
  package.json
  packages/feature-flags-client/package.json
  packages/feature-flags-client/src/index.ts
  packages/sentry/src/initSentry.ts
  packages/tracing/README.md
  packages/tracing/package.json
  packages/tracing/src/tracing.ts
  pnpm-lock.yaml
  servers/client-api/config/router.yaml
  servers/list-api/package.json
  servers/list-api/src/config/index.ts
  servers/list-api/src/server/main.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/parser-graphql-wrapper/src/main.ts
  servers/user-api/package.json
  servers/user-api/src/config/index.ts
  servers/user-api/src/main.ts
  servers/user-api/src/unleash.ts
  servers/user-list-search/package.json
  servers/user-list-search/src/config/index.ts
  servers/user-list-search/src/main.ts
  servers/v3-proxy-api/package.json
  servers/v3-proxy-api/src/config/index.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/main.ts
  turbo.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
