Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

fix(since): truncate decimal based since values
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

feat(snowplow): adding in snowplow session id to list api
  servers/list-api/src/businessEvents/snowplowHandler.ts
  servers/list-api/src/businessEvents/types.ts
  servers/list-api/src/server/context.ts
Due: list_api

feat(snowplow): adding in the user id
  servers/list-api/src/businessEvents/snowplowHandler.ts
Due: list_api

fix(scale): bump up the scaling of our main services to increase stability
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/v3-proxy-api/src/main.ts
Due: parser_graphql_wrapper, list_api, v3_proxy_api

fix(scale): bump up the scaling of our main services to increase stability (#653)
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/v3-proxy-api/src/main.ts
Due: parser_graphql_wrapper, list_api, v3_proxy_api

fix: ensure since is not < 0
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

feat(auth:search): use directive-based authZ rules for search (#639)
  servers/client-api/rhai/claims_forwarding.rhai
  servers/client-api/rhai/format_policies.rhai
  servers/client-api/rhai/format_scopes.rhai
  servers/client-api/rhai/main.rhai
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/server/context.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
Due: client_api, user_list_search, v3_proxy_api

Revert "feat(auth:search): use directive-based authZ rules for search (#639)"
  servers/client-api/rhai/claims_forwarding.rhai
  servers/client-api/rhai/format_policies.rhai
  servers/client-api/rhai/format_scopes.rhai
  servers/client-api/rhai/main.rhai
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/server/context.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
Due: client_api, user_list_search, v3_proxy_api

Revert "feat(auth:search): use directive-based authZ rules for search (#639)" (#654)
  servers/client-api/rhai/claims_forwarding.rhai
  servers/client-api/rhai/format_policies.rhai
  servers/client-api/rhai/format_scopes.rhai
  servers/client-api/rhai/main.rhai
  servers/user-list-search/schema.graphql
  servers/user-list-search/src/server/context.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
Due: client_api, user_list_search, v3_proxy_api

fix(since): truncate decimal based since values (#651)
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
Due: v3_proxy_api

feat(router): propagate snowplow domain session id
  servers/client-api/config/router.yaml
Due: client_api

feat(snowplow): adding in snowplow session & userid to list-api (#652)
  servers/client-api/config/router.yaml
  servers/list-api/src/businessEvents/snowplowHandler.ts
  servers/list-api/src/businessEvents/types.ts
  servers/list-api/src/server/context.ts
Due: list_api, client_api

chore: update test headers
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
Due: user_list_search

feat(search:auth): enable logged-out corpus search
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/context.ts
Due: user_list_search

feat(search:auth): enable logged-out corpus search (#655)
  servers/user-list-search/src/corpus/keywordSearch.integration.ts
  servers/user-list-search/src/resolvers.ts
  servers/user-list-search/src/server/context.ts
Due: user_list_search

fix(v3proxy): bump request size limit and add logging
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

fix(v3proxy): bump request size limit and add logging (#656)
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

fix(v3proxy): bump request size limit
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

fix(v3proxy): bump request size limit (#657)
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

fix(v3proxy): handle undefined error data
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/tsconfig.json
Due: v3_proxy_api

fix(v3proxy): handle undefined error data (#658)
  servers/v3-proxy-api/src/graph/get/toRest.ts
  servers/v3-proxy-api/src/middleware/errorHandlers.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Get.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/GetSchema.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/tsconfig.json
Due: v3_proxy_api

fix(node): update node
  .circleci/header.yml
Due: none

fix(node): bumping package json node
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(build): build error fixes
  pnpm-lock.yaml
  servers/list-api/src/dataService/savedItemsService.ts
  servers/parser-graphql-wrapper/package.json
  servers/parser-graphql-wrapper/src/__generated__/resolvers-types.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(revert): pnpm rever to 9.1.4, something is weird with turbo repo and filters
  .circleci/common.yml
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(scaling): bump the memory of list api
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
Due: parser_graphql_wrapper, list_api

fix(mismatch): updating mismatches
  package.json
  packages/tsconfig/package.json
  servers/parser-graphql-wrapper/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  0884e71a7bf715715bb1896fe2b0be65ead43808
Due: none

fix(sampling): lowering our sampling ratio
  packages/tracing/src/tracing.ts
  servers/list-api/src/config/index.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/shared-snowplow-consumer/src/config/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(sampling): lowering our sampling ratio (#662)
  packages/tracing/src/tracing.ts
  servers/list-api/src/config/index.ts
  servers/parser-graphql-wrapper/src/config/index.ts
  servers/shared-snowplow-consumer/src/config/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(send): ensuring a send add resposne returns items not nested
  servers/v3-proxy-api/src/graph/add/toRest.ts
  servers/v3-proxy-api/src/graph/types.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
  servers/v3-proxy-api/src/test/fixtures/add.ts
Due: v3_proxy_api

Notes added by 'git notes add'
  e410f0f24b9a5afbd53580441ba5a1cc24f15113
Due: none
