Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)

fix(ci): ensuring ci deploys
  .circleci/common.yml
  .circleci/config.yml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(smithy): pin smithy
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(jq-aws): fixing a jq & aws update (#311)
  .circleci/common.yml
  .circleci/config.yml
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(aws): ensuring aws consistency
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Update docker-compose.yml
  docker-compose.yml
Due: none

feat(esm): moving library config to esm
  packages/tsconfig/base.json
  packages/tsconfig/cdktf.json
  packages/tsconfig/graphql.json
  packages/tsconfig/lambda.json
  packages/tsconfig/library.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(terraform-modules): moving tf modules to esm
  packages/terraform-modules/package.json
  packages/terraform-modules/src/base/ApplicationAutoscaling.spec.ts
  packages/terraform-modules/src/base/ApplicationBackups.spec.ts
  packages/terraform-modules/src/base/ApplicationBaseDNS.spec.ts
  packages/terraform-modules/src/base/ApplicationBaseDNS.ts
  packages/terraform-modules/src/base/ApplicationCertificate.spec.ts
  packages/terraform-modules/src/base/ApplicationECR.spec.ts
  packages/terraform-modules/src/base/ApplicationECSAlbCodeDeploy.spec.ts
  packages/terraform-modules/src/base/ApplicationECSCluster.spec.ts
  packages/terraform-modules/src/base/ApplicationECSIAM.spec.ts
  packages/terraform-modules/src/base/ApplicationECSService.ts
  packages/terraform-modules/src/base/ApplicationLambdaSnsTopicSubscription.spec.ts
  packages/terraform-modules/src/base/ApplicationLoadBalancer.spec.ts
  packages/terraform-modules/src/base/ApplicationMemcache.spec.ts
  packages/terraform-modules/src/base/ApplicationMemcache.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.spec.ts
  packages/terraform-modules/src/base/ApplicationRedis.spec.ts
  packages/terraform-modules/src/base/ApplicationRedis.ts
  packages/terraform-modules/src/base/ApplicationServerlessRedis.ts
  packages/terraform-modules/src/base/ApplicationSqsSnsTopicSubscription.spec.ts
  packages/terraform-modules/src/base/ApplicationTargetGroup.spec.ts
  packages/terraform-modules/src/example.ts
  packages/terraform-modules/src/index.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
  packages/terraform-modules/src/pocket/PocketApiGatewayLambdaIntegration.spec.ts
  packages/terraform-modules/src/pocket/PocketApiGatewayLambdaIntegration.ts
  packages/terraform-modules/src/pocket/PocketECSApplication.ts
  packages/terraform-modules/src/pocket/PocketEventBridgeRuleWithMultipleTargets.spec.ts
  packages/terraform-modules/src/pocket/PocketEventBridgeRuleWithMultipleTargets.ts
  packages/terraform-modules/src/pocket/PocketEventBridgeWithLambdaTarget.spec.ts
  packages/terraform-modules/src/pocket/PocketEventBridgeWithLambdaTarget.ts
  packages/terraform-modules/src/pocket/PocketPagerDuty.spec.ts
  packages/terraform-modules/src/pocket/PocketSQSWithLambdaTarget.spec.ts
  packages/terraform-modules/src/pocket/PocketSQSWithLambdaTarget.ts
  packages/terraform-modules/src/pocket/PocketSynthetics.spec.ts
  packages/terraform-modules/src/pocket/PocketVPC.spec.ts
  packages/terraform-modules/src/pocket/PocketVersionedLambda.spec.ts
  packages/terraform-modules/src/pocket/PocketVersionedLambda.ts
  packages/terraform-modules/src/utilities.jest.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(messages): changing empty message check
  servers/list-api/src/test/graphql/mutations/savedItemsMutationService-upsert.integration.ts
Due: list_api

feat(terraform-modules): moving tf modules to esm
  packages/terraform-modules/jest.config.js
  packages/terraform-modules/package.json
  packages/terraform-modules/src/pocket/PocketVPC.spec.ts
  packages/terraform-modules/tsconfig.json
  packages/tsconfig/cdktf.json
  packages/tsconfig/library-esm.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(aws): ensuring aws consistency (#313)
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  3be75900f1e4b9895567095d8d8447d57034f558
Due: none

feat(terraform-modules): cleaning up tests in tf modules
  packages/terraform-modules/src/base/ApplicationAutoscaling.spec.ts
  packages/terraform-modules/src/base/ApplicationBackups.spec.ts
  packages/terraform-modules/src/base/ApplicationBaseDNS.spec.ts
  packages/terraform-modules/src/base/ApplicationBaseDNS.ts
  packages/terraform-modules/src/base/ApplicationCertificate.spec.ts
  packages/terraform-modules/src/base/ApplicationECR.spec.ts
  packages/terraform-modules/src/base/ApplicationECSAlbCodeDeploy.spec.ts
  packages/terraform-modules/src/base/ApplicationECSCluster.spec.ts
  packages/terraform-modules/src/base/ApplicationECSIAM.spec.ts
  packages/terraform-modules/src/base/ApplicationLambdaSnsTopicSubscription.spec.ts
  packages/terraform-modules/src/base/ApplicationLoadBalancer.spec.ts
  packages/terraform-modules/src/base/ApplicationMemcache.spec.ts
  packages/terraform-modules/src/base/ApplicationRDSCluster.spec.ts
  packages/terraform-modules/src/base/ApplicationRedis.spec.ts
  packages/terraform-modules/src/base/ApplicationSqsSnsTopicSubscription.spec.ts
  packages/terraform-modules/src/base/ApplicationTargetGroup.spec.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
  packages/terraform-modules/src/pocket/PocketApiGatewayLambdaIntegration.spec.ts
  packages/terraform-modules/src/pocket/PocketApiGatewayLambdaIntegration.ts
  packages/terraform-modules/src/pocket/PocketECSApplication.ts
  packages/terraform-modules/src/pocket/PocketEventBridgeWithLambdaTarget.spec.ts
  packages/terraform-modules/src/pocket/PocketPagerDuty.spec.ts
  packages/terraform-modules/src/pocket/PocketSQSWithLambdaTarget.spec.ts
  packages/terraform-modules/src/pocket/PocketSQSWithLambdaTarget.ts
  packages/terraform-modules/src/pocket/PocketSynthetics.spec.ts
  packages/terraform-modules/src/pocket/PocketVPC.spec.ts
  packages/terraform-modules/src/pocket/PocketVersionedLambda.spec.ts
  packages/terraform-modules/src/utilities.jest.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(logs): adding in error logging (#310)
  servers/list-api/src/businessEvents/sqs/sqsListener.ts
  servers/list-api/src/businessEvents/unifiedEventKinesisHandler.ts
Due: list_api

fix(esm): moving account data deleter to esm
  infrastructure/account-data-deleter/.eslintrc.js
  infrastructure/account-data-deleter/.eslintrc.json
  infrastructure/account-data-deleter/package.json
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/account-data-deleter/src/lambda/base/sqsLambda.ts
  infrastructure/account-data-deleter/src/lambda/batchDeleteLambdaResources.ts
  infrastructure/account-data-deleter/src/lambda/eventLambda.ts
  infrastructure/account-data-deleter/src/main.ts
  infrastructure/account-delete-monitor/.eslintrc.js
  infrastructure/account-delete-monitor/.eslintrc.json
  infrastructure/account-delete-monitor/tsconfig.json
  packages/tsconfig/cdktf-esm.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(imports): updating imports for account-delete-monitor
  infrastructure/account-delete-monitor/src/main.ts
  infrastructure/account-delete-monitor/src/sqsEventLambda.ts
Due: account_delete_monitor

feat(v3proxy): set up send validations
  servers/v3-proxy-api/src/errors/InputValidationError.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
  servers/v3-proxy-api/src/routes/validations/sendValidators.spec.ts
Due: v3_proxy_api

incorporate code into routes
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
  servers/v3-proxy-api/src/routes/validations/index.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

lint
  servers/v3-proxy-api/src/routes/v3Send.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
Due: v3_proxy_api

Notes added by 'git notes add'
  61f3ee61bb8abd03d283b07617368dde4c100a81
Due: none

feat(v3proxy): v3/send validator and route setup (#318)
  servers/v3-proxy-api/src/errors/InputValidationError.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/v3Fetch.ts
  servers/v3-proxy-api/src/routes/v3Get.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
  servers/v3-proxy-api/src/routes/validations/index.ts
  servers/v3-proxy-api/src/routes/validations/sendActionValidators.spec.ts
  servers/v3-proxy-api/src/server.ts
Due: v3_proxy_api

Notes added by 'git notes add'
  7590ef0c106d6ff2aca68ba410b9d654f1829c53
Due: none

fix(ecs): ensuring ecs task def doesnt always change
  packages/terraform-modules/src/base/ApplicationECSContainerDefinition.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationECSService.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketECSApplication.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(output): adding in terraform outputs
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  packages/terraform-modules/src/base/ApplicationECSService.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(ecs): making ecs use tf outputs
  .circleci/account-delete-monitor.yml
  .circleci/braze.yml
  .circleci/common.yml
  .circleci/fxa-webhook-proxy.yml
  .circleci/pocket-event-bridge.yml
  .circleci/push-server.yml
  .circleci/sendgrid-data.yml
  .circleci/transactional-emails.yml
  .circleci/user-list-search.yml
  infrastructure/v3-proxy-api/src/main.ts
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(port): ensuring port is expanded
  .circleci/common.yml
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/push-server/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/user-api/src/main.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(aws): manually triggering codedeploy orb
  .circleci/common.yml
  .circleci/config.yml
  .circleci/scripts/update_bluegreen_service_via_task_def.sh
  packages/terraform-modules/src/base/ApplicationECSAlbCodeDeploy.ts
  packages/terraform-modules/src/base/ApplicationECSService.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationECSAlbCodeDeploy.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(v3proxy/send): implement add/readd
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

fix(services): updating all service ci
  .circleci/account-data-deleter.yml
  .circleci/annotations-api.yml
  .circleci/client-api.yml
  .circleci/common.yml
  .circleci/config.yml
  .circleci/feature-flags.yml
  .circleci/image-api.yml
  .circleci/list-api.yml
  .circleci/parser-graphql-wrapper.yml
  .circleci/scripts/update_bluegreen_service_via_task_def.sh
  .circleci/shareable-lists-api.yml
  .circleci/shared-snowplow-consumer.yml
  .circleci/user-api.yml
  .circleci/user-list-search.yml
  .circleci/v3-proxy-api.yml
  infrastructure/user-list-search/apollo_codedeploy.tf
  infrastructure/user-list-search/apollo_ecs.tf
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(v3proxy/send): implement add/readd (#325)
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Add.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/v3Send.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

fix(ecs): ensuring ecs task def doesnt always change (#322)
  packages/terraform-modules/src/base/ApplicationECSContainerDefinition.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationECSService.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
  packages/terraform-modules/src/pocket/__snapshots__/PocketECSApplication.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  214bf0b9f6896eadd58bf9c8c7df260d4405e244
Due: none

fix(ecs): switch ECS to use new Task Def from CodeDeploy (#324)
  .circleci/account-data-deleter.yml
  .circleci/account-delete-monitor.yml
  .circleci/annotations-api.yml
  .circleci/braze.yml
  .circleci/client-api.yml
  .circleci/common.yml
  .circleci/feature-flags.yml
  .circleci/fxa-webhook-proxy.yml
  .circleci/image-api.yml
  .circleci/list-api.yml
  .circleci/parser-graphql-wrapper.yml
  .circleci/pocket-event-bridge.yml
  .circleci/push-server.yml
  .circleci/scripts/update_bluegreen_service_via_task_def.sh
  .circleci/sendgrid-data.yml
  .circleci/shareable-lists-api.yml
  .circleci/shared-snowplow-consumer.yml
  .circleci/transactional-emails.yml
  .circleci/user-api.yml
  .circleci/user-list-search.yml
  .circleci/v3-proxy-api.yml
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/push-server/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/apollo_codedeploy.tf
  infrastructure/user-list-search/apollo_ecs.tf
  infrastructure/v3-proxy-api/src/main.ts
  packages/terraform-modules/src/base/ApplicationECSAlbCodeDeploy.ts
  packages/terraform-modules/src/base/ApplicationECSService.ts
  packages/terraform-modules/src/base/__snapshots__/ApplicationECSAlbCodeDeploy.spec.ts.snap
  packages/terraform-modules/src/pocket/PocketALBApplication.ts
  packages/terraform-modules/src/pocket/__snapshots__/PocketALBApplication.spec.ts.snap
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  2d3bcd4106544ff550a44510ca8ff2f3966f1ef3
Due: none

feat(v3proxy-send): add item property actions to v3/send
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/shared/utils.ts
  servers/v3-proxy-api/src/graphql/mutations/archiveSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/deleteSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/favoriteSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/saveArchive.graphql
  servers/v3-proxy-api/src/graphql/mutations/saveFavorite.graphql
  servers/v3-proxy-api/src/graphql/mutations/unfavoriteSavedItem.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

feat(v3proxy-send): add item property actions to v3/send (#326)
  servers/v3-proxy-api/src/generated/graphql/types.ts
  servers/v3-proxy-api/src/graph/graphQLClient.ts
  servers/v3-proxy-api/src/graph/shared/utils.ts
  servers/v3-proxy-api/src/graphql/mutations/archiveSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/deleteSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/favoriteSavedItem.graphql
  servers/v3-proxy-api/src/graphql/mutations/saveArchive.graphql
  servers/v3-proxy-api/src/graphql/mutations/saveFavorite.graphql
  servers/v3-proxy-api/src/graphql/mutations/unfavoriteSavedItem.graphql
  servers/v3-proxy-api/src/routes/ActionsRouter.ts
  servers/v3-proxy-api/src/routes/v3Send.integration.ts
  servers/v3-proxy-api/src/routes/validations/SendActionValidators.ts
  servers/v3-proxy-api/src/routes/validations/SendSchema.ts
Due: v3_proxy_api

fix(appspec): removing appsepc generation
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  infrastructure/annotations-api/src/main.ts
  infrastructure/client-api/src/main.ts
  infrastructure/feature-flags/src/main.ts
  infrastructure/image-api/src/main.ts
  infrastructure/list-api/src/main.ts
  infrastructure/parser-graphql-wrapper/src/main.ts
  infrastructure/shareable-lists-api/src/main.ts
  infrastructure/shared-snowplow-consumer/src/sharedSnowplowConsumerApp.ts
  infrastructure/user-api/src/main.ts
  infrastructure/user-list-search/apollo_ecs.tf
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, user_api, list_api, client_api, feature_flags, account_data_deleter, shareable_lists_api, user_list_search
