Repository Pocket/pocket-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, client_api, feature_flags, sendgrid_data, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(sentry): filter out 200 ok errors (#840)
  servers/v3-proxy-api/src/main.ts
Due: v3_proxy_api

chore: dependency updates (#821)
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(export): export prefix and logger warn
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
Due: account_data_deleter

fix(export): export prefix and logger warn (#841)
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/dataService/s3Service.ts
Due: account_data_deleter

fix(router): turning on router retries (#831)
  servers/client-api/config/router.yaml
Due: client_api

fix(pnpm): ensuring we use pnpm publish
  .github/workflows/publish.yml
  packages/apollo-utils/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(flag): adding in seperate trace flag for v3
  servers/v3-proxy-api/src/config/index.ts
Due: v3_proxy_api

Revert "fix(router): turning on router retries (#831)"
  servers/client-api/config/router.yaml
Due: client_api

Revert "fix(router): turning on router retries (#831)" (#843)
  servers/client-api/config/router.yaml
Due: client_api

fix(pnpm): ensuring we use pnpm publish (#773)
  .github/workflows/publish.yml
  packages/apollo-utils/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(flag): adding in seperate trace flag for v3 (#842)
  servers/v3-proxy-api/src/config/index.ts
Due: v3_proxy_api

chore: update verbosity of logging and errors
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/index.ts
Due: transactional_emails

chore: update verbosity of logging and errors (#844)
  lambdas/transactional-emails/src/braze.ts
  lambdas/transactional-emails/src/index.ts
Due: transactional_emails

fix(featureFlags): remove lock of path to refexp
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

feat(tracing): add tracing to account data deleter (#839)
  infrastructure/account-data-deleter/src/config/index.ts
  infrastructure/account-data-deleter/src/dataDeleterApp.ts
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
  servers/account-data-deleter/src/config/index.ts
  servers/account-data-deleter/src/main.ts
  servers/account-data-deleter/src/server.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(featureFlags): remove lock of path to refexp (#845)
  package.json
  pnpm-lock.yaml
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(npm): some of the pnpm publish commands need the token as NODE_AUTH_TOKEN
  .github/workflows/publish.yml
Due: none

feat(export): add status field to export (archive/unread)
  servers/account-data-deleter/src/dataService/listDataExportService.ts
Due: account_data_deleter

fix(npm): some of the pnpm publish commands need the token as NODE_AUTH_TOKEN (#846)
  .github/workflows/publish.yml
Due: none

fix: spec test types
  servers/account-data-deleter/src/dataService/listDataExportService.spec.ts
Due: account_data_deleter

feat(export): add status field to export (archive/unread) (#847)
  servers/account-data-deleter/src/dataService/listDataExportService.spec.ts
  servers/account-data-deleter/src/dataService/listDataExportService.ts
Due: account_data_deleter

fix(start): updating start script for account data deleter
  servers/account-data-deleter/package.json
Due: account_data_deleter

fix(pnpm): updating to use a pnpm publish exec command
  packages/apollo-utils/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(start): updating start script for account data deleter (#849)
  servers/account-data-deleter/package.json
Due: account_data_deleter

feat(tracing): adding tracing to annotations-api
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/annotations-api/src/main.ts
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/annotations-api/src/config/index.ts
  servers/annotations-api/src/main.ts
  servers/annotations-api/src/unleash.ts
  servers/v3-proxy-api/src/config/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

fix(strictNull): adding in more nulls
  servers/list-api/src/dataLoader/savedItemsDataLoader.spec.ts
  servers/list-api/src/dataLoader/savedItemsDataLoader.ts
  servers/list-api/src/resolvers/index.ts
  servers/list-api/src/server/apollo.ts
  servers/list-api/src/server/context.ts
Due: list_api

fix(alarms): updating dlq alarm logic
  infrastructure/pocket-event-bridge/src/event-rules/utils.ts
Due: pocket_event_bridge

fix(logging): updating logs to not use the reserved "data" key
  lambdas/account-delete-monitor/src/index.ts
  servers/account-data-deleter/src/dataService/accountDeleteDataService.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/image-api/src/cache/index.ts
  servers/parser-graphql-wrapper/src/cache/index.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
  servers/shareable-lists-api/src/cache/index.ts
  servers/shares-api/src/events/EventBus.ts
Due: image_api, parser_graphql_wrapper, account_data_deleter, account_delete_monitor, shareable_lists_api

fix(alarms): updating dlq alarm logic (#851)
  infrastructure/pocket-event-bridge/src/event-rules/utils.ts
Due: pocket_event_bridge

fix(pnpm): updating to use a pnpm publish exec command (#848)
  packages/apollo-utils/package.json
  packages/image-utils/package.json
  packages/jwt-utils/package.json
  packages/lambda-secrets/package.json
  packages/sentry/package.json
  packages/terraform-modules/package.json
  packages/tracing/package.json
  packages/ts-logger/package.json
  pnpm-lock.yaml
  servers/account-data-deleter/package.json
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  6bb7f8dba11ae357aba71cdb21f629d6998771b0
Due: none

fix(logging): updating logs to not use the reserved "data" key (#852)
  lambdas/account-delete-monitor/src/index.ts
  servers/account-data-deleter/src/dataService/accountDeleteDataService.ts
  servers/account-data-deleter/src/routes/queueDelete.ts
  servers/image-api/src/cache/index.ts
  servers/parser-graphql-wrapper/src/cache/index.ts
  servers/parser-graphql-wrapper/src/marticle/marticleParser.ts
  servers/shareable-lists-api/src/cache/index.ts
  servers/shares-api/src/events/EventBus.ts
Due: image_api, parser_graphql_wrapper, account_data_deleter, account_delete_monitor, shareable_lists_api

Notes added by 'git notes add'
  19120a1ca10a06fd2195edb8df62c084bfbfa0e1
Due: none

fix(export): handle non-nested SQS message type
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.ts
  servers/account-data-deleter/src/queueHandlers/queueHandler.ts
  servers/account-data-deleter/src/types.ts
Due: account_data_deleter

feat(tracing): adding tracing to annotations-api (#850)
  infrastructure/annotations-api/src/config/index.ts
  infrastructure/annotations-api/src/main.ts
  pnpm-lock.yaml
  servers/annotations-api/package.json
  servers/annotations-api/src/config/index.ts
  servers/annotations-api/src/main.ts
  servers/annotations-api/src/unleash.ts
  servers/v3-proxy-api/src/config/index.ts
Due: image_api, annotations_api, shared_snowplow_consumer, parser_graphql_wrapper, transactional_emails, fxa_webhook_proxy, user_api, list_api, feature_flags, account_data_deleter, account_delete_monitor, shareable_lists_api, pocket_event_bridge, user_list_search, braze, v3_proxy_api, push_server

Notes added by 'git notes add'
  27ba264673bc591789874313b5b609264f1b9f13
Due: none

fix(export): handle non-nested SQS message type (#853)
  servers/account-data-deleter/src/dataService/listDataExportService.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.spec.ts
  servers/account-data-deleter/src/queueHandlers/exportHandler.ts
  servers/account-data-deleter/src/queueHandlers/queueHandler.ts
  servers/account-data-deleter/src/types.ts
Due: account_data_deleter

Notes added by 'git notes add'
  456fcd0ca97238300085b3369d6f8ea4aaa9803d
Due: none

Path conditions:
  image_api: any of: ((servers|infrastructure)/image-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  annotations_api: any of: ((servers|infrastructure|lambdas)/annotations-api.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  shared_snowplow_consumer: any of: ((servers|infrastructure)/shared-snowplow-consumer/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  parser_graphql_wrapper: any of: ((servers|infrastructure)/parser-graphql-wrapper/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  transactional_emails: any of: ((lambdas|infrastructure)/transactional-emails.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  fxa_webhook_proxy: any of: ((lambdas|infrastructure)/fxa-webhook-proxy-.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/common.yml)
  user_api: any of: ((servers|infrastructure)/user-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  list_api: any of: ((servers|infrastructure)/list-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  client_api: any of: ((servers|infrastructure)/client-api/.*)|(.circleci/common.yml)
  feature_flags: any of: ((servers|infrastructure)/feature-flags/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  sendgrid_data: any of: ((lambdas|infrastructure)/sendgrid-data/.*)|(.circleci/common.yml)
  account_data_deleter: any of: ((lambdas|infrastructure|servers)/account-data-deleter/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-data-deleter.yml)|(.circleci/common.yml)
  account_delete_monitor: any of: ((lambdas|infrastructure)/account-delete-monitor/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/account-delete-monitor.yml)|(.circleci/common.yml)
  shareable_lists_api: any of: ((servers|infrastructure|lambdas)/shareable-lists-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/common.yml)
  pocket_event_bridge: any of: ((infrastructure)/pocket-event-bridge/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/pocket-event-bridge.yml)|(.circleci/common.yml)
  user_list_search: any of: ((servers|infrastructure|lambdas)/user-list-search.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/user-list-search.yml)|(.circleci/common.yml)
  braze: any of: ((infrastructure)/braze/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/braze.yml)|(.circleci/common.yml)
  v3_proxy_api: any of: ((servers|infrastructure)/v3-proxy-api/.*)|(packages/.*)|(pnpm-lock\.yaml)|(.circleci/v3-proxy-api.yml)|(.circleci/common.yml)
  push_server: any of: ((servers|infrastructure)/push-server/.*)|(packages/.*)|(pnpm-lock\.yaml)|(Dockerfile)|(.circleci/push-server.yml)|(.circleci/common.yml)
